

/******************************

SECTION HEADER LOGOS

******************************/
#sections .title_icon {
  height: 32px;
  position: relative;
  display: inline-block;
  width: 37px;
  top: -6px;
  left: 52px;
  z-index: 500;
  }
.wf-active #sections a.subscription {
  top: -6px;
  left: -2px;
  }

/******************************

SECTION SUGGESTED SEARCHES

******************************/
.suggested_search .summary {
  width: 265px;
  font-size: 1em;
  }
.info.suggested_search h1 {
  font-size: 1.3em;
  font-weight: normal;
  line-height: 1.3;
  width:265px;
  }
.suggested_search .results {
  width:265px;
  position: relative;
  left: -10px;
  }
.suggested_search .results a {
  top: 5px;
  position: relative;
  }
span.result_count {
  color: #6E6C6C;
  font-size: 0.8em;
  display: block;
  font-family: "athelas-1","athelas-2", "Georgia", serif;
  }
#suggested-searches .row {
  margin-bottom: 10px;
  }
#suggested-searches .row .article {
  border-top: 1px dotted #CDCDCD;
  margin-bottom: 0px;
  padding-bottom: 0px;
  padding-top: 10px;
  border-bottom: none;
  }
