<div class="col-xs-8 col-md-8 section with-icon-header">
  <h4 class="with-icon">
    <span class="icon-fr2 icon-fr2-Network-alt"></span>
    Explore Agencies
  </h4>

  <%= form_tag agencies_path, :method => :get, :id => "agency-search-form-explore" do %>
    <input id="agency-search-explore" class="form-control" placeholder="Go to a specific agency" data-autocomplete="autocomplete" />
  <% end %>

  <table class="fr-table">
    <thead>
      <tr>
        <th></th>
        <th width="5%" class="past_7_days with-tooltip-s"
          data-tooltip="Articles Published in the Last 7 Days">
          <span class="icon-fr2-Refresh-7"></span>
        </th>
        <th width="5%" class="recently_opened with-tooltip-s"
          data-tooltip="Articles with Comment Periods Opened in the Last 7 Days">
          <span class="icon-fr2-Chat"></span>
        </th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'facets/agencies/explore', 
           locals: {
             agencies: @agencies_presenter.agencies_for_exploration, 
             source: 'home page',
             medium: 'explore'
           } %>
    </tbody>
  </table>
</div>
