<div class="row">
  <div class="embedded_search search_bar home-search-embedded">
    <h3 class="with-icon">
      <span class="icon-fr2-Search"></span>
      Search All Federal Register Documents Since 1994
    </h3>

    <%= semantic_form_for @search,
      as: :conditions,
      url: documents_search_path,
      html: {method: :get, id: "entry_search_form"} do |f| %>
    <!-- <form action="/articles/search" class="formtastic conditions" id="entry_search_form" method="get"> -->
      <!-- <input id="conditions_term" class="form-control" name="conditions[term]" placeholder="Search term or citation" size="30" type="text"> -->

      <label>Find</label>
      <%= f.text_field :term,
        class: 'search-term',
        placeholder: 'Search term or citation' %>

      <ul>
        <li class="hidden optional" id="conditions_agency_ids_input">
          <input id="conditions_agency_ids" name="conditions[agency_ids]" type="hidden" value="145">
        </li>
      </ul>

      <%= f.button fr_icon('Search').html_safe,
        class: 'search-submit',
        id: 'conditions_submit',
        "aria-label" => 'Search' %>

      <span id="expected_result_count"></span>

      <div id="doc-type-filter">
        <ul>
          <li class="doc_notice first" data-filter-doc-type="notice" data-filter-doc-type-display="Notice" original-title="">
            <div aria-hidden="true" class="icon-fr2 icon-fr2-notice"></div>
          </li>
          <li class="doc_proposed_rule" data-filter-doc-type="prorule" data-filter-doc-type-display="Proposed Rule" original-title="">
            <div aria-hidden="true" class="icon-fr2 icon-fr2-proposed_rule"></div>
          </li>
          <li class="doc_rule " data-filter-doc-type="rule" data-filter-doc-type-display="Rule" original-title="">
            <div aria-hidden="true" class="icon-fr2 icon-fr2-rule"></div>
          </li>
          <li class="doc_presdocu last" data-filter-doc-type="presdocu" data-filter-doc-type-display="Presidential Document" original-title="">
            <div aria-hidden="true" class="icon-fr2 icon-fr2-presidential_document"></div>
          </li>
        </ul>
      </div>

      <li class="check_boxes optional" id="conditions_type_input"><fieldset><legend class="label"><label for="conditions_type">Document Category</label></legend><ol><li><label for="conditions_type_rule"><input name="conditions[type][]" type="hidden" value=""><input id="conditions_type_rule" name="conditions[type][]" type="checkbox" value="RULE"> Rule</label></li><li><label for="conditions_type_prorule"><input name="conditions[type][]" type="hidden" value=""><input id="conditions_type_prorule" name="conditions[type][]" type="checkbox" value="PRORULE"> Proposed Rule</label></li><li><label for="conditions_type_notice"><input name="conditions[type][]" type="hidden" value=""><input id="conditions_type_notice" name="conditions[type][]" type="checkbox" value="NOTICE"> Notice</label></li><li><label for="conditions_type_presdocu"><input name="conditions[type][]" type="hidden" value=""><input id="conditions_type_presdocu" name="conditions[type][]" type="checkbox" value="PRESDOCU"> Presidential Document</label></li></ol></fieldset></li>
    <!-- </form> -->
    <% end %>
  </div>
</div>
