<div class="fr-1-3 fr-push with-icon-header pres-doc-preview">
  <h4 class="with-icon">
    <span class="icon-fr2 icon-fr2-stars"></span>
    Presidential Documents
  </h4>

  <ul class="fr-list">
    <li>
      <span class="fr-doc-title">Executive Order 13659</span>
      <a href="" class="fr-link">Streamlining the Export/Import Process for America's Businesses</a>
      <span class="fr-doc-date">Tuesday, February 25, 2014</span>
    </li>

    <li>
      <span class="fr-doc-title">Proclamation</span>
      <a href="" class="fr-link">20th Anniversary of Executive Order 12898 on Environmental Justice</a>
      <span class="fr-doc-date">Tuesday, February 13, 2013</span>
    </li>

    <li>
      <span class="fr-doc-title">Notice</span>
      <a href="" class="fr-link">Continuation of the National Emergency With Respect to Zimbabwe</a>
      <span class="fr-doc-date">Tuesday, March 04, 2013</span>
    </li>
  </ul>

  <table class="fr-table fr-monthly-overview alpha">
    <thead>
      <tr>
        <th colspan="2">February 2014</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="count">2</td>
        <td><a href="">Executive Orders</a></td>
      </tr>
      <tr>
        <td class="count">18</td>
        <td><a href="">Proclamations</a></td>
      </tr>
      <tr>
        <td class="count">2</td>
        <td><a href="">Notices</a></td>
      </tr>
      <tr>
        <td class="count">1</td>
        <td><a href="">Memorandum</a></td>
      </tr>
    </tbody>
  </table>

  <table class="fr-table fr-monthly-overview">
    <thead>
      <tr>
        <th colspan="2">March 2014</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="count">1</td>
        <td><a href="">Executive Order</a></td>
      </tr>
      <tr>
        <td class="count">0</td>
        <td><a href="">Proclamations</a></td>
      </tr>
      <tr>
        <td class="count">1</td>
        <td><a href="">Notice</a></td>
      </tr>
      <tr>
        <td class="count">1</td>
        <td><a href="">Memorandum</a></td>
      </tr>
    </tbody>
  </table>
</div>
