---
http_interactions:
- request:
    method: get
    uri: http://api.data.gov/TEST/regulations/v3/document.json?federalRegisterNumber=2014-1832&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-ratelimit-limit:
      - '10000'
      x-ratelimit-remaining:
      - '9534'
    body:
      encoding: US-ASCII
      string: ! '{"code":404,"message":"The ID (2014-1832) requested was not found
        or does not exist.","status":404}'
  recorded_at: Fri, 03 Apr 2015 21:14:35 GMT
[...]
- request:
    method: get
    uri: http://api.data.gov/TEST/regulations/v3/document.json?federalRegisterNumber=2015-07647&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-ratelimit-limit:
      - '10000'
      x-ratelimit-remaining:
      - '9517'
    body:
      encoding: US-ASCII
      string: ! '{"allowLateComment":false,"commentDueDate":null,"commentStartDate":"2015-04-03T00:00:00-04:00","fileFormats":["https://api.data.gov/TEST/regulations/v3/download?documentId=ITC-2015-0074-0001&contentType=pdf","https://api.data.gov/TEST/regulations/v3/download?documentId=ITC-2015-0074-0001&contentType=html"],"openForComment":false,"postedDate":"2015-04-03T00:00:00-04:00","receivedDate":"2015-04-03T00:00:00-04:00","status":"Posted","docketTitle":{"label":"Docket
        Title","value":"Investigations; Determinations, Modifications, and Rulings,
        etc.: Certain Wireless Standard Compliant Electronic Devices,  Including Communication
        Devices and Tablet Computers"},"title":{"label":"Document Title","value":"Investigations;
        Determinations, Modifications, and Rulings, etc.: Certain Wireless Standard
        Compliant Electronic Devices,  Including Communication Devices and Tablet
        Computers"},"documentType":{"label":"Document Type","value":"Notice"},"docketType":{"label":"Docket
        Type","value":"Rulemaking"},"docketId":{"label":"Docket ID","value":"ITC-2015-0074"},"federalRegisterNumber":{"label":"Federal
        Register Number","value":"2015-07647"},"attachmentCount":{"label":"Attachment
        Count","value":"0"},"agencyName":{"label":"Agency Name","value":"International
        Trade Commission"},"documentId":{"label":"Document ID","value":"ITC-2015-0074-0001"},"agencyAcronym":{"label":"Agency","value":"ITC"},"numItemsRecieved":{"label":"Number
        of Comments Received","value":"0"}}'
  recorded_at: Fri, 03 Apr 2015 21:25:51 GMT
recorded_with: VCR 2.6.0
