<script src="//unpkg.com/swagger-ui-dist@3/swagger-ui-bundle.js"></script>
<%= stylesheet_link_tag asset_path('swagger.css'), media: 'all', 'data-turbolinks-track' => true %>
<% add_javascript src: 'swagger' %>

<% page_title 'API Documentation' %>

<% title do %>
  API Documentation
<% end %>

<div class="page-summary with-header">
  <h1>FR API Documentation</h1>

  <p>
    FederalRegister.gov provides multiple public API endpoints.
    Each endpoint is detailed below and can be explored interactively by clicking the 'Try it out' button.
    At the bottom of this page in the 'Schemas' section, valid options for various inputs such as agency names are listed in detail.
  </p>
  <p>
    FederalRegister.gov APIs do not require API keys; all you need is an HTTP client or browser.
  </p>

</div>

<div id="swagger-ui"></div>
