<script src="//unpkg.com/swagger-ui-dist@3/swagger-ui-bundle.js"></script>
<%= stylesheet_link_tag asset_path('swagger.css'), media: 'all', 'data-turbolinks-track' => true %>
<% add_javascript src: 'swagger' %>

<% page_title 'API Documentation' %>

<% title do %>
  API Documentation
<% end %>

<div class="page-summary with-header">
  <h1>FR API Documentation</h1>

  <p>
    Our various endpoints are detailed below in interactive documentation,
    detailing the different endpoints and possible parameters. 
    No API keys are needed; all you need is an HTTP client or browser.
  </p>

</div>

<div id="swagger-ui"></div>
