#navigation .previewable {
  .pres_details {
    display: inline-block;
    width: 340px;
  }

  .executive-orders-browse-preview ol {
    margin: 0;

    &.children,
    &.recent {
      margin: 10px;
    }
  }

  .pres_holder {
    .photo {
      border: 1px solid $fr-gray-80;
      display: inline-block;
      height: 63px;
      margin: 10px 0 0 5px;
      position: relative;
      top: 2px;
      vertical-align: top;
      width: 50px;
    }

    li,
    li a,
    li span {
      display: inline-block;
      line-height: modular-scale(-1);
      padding: 0;
    }

    li.executive_order_wrapper {
      margin-bottom: 10px;
      vertical-align: top;

      .eo_number {
        font-size: modular-scale(-1);
        font-weight: bold;
        padding-top: 2px;
        vertical-align: top;
        width: 70px;
      }

      a {
        color: $fr-link-dark;
        font-size: modular-scale(-1);
        font-weight: 500;
        line-height: 16px;
        width: 240px;

        &:hover { color: $fr-bright-orange; }
      }
    }

    ol.children li {
      font-size: modular-scale(-1);
      font-weight: bold;
      width: 61px;

      a {
        color: $fr-link-dark;
        font-size: modular-scale(-1);

        &:hover { color: $fr-bright-orange; }
      }
    }
  }

  .donald-trump .photo {
    background: transparent asset-url('presidential_photos/Donald_Trump_sm.jpg', 'image') 0 0 no-repeat;
  }

  .barack-obama .photo {
    background: transparent asset-url('presidential_photos/Barack_Obama_sm.jpg', 'image') 0 0 no-repeat;
  }

  .george-w-bush .photo {
    background: transparent asset-url('presidential_photos/George_W_Bush_sm.jpg', 'image') 0 0 no-repeat;
  }

  .william-j-clinton .photo {
    background: transparent asset-url('presidential_photos/Bill_Clinton_sm.jpg', 'image') 0 0 no-repeat;
  }

}
