#navigation .previewable {
  .browse-preview.presidential-documents {
    li {
      overflow: auto;
    }

    h4 {
      @extend %right_column_header;


      &:first-child { margin-top: 0; }

      position: relative;

      a {
        font-size: modular-scale(1);
        padding-left: 0;

        &.more-details {
          @extend %more-details-header-link;

          font-size: modular-scale(-1) !important;
          position: absolute;
          right: 0;
          text-transform: none;
          top: 0;
        }
      }
    }

    p,
    ul {
      padding: 10px 20px;
    }

    .executive-order-list {
      font-size: modular-scale(0);

      li {margin-bottom: 5px; }

      .fr-doc-eo-number { font-weight: 400; }

      a.fr-link {
        @extend %link-reset;

        text-decoration: none !important;

        &:hover {color: $fr-orange; }
      }

      .fr-doc-date {
        color: $fr-gray-40;
        font-size: modular-scale(-1);
        line-height: 20px;
      }

    }
  }
}
