// override a style from old app (-api-core)
#navigation .row {
  margin-bottom: 10px;
}

//hack until we are full bootstrap
#navigation .bootstrap-scope {
  .wrapper {
    .row { margin-bottom: 10px !important; }
  }

  .row {
    margin-left: 0;
    margin-right: 0;

    @each $colspan in 1,2,3,4,5,6,7,8,9,10,11,12 {
      .col-#{colspan} {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}

/**************************************

SECTION SUGGESTED SEARCHES

**************************************/
#navigation .preview {
  .suggested-searches {
    padding: 0;
  }

  .suggested-search {
    padding: 10px;
    line-height: 1.2;

    h1 {
      font-size: modular-scale(0);
      margin-top: 0;
      margin-bottom: 5px;
    }

    a {
      color: $fr-link-dark;
      padding: 0;
      line-height: inherit;
      font-size: inherit;

      &:hover { color: $fr-nav-orange !important;}
    }

    .result-count {
      font-size: modular-scale(-1);
      font-style: italic;
      color: $fr-gray-60;
      padding: 0;
      margin: 0;
    }
  }
}


/**************************************

SECTION DAILY STATS

**************************************/
#navigation .preview .daily_stats {
  border-top: 1px solid $fr-gray-20;
  font-weight: bold;
  color: $fr-gray-40;
  margin-bottom: 3px;

  // bootstrap hack
  &.row {
    margin-bottom: 3px !important;
    padding-top: 3px;
  }

  a {
    font-weight: inherit;
    color: $fr-gray-40;

    &:hover { color: $fr-nav-orange !important; }
  }

  .count {
    padding-right: 5px;
    width: 40px;
    font-size: modular-scale(5);
    text-align: right;
    margin: 0;
  }

  .details {
    line-height: 11px;
    display: inline-block;
    width: 114px;
    font-size: modular-scale(-3);
    text-transform: uppercase;
    position: relative;
    top: 4px;
  }
}

/**************************************

 SECTION CAROUSEL

**************************************/
#navigation .preview #carousel_wrapper,
#navigation .preview #carousel_scroller li,
#navigation .preview  .carousel_rounded_box {
  width: 400px;
  height: 175px;
  border: none;
}

#navigation .preview #carousel_wrapper {
  margin-top: 5px;
  margin-left: 4px;
}

#navigation .preview .carousel_rounded_box {
  border-radius: 10px;

  img {
    width: 400px;
    height: 175px;
  }
}

#navigation .preview #carousel_scroller li {
  div.bg,
  div.text_wrapper {
    top: 9px;
    width: 100%;
    font-size: 12px;
    padding: 5px 10px;
  }

  div.text_wrapper {
    h2 { width: 95%; }

    a {
      line-height: 16px;
      font-size: 14px;
      color: $white;
      border: none;
      display: inline-block;
      padding: 0;
      width: 95%;
    }

    .date {
      background: none;
      padding-left: 0;
    }
  }

  div.attribution,
  div.attribution.bg {
    top: auto;
    bottom: 10px;
    font-size: 11px;
    width: auto;
    line-height: 10px;
  }

  div.attribution {
    &.bg { padding: 1px 2px; }

    a {
      font-size: 11px;
      line-height: 14px;
      border: none;
    }
  }

  p.metadata,
  p.summary { display: none; }
}
