<div class="TOC aside_box">
  <% if @presenter.date > Date.parse('1995-01-01') %>
    <div class="download_separator">
    <%= link_to 'Download PDF', issue_pdf_url(@presenter.date), :class => 'button format list pdf' %>
    </div>
  <% end %>
  <ul>
  <% @presenter.agency_counts.each do |agency_slug, agency_info| %>
    <li>
      <%= link_to agency_info[:name], anchor: agency_slug  %>
      <span class="count_pill"><%= agency_info[:count] %></span>
    </li>
  <% end %>
  </ul>
</div>