<div class="row">

  <div class='aside_box subscribe'> 
  <div class="fr-subscribe-box">
    <a href="/my/subscriptions/new?subscription%5Bsearch_type%5D=PublicInspectionDocument" class="subscription subscription_action">
      <span class="icon-fr2 icon-fr2-rss"></span>
      <span class="icon-fr2 icon-fr2-message"></span>
      Subscribe
    </a>
  </div>
    <%#= link_to 'Subscribe', new_subscription_path(:subscription => {:search_conditions => {}}), :class => 'subscription subscription_action' %>
    <%#= add_template('subscription_modal', 'subscription-modal') %>
  </div>

</div>
