<div class="row">
  <div class="fr-subscribe-brandon-test">
    <a href="/my/subscriptions/new?subscription%5Bsearch_type%5D=PublicInspectionDocument" class="subscription subscription_action">
      <span class="icon-fr2 icon-fr2-rss"></span>
      <span class="icon-fr2 icon-fr2-message"></span>
      Subscribe
    </a>

<!-- TODO: Wire up subscription infrastructure -->

  </div>
</div>
