<h4>Alphabetical</h4>
<ul class="list-item-filter alphabetical-filter">
  <li class="all on"><a href="#">ALL</a></li>

  <% %w( A-B C D-E F G-J K-M N O-P Q-T U-Z).each do |group| %>
    <li>
      <a href="#" data-filter-regex="^[<%= group %>]"><%= group %></a>
    </li>
  <% end %>
</ul>
