.bootstrap-scope {
  #date_chooser {
    position: relative;
    left: 10px;

    .calendar {
      th.monthName { text-align: center; }
      tr.calendar_nav th,
      .dayName th { padding-left: 10px; }
    }
  }

  .content-block {
    padding-right: 30px !important;
  }

  .doc-subscribe { padding-right: 0px; }
}

.bootstrap-scope {
  .doc-toc,
  .doc-toc-nav {
    .fr-box { margin-bottom: 20px; }

    .count_pill {
      @include border-radius(5);

      font-size: 12px;
      font-weight: bold;
      width: 30px;
      height: 18px;
    }

    .fr-box-official .count_pill {
      background-color: $color-official-light-alt;
      color: $color-official;
      border: 1px solid $color-official;
    }

    .fr-box-official-alt .count_pill {
      background-color: $color-official-light;
      color: $color-official;
      border: 1px solid lighten($color-official, 20);
    }

    .fr-box-public-inspection .count_pill {
      background-color: $color-public-inspection-light-alt;
      color: $color-public-inspection;
      border: 1px solid lighten($color-public-inspection, 40);
    }

    .fr-box-public-inspection-alt .count_pill {
      background-color: $color-public-inspection-light;
      color: $color-public-inspection;
      border: 1px solid lighten($color-public-inspection, 40);
    }
  }
}

.bootstrap-scope .doc-toc {
  .doc-background { left: 125px !important; }
}

.bootstrap-scope .doc-toc-nav {
  padding-right: 0;
  @include apertura-condensed;

  .fr-box-official-alt {
    a {
      color: $fr-link-dark;
      &:hover { color: $fr-orange; }
    }
  }

  .fr-box-public-inspection-alt {
    a {
      color: $color-public-inspection;
      &:hover { color: darken($color-public-inspection, 20); }
    }
  }

  .content-block {
    padding-right: 10px !important;
    font-size: modular-scale(-1);
    font-family: inherit !important;
    font-weight: 500; //medium
    line-height: 1.4;
  }

  .download-wrapper {
    border-bottom: 1px solid $fr-gray-20;
    margin-bottom: 7px;
    padding-bottom: 7px;

    text-transform: uppercase;
    font-weight: bold;

    a {
      width: 140px;
      margin: 0 auto;
      display: block;

      .icon-fr2 {
        font-size: 17px;
        top: 2px;
      }
    }
  }

  ul {
    list-style: none;
    margin-left: 0;

    li {
      margin: 5px 0;
      padding-right: 40px;
      padding-bottom: 5px;
      border-bottom: 1px solid $med-grey;
      position: relative;

      .count_pill {
        position: absolute;
        right: 0;
        top: 2px;
        line-height: 15px;
        background-color: $color-official-light;
      }
    }
  }

  &.public-inspection {
    ul li { border-bottom: 1px solid $color-public-inspection-light-alt; }
  }
}
