.bootstrap-scope {
  #date_chooser {
    left: 10px;
    position: relative;

    .calendar {
      th.monthName { text-align: center; }
      tr.calendar_nav th,
      .dayName th { padding-left: 10px; }
    }
  }

  .content-block {
    padding-right: 30px !important;
  }

  .date_input_holder {
    h2 {
      border-bottom: 1px solid black;
      color: black;
      font-size: 1em;
      margin-top: 0px;
      text-transform: uppercase;
    }

    form {
      margin-left: 5px;
      margin-right: 10px;
      overflow: hidden;

      label { display: none; }

      input.browse_search {
        @include rounded-left(4);
        border: 1px solid $gray-40;
        border-right: 0;
        float: left;
        height: 30px;
        padding-left: 10px;
        width: 155px;
      }

      input[type="submit"] {
        @include rounded-right(4);
        background: 0;
        background-color: $gray-5;
        border: 1px solid $gray-40;
        border-left: 0;
        height: 30px;
        padding: 0;
        width: 35px;

        // for reference: background png/svg is $gray-50
        &:hover {
          background-color: $gray-15;
        }
      }
    }
  }

  .doc-subscribe { padding-right: 0px; }

  .download-wrapper {
    background-color: $color-published-light;
    border-bottom: 1px solid $color-published;
    border-top: 1px solid $color-published;
    font-weight: 500;
    margin-bottom: 10px;
    padding: 8px 13px 10px;

    &.official {
      background-color: $color-official-light;
      border-bottom-color: $color-official;
      border-top-color: $color-official;

      a {
        color: darken($color-official, 10) !important;
      }
    }

    a {
      color: $text !important;
      display: block;
      margin: 0 auto;
      width: 175px;

      &:hover {
        color: $orange !important;
      }

      .icon-fr2 {
        font-size: 20px;
        top: 2px;
      }
    }
  }
}

.bootstrap-scope {
  .doc-toc,
  .doc-toc-nav {
    .fr-box { margin-bottom: 20px; }

    .count_pill {
      border-radius: 5px;
      display: inline-block;
      font-size: modular-scale(-2);
      font-weight: bold;
      height: 18px;
      padding-top: 0;
      width: 20px;
    }

    .fr-box-official .count_pill {
      background-color: $color-official-light-alt;
      border: 1px solid $color-official;
      color: $color-official;
    }

    .fr-box-official-alt .count_pill {
      background-color: $color-official-light;
      border: 1px solid lighten($color-official, 20);
      color: $color-official;
    }

    .fr-box-public-inspection .count_pill {
      background-color: $color-public-inspection-light-alt;
      border: 1px solid lighten($color-public-inspection, 40);
      color: $color-public-inspection;
    }

    .fr-box-public-inspection-alt .count_pill {
      background-color: $color-public-inspection-light;
      border: 1px solid lighten($color-public-inspection, 40);
      color: $color-public-inspection;
    }

    .fr-box-published .count_pill {
      background-color: $color-published-light-alt;
      border: 1px solid $color-published;
      color: darken($color-published, 10);
    }

    .fr-box-published-alt {
      .download-wrapper { border-color: darken($color-published, 10); }

      .count_pill {
        background-color: $color-published-light;
        border: 1px solid $color-published;
        color: darken($color-published, 10);
      }
    }
  }
}

.bootstrap-scope .doc-toc-nav {
  @include sans_serif;
  padding-right: 0;

  .fr-box-official-alt {
    a {
      color: $link-dark;
      &:hover { color: $orange; }
    }
  }

  .fr-box-public-inspection-alt {
    a {
      color: $color-public-inspection;
      &:hover { color: darken($color-public-inspection, 20); }
    }
  }

  .content-block {
    font-family: inherit !important;
    font-size: modular-scale(-1);
    font-weight: 500; //medium
    line-height: 1.4;
    padding-right: 10px !important;
  }

  ul {
    list-style: none;
    margin-left: 0;

    li {
      border-bottom: 1px solid $med-gray;
      margin: 5px 0;
      padding-bottom: 5px;
      padding-right: 40px;
      position: relative;

      &:last-child { border-bottom: 0; }

      .count_pill {
        background-color: $color-official-light;
        line-height: 15px;
        position: absolute;
        right: 0;
        top: 2px;
      }
    }
  }

  &.public-inspection {
    ul li { border-bottom: 1px solid $color-public-inspection-light-alt; }
  }
}
