/* Meta data for document */
.bootstrap-scope .doc-toc {
  @include apertura-condensed;
  padding-left: 0;

  #regular-filing { padding-top: 0; }

  .special,
  .regular {
    z-index: 200;
    position: relative;

    &> h2 {
      font-size: 26px;
      font-weight: bold;
      color: $text-color;

      span.updated_at {
        font-size: 12px;
        display: block;
        font-weight: normal;
        font-style: italic;
      }
    }
  }

  %table-of-contents-header {
    @include apertura-condensed;
    font-weight: bold;
    margin-left: 0;
  }

  %table-of-contents-link {
    color: $fr-link-dark;

    &:hover {
      text-decoration: none;
      color: $fr-orange;
    }
  }

  h2 {
    @extend %table-of-contents-header;
    font-size: 26px;
    color: $color-official;
    border-bottom: 2px solid $color-official;
  }

  h3 {
    @extend %table-of-contents-header;
    font-size: 17px;
    margin-left: 7px;
    font-weight: bold;
    color: $text;
  }

  h4 {
    @extend %table-of-contents-header;
    font-size: 15px;
    color: $fr-link-dark;
  }

  .content-block {
    padding: 35px 20px 20px 20px !important;

    a { @extend %table-of-contents-link; }

    ul {
      margin-left: 0;
      list-style: none;

      &.see-references {
        font-size: 14px;
      }
    }
  }

  /* each level of hierarchy gets an additional indentation
     which creates our hierarchy */
  .toc-category-level,
  .toc-subject-level {
    margin-left: 20px;
  }

  /* add and additional level of indentation to documents that
     only have one level of heirarchy. This allows all columns
     to align and makes the table much easier to scan */
  .toc-level-1 > .toc-documents {
    margin-left: 20px;
  }

  .toc-documents {
    font-size: 14px;

    a {
      font-size: 14px;
      font-weight: 500;
      @extend %table-of-contents-link;
    }

    .toc-document-metadata {
      /* Bootstrap looks to make margin-bottom !important, need to overrwrite */
      margin-bottom: 0px !important;

      font-size: 13px;

      a {
        font-size: 13px;
        font-weight: normal;
      }
    }
  }

  dl {
    margin-left: 0px;
    font-size: 16px;

    dt, dd { float: left; }

    dt {
      clear: both;
      margin-right: 5px;
      font-weight: 500; //medium
    }
    dd {
      top: 1px;
      position: relative;
    }

    dd { font-weight: normal; }

/*    div.details {
      padding-bottom: 10px;
      overflow: hidden;
      width: 659px;
      font-weight: normal;
      font-size: 14px;
    }

    dt > div.details .column.file_info { width: 185px; }

    div.column {
      position: relative;
      width: 185px;
      margin-right: 10px;
      float: left;
      display: block;

      &.dates { width: 220px; }
      &.doc_numbers { margin-right: 0; }

      .small { font-size: inherit; }

      .pdf {
        color: $color-public-inspection;
        &:hover {
          font-weight: bold;
          text-decoration: underline;
        }
      }

      .document_number { display: block; }
    } */
  }

/*  .public_inspection {
    h3 {
      clear: both;
    }
    dl div.details a { font-weight: normal; }
  } */

  div.editorial_note {
    clear: both;
    margin-bottom: 30px;
    font-size: 14px;
    margin-left: 20px;
    line-height: 18px;
  }

  span.pdf.small {
    //background: sprite-image('icons/icon_pdf_small.png', 0, 3px, 50px) no-repeat;
    padding-left: 20px;
    display: inline-block;
  }

  span.new_document {
    //background: sprite-image('icons/new_badge_icon.png', 0, 0, 50px) no-repeat;
    width: 16px;
    height: 17px;
    display: inline-block;
    position: absolute;
    left: -20px;
  }

  span.permalink {
    //background: sprite-image('icons/icon_permalink.png', -1px, 0, 50px) no-repeat;
    padding-left: 20px;
    display: block;
  }

  span.permalink:hover {
    //background: sprite-image('icons/icon_permalink_hover.png', -1px, 0, 50px) no-repeat;
  }
}

