/* Meta data for document */
.bootstrap-scope .doc-toc {
  position: relative;
  padding-left: 0;

  #regular-filing { padding-top: 0; }

  .special,
  .regular {
    z-index: 200;
    position: relative;

    &> h2 {
      color: $text-color;

      span.updated_at {
        font-size: modular-scale(-2);
        display: block;
        font-weight: normal;
        font-style: italic;
      }
    }
  }

  %table-of-contents-link {
    color: $fr-link-dark;

    &:hover {
      text-decoration: none;
      color: $fr-orange;
    }
  }

  h3 { margin-left: 7px; }
  h4 {
    text-transform: none !important;
    line-height: 1.3 !important;
  }

  .fr-box {
    h2 { margin-top: 2em !important; }
  }

  .fr-box-official {
    h2 {
      color: $color-official;
      border-bottom: 2px solid $color-official;
    }

    .icon-fr2.icon-doctype { color: $text; }
  }

  .fr-box-public-inspection {
    h2 {
      color: $color-public-inspection;
      border-bottom: 2px solid $color-public-inspection;
    }

    .icon-fr2.icon-doctype { color: $text; }

    a {
      color: $color-public-inspection;

      &:hover {
        text-decoration: none;
        color: darken($color-public-inspection, 20);
      }
    }
  }

/* Positioning icons in the background of the document toc's */
  %toc-doc-background {
    position: absolute;
    top: 25px;
    left: 100px;
    font-size: 600px;
    z-index: 0;
    color: $fr-background-seal;
  }

  .fr-box-official .content-block {
    .doc-background {
      @extend %toc-doc-background;
      top: 5px;
      left: 125px;
    }
  }
  .fr-box-public-inspection .content-block {
    .doc-background {
      @extend %toc-doc-background;
      left: 180px;
      font-size: 375px;
    }
  }

  .content-block {
    padding: 35px 20px 20px 20px !important;

    h1 { margin-top: 0; }

    .icon-fr2 {
      display: inline-block;
      font-size: modular-scale(1);
    }

    a { @extend %table-of-contents-link; }

    ul {
      margin-left: 0;
      list-style: none;

      &.see-references {
        @include apertura-condensed;
        font-size: modular-scale(0);
      }
    }
  }

  /* each level of hierarchy gets an additional indentation
     which creates our hierarchy */
  .toc-category-level {
    margin-left: 25px;
    margin-bottom: 15px;
  }
  .toc-subject-level { margin-left: 25px; }

  /* add an additional level of indentation to documents that
     only have one level of heirarchy. This allows all columns
     to align and makes the table much easier to scan */
  .toc-level-1 > .toc-documents {
    margin-left: 25px;
  }

  .toc-documents {
    font-size: modular-scale(0);

    a {
      font-size: modular-scale(0);
      @extend %table-of-contents-link;
    }

    .toc-document-metadata {
      /* Bootstrap looks to make margin-bottom !important, need to overrwrite */
      margin-bottom: 0px !important;

      a { font-weight: normal; }
    }
  }

  dl {
    margin-left: 0px;
    font-size: modular-scale(0);
    @include apertura-condensed;

    dt, dd { float: left; }

    dt {
      clear: both;
      margin-right: 5px;
      font-weight: 500; //medium

      &.toc-pdf,
      &.permalink {
        .icon-fr2 { font-size: modular-scale(-1); }
      }

      &.permalink .icon-fr2 { left: -1px; }
    }

    dd {
      top: 0px;
      position: relative;
      font-weight: normal;
    }
  }


  div.editorial_note {
    clear: both;
    margin-bottom: 30px;
    font-size: 14px;
    margin-left: 20px;
    line-height: 18px;
  }

  span.new_document {
    //background: sprite-image('icons/new_badge_icon.png', 0, 0, 50px) no-repeat;
    width: 16px;
    height: 17px;
    display: inline-block;
    position: absolute;
    left: -20px;
  }
}
