// tooltips are placed at top of html
.issue-doc-title-tooltip {
  max-width: 450px;

  .tipsy-inner { max-width: inherit; }
}

// Meta data for document
.bootstrap-scope .doc-toc {
  padding-left: 0;
  position: relative;

  #regular-filing { padding-top: 0; }

  .special,
  .regular {
    position: relative;
    z-index: 200;

    &> h2 {
      color: $text;

      span.updated_at {
        display: block;
        font-size: modular-scale(-2);
        font-style: italic;
        font-weight: normal;
      }
    }
  }

  %table-of-contents-link {
    color: $fr-link-dark;

    &:hover {
      color: $fr-orange;
      text-decoration: none;
    }
  }

  h3 { margin-left: 7px; }
  h4 {
    line-height: 1.3 !important;
    text-transform: none !important;
  }

  .fr-box {
    h2 { margin-top: 2em !important; }
  }

  .fr-box-official,
  .fr-box-published {
    h2 {
      border-bottom: 2px solid $color-official;
      color: $color-official;
      margin-top: 0 !important;
    }

    .icon-fr2.icon-doctype { color: $text; }
  }

  .fr-box-public-inspection {
    .doc-document-issue {
      h1 { font-size: modular-scale(1); }
      h2 { font-size: modular-scale(2); }
    }

    h2 {
      border-bottom: 2px solid $color-public-inspection;
      color: $color-public-inspection;
    }

    .icon-fr2.icon-doctype { color: $text; }

    a {
      color: $color-public-inspection;

      &:hover {
        color: darken($color-public-inspection, 20);
        text-decoration: none;
      }
    }
  }

// Positioning icons in the background of the document toc's
  %toc-doc-background {
    color: $fr-background-seal;
    font-size: 600px;
    left: 100px;
    position: absolute;
    top: 25px;
    z-index: 0;
  }

  .fr-box-official .content-block {
    .doc-background {
      @extend %toc-doc-background;
      left: 125px;
      top: 5px;
    }
  }
  .fr-box-public-inspection .content-block {
    .doc-background {
      @extend %toc-doc-background;
      font-size: 375px;
      left: 180px;
    }
  }

  .content-block {
    padding: 35px 20px 20px 20px !important;

    h1 { margin-top: 0; }

    .icon-fr2 {
      display: inline-block;
      font-size: modular-scale(1);
    }

    a { @extend %table-of-contents-link; }

    ul {
      list-style: none;
      margin-left: 0;

      &.see-references {
        @include apertura-condensed;
        font-size: modular-scale(0);
      }
    }
  }

  // each level of hierarchy gets an additional indentation
  // which creates our hierarchy
  .toc-category-level {
    margin-bottom: 15px;
    margin-left: 25px;
  }
  .toc-subject-level {
    margin-left: 25px;
    overflow: auto;
  }

  // add an additional level of indentation to documents that
  // only have one level of heirarchy. This allows all columns
  // to align and makes the table much easier to scan
  .toc-level-1 > .toc-documents {
    margin-left: 25px;

    .toc-document-metadata,
    .toc-editorial-note { margin-left: 10px; }
  }

  .toc-documents {
    font-size: modular-scale(0);

    a {
      @extend %table-of-contents-link;
      font-size: modular-scale(0);
    }

    dl { margin-bottom: 0px; }

    .toc-document-metadata,
    .toc-editorial-note {
      margin-left: 20px;
      a { font-weight: normal; }
    }

    .toc-editorial-note {
      @include apertura-condensed;

      font-weight: 500;
      margin-bottom: 0 !important;
      margin-right: 20px;

      p { line-height: 1.3; }
    }
  }

  dl {
    @include apertura-condensed;
    font-size: modular-scale(0);
    margin-left: 0px;

    dt,
    dd {
      float: left;
    }

    dt {
      clear: both;
      font-weight: 500; //medium
      margin-right: 5px;

      &.toc-pdf,
      &.permalink {
        .icon-fr2 { font-size: modular-scale(-1); }
      }

      &.permalink .icon-fr2 { left: -1px; }
    }

    dd {
      font-weight: normal;
      position: relative;
      top: 0px;
    }
  }

  span.new_document {
    //background: sprite-image('icons/new_badge_icon.png', 0, 0, 50px) no-repeat;
    display: inline-block;
    height: 17px;
    left: -20px;
    position: absolute;
    width: 16px;
  }
}

.bootstrap-scope .doc-toc-nav {
  .count_pill {
    text-align: center;
    width: 16px;
  }
}
