<div id="fr-index-agency-metadata" class="page_summary">
  <h1>
    <%= link_to "Stubbed Agency Name", '', :class => 'agency' %>
    <%= link_to "Return to the agency list for the #{agency_year.year} FR Index", '', :class => "return_to_index" %>
  </h1>

  <hr />

  <%#= render :partial => 'embedded_search', :locals => {:search => @search, :agency_year => agency_year} %>

  <%# if agency_year.last_published %>
    <%#= link_to "Download Approved #{agency_year.last_published.to_s(:month_year)} #{agency_year.name} Index (PDF)", agency_year.published_pdf_path, :class => "pdf_link" %>
  <%# end %>

  <hr />

  <p>
    <%# if agency_year.current_year? %>
      As of <strong>Stubbed Date<%#= agency_year.max_date.strftime("%B %e, %Y") %></strong> the Stubbed Agency Name<%#= agency_year.agency.name %> has published 
      <%#= pluralize agency_year.entry_count, "document" %> in <%= agency_year.year %>.
    <%# else %>
      In Stubbed year<%#= agency_year.year %> the <%#= agency_year.agency.name %> published <%#= pluralize agency_year.entry_count, "document" %>.
    <%# end %>
  </p>

  <table>
    <tr>
      <th>Document Type</th>
      <th>Documents Published</th>
      <th>Subjects Covered</th>
    </tr>
    <%# agency_year.document_types.each do |document_type| %>
    <tr>
      <td class="type">Stubbed Type<%#= link_to document_type.name.pluralize, "#fr-index-#{document_type.name.pluralize.downcase}" %></td>
      <td class="entry_count"> Stubbed Entry Count<%#= document_type.entry_count %></td>
      <td class="subject_count"> Stubbed Subject Count<%#= document_type.grouping_count %></td>
    </tr>
    <%# end %>
  </table>
</div>
