<%= link_to subject, "#",
  class: "toggle",
  'data-toggle' => {
    toggleTarget: "##{documents.first.document_number}",
    textTarget: nil
  }.to_json %>

<span class="count-pill reader-aid"><%= documents.size %></span>

<% if documents.any? {|doc| doc.regulations_dot_gov_info["comments_count"] >=
     1 unless doc.regulations_dot_gov_info.nil?} %>
  <span class="cj-tooltip" data-tooltip="Contains documents that have received public comments">
    <%= fr_icon("Chat")%>
  </span>
<% end %>

<% if documents.any? {|doc| doc.significant} %>
  <span class="cj-tooltip"
     data-tooltip="Contains documents that have been deemed significant under EO 12866">
     <%= fr_icon("Star")%>
  </span>
<% end %>
