<div class="title">
  <span><%= @presenter.year %> FR Index</span>
</div>

<!-- BOOTSTRAP SCOPE START -->
<div class="bootstrap-scope">
<!-- BOOTSTRAP SCOPE START -->

  <div class="wrapper index-of-indexes-page">
    <div class="container fixed">
      <%= render partial: "index_year_header",
            locals: {
              year: @presenter.year,
              agency_first_letters: @presenter.agency_representations_by_first_letter.keys,
              available_years: @presenter.class.available_years,
              date_last_issue_published: @presenter.date_last_issue_published
            }%>

      <div class="row">
        <div class="col-xs-12 col-md-12 doc-toc">
          <%= fr_box "Agencies", :official_toc, header: {seal: true} do %>
              <% @presenter.agency_representations_by_first_letter.each do
                |letter, agencies| %>
                <%= render partial: "agency_by_letter",
                      locals: {
                        letter: letter,
                        agencies: agencies } %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

<!-- BOOTSTRAP SCOPE END -->
</div>
<!-- BOOTSTRAP SCOPE END -->
