<div class='frequency-wrapper'>
  <h5 class='frequency-header'><%= title %></h5>
  <ul class='frequency-spark-lines'>
    <% sparklines.each do |sparkline| %>
      <li>
        <%= sparkline.title %>
        <%= sparkline.image_tag %>
      </li>
    <% end %>
  </ul>
</div>
