<div id="add-to-folder">
  <div class="button">
    <span class="icon"></span>
    Add to folder
  </div>
  <div class="menu">
    <ul>
      <li id="new-folder">New folder</li>
      <% folders.each do |folder| %>
        <% next if folder == current_folder %>
        <li data-slug="<%= folder.slug %>">
          <%= folder.name %> <%= folder.clipping_count_display %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
