<div id="folder_metadata_bar">
  <ul>
    <li>Clippings: <span class="clippings_on_page_count"><%= clippings.size%></span></li>
    <% if folder.created_at %>
      <li>Created on: <%= folder.created_at.to_formatted_s(:date) %></li>
    <% end %>

    <% if clippings.size > 0 %>
      <li class="download"><%= csv_download_tag('Download clippings as CSV', clippings) %></li>
    <% end %>
  </ul>
</div>
