<div class="notice message">
  <p>This folder does contain any clipped articles. </p>
  <p>
    Articles can be clipped when you are viewing them as well as from search results, or you can move clipped articles here from other folders.
  </p>
</div>
