<div class="notice message">
  <p>This folder does contain any clipped documents. </p>
  <p>
    Documents can be clipped when you are viewing them as well as from search results, or you can move clipped documents here from other folders.
  </p>
</div>
