<div class="notice message">
  <p>Your clipboard does not contain any clipped documents.</p>
  <p>
    We recommend that you use your clipboard as a temporary area for clipped items before you organize them into folders.<br /> 
    Documents can be clipped when you are viewing them as well as from search results.
  </p>
</div>
