<div class="notice message">
  <p>Your clipboard does not contain any clipped articles.</p>
  <p>
    We recommend that you use your clipboard as a temporary area for clipped articles before you organize them into folders.<br /> 
    Articles can be clipped when you are viewing them as well as from search results.
  </p>
</div>
