<div class="warning message">
  <p>
    These clippings are not permanently saved. 
    Please <%= link_to 'sign in', sign_in_path %> or 
    <%= link_to 'sign up', sign_in_path %> to save them permanently.
  </p>
</div>
