<div class="warning">
  <p>
    You have not clipped any documents. You can clip documents when viewing them 
    or when viewing search results.
  </p>
  <p>
    You will need to <%= link_to 'sign in', new_session_path %> or 
    <%= link_to 'sign up', new_user_registration_path %> to save them permanently.
  </p>
</div>
