<div class="warning message">
  <p>
    Starting on March 1st, 2018, FederalRegister.gov will require user accounts
    for clippings. All your clippings will be lost if you do not create an
    account (or sign in to your account) before this date. This change will
    allow us to better serve all users.
  </p>
</div>

<div class="warning message">
  <p>
    These clippings are not permanently saved.
    Please <%= link_to 'sign in', new_session_path %> or
    <%= link_to 'sign up', new_user_registration_path %> to save them permanently.
  </p>
</div>
