<div class="warning message">
  <p>
    These clippings are not permanently saved. 
    Please <%= link_to 'sign in', new_session_path %> or 
    <%= link_to 'sign up', new_user_registration_path %> to save them permanently.
  </p>
</div>
