<div class="warning message">
  <p>You have not clipped any documents.</p>
  <p>
    We recommend that you use your clipboard as a temporary area for clipped documents before you organize them into folders.<br />
    Documents can be clipped when you are viewing them as well as from search results.
  </p>
  <p>
    You will need to <%= link_to 'sign in', new_session_path %> or 
    <%= link_to 'create an account', new_user_registration_path %> to permanently save your clippings.
  </p>
</div>
