.git/
.bundle

log/
!log/.gitkeep

tmp/
!tmp/.gitkeep
!tmp/pids/.gitkeep
!tmp/cache/sass/.gitkeep

.sass-cache/

public/assets

spec/vcr/*.yml
vcr/*

config/varnish.development.vcl
vendor/bundle/

node_modules/*

.env
