.bundle
/bin/*
db/*.sqlite3
log/
tmp/
.screenrc
tags
.sass-cache/
public/assets
spec/vcr/*.yml

config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml

config/honeybadger.yml

vcr/*

config/varnish.development.vcl

node_modules/*

.env

vendor/bundle
.passenger
