.bundle

db/*.sqlite3
log/
tmp/
.screenrc
tags
.sass-cache/

public/assets
public/sitemap*

spec/rspec_example_status_persistence_file.txt
spec/vcr/*.yml
data/helveticons_svgs/*

config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml

config/honeybadger.yml

vcr/*

config/varnish.development.vcl

node_modules/*

.irb_history
.env

vendor/bundle
.passenger

/config/master.key
/config/credentials/*.key
