.metadata_share_bar .document-clipping-actions,
.document-notice-bar a,
.doc-nav-wrapper {
  display: none;
}

.document-notice-bar {
  border: 1px solid $gray-20;
}

.doc .doc-content.with-utility-nav,
.doc .doc-details {
  margin-left: 0;
  position: relative;
  right: 0;
  top: 0;
  width: 100%;
}

.doc .doc-content.with-utility-nav .content-block {
  margin-right: 30px;

  // remove blur (if utility nav item is open)
  &.blur {
    filter: blur(0) !important;
  }

  table.wide {
    page-break-inside: avoid;
    page: rotated;
  }

  .citation-target-icon { display: none !important; }

  .page-menu { display: none; }
}
