.metadata_share_bar .document-clipping-actions,
.document-notice-bar a {
  display: none;
}

.document-notice-bar {
  border: 1px solid $gray-20;
}

.doc .doc-content.with-utility-nav,
.doc .doc-details {
  margin-left: 0;
  position: relative;
  right: 0;
  top: 0;
  width: 100%;
}

.doc .doc-content.with-utility-nav .content-block {
  margin-right: 30px;

  // remove blur (if utility nav item is open)
  &.blur {
    filter: blur(0) !important;
  }

  .doc-content-area .stars span {
    color: $color-official-light !important;
  }

  table.wide {
    page-break-inside: avoid;
    page: rotated;
  }

  .citation-target-icon { display: none !important; }

  .printed-page-details.unprinted-element { display: none; }
  .page-menu { display: none; }
}
