// Turn on elements required for print
#print-disclaimer {
  display: block;
  margin-bottom: 40px;

  p { padding: 10px; }
}

// Turn off main site elements not appropriate for print
body > .header,
body > #footer,
.main-title-bar {
  display: none;
}

.content-notification.site-notification { display: none; }

@page rotated {
  // this isn't supported but may/should be someday
  size: landscape;
}
