---
http_interactions:
- request:
    method: get
    uri: http://api.data.gov/TEST/regulations/v2/comment.json?D=ITC-2013-0207-0001&api_key=DEMO_KEY
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '992'
    body:
      encoding: US-ASCII
      string: ! '{"metadataList":[{"groupId":"si_name","attributeName":"first_name","attribute":"SUBMITTER_FIRST_NAME","attributeLabel":"First
        Name","sequence":5100,"category":"PUBLIC SUBMISSIONS","controlLines":"1","lookupName":"","tooltip":"Submitter''s
        first name","uiControl":"text","maxLength":25,"dependsOn":""},{"groupId":"si_name","attributeName":"last_name","attribute":"SUBMITTER_LAST_NAME","attributeLabel":"Last
        Name","sequence":5120,"category":"PUBLIC SUBMISSIONS","controlLines":"1","lookupName":"","tooltip":"Submitter''s
        last name","uiControl":"text","maxLength":25,"dependsOn":""},{"groupId":"si_address","attributeName":"address1","attribute":"ADDRESS1","attributeLabel":"Mailing
        Address","sequence":5200,"category":"PUBLIC SUBMISSIONS","controlLines":"1","lookupName":"",[...]
