<li class="<%= 'on' if facet.on? %>">
  <%= link_to facet.name,
    search_adding_filter(facet.condition, facet.value),
    class: 'facet-name' %>

  <span class='facet-document-count'>
    <%= number_with_delimiter facet.count %>
  </span>
</li>
