<%= f.inputs do %>
  <span class="icon-fr2 icon-fr2-folder"></span>
  <%= f.input :name, :label => 'Folder Name', :required => false %>
<% end %>

<%= f.actions do %>
  <%= f.action 'Create Folder',
    wrapper_html: {class: "fr_button medium primary"},
    button_html: {class: "browser_reset"} %>
<% end %>
