<%= f.inputs do %>
  <span class="icon-fr2 icon-fr2-folder"></span>
  <%= f.input :name, :label => 'Folder Name', :required => false %>
<% end %>

<%= f.buttons do %>
  <%= f.commit_button 'Create Folder' %>
<% end %>
