<div id="new-folder-modal">
  <a href="#" class="jqmClose new_folder_close">Close</a>

  <h3 class="title_bar">Create New Folder</h3>
  <p class='instructions'>
    Creating folders will help you organize your saved documents.<br />
    <span id="fyi">When this folder is created the current document will be added to that folder.</span>
  </p>
  
  <%= semantic_form_for :folder, :url => folders_path() do |f| %>
    <%= render :partial => "folders/form", :locals => {:f => f} %>
  <% end %>

  <div class="folder_create">
    <p>
      Creating folder and saving clipping... 
      <span class="loader"></span>
    </p>
  </div>

  <div class="folder_success">
    <p> <span class="icon"></span></p>
  </div>
</div>
