<!-- issue document metadata -->
<div class="row fr-head-metadata-bar fr-head-metadata-bar-official">
  <div class="col-xs-3 col-md-3 fr-head-meta-label-holder">
    <div class="fr-head-meta-label">
      <i class="icon-fr2-calendar-alt"></i>
      <h4>
        <%= link_to "Current Issue",
          documents_search_path(
            :conditions => {
              :publication_date => {
                :is => DocumentIssue.current.publication_date.to_s(:iso)
              }
            }
          ) %>
      </h4>
    </div>
  </div>

  <div class="col-xs-9 col-md-9 fr-head-meta-counts">
    <ul class="fr-list fr-list-inline">
      <% presenter.document_counts.each do |doc_type| %>
        <li>
          <%= link_to pluralize(doc_type.count, doc_type.name),
            documents_search_path(doc_type.search_conditions) %>
        </li>
      <% end %>

      <li>
        <%= link_to_unless presenter.significant_document_counts.count == 0,
          pluralize(
            presenter.significant_document_counts.count,
            presenter.significant_document_counts.name
          ),
          documents_search_path(
            presenter.significant_document_counts.search_conditions
          ) %>
      </li>

      <li class='page-count'>
        <%= pluralize(presenter.page_count, 'Page') %>
      </li>

      <li class="right">
        <a href=""
          class="link public-inspection-toggle toggle"
          data-toggle-target="#pi-metadata-bar"
          data-toggle-show-text="View Public Inspection"
          data-toggle-hide-text="Hide Public Inspection"
          data-toggle-text-node=".link-text">
          <span class="icon-fr2 icon-fr2-clipboard public-inspection"></span>
          <span class="link-text">View Public Inspection</span>
        </a>
      </li>
    </ul>
  </div>
</div>
