<div class="description">
  <p>
    The <a href="">Public Inspection page</a> on FederalRegister.gov
    offers a preview of documents scheduled to appear in the next day's
    Federal Register issue. The Public Inspection page may also
    include documents scheduled for later issues, at the request
    of the issuing agency.
  </p>
  <p>
    <%= link_to "Learn more about public inspection here.",
      reader_aids_using_fr_path %>
  </p>
</div>
