<%
  # clear out type for normal documents as we dont want
  # the links below prefixed with it
  type = nil if type == 'doc'
%>

<ul>
  <% agencies.each do |slug, agency| %>
    <li>
      <%= link_to agency.name, anchor: [type, agency.slug].compact.join('-')  %>
      <span class="count_pill cj-tooltip"
        data-tooltip="<%= pluralize(agency.document_count_with_child_agencies, 'Document') %>"
        data-tooltip-gravity="w">
        <%= agency.document_count_with_child_agencies %>
      </span>
    </li>
  <% end %>
</ul>
