<!-- issue document metadata -->
<div id="reg-metadata-bar" class="metadata-explicit-grid">
  <div class="fr-head-metadata-bar fr-head-metadata-bar-official">
    <div class="fr-head-meta-label-holder">
      <div class="fr-head-meta-label">
        <h4>
          <%= link_to(
            "<i class=\"icon-fr2-calendar-alt\"></i><span>Current Issue</span>".html_safe,
            current_document_issue_path
          ) %>
        </h4>
      </div>
    </div>

    <div class="fr-head-meta-counts">
      <p>
        Today's issue is currently unavailable; we apologize for any inconvenience.  <%= link_to 'Browse other dates.', current_document_issue_path %>
      </p>
    </div>
  </div>
</div>

<%= render partial: 'public_inspection_document_issues/summary',
  locals: {
    presenter: @pi_presenter,
    home: true
  } %>
