<!-- issue public inspection metadata -->
<div id="pi-metadata-bar"
  class="metadata-explicit-grid pi-metadata-bar <%= home ? 'home' : '' %>">

  <div class="fr-head-metadata-bar fr-head-metadata-bar-public-inspection">
    <div class="fr-head-meta-label-holder">
      <div class="fr-head-meta-label">
        <h4>
          <%
            link_text = home ? "Public Inspection" : presenter.date
            link_path = home ? current_public_inspection_issue_path : public_inspection_issue_path(presenter.date)
          %>

          <%= link_to(
            "<i class=\"icon-fr2-clipboard\"></i><span>#{link_text}</span>".html_safe,
            link_path
          ) %>
        </h4>
      </div>
    </div>

    <div class="fr-head-meta-counts">
      <%= render partial: "public_inspection_document_issues/summary_document_counts",
        locals: {
          full_width: false,
          presenter: presenter
        } %>
    </div>
  </div>
</div>
