<!-- issue public inspection metadata -->
<div id="pi-metadata-bar" class="metadata-explicit-grid pi-metadata-bar">
  <div class="fr-head-metadata-bar fr-head-metadata-bar-public-inspection">
    <div class="fr-head-meta-label-holder">
      <div class="fr-head-meta-label">
        <h4>
          <%= link_to presenter.metadata_bar_link_path do %>
            <%= fr_icon("clipboard") %>
            <span><%= presenter.metadata_bar_name %></span>
          <% end %>
        </h4>
      </div>
    </div>

    <div class="fr-head-meta-counts">
      <%= render partial: "public_inspection_document_issues/summary_document_counts",
        locals: {
          full_width: false,
          presenter: presenter
        } %>
    </div>
  </div>
</div>
