<ul>
  <% agencies.each do |slug, agency| %>
    <li>
      <%= link_to agency.name, anchor: "#{type}-filing-#{agency.slug}" %>
      <span class="count_pill">
        <%= agency.document_count_with_child_agencies %>
      </span>
    </li>
  <% end %>
</ul>
