@mixin custom-bullets($color, $indent:"15px", $el:"li", $content:"\25A0") {
  list-style-type: none;

  #{$el} {
    padding-left: unquote($indent);
    text-indent: unquote("-" + $indent);

    @include bullet($color, $content:"\25A0")
  }
}

@mixin bullet($color, $content:"\25A0") {
  &:before {
    content: $content;
    color: $color;
    padding-right: 7px;
    top: -2px;
    position: relative;
  }
}
