$fr_blue:      #5697CF;
$fr_dark_blue: #3f5b75;

$fr_orange:         #B88659;
$fr_bright_orange:  #e4a529;

$fr_green:       #7aa13d;
$fr_light_green: #D7E5C2;

$fr_red:       #8A3737;
$fr_light_red: #EDD3D3;

$fr-gray-20: #D1D2D4;

$white: #FFFFFF;
