$fr-blue:      #5697CF;
$fr-dark-blue: #3f5b75;

$fr-orange:    #B88659;

$fr-green:       #7aa13d;
$fr-light-green: #D7E5C2;

$fr-red:       #8A3737;
$fr-light-red: #EDD3D3;

$fr-bright-orange: #F77825; /* menu and subscription icons */

/* gray percentages */
$fr-gray-80: #323232;
$fr-gray-60: #656565;
$fr-gray-40: #999999;
$fr-gray-15: #D8D8D8;
$fr-gray-10: #ececec;

/* base */
$white: #FFFFFF;
$black: #000000;

