/* general colors */
$fr-orange: #E4A529;
$fr-green: #7AA13D;
$fr-red: #8A3737;
$fr-light-red: #EDD3D3;

/* gray percentages */
$fr-gray-40: #999999;
$fr-gray-10: #ececec;


$fr-bright-orange: #F77825; /* menu and subscription icons */


