$color-inactive:                    #777777;
$color-inactive-light:              #CCCCCC;

$color-official:                    #5797CE;
$color-official-light:              #f7fafb;
$color-official-light-alt:          #e5f1f8;

$color-enhanced:                    #A8BF82;
$color-enhanced-mid:                #c8d8b2;
$color-enhanced-light:              #e3ecda;
/* use only for green text on light green bg -- eg hover states */
$color-enhanced-dark: darken($color-enhanced, 20);

$color-public-inspection:           #8a3737;
$color-public-inspection-light:     #fbf2f5;
$color-public-inspection-light-alt: #EBD1D1;

$color-reader-aid:                  #b462a2;
$color-reader-aid-light:            #f7eff6;

$med-grey:  #A7A9AC;
$dark-grey: #363636;

$fr-link-dark:  #015BA2;

$text: $dark-grey;
$public-inspection-fr-stamp: $color-public-inspection-light;

$utility-nav:                         $med-grey;
$utility-nav-background:              #E6E6E5;
$utility-nav-hover-background:        #d5d5d5;
$utility-nav-hover-background-light:  #EFEFEF;

$utility-nav-pi:                  #8a3737;
$utility-nav-pi-background:       #D7A5A1;
$utility-nav-pi-hover-background: $color-public-inspection-light-alt;

