$color-inactive:                #777777;
$color-inactive-light:          #CCCCCC;

$color-official:                #5797CE;
$color-official-light:          #f7fafb;
$color-official-light-alt:      #e5f1f8;

$color-enhanced:                #A8BF82;
$color-enhanced-mid:            #c8d8b2;
$color-enhanced-light:          #e3ecda;

$color-public-inspection:       #8a3737;
$color-public-inspection-light: #f3ebeb;

$color-aid:                     #b462a2;
$color-aid-light:               #f7eff6;
