/* backwards compatibility - this particular mixin needs to be removed -BB:2015-03-10 */
@mixin border-radius($radius) {
  border-radius: #{$radius}px;
  }

@mixin rounded-left($radius) {
  border-top-left-radius: #{$radius}px;
  border-bottom-left-radius: #{$radius}px;
  }

@mixin rounded-right($radius) {
  border-top-right-radius: #{$radius}px;
  border-bottom-right-radius: #{$radius}px;
  }

@mixin rounded-bottom($radius) {
  border-bottom-left-radius: #{$radius}px;
  border-bottom-right-radius: #{$radius}px;
  }

@mixin rounded-top($radius) {
  border-top-left-radius: #{$radius}px;
  border-top-right-radius: #{$radius}px;
}
