<p>Welcome to My Federal Register, <%= @user.email %>!</p>

<p>We value your privacy so before we can enable many of the features on My FR we need you to confirm your email address.</p>

<p>You can confirm your email address by clicking on the link below:</p>

<p><%= link_to 'Confirm my email address', user_confirmation_url(:confirmation_token => @user.confirmation_token) %></p>
