<li id="topics-browse-preview" class="preview">
  <%= facet_explorer(
      header: {icon: "", title: "Explore Topics (CFR Indexing Terms)"},
      search: {
        url: topics_path,
        placeholder: "try 'Antidumping'",
        endpoint: "/topics/suggestions?term="
      },
      table: {
        items: @presenter.topics_for_exploration,
        header_count_width: '10%',
        utm_source: 'navigation',
        utm_medium: 'explore',
        utm_content_type: 'topics'
      }
    ) %>
</li>
