<li id="topics-browse-preview" class="preview">
  <div class="topic_finder">
    <h2>Go to a Specific Topic</h2>
    <%= form_tag topics_path, :method => :get, :id => "topic-search-form" do %>
      <label>Go to a specific topic:</label>
      <input id="topic-search" class="browse_search" placeholder="Antidumping" data-autocomplete="autocomplete" />
    <% end %>
  </div>
  <div class="topic_browse">
    <table class="recent_topics default">
      <thead>
        <tr>
          <th><h2>Browse Topics</h2></th>
          <th class="past_7_days" data-tooltip="Related Documents Published in the Last 7 Days"></th>
          <th class="closing_soon" data-tooltip="Related Documents with Comment Periods Closing in the Next 7 Days"></th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: 'facets/topics/explore', locals: {
          topics: @presenter.topics,
          source: 'navigation', 
          medium: 'explore' 
        } %>    
      </tbody>
    </table>
  </div>
</li>

