OFR.ZendeskModalHandler = class ZendeskModalHandler {
  constructor(siteFeedbackHandler) {
    this.siteFeedbackHandler = siteFeedbackHandler
    this.displayModal()
    new OFR.ZendeskFormHandler(this)
  }

  displayModal() {
    let modalContent = this._zendeskMarkup()
    let modal = document.getElementById("interstitial_modal")

    // we're on a content page where the modal is already open
    if (modal && modal.checkVisibility()) {
      modal
        .querySelector(".interstitial_modal")
        .innerHTML = modalContent
    } else {
      FR2.Modal.displayModal('', modalContent, {
        includeTitle: false,
        modalClass: 'fr_modal wide',
        modalId: '#interstitial_modal',
        additionalOnHide: this.siteFeedbackHandler.modalClose,
        additionalOnShow: this.siteFeedbackHandler.modalOpen
      })
    }
  }

  success() {
    let modalContent = this._successMarkup()
    let modal = document.getElementById("interstitial_modal")

    modal.querySelector("form.zendesk_ticket").remove()
    modal.querySelector("h3").after(modalContent)
  }

  _successMarkup() {
    return `
      <div class="notice message">
        <p class="info omit-custom-styling">
          Thank you! Your website feedback has been submitted for review.
        </p>
      </div>
    `
  }

  _zendeskMarkup() {
    return `
      <h3 class="title_bar">Website Feedback</h3>

      <%= ApplicationController.helpers.semantic_form_for(:zendesk_ticket,
        authenticity_token: false,
        url: Rails.application.routes.url_helpers.zendesk_tickets_path) do |f|

        f.inputs do
          (f.input :name, label: 'Your Name', required: true) +
          (f.input :email, label: 'Email') +
          (f.input :comment, as: :text, label: 'How can we help you?') +
          (f.input :attachment, as: :file,
            label: 'Upload Attachment',
            required: false) +
          (f.input :technical_help, as: :boolean,
            label: 'This contact form is only for website help or website
              suggestions. If you have questions or comments regarding a
              published document please contact the issuing agency.
              Comments or questions about document content cannot be answered
              by OFR staff. Please do not provide confidential information or
              personal data.')
        end +

        f.actions do
          f.action :submit, as: :button,
            label: "Submit",
            wrapper_html: {class: "commit fr_button medium primary"},
            button_html: {class: "browser_reset"}
        end
      end %>
    `
  }
}
