.simple {
  display: block;
  overflow: hidden;
}

.advanced:not(.secondary-fields) {
  // Don't hide secondary fields originally designed for advanced search
  display: none;
}

.advanced.open .actions:nth-child(2) {
  // Hide first set of buttons when additional filters are shown
  // display: none;
}

.advanced {
  margin-top: 1em;

  #conditions_term {
    height: 40px;
    margin-left: 7px;
    top: 0px;
  }

  #conditions_agencies, .presidential_dependent, .notice_dependent { // Prevent page-load flash by hiding these items by default
    display: none;
  }

  .btn {
    min-width: 150px;
  }

  .seperator {
    border-top: 1px solid $gray-20;
    margin: 20px auto;
    width: 95%;
  }

  &.open {
    display: block;

  }

  .input-wrapper { padding: 0 1em 0; }

  %advanced-legend {
    color: $search-form-label-text;
    font-size: modular-scale(1);
    font-weight: 500;
    text-align: right;
    white-space: normal;
    width: 200px;
  }

  // replicating bootstrap input styles
  %input-base-styles {
    border: 1px solid $gray-20;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;

    &:focus {
      border-color: #66afe9;
      outline: 0;
      box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,175,233,0.6);
    }
  }

  abbr {
    border-bottom: 0;

    &[title] {
      color: $orange;
    }
  }

  input[type="radio"],
  input[type="checkbox"] {
    margin-top: -1px;
  }

  ol { list-style: none; }

  select {
    @extend %input-base-styles;

    height: 40px;
    text-align: center;
    width: 132px;
  }

  li.input {
    input {
      @extend %input-base-styles;

      @include placeholder {
        color: $gray-15;
        font-style: italic;
        font-weight: 400;
      }

      position: relative;
      top: 10px;
    }

    input[type=text] {
      height: 40px;
      width: 382px;
    }
  }

  li.row_of_options { margin-bottom: 0; }

  fieldset {
    clear: both;

    legend {
      @extend %advanced-legend;

      &.label,
      label,
      span {
        @extend %advanced-legend;
      }
    }
  }

  fieldset {
    &.date_options,
    &.cfr,
    &.zip {
      legend { float: left; }
      label { margin-top: 0; }

      > ol { margin-bottom: 0; }
    }

    &.cfr,
    &.zip {
      legend { margin-right: 15px; }

      li {
        display: inline-block;

        input { top: 0; }
      }
    }

    &.cfr legend {
      position: relative;
      top: 8px;
    }
  }

  fieldset {
    &.date_options {
      .type_selector li {
        display: inline-block;

        label {
          font-size: modular-scale(0);
          font-weight: normal;

          input { margin-right: 5px; }
        }
      }

      li.date.input {
        clear: none;
        height: 36px;
        overflow: auto;

        &.exact_date,
        &.exact_year,
        &.range {
          label {
            position: relative;
            top: 9px;
          }
        }

        &.exact_date,
        &.exact_year {
          input { width: 282px; }
        }

        &.exact_date { margin-left: 230px; }
        &.exact_year { margin-left: 211px; }

        &.range {
          margin-left: 200px;
          input { width: 240px; }
        }

        &.exact_date,
        &.exact_year {
          label { margin-left: 40px; }
        }
        &.range label { width: 120px; }
        &.range_end {
          margin-left: 209px;

          label { width: 111px; }
        }

        label {
          color: $search-form-label-text;
          font-size: modular-scale(0);
          font-weight: normal;
          margin-left: 30px;
        }

        select {
          position: relative;
          top: 2px;
        }

        input { top: 0px; }

        .input-connector { font-weight: 500; }
      }
    }
  }

  fieldset {
    &.show_labels {
      label {
        @extend %advanced-legend;
        margin-left: 0;
      }

      li.string {
        &.agency label {
          position: relative;
          top: 7px;
        }

        &.docket label {
          position: relative;
          top: 8px;
        }
      }

      li.agency {
        position: relative;

        input {
          @include placeholder {
            color: $gray-15;
            font-style: italic;
            font-weight: 400;
          }

          height: 40px;
          margin-left: 7px;
          position: relative;
          top: 6px;
          width: 382px;

          // replicating bootstrap input styles
          border: 1px solid $gray-20;
          border-radius: 4px;
          box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;

          &:focus {
            border-color: #66afe9;
            outline: 0;
            box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,175,233,0.6);
          }
        }
      }

      li.check_boxes {
        legend.label { margin-right: 6px; }
      }

      li.docket,
      li.reg_id {
        label {
          @extend %advanced-legend;

          margin-right: 15px;
          padding-right: 0px;
        }
      }

      li.significant {
        label {
          @extend %advanced-legend;

          font-size: modular-scale(0);
          text-align: left;
          width: auto;
        }
      }
    }
  }

  fieldset.choices {
    legend {
      float: left;
      margin-right: 16px;

      label,
      span {
        color: $search-form-label-text;
        width: 180px;
      }

      span {
        top: 17px;
        position: relative;
      }
    }

    ol {
      overflow: auto;
      position: relative;
      top: 12px;

      li {
        display: inline-block;

        label {
          font-size: modular-scale(0);
          width: auto;

          input {
            margin-right: 5px;
            top: 0px;
          }
        }
      }
    }
  }

  li.radio fieldset.choices {
    legend {
      width: 180px;

      label { width: 160px; }
    }

    .choice {
      padding-right: 20px;

      input {
        float: none;
        margin-left: 0;
      }
    }
  }

  select.bsmSelect {
    display: none !important; // important needed for IE
  }

  .bsmList {
    margin-left: 14.5em;
    margin-top: 10px;

    .bsmListItem,
    .inline-hints {
      background: $dark-blue;
      border-radius: 5px;
      color: $white;
      height: 30px;
      margin: 0 5px 5px 0;
      padding: 5px 5px 3px 7px;
      width: 500px;

      .icon-fr2 { color: $white; }
    }

    .bsmListItem {
      &:hover {
        background: $orange;
        color: $white;
      }

      .remove {
        float: right;
        height: 25px;
        margin-left: 10px;
        width: 25px;

        &.icon-fr2-badge_x::before {
          position: relative;
          top: 2px;
        }
      }
    }

    .bsmHighlight { background-color: $orange; }
  }

  //clear the float on any bsm items above
  #conditions_type_input { clear: both; }


  #conditions_cfr_title { width: 100px; }
  #conditions_cfr_part { width: 245px; }
  #conditions_near_location { width: 200px; }
}

.search-bar {
  .action-buttons { margin-top: 20px; }

  fieldset.actions {
    li {
      display: inline-block;
      margin: 0;
    }

    .button { background: none; }
    .fr_button {
      background: #7aa13d;
      border-color: #7aa13d;
    }

    .white-btn {
      border-color: #ccc;
      background-color: #fff;
      position: relative;
      color: #3071a9 !important;

      &:active, &:hover, &:focus {
        color: #3071a9;
      }
    }
  }
}
