.simple {
  display: block;
  overflow: hidden;
}

.advanced {
  display: none;
  margin-top: 1em;

  &.open {
    display: block;

    .seperator {
      border-top: 1px solid $fr-gray-20;
      margin: 20px auto;
      width: 95%;
    }
  }

  .input-wrapper { padding: 0 5em 0; }

  %advanced-legend {
    color: $search-form-label-text;
    font-size: modular-scale(1);
    font-weight: 500;
    text-align: right;
    white-space: normal;
    width: 200px;
  }

  abbr {
    border-bottom: 0;

    &[title] {
      color: $fr-orange;
    }
  }

  input[type="radio"],
  input[type="checkbox"] {
    margin-top: -1px;
  }

  ol { list-style: none; }

  li.input {
    clear: both;

    input {
      @include placeholder {
        color: $fr-gray-15;
        font-style: italic;
        font-weight: 400;
      }

      position: relative;
      top: 10px;
    }
  }

  fieldset {
    clear: both;

    legend {
      @extend %advanced-legend;

      &.label,
      label,
      span {
        @extend %advanced-legend;
      }
    }
  }

  fieldset {
    &.date_options,
    &.cfr,
    &.zip {
      legend { float: left; }
      label { margin-top: 0; }
    }

    &.cfr,
    &.zip {
      legend { margin-right: 15px; }

      li {
        display: inline-block;

        input { top: 0; }
      }
    }
  }

  fieldset {
    &.date_options {
      .type_selector li {
        display: inline-block;

        label {
          font-size: modular-scale(0);
          font-weight: normal;

          input { margin-right: 5px; }
        }
      }

      li.date.input {
        clear: none;
        height: 36px;
        overflow: auto;

        &.exact_date,
        &.exact_year {
          label { margin-left: 40px; }
        }
        &.range label { width: 120px; }
        &.range_end {
          margin-left: 209px;

          label { width: 111px; }
        }

        label {
          color: $search-form-label-text;
          font-size: modular-scale(0);
          font-weight: normal;
          margin-left: 30px;
        }

        select {
          position: relative;
          top: 2px;
          width: 75px;
        }

        input { top: 0px; }

        .input-connector { font-weight: 500; }
      }
    }
  }

  fieldset {
    &.show_labels {
      label {
        @extend %advanced-legend;
        margin-left: 0;
      }

      li.agency {
        height: auto;
        position: relative;

        input {
          @include placeholder {
            color: $fr-gray-15;
            font-style: italic;
            font-weight: 400;
          }

          margin-left: 7px;
          position: relative;
          top: 6px;
          width: 500px;
        }
      }

      li.check_boxes {
        legend.label { margin-right: 6px; }
      }

      li.docket,
      li.reg_id {
        label {
          @extend %advanced-legend;

          margin-right: 15px;
          padding-right: 0px;
        }

        input { width: 250px; }
      }

      li.significant {
        label {
          @extend %advanced-legend;

          font-size: modular-scale(0);
          text-align: left;
          width: auto;
        }
      }
    }
  }

  fieldset.choices {
    legend {
      float: left;
      margin-right: 16px;

      label,
      span {
        color: $search-form-label-text;
        width: 180px;
      }

      span {
        top: 17px;
        position: relative;
      }
    }

    ol {
      position: relative;
      top: 12px;

      li {
        display: inline-block;

        label {
          font-size: modular-scale(0);
          width: auto;

          input {
            margin-right: 5px;
            top: 0px;
          }
        }
      }
    }
  }

  li.radio fieldset.choices {
    legend {
      width: 180px;

      label { width: 160px; }
    }

    .choice {
      padding-right: 20px;

      input {
        float: none;
        margin-left: 0;
      }
    }
  }

  select.bsmSelect {
    display: none !important; // important needed for IE
  }

  .bsmList {
    margin-left: 14.5em;
    margin-top: 10px;

    .bsmListItem,
    .inline-hints {
      background: $fr-dark-blue;
      border-radius: 5px;
      color: $white;
      height: 30px;
      margin: 0 5px 5px 0;
      padding: 5px 5px 3px 7px;
      width: 500px;

      .icon-fr2 { color: $white; }
    }

    .bsmListItem {
      &:hover {
        background: $fr-orange;
        color: $white;
      }

      .remove {
        float: right;
        height: 25px;
        margin-left: 10px;
        width: 25px;

        &.icon-fr2-badge_x::before {
          position: relative;
          top: 2px;
        }
      }
    }

    .bsmHighlight { background-color: $fr-orange; }
  }

  //clear the float on any bsm items above
  #conditions_type_input { clear: both; }


  fieldset.actions {
    margin-left: 215px;
    margin-top: 20px;

    li {
      display: inline-block;
      height: 100%;
    }

    .button { background: none; }
    .fr_button {
      border-radius: 6px;
      border: 0;
      height: 30px;
    }

    .clear_form {
      margin-left: 10px;
      position: relative;
      top: 1px;
    }
  }

  #conditions_cfr_title {
    width: 34px !important; 
  }

}
