.active-filters {
  .filter-group {
    background-color: $fr-yellow;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 10px 30px 9px 35px;
    position: relative;

    .icon-fr2,
    .name,
    .type {
      display: inline-block;
      vertical-align: top;
    }
    .type {
      color: $fr-golden;
      font-weight: 500;
      padding-right: 5px;

      &::after { content: ":"; }
    }

    .filters {
      display: inline-block;
      width: 560px;

      .filter {
        &:first-child { padding-top: 0; }
        
        padding: 3px 0;

        .filter-connector {
          color: $fr-golden;
          font-weight: 500;
        }
      }
    }

    .icon-fr2 {
      color: $fr-golden;
      font-size: 22px;
      left: -26px;
      margin-right: -27px;
    }

    a.remove .icon-fr2 {
      float: right;

      &:hover { color: $fr-red; }
    }
  }
}
