.active-filters {
  margin-bottom: 20px;
  
  .filter-group {
    background-color: $fr-yellow;
    border-radius: 5px;
    margin: 0;
    padding: 10px 10px 9px 25px;
    position: relative;

    &.row { margin-bottom: 10px !important; }

    .icon-fr2,
    .name,
    .type {
      display: inline-block;
      vertical-align: top;
    }
    .type {
      color: $fr-golden;
      font-weight: 500;
      padding-right: 5px;

      &::after { content: ":"; }
    }

    .filters {
      display: inline-block;
      width: 100%;

      .filter {
        &:first-child { padding-top: 0; }
        
        padding: 3px 0;

        .filter-connector {
          color: $fr-golden;
          font-weight: 500;
        }

        .name { width: 95%; }

        a.remove { float: right; }
      }
    }

    .icon-fr2 {
      color: $fr-golden;
      font-size: 22px;
      
      &.icon-fr2-filter {
        left: -26px;
        margin-right: -27px;
        top: 1px;
      }
    }

    a.remove .icon-fr2 {
      float: right;

      &:hover { color: $fr-red; }
    }
  }
}
