.active-filters {
  .filter {
    background-color: $fr-yellow;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 6px 10px 10px;

    .type {
      color: $fr-golden;
      font-weight: 500;
      padding-right: 5px;

      &::after { content: ":"; }
    }

    .icon-fr2 {
      color: $fr-golden;
      font-size: 22px;
      position: relative;
      top: 4px;
    }

    a .icon-fr2 {
      float: right;

      &:hover { color: $fr-red; }
    }
  }
}
