.result_set .pagination {
  display: block;
  margin: 20px 0 20px 35px;
  overflow: hidden;

  span,
  a {
    border: 1px solid $fr-gray-20;
    padding: 5px 10px;
  }

  .active span {
    background-color: $fr-nav-orange;
    color: $white;
  }
}
