.result_set .pagination {
  display: inline-block;
  font-size: 0;
  margin: 0 auto 20px;
  overflow: auto;

  li { font-size: modular-scale(0); }

  span,
  a {
    border: 1px solid $fr-gray-20;
    padding: 5px 10px;
  }

  .active span {
    background-color: $fr-nav-orange;
    color: $white;
  }
}
