.search-info {
  .filterable-list-info {
    margin-left: 0px;
    margin-right: 0px;
  }

  ul.actions {
    float: right;
    margin-bottom: 0;
    position: relative;
    right: -10px;
    top: 10px;

    li {
      border-color: $white;
      border-radius: 5px;
      display: inline-block;
      padding: 0.25em 0.5em;
      text-align: center;
      width: 80px;

      &:first-child {
        margin-left: 0;
        width: 100px;
      }

      a {
        color: $fr-dark-blue;
        font-weight: 400;
        text-transform: uppercase;
      }

      &:hover,
      &.on,
      .tabs-selected,
      .action_button {
        background: $fr-dark-blue;
        border-color: $fr-dark-blue;
        padding: 0.25em 0.5em;

        a {
          color: $white;
          font-weight: 500;
        }
      }
    }
  }
}

// bootstrap override
.wrapper .row.search-result-documents {
  margin-bottom: 0 !important;
}


.search-result-documents {
  list-style: none;

  .search-result-document {
    margin-bottom: 1.5em;
    position: relative;

    &:last-child {
      margin-bottom: 0.5em;

      .document-wrapper {
        border-bottom: 0;
        padding-bottom: 0;
      }
    }

    &.doc-published{
      .icon-doctype { color: $color-published; }
    }

    &.doc-official {
      .icon-doctype { color: $color-official; }
    }

    &.doc-public-inspection {
      .icon-doctype { color: $color-public-inspection; }
      h5 a {
        color: $color-public-inspection;

        &:hover { color: $color-public-inspection-dark; }
      }

      .editorial-note {
        margin-top: 10px;

        strong { font-weight: 400; }
      }
    }

    .document-clipping-actions {
      position: absolute;
      right: 20px;
      top: 0;
    }
  }

  &.official {

  }

  &.public_inspection {

  }

  .icon-doctype {
    float: left;
    font-size: modular-scale(3);
    top: 1px;
    width: 5%;
  }

  .document-wrapper {
    border-bottom: 1px solid $fr-gray-20;
    float: left;
    padding-bottom: 1.25em;
    width: 90%;

    h5 {
      margin-bottom: 0.25em;
      margin-top: 0;
      width: 92%;
    }

    .metadata {
      margin-bottom: 0;

      &+ .description {
        margin-top: 1em;
      }
    }

    .description {
      @include sans_serif;
      margin-bottom: 0;

      .match {
        background-color: $fr-light-yellow;
        padding: 0px 3px;
      }
    }
  }
}

.public-inspection-document-search .search-info {
  .filterable-list-info {
    border-bottom-color: $color-public-inspection-dark;

    h2,
    .small-stack {
      color: $color-public-inspection-dark;
    }
  }
}

@media only screen and (max-width: $small-viewport-width) {
  // adjust doc type icons to the left
  body#agencies.show, body#topics.show, body#suggested_searches.show {
    .icon-doctype {right: 9px;}
  }
}
