.search-info {
  .filterable-list-info {
    margin-left: 0px;
    margin-right: 0px;
  }

  ul.actions {
    float: right;
    margin-bottom: 0;
    position: relative;
    right: -10px;
    top: 10px;

    li {
      border-color: $white;
      border-radius: 5px;
      display: inline-block;
      padding: 0.25em 0.5em;
      text-align: center;
      width: 80px;

      &:first-child {
        margin-left: 0;
        width: 100px;
      }

      a {
        color: $fr-dark-blue;
        font-weight: 400;
        text-transform: uppercase;
      }

      &:hover,
      &.on,
      .tabs-selected,
      .action_button {
        background: $fr-dark-blue;
        border-color: $fr-dark-blue;
        padding: 0.25em 0.5em;

        a {
          color: $white;
          font-weight: 500;
        }
      }
    }
  }
}

// bootstrap override
.wrapper .row.search-result-documents {
  margin-bottom: 0 !important;
}


.search-result-documents {
  list-style: none;

  .search-result-document {
    margin-bottom: 1.5em;

    &:last-child {
      margin-bottom: 0.5em;

      .document-wrapper {
        border-bottom: 0;
        padding-bottom: 0;
      }
    }
  }

  &.official {
    .search-result-document {
      .icon-doctype { color: $color-official; }
    }
  }

  &.public_inspection {
    .search-result-document {
      .icon-doctype { color: $color-public-inspection; }
    }
  }

  .icon-doctype {
    float: left;
    font-size: modular-scale(3);
    top: 1px;
    width: 5%;
  }

  .document-wrapper {
    border-bottom: 1px solid $fr-gray-20;
    float: left;
    padding-bottom: 1.25em;
    width: 90%;

    h5 {
      margin-bottom: 0.25em;
      margin-top: 0;
    }

    .metadata {
      margin-bottom: 0;

      &+ .description {
        margin-top: 1em;
      }
    }

    .description {
      @include calluna;
      margin-bottom: 0;
    }
  }
}
