.search-results-header {
  overflow: hidden;

  &.top {
    border-bottom: 1px solid $gray-60;
    margin-bottom: 1em;
  }

  &.bottom {
    border-top: 1px solid $gray-60;
    margin-top: 1em;
  }

  p { margin-bottom: 0; }
}

.stacked-embedded-search-result-header {
  h1 {
    border-bottom: 2px solid $dark-blue;
    color: $dark-blue;
    font-size: modular-scale(6) !important;
    margin-bottom: 0 !important;
  }
  .search-results-header {
    border: 0;
  }
}
