.suggestions {
  margin-bottom: 30px;

  .suggestion {
    display: grid;
    grid-template-columns:  1fr 11fr;
    grid-gap: 10px;

    .grid-container > *:first-child {
      grid-column: 1;
    }

    .grid-container > *:nth-child(2) {
      grid-column: 2 / span 11;
    }

    border: 1px solid $gray-10;
    box-shadow: $gray-10 3px 3px 3px;
    font-weight: 400;
    margin-bottom: 10px;
    overflow: auto;
    padding: 5px;
    padding-bottom: 0;

    .icon-fr2 {
      color: $gray-50;
      display: block;
      font-size: 24px;
      padding-right: 10px;
      top: 3px;

      &.icon-fr2-clipboards { font-size: 30px; }
      &.icon-fr2-documents { font-size: 28px; }
    }

    .suggestion-content {
      // float: left;
      padding-top: 5px;
      width: 645px;

      .addition,
      .term {
        background-color: $yellow;
        font-weight: 700;
        padding: 3px 5px;
      }

      .matching-citation-documents,
      .matching-citation-links {
        border-top: 1px solid #EEEEEE;
        margin: 10px 0 0 0;
        padding: 10px 0 0 0;

        ul { margin-left: 10px; }
      }

      .matching-citation-documents .result-item {

      }
    }
  }
}
