%tab-on-state {
  background-color: $fr-gray-10;
  border: 1px solid $fr-gray-20;
}

.tabs {
  font-size: modular-scale(0);
  margin-bottom: 0;
  outline: 0;

  li {
    @include rounded-top(5);
    background-color: $fr-gray-2;
    color: $text-inactive;
    display: inline-block;
    list-style-image: none;
    list-style-type: none;
    margin-bottom: -1em;
    margin-left: 0px;
    padding: 5px 5px 10px 10px;
    white-space: nowrap;

    &:hover {
      @extend %tab-on-state;
      padding: 5px 5px 10px 9px;
    }

    a {
      @include apertura-condensed;
      color: $text-inactive;
      font-weight: 500;
      margin-bottom: 0.5em;
      position: relative;
      top: 3px;

      &:visited { color: $text-inactive; }
      &:hover { color: $fr-orange; }
    }
  }

  .on {
    @extend %tab-on-state;

    border-bottom: 0;
    color: $fr-dark-blue;
    font-weight: 700;
    position: relative;
    top: 1px;
    z-index: 100;

    &:hover {
      color: $fr-dark-blue;
      border-bottom: 0;
      padding-left: 10px;
    }
  }

  .number_of_results {
    font-size: modular-scale(-1);
    font-weight: normal;
    margin: -5px 0 -5px 5px;
  }
}
