%tab-on-state {
  background-color: $gray-10;
  border: 1px solid $gray-20;
}

.tabs {
  font-size: modular-scale(0);
  height: 36px;
  margin-bottom: 0;
  outline: 0;

  li {
    @include rounded-top(5);
    background-color: $gray-2;
    color: $text-inactive;
    display: inline-block;
    list-style-image: none;
    list-style-type: none;
    margin-bottom: -1em;
    margin-left: 0px;
    padding: 5px 5px 10px 10px;
    white-space: nowrap;

    &:hover {
      @extend %tab-on-state;
      padding: 5px 5px 10px 9px;

      .number_of_results { right: 3px; }
    }

    a {
      @include sans_serif;
      color: $text-inactive;
      font-weight: 500;
      margin-bottom: 0.5em;
      position: relative;
      top: 3px;

      &:visited { color: $text-inactive; }
      &:hover { color: $orange; }
    }

    &.documents { width: 165px; }
    &.public-inspection {
      width: 177px;
      a:hover { color: $color-public-inspection-dark; }
    }
  }

  .on {
    @extend %tab-on-state;

    border-bottom: 0;
    color: $dark-blue;
    font-weight: 700;
    position: relative;
    text-align: center;
    top: 1px;
    z-index: 100;

    &:hover {
      color: $dark-blue;
      border-bottom: 0;
      padding-left: 10px;
    }
  }

  .number_of_results {
    float: right;
    font-size: modular-scale(-1);
    font-weight: normal;
    position: relative;
    text-align: right;
    top: 2px;
    right: 4px;

    .loader {
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background: image-url('fr_orange_loader.svg');
      height: 25px;
      left: -18px;
      position: absolute;
      top: -4px;
      width: 25px;
    }
  }
}

&.public-inspection-document-search .tabs {
  .on {
    color: $color-public-inspection-dark;

    &:hover { color: $color-public-inspection-dark; }
  }
}

@media only screen and (max-width: $small-viewport-width) {

  .tabs li.on {
    width: auto;
    min-width: 152px !important;
  }

}
