<%= content_nav_item(type: :enhanced,
  icon: 'print',
  label: t('documents.utility_nav.print.nav_label'),
  options: {tooltip: true},
  wrapper_options: {id: 'utility-nav-print'},
) do %>
  <% fr_utility_nav_box(
    FrBox.build(
      :enhanced_content,
      title: "Enhanced Content - #{t('documents.utility_nav.print.nav_label')}"
    )
  ) do %>
    <ul>
      <li><a href="#print">Print this document</a></li>
    </ul>
  <% end %>
<% end %>
