<%= content_nav_item(type: :enhanced,
  icon: 'book',
  label: t('documents.utility_nav.table_of_contents.nav_label'),
  options: {tooltip: true},
  wrapper_options: {id: 'utility-nav-toc'},
) do %>
  <% fr_utility_nav_box(
    FrBox.build(
      :enhanced_content,
      title: "Enhanced Content - #{t('documents.utility_nav.table_of_contents.nav_label')}"
    )
  ) do %>
    <p>
      This table of contents is a navigational tool, processed from the
      headings within the legal text of Federal Register documents.
      This repetition of headings to form internal navigation links
      has no substantive legal effect.
    </p>

    <% if Settings.app.document_render.from_remote_raw_xml ||
      Settings.app.document_render.from_raw_xml %>
      <%= HtmlCompilator::TableOfContents.compile(document).html_safe %>
    <% elsif Settings.app.document_render.from_remote %>
      <%
        url, path = document.body_html_url.split('full_text/')
        url = "#{url}table_of_contents/#{path}"
        content = begin
          HTTParty.get(url)
        rescue SocketError
          ""
        end
      %>
      <%= content.html_safe %>
    <% else %>
      <%= esi document_table_of_contents_path(document) %>
    <% end %>
  <% end %>
<% end %>
