@import "library/colors";

%bordered {
  border-bottom:1px solid $fr-gray-20;
  border-top: 1px solid $fr-gray-20;
  margin-top: 5px;
  padding: 3px 5px;
}

#main-content {
  overflow: hidden;
  width: 680px;

  .intro {
    padding-bottom: 20px;

    .comment_tracking_number {
      background-color: $fr-gray-5;
      border-radius: 6px;
      border: 1px $fr-gray-20 solid;
      font-size: 18px;
      padding: 10px;
      text-align: center;

      .tracking_number {
        font-family: courier;
        word-wrap: break-word;
      }
    }
  }

  .document_title a {
    color: $fr-blue;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
  }

  .agency {
    @extend %bordered;
  }

  dl {
    margin-bottom: 10px;
    overflow: hidden;

    dt {
      clear: both;
      float: left;
      font-weight: bold;
      width: 200px;
    }
    dd {
      float: left;
      width: 400px;
    }
  }

  .disclaimer {
    font-size: 0.9em;
    font-style: italic;
    margin-top: 35px;
    text-align: center;
  }
}
