@import "library/colors.scss";


/* Client-specific Styles */
#outlook a {padding:0;} /* Force Outlook to provide a "view in browser" button. */
body {width:100% !important;} .ReadMsgBody{width:100%;} .ExternalClass{width:100%;} /* Force Hotmail to display emails at full width */
body {-webkit-text-size-adjust:none;} /* Prevent Webkit platforms from changing default text sizes. */

/* Reset Styles */
body {margin:0; padding:0;}
img {border:0; height:auto; line-height:100%; outline:none; text-decoration:none;}
table td {border-collapse:collapse;}
#backgroundTable {height:100% !important; margin:0; padding:0; width:100% !important;}

/* Template Styles */

/* /\/\/\/\/\/\/\/\/\/\ STANDARD STYLING: COMMON PAGE ELEMENTS /\/\/\/\/\/\/\/\/\/\ */

body, #backgroundTable { background-color: $fr-gray-5; }

#templateContainer { border: 1px solid $fr-gray-20; }

h1, .h1{
  color:#202020;
  display:block;
  font-family:Arial;
  font-size:26px;
  font-weight:bold;
  line-height:100%;
  margin-top:0;
  margin-right:0;
  margin-bottom:10px;
  margin-left:0;
  text-align:left;
  }

h2, .h2{
  color:#202020;
  display:block;
  font-family:Arial;
  font-size:24px;
  font-weight:bold;
  line-height:100%;
  margin-top:0;
  margin-right:0;
  margin-bottom:10px;
  margin-left:0;
  text-align:left;
  }

h3, .h3{
  color:#202020;
  display:block;
  font-family:Arial;
  font-size:22px;
  font-weight:bold;
  line-height:100%;
  margin-top:0;
  margin-right:0;
  margin-bottom:10px;
  margin-left:0;
  text-align:left;
  }

h4, .h4{
  color:#808080;
  display:block;
  font-family:Arial;
  font-size:20px;
  font-weight:bold;
  line-height:100%;
  margin-top:0;
  margin-right:0;
  margin-bottom:10px;
  margin-left:0;
  text-align:left;
  }
.float_left { float: left; }
.clear_both { clear: both; }

/* used for creating a better preview in the subject line in clients like Gmail */
.subject_teaser { 
  display: none;
  color:  $fr-gray-5;
}

/* /\/\/\/\/\/\/\/\/\/\ STANDARD STYLING: PREHEADER /\/\/\/\/\/\/\/\/\/\ */

#templatePreheader { background-color:#FAFAFA; }

.preheaderContent div{
  color:#505050;
  font-family:Arial;
  font-size:10px;
  line-height:100%;
  text-align:left;
  }

.preheaderContent div a:link, .preheaderContent div a:visited, /* Yahoo! Mail Override */ .preheaderContent div a .yshortcuts /* Yahoo! Mail Override */{
  color:#336699;
  font-weight:normal;
  text-decoration:underline;
  }



/* /\/\/\/\/\/\/\/\/\/\ STANDARD STYLING: HEADER /\/\/\/\/\/\/\/\/\/\ */

#templateHeader{
  background-color:#FFFFFF;
  border-bottom:0;
  }

.headerContent{
  color:#202020;
  font-family:Arial;
  font-size:34px;
  font-weight:bold;
  line-height:100%;
  padding:0;
  text-align:center;
  vertical-align:middle;
  }

.headerContent a:link, .headerContent a:visited,
/* Yahoo! Mail Override */ .headerContent a .yshortcuts /* Yahoo! Mail Override */ {
  color:#336699;
  font-weight:normal;
  text-decoration:underline;
  }

#headerImage{
  height:auto;
  width:700px;
  }

/* /\/\/\/\/\/\/\/\/\/\ STANDARD STYLING: MAIN BODY /\/\/\/\/\/\/\/\/\/\ */

#templateContainer, .bodyContent { background-color:#FFFFFF; }

.bodyContent div{
  color:#505050;
  font-family:Arial;
  font-size:14px;
  line-height:150%;
  text-align:left;
  }

.bodyContent {
  #main-content { padding-bottom: 10px; }
  #main-content.two_col_1_2 { border-bottom: 1px solid #CCC }
}

.bodyContent div a:link, .bodyContent div a:visited, 
/* Yahoo! Mail Override */ .bodyContent div a .yshortcuts /* Yahoo! Mail Override */ {
  color:#336699;
  font-weight:normal;
  text-decoration:underline;
  }

.bodyContent img{
  display:inline;
  height:auto;
  }

/* /\/\/\/\/\/\/\/\/\/\ STANDARD STYLING: FOOTER /\/\/\/\/\/\/\/\/\/\ */

#templateFooter{
  background-color:#FFFFFF;
  border-top:0;
  }

.footerContent div{
  color:#707070;
  font-family:Arial;
  font-size:12px;
  line-height:125%;
  text-align:left;
  border-top: 1px solid #CCC;
  padding-top: 0;
  }

.footerContent div a:link, 
.footerContent div a:visited, 
/* Yahoo! Mail Override */ .footerContent div a .yshortcuts /* Yahoo! Mail Override */ {
  color:#336699;
  font-weight:normal;
  text-decoration:underline;
  }

.footerContent img { display:inline; }

#social div {
  background-color:#F9F9F9;
  padding: 10px;
  border: 0;
  font-size: 13px;
  }

#social div, 
#utility div,
#unsubscribe { text-align:center; }

#utility{
  background-color:#FFFFFF;
  border:0;

  div.utility_links { padding-top: 20px; }
  }

#disclaimer {
  h3 {
    color: $fr-gray-40;
    font-size: 13px;
    margin: 20px 0 0 0;
  }

  p {
    color: $fr-gray-30;
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size:10px;
  }
}

.notification_disclaimer {
  margin-top: 20px;
  color: $fr-gray-40;
  font-size: 11px;
  text-align: center;
}
