@import "library/colors.scss";


/* /\/\/\/\/\/\/\/\/\/\ STANDARD STYLING: COLUMNS; LEFT, RIGHT /\/\/\/\/\/\/\/\/\/\ */
.columnContentHeader { width: 320px; }
.columnContent {
  .leftColumnContent,
  .rightColumnContent { background-color:#FFFFFF; }

  table.column.left {
    border-right: 1px solid #CCC;
    margin: 0 0 20px 20px;
    padding-right: 15px;
  }
  table.column {
    width: 320px;

    p.column_content {
      padding: 20px;
      padding-top: 10px;
    }
  }

  table.header { height: 60px; }

  div {
    color:#505050;
    font-family:Arial;
    font-size:14px;
    line-height:150%;
    text-align:left;
  }

  img {
    display:inline;
    height: 40px;
    width: 40px;
    vertical-align: middle;
    padding-left: 30px;
  }

  h4 {
    font-size: 20px;
    width: 230px;
    text-align: left;
    padding-left: 7px;
    padding-top: 5px;
    vertical-align: middle;
    color: $green;
    margin: 0;
    }


  p span.strong {
    font-weight: bold;
    color: #444;
  }
}




.leftColumnContent div a:link, .leftColumnContent div a:visited,
/* Yahoo! Mail Override */ .leftColumnContent div a .yshortcuts /* Yahoo! Mail Override */ {
  color:#336699;
  font-weight:normal;
  text-decoration:underline;
  }

.rightColumnContent div a:link, .rightColumnContent div a:visited,
/* Yahoo! Mail Override */ .rightColumnContent div a .yshortcuts /* Yahoo! Mail Override */ {
  color:#336699;
  font-weight:normal;
  text-decoration:underline;
  }
