<div class="suggestion matching-citation">
  <%= fr_icon 'link' %>

  <div class="suggestion-content">
    <p>
      It looks like you were searching for the Code of Federal Regulations
      citation: <span class="term"><%= cfr.name %></span>
    </p>

    <div class="matching-citation-links">
      <p>
        The Code of Federal Regulations can be found at the following:
      </p>

      <ul class="bullets">
        <li>
          <%= link_to 'eCFR',
            Hyperlinker::Citation.ecfr_url(cfr.title, cfr.part) %>
        </li>
      </ul>
    </div>
  </div>
</div>
