<li class="result_item">
  <h4>
    <%= link_to sanitize(document.title, tags: %w(span), attributes: %w(class)),
      document_issue_path(document) %>
  </h4>

  <% if document.abstract %>
    <div class="result_info">
      <span class="excerpts">
        <%= truncate_words(document.abstract, :length => 200) %>
      </span>
    </div>
  <% end %>

  <ul class="metadata">
    <li>
      <%= document.metadata_description %>
    </li>
    <li>
      <%= pluralize(document.pages, "Page") %>
    </li>
  </ul>
</li>
