<div class="suggestion matching-citation">
  <%= fr_icon 'documents' %>

  <div class="suggestion-content">
    <p>
      It looks like you were searching for the document number
      <span class="term"<%= document_number.document_number %></span>.
    </p>

    <div class="matching-citation-documents">
      <ul>
        <%= render partial: 'search/documents/suggestions/citation_result',
          locals: {
            document: DocumentDecorator.decorate(document_number.document),
            page: nil
          } %>
      </ul>
    </div>
  </div>
</div>
