<div class="suggestion">
  <p>
    Did you mean the
    <%= link_to(pluralize(search_refinement.count, "document"), documents_search_path(:conditions => search_refinement.search_conditions)) %>
    <%= search_refinement.search_summary.html_safe %>
  </p>
</div>
