<div id="carousel-elements" class="row">
  <div class="home-section-preview">
    <div class="col-xs-2 col-md-2 home-section-preview-nav">
      <%= render  partial: 'sections/carousel/nav' %>
    </div>

    <div class="col-xs-10 col-md-10">
      <% @presenters.each do |presenter| %>
        <%= render  partial: 'sections/carousel/content',
              locals: {presenter: presenter} %>
      <% end %>
    </div>
  </div>
</div>
