---
http_interactions:
- request:
    method: get
    uri: http://api.data.gov/regulations/v3/document.json?federalRegisterNumber=2014-01832&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
      surrogate-control:
      - max-age=36867
      x-ratelimit-limit:
      - '10000'
      x-ratelimit-remaining:
      - '9414'
    body:
      encoding: US-ASCII
      string: ! '{"allowLateComment":false,"commentDueDate":null,"commentStartDate":"2014-01-31T00:00:00-05:00","fileFormats":["https://api.data.gov/regulations/v3/download?documentId=FAA-2013-0611-0005&contentType=pdf","https://api.data.gov/regulations/v3/download?documentId=FAA-2013-0611-0005&contentType=html"],"openForComment":false,"postedDate":"2014-01-31T00:00:00-05:00","receivedDate":"2014-01-31T00:00:00-05:00","status":"Posted","topics":["Air
        Transportation","Aircraft","Aviation Safety","Incorporation by Reference","Safety"],"docketTitle":{"label":"Docket
        Title","value":"2013-CE-019-AD"},"pageCount":{"label":"Page Count","value":"3"},"documentType":{"label":"Document
        Type","value":"Rule"},"docketType":{"label":"Docket Type","value":"Rulemaking"},"docSubType":{"label":"Document
        SubType","value":"Final Rule"},"federalRegisterNumber":{"label":"Federal Register
        Number","value":"2014-01832"},"attachmentCount":{"label":"Attachment Count","value":"0"},"agencyName":{"label":"Agency
        Name","value":"Federal Aviation Administration"},"rin":{"label":"RIN","value":"Not
        Assigned"},"title":{"label":"Document Title","value":"Airworthiness Directives:
        Beechcraft Corporation Airplanes"},"startEndPage":{"label":"Start End Page","value":"5254
        - 5256"},"docketId":{"label":"Docket ID","value":"FAA-2013-0611"},"documentId":{"label":"Document
        ID","value":"FAA-2013-0611-0005"},"numItemsRecieved":{"label":"Number of Comments
        Received","value":"0"},"cfrPart":{"label":"CFR Part","value":"14 CFR Part
        39"},"agencyAcronym":{"label":"Agency","value":"FAA"}}'
  recorded_at: Wed, 04 Jun 2014 17:45:32 GMT
- request:
    method: get
    uri: http://api.data.gov/TEST/regulations/v3/document.json?federalRegisterNumber=2014-01832&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-ratelimit-limit:
      - '10000'
      x-ratelimit-remaining:
      - '9411'
    body:
      encoding: US-ASCII
      string: ! '{"allowLateComment":false,"[...]
[...]
