// base
$white: #FFFFFF;
$black: #000000;

// gray percentages
$gray-90: #191919;
$gray-80: #333333;
$gray-70: #4C4C4C;
$gray-60: #666666;
$gray-50: #7F7F7F;
$gray-40: #999999;
$gray-30: #B2B2B2;
$gray-20: #D1D2D4;
$gray-15: #D8D8D8;
$gray-10: #ECECEC;
$gray-5: #F1F1F1;
$gray-2: #F9F9F9;

// application
$blue:      #5697CF;
$dark-blue: #3f5b75;

$bright-orange: #F77825; // menu and subscription icons
$orange:        #B88659;
$dark-orange:   #88603A; // text/link hover states
$nav-orange:    #e4a529;

$green:       #7aa13d;
$light-green: #D7E5C2;

$red:       #8A3737;
$light-red: #EDD3D3;
$dark-red: darken($red, 10);

$golden:       #c09853;
$yellow:       #fbeed5;
$light-yellow: #fcf8e3;
$highlight-yellow: $light-yellow;

$link: #428BCA;
$link-dark: darken($link, 12);

$med-gray:  $gray-40;
$dark-gray: $gray-80;

$fr-background-seal: $gray-10;

$search-form-label-text: $gray-80;
