.with-icon-header {
  padding-left: 40px !important;
}

h3 {
  &.with-icon {
    margin-top: 0 !important;
    margin-bottom: 10px;
    color: $text !important;
    border-bottom: 2px solid $text;

    [class^="icon-fr2-"],
    [class*=" icon-fr2-"] {
      font-size: 32px;
      margin-left: -38px;
      top: 7px;
      position: relative;
    }
  }
}

h4 {
  &.with-icon {
    margin-top:0 !important;
    margin-bottom: 10px;
    color: $text !important;
    text-transform: uppercase;
    border-bottom: 2px solid $text;

    .icon-fr2 {
      font-size: 32px;
      margin-left: -43px;
      top: 7px;
      position: relative;
      margin-right: 5px;
    }

    &.lowercase {
      font-size: 17px;
      text-transform: none;

      .icon-fr2 {
        font-size: 28px;
        margin-left: -39px;
      }
    }

    a.more-details {
      float: right;
      font-weight: normal;
      font-size: 13px !important;
      position: relative;
      top: 15px;
      margin-right: 5px;
    }
  }
}

h5 {
  &.underlined {
    margin-top: 3px !important;
    border-bottom: 1px solid $text;
  }
}
