.bootstrap-scope {
  .wrapper {
    margin: 0;
    padding: 0;

    .container.fixed {
      width: 970px !important;
      max-width: none !important;
    }
  }
}

// Some MyFR pages need a fixed layout specification to prevent bleeding off the page
#main.fixed-width-layout {
  margin: auto !important;
  width: 970px !important;
}
