.bootstrap-scope {
  .wrapper {
    margin: 0;
    padding: 0;

    .container.fixed {
      @media only screen and (max-width: #{$small-viewport-width}) {
        width: auto !important;
      }

      @media only screen and (min-width: $small-viewport-width) {
        width: 970px !important;
      }
    }

  }
}
