.wrapper {
  margin: 0;
  padding: 0;

  .container.fixed {
    width: 960px !important;
  }
  .fr-1-3 {
    width:33.333333%;
    float: left;

    &.boxed {
      width: 28.5%;
    }
  }
  .fr-2-3 {
    width:63.6666666667%;
    float: left;

    &.boxed {
      width: 64%;
      padding-left: 30px;
    }
  }
  .fr-push {
    position: relative;
    left: 3%;

    &.boxed {
      left: 7.3%;
    }
  }
}
