.fr-list-header {
  border-bottom: 1px solid $fr-gray-20;
}

.fr-list {
  font-size: modular-scale(0);
  list-style-type: none;
  overflow: hidden;

  li a.active {
    color: $color-reader-aid;
    font-weight: bold;
  }

  &.fr-list-inline {
    lh,
    dt,
    dd {
      float: left;
    }

    lh,
    dt {
      clear: both;
    }

    dt { width: 25%; }
    dd { width: 75%; }
  }

  &.with-bullets {
    @include custom-bullets($fr-gray-30, "19px");
    @include custom-bullets($fr-gray-30, "19px", "dd");

    &.reader-aids {
      @include custom-bullets($color-reader-aid, "19px");
      @include custom-bullets($color-reader-aid, "19px", "dd");
    }

    &.enhanced {
      @include custom-bullets($color-enhanced, "19px");
      @include custom-bullets($color-enhanced, "19px", "dd");
    }
  }

  &.two-col {
    float: left;
    padding-right: 5px;
    width: 50%;
  }

  &.with-stats {
    clear: both;

    ul {
      border:0;
      margin-bottom: 4px;
      margin-left: 15px;
    }

    li {
      color: $fr-gray-40;
      font-size: modular-scale(-1);
      font-weight: normal;
      line-height: 17px;
      margin: 0;
      padding: 0;
      width: 100%;
    }

    span.rule_type {
      color: $fr-blue;
      float: left;
      font-size: 18px;
      margin-right: 10px;
      position: relative;
      top: 0px;
    }

    .fr-link {
      float: left;
      font-size: modular-scale(0);
      width: 90%;
    }

    ul.fr-link-stats {
      clear: both;
      color: $fr-gray-30 !important;
      display:block;
      margin: 0 0 5px 50px;
      overflow: hidden;

      .icon-fr2 {
        color: inherit;
        font-size: modular-scale(0);
        margin: 0 5px 0 0;
        position: relative;
        top: 2px;
      }

      li {
        float: left;
        list-style-type: none;
        padding-bottom: 5px;
        vertical-align: middle;
        width: 14%;
      }

      span {
        font-size: modular-scale(0);
      }
    }
  }

  .fr-link {
    display: inline-block;
    line-height: 18px;
  }
}
