// FR Boxes
$color-inactive:                    $gray-60;
$color-inactive-light:              $gray-5;

$color-official:                    #5797CE;
$color-official-light:              #f7fafb;
$color-official-light-alt:          #e5f1f8;

$color-enhanced:                    darken(#A8BF82, 10);
$color-enhanced-mid:                #C8D8B2;
$color-enhanced-light:              lighten(#E9EDE6, 3);
// use only for green text on light green bg -- eg hover states
$color-enhanced-dark: darken($color-enhanced, 20);

$color-public-inspection:           #803333;
$color-public-inspection-light:     #fbf2f5;
$color-public-inspection-light-alt: lighten(#EBD1D1, 6);
$color-public-inspection-dark:      darken($color-public-inspection, 10);

$color-reader-aid:                  #b462a2;
$color-reader-aid-med:              #fbdfeb;
$color-reader-aid-light:            #faf0f4;
$color-reader-aid-link:             #914682;

$color-published:                   $gray-60;
$color-published-light:             $gray-2;
$color-published-light-alt:         darken($gray-10, 1);

$public-inspection-fr-stamp: $color-public-inspection-light;


// FR Box Utility Nav
$utility-nav:                         $gray-60;
$utility-nav-background:              $gray-10;
$utility-nav-hover-background:        $color-published-light;
$utility-nav-hover-background-light:  #EFEFEF;
$utility-nav-divider-color:           $gray-30;

$utility-nav-pi-hover-background: $color-public-inspection-light-alt;


/* navigation */
$nav-background-color: #FEFEFE;
$nav-border-color: #CECECE;

/* BASICS */

/* links */
$link: $link-dark;
$link-hover: $dark-orange;
$link-visited: $link-dark;

$current-issue-link: darken($color-enhanced, 25);
$current-issue-link-hover: darken($current-issue-link, 15);

$public-inspection-link: $color-public-inspection;
$public-inspection-link-hover: darken($public-inspection-link, 20);

/* text */
$text-inactive: $med-gray;
$text-light: $gray-60;
$text: $dark-gray;
$header: $dark-gray;


// bootstrap background colors
$success-green: #dff0d8;
$danger-red: #f2dede;
$warning-yellow: #fcf8e3;
$info-blue: #d9edf7;
$active-gray: #f5f5f5;

// success modified to match our enhanced colors
$alert-success-text:   $color-enhanced-dark !default;
$alert-success-bg:     $color-enhanced-light !default;
$alert-success-border: $color-enhanced-mid !default;

$alert-info-text:      #31708f !default;
$alert-info-bg:        #d9edf7 !default;
$alert-info-border:    darken(adjust-hue($alert-info-bg, -10), 7%) !default;

$alert-warning-text:   #8a6d3b !default;
$alert-warning-bg:     #fcf8e3 !default;
$alert-warning-border: darken(adjust-hue($alert-warning-bg, -10), 5%) !default;

$alert-danger-text:    #a94442 !default;
$alert-danger-bg:      #f2dede !default;
$alert-danger-border:  darken(adjust-hue($alert-danger-bg, -10), 5%) !default;

// content notification colors
// most use bootstrap default colors
$feature-color: #70418a;
