table {
  &.fr-table {
    margin: 30px 0;
    font-size: modular-scale(0);

    tr td {
      padding: 5px 0px;
    }

    thead {
      margin-bottom: 10px;

      th { border-bottom: 2px solid $fr-gray-50; }
    }

    tbody {
      tr {
        &:hover { background-color: $fr-gray-5; }

        td { border-bottom: 1px solid $fr-gray-10; }
      }
    }

    td, th {
      padding:0 10px;
      text-align: left;

      &:first-child { padding-right: 0; }
    }

    td.count_7_days,
    td.comments_recently_opened,
    td.comments_closing_soon {
      padding-right: 13px !important;
      text-align: right;
    }

    .fr-table-form {
      margin-bottom: 10px;
    }

    .icon-fr2 { font-size: 18px; }

    .icon-fr2-Refresh-7 { color: $fr-gray-40; }
    .recently_opened .icon-fr2-Chat { color: $fr-light-green; }
    .closing_soon .icon-fr2-Chat { color: $fr-red; }
  }
}
