a.link { text-decoration: underline !important; }

[unselectable="on"] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;

  /* Introduced in IE 10. See http://ie.microsoft.com/testdrive/HTML5/msUserSelect */
  -ms-user-select: none;
  user-select: none;
}

.invisible {
  visibility: hidden !important;
}

.visible {
  visibility: visible !important;
}
