<div class="col-xs-6 col-md-6 with-icon-header">
  <%= facet_explorer(
      header: {icon: "icon-fr2-Network-alt", title: "Explore Agencies"},
      search: {url: agencies_path, placeholder: "Go to a specific agency"},
      table: {
        items: @presenter.agencies_for_exploration,
        header_count_width: '5%',
        utm_source: 'homepage',
        utm_medium: 'explore',
        utm_content_type: 'agencies'
      }
    ) %>
</div>
