<div class="with-icon-header" style="grid-area: explore-agencies;">
  <%= facet_explorer(
      header: {icon: "icon-fr2-Network-alt", title: "Explore Agencies"},
      search: {
        url: agencies_path,
        placeholder: "Go to a specific agency",
        endpoint: "/agencies/suggestions?term="
      },
      table: {
        items: @presenter.agencies_for_exploration,
        header_count_width: '5%',
        utm_source: 'homepage',
        utm_medium: 'explore',
        utm_content_type: 'agencies'
      }
    ) %>
</div>
