---
http_interactions:
- request:
    method: get
    uri: https://fr-official.criticaljuncture.org/api/v1/documents/2016-04047,2016-03956,2016-04244.json?fields[]=document_number&fields[]=agencies
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      etag:
      - ! '"dc695daeaa41f3eda3f914ee7a12ca9b" abgroup=1'
    body:
      encoding: US-ASCII
      string: ! '{"count":3,"results":[{"document_number":"2016-03956","agencies":[{"raw_name":"DEPARTMENT
        OF AGRICULTURE","name":"Agriculture Department","id":12,"url":"https://fr-official.criticaljuncture.org/agencies/agriculture-department","json_url":"https://fr-official.criticaljuncture.org/api/v1/agencies/12.json","parent_id":null,"slug":"agriculture-department"},{"raw_name":"Agricultural
        Marketing Service","name":"Agricultural Marketing Service","id":9,"url":"https://fr-official.criticaljuncture.org/agencies/agricultural-marketing-service","json_url":"https://fr-official.criticaljuncture.org/api/v1/agencies/9.json","parent_id":12,"slug":"agricultural-marketing-service"}]},{"document_number":"2016-04047","agencies":[{"raw_name":"DEPARTMENT
        OF AGRICULTURE","name":"Agriculture Department","id":12,"url":"https://fr-[...]
- request:
    method: get
    uri: https://fr-official.criticaljuncture.org/document_issues/json/2016/02/29.json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      last-modified:
      - Mon, 30 May 2016 04:30:13 GMT
    body:
      encoding: US-ASCII
      string: ! '{"agencies":[{"name":"Agricultural Marketing Service","slug":"agricultural-marketing-service","url":"http://www.ams.usda.gov","document_categories":[{"type":"Rule","documents":[{"subject_1":"Livestock
        Mandatory Reporting:","subject_2":"Lamb Reporting Requirements","document_numbers":["2016-04047"]}]},{"type":"Proposed
        Rule","documents":[{"subject_1":"Reauthorization of Livestock Mandatory Reporting
        and Revision of Swine and Lamb Reporting Requirements","document_numbers":["2016-03956"]},{"subject_1":"Secretary''s
        Decision and Referendum Order on Proposed Marketing Agreement and Order No.
        986:","subject_2":"Pecans Grown in the States of Alabama, Arkansas, Arizona,
        California, Florida, Georgia, Kansas, Louisiana, Missouri, Mississippi, North
        Carolina, New Mexico, Oklahoma, South Carolina, and Texas","document_numbers":["2016-04043"]}]},{"type":"Notice","documents":[{"subject_1":"Agency
        Information Collection Activities; Proposals, Submissions, and Approvals:","subject_2":"Commodities
        Covered by the Livestock Mandatory Reporting Act","document_numbers":["2016-04045"]}]}]},{"name":"Agriculture
        Department","slug":"agriculture-department","url":"http://www.usda.gov/wps/portal/usda/usdahome","see_also":[{"name":"Agricultural
        Marketing Service","slug":"agricultural-marketing-service"},{"name":"Animal
        and Plant Health Inspection Service","slug":"animal-and-plant-health-inspection-service"},{"name":"Farm
        Service Agency","slug":"farm-service-agency"},{"name":"Food and Nutrition
        Service","slug":"food-and-nutrition-service"},{"name":"Forest Service","slug":"forest-service"},{"name":"National
        Institute of Food and Agriculture","slug":"national-institute-of-food[...]
- request:
    method: get
    uri: https://www.federalregister.gov/api/v1/documents/2016-04047,2016-03956,2016-04244.json?fields[]=document_number&fields[]=agencies
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      etag:
      - ! '"52e0c9dfada2b2d9bfef247fc1508338" abgroup=1'
    body:
      encoding: US-ASCII
  [...]
