<div class="section">
  <%= render partial: 'header', locals: {title: title, icon_class: icon_class, show_view_all: show_view_all} %>
  <div class="row">
    <% group_items(items, 6).each do |group| %>
      <div class="col-xs-6 col-md-6 <%= items.first == group.first ? "alpha" : "omega" %>">
        <ul class="fr-list">
          <% group.each do |item| %>
            <li>
              <h5><%= link_to item.title, item.link %></h5>
              <p>
                <%= item.excerpt.truncate(233) %>
              </p>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>
