<div class="section">
  <%= render partial: 'header', locals: {title: title, icon_class: icon_class, show_view_all: show_view_all} %>
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <ul class="fr-list">
        <% items.each do |item| %>
          <li>
            <h5><a href="">New Federal Register Index</a></h5>
            <p>
              The Office of the Federal Register is proud to introduce a completely re-engineered Federal Register Index.  It is available as a traditional printed product, but also as a currently updated online service...
            </p>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
