.fr-box-published .content-block,
.fr-box-official .content-block {
  h3.cfr-subjects { margin-left: 25px; }

  #addresses:target {
    background-color: $color-enhanced-light;
    transition: background-color 1.5s ease-in;
  }

  p {
    &.flush-paragraph {
      padding-bottom: 0;

      &.flush-paragraph-1 {
        margin-left: 1em !important;
        padding-left: 1em;
        text-indent: -1.15em;
      }

      &.flush-paragraph-2 {
        margin-left: 2em !important;
        padding-left: 2.5em;
        text-indent: -2.5em;
      }

      &.flush-paragraph-1-2 {
        margin-left: 2em !important;
        padding-left: 1.15em;
        text-indent: -1.15em;
      }

      &.flush-left { text-indent: 0; }

      &.flush-paragraph-dash {
        &:after {
          content: "_____________________________________________________________";
        }

        &.flush-paragraph-no-wrap { white-space: nowrap; }
      }
    }

    &:target,&.highlight {
      background-color: $color-enhanced-light;
      transition: background-color 1.5s ease-in;

      .icon-fr2-link {
        bottom: 5px;
        color: darken($color-enhanced-light, 30);
        position: absolute;
        right: 5px;
      }
    }
  }

  .section p {
    clear: both;
    margin-left: 20px;
    margin-right: 20px;
  }
}
