%fr_header_style {
  word-wrap: break-word;
  margin-top: 0;
  font-size: 18px;
  text-align: left;
}

.fr-box-official .content-block {
  h1 {
    @extend %fr_header_style;

    color: $fr-blue;
    @include apertura-condensed;

    font-weight: bold;
    text-transform: uppercase;
    margin: 0 0 1em;
    padding-top: 0;
  }

  h2 {
    @extend %fr_header_style;

    line-height: 1.5em;
    text-align: left;
  }

  h3 { font-size: 15px; }

  p {
    padding-left: 0;

    color: #363636;
    @include calluna;
    font-size: 1.2em;
    line-height: 1.6em;

    &.flush-paragraph {
      padding-bottom: 0;
      margin-bottom: 0 !important;

      &.flush-paragraph-1 {
        margin-left: 1em !important;
        text-indent: -1.15em;
        padding-left: 1em;
      }

      &.flush-paragraph-2 {
        margin-left: 2em !important;
        text-indent: -2.5em;
        padding-left: 2.5em;
      }

      &.flush-paragraph-1-2 {
        margin-left: 2em !important;
        text-indent: -1.15em;
        padding-left: 1.15em;
      }

      &.flush-paragraph-dash {
        &:after {
          content: "_____________________________________________________________";
        }

        &.flush-paragraph-no-wrap { white-space: nowrap; }
      }
    }
  }
}
