@keyframes fade-target-highlight {
  // delay until 25% of animation time
  0%, 25% {
    background-color: $color-enhanced-light;
  }
  100% {
    background-color: inherit;
  }
}

.fr-box-published .content-block,
.fr-box-official .content-block {
  h3.cfr-subjects { margin-left: 25px; }

  p {
    &.flush-paragraph {
      padding-bottom: 0;

      &.flush-paragraph-1 {
        padding-left: 2em;
        text-indent: -1.15em;
      }

      &.flush-paragraph-2 {
        padding-left: 4.5em;
        text-indent: -2.5em;
      }

      &.flush-paragraph-1-2 {
        padding-left: 3.15em;
        text-indent: -1.15em;
      }

      &.flush-left { text-indent: 0; }

      &.flush-paragraph-dash {
        &:after {
          content: "_____________________________________________________________";
        }

        &.flush-paragraph-no-wrap { white-space: nowrap; }
      }
    }
  }

  div[id], h1, h2, h3, p {
    &:target,
    &.highlight {
      animation: fade-target-highlight 4s;
      border-bottom: 2px solid $color-enhanced;
      border-top: 2px solid $color-enhanced;
      position: relative;

      .icon-fr2-link,
      .svg-icon-link {
        bottom: 5px;
        position: absolute;
        right: 5px;
      }

      .icon-fr2-link { color: $color-enhanced; }

      .svg-icon-link {
        fill: $color-enhanced;
        height: 18px;
        width: 18px;
      }
    }
  }

  h1, h2, h3 {
    &:target,
    &.highlight {
      .icon-fr2-link {
        font-size: 18px;
        left: 5px;
        position: relative;
        top: 2px;
      }
    }
  }

  .printed-page-inline,
  .printed-page-details {
    &.highlight {
      color: $color-enhanced-dark;
      fill: $color-enhanced-dark;
    }
  }

  .section p {
    clear: both;
    margin-left: 20px;
    margin-right: 20px;
  }
}
