


.fr-box-official .content-block {
  h1 { text-transform: uppercase; }

  p {
    &.flush-paragraph {
      padding-bottom: 0;
      margin-bottom: 0 !important;

      &.flush-paragraph-1 {
        margin-left: 1em !important;
        text-indent: -1.15em;
        padding-left: 1em;
      }

      &.flush-paragraph-2 {
        margin-left: 2em !important;
        text-indent: -2.5em;
        padding-left: 2.5em;
      }

      &.flush-paragraph-1-2 {
        margin-left: 2em !important;
        text-indent: -1.15em;
        padding-left: 1.15em;
      }

      &.flush-paragraph-dash {
        &:after {
          content: "_____________________________________________________________";
        }

        &.flush-paragraph-no-wrap { white-space: nowrap; }
      }
    }
  }

  .section p {
    margin-left: 20px;
    margin-right: 20px;
  }
}
