ul.bullets,
ul.subject-list {
  margin-bottom: 30px;
  margin-left: 25px;

  li:before { top: 0px; }

  a {
    color: $fr-link;

    &:hover {
      color: $fr-orange;
      text-decoration: none;
    }
  }
}

.doc.doc-official {
  ul.bullets,
  ul.subject-list {
    @include custom-bullets($color-official);
  }
}

.doc.doc-published {
  ul.bullets,
  ul.subject-list {
    @include custom-bullets($color-published);
  }
}

.doc.doc-public-inspection {
  ul.bullets,
  ul.subject-list {
    @include custom-bullets($color-public-inspection);
  }
}
