ul.bullets,
ul.subject-list {
  margin-bottom: 30px;
  margin-left: 25px;

  @include custom-bullets($color-official);
  li:before { top: 0px; }

  a {
    color: $fr-link;

    &:hover {
      color: $fr-orange;
      text-decoration: none;
    }
  }
}
