/* <NOTE> */
.fr-box-official {
  #fulltext_content_area {
    .note {
      margin: 1.5em 0;
      padding: 10px;
      background-color: #FFFEEC;

      h4 {
        line-height: 24px;
        margin-top: 0;
        margin-bottom: 0.4em;
        padding-left: 20px;
        padding-top: 3px;
        //background: sprite-image('icons/icon_notepad.png', 0, 0, 50px) no-repeat;
      }
    }
  }
}
#entries.show .body_column .note h4 { font-size: 1.4em; }
#fulltext_content_area .note p {
  padding: 0 0 0 20px;
  text-indent: 0;
  width: auto;
  }

/* <PSIG> */
#entries #fulltext_content_area .signature_header {
  padding-left: 20px;
  float: right;
  height: 40px;
  width: 7px;
  //background: sprite-image('icons/icon_pen.png', 0, 1px, 200px) no-repeat;
  }
#entries #fulltext_content_area .signature {
  margin-left: 4px;
  border-left: 4px solid #7B8687;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  width: 430px;
}
#entries #fulltext_content_area .signature p {
  text-indent: 0;
  width: auto;
  padding-top: 2px;
  padding-bottom: 2px;
  }
#entries #fulltext_content_area .signature p.signature_date { 
  padding-top: 0;
  margin-bottom: 10px;
  }
#entries #fulltext_content_area .signature p.name { font-weight: bold; }
#entries #fulltext_content_area .signature p.title { font-style: italic; }
