.doc-content-area {
  .section {
    margin-bottom: 5px;
    margin-top: 20px;
    overflow: hidden;
  }

  p.authority {
    margin-left: 20px;

    .auth-header {
      font-size: modular-scale(-1);
      font-weight: bold;
    }
  }

  .amendment-part {
    clear: both;
    overflow: hidden;
    padding-left: 20px !important;

    .amendment-part-number,
    .amendment-part-subnumber {
      display: inline-block;
      float: left;
      font-size: modular-scale(1);
      font-weight: bold;
      margin-left: -20px;
      position: relative;
      top: -2px;
    }

    .amendment-part-subnumber {
      margin-left: 0;
      padding-right: 5px;
    }
  }
}
