.doc-content-area {
  .section {
    margin-bottom: 5px;
    margin-top: 20px;
    overflow: hidden;
  }

  p.authority {
    margin-left: 20px;

    .auth-header {
      font-size: 14px;
      font-weight: bold;
    }
  }

  .amendment-part {
    clear: both;
    overflow: hidden;

    .amendment-part-number {
      display: inline-block;
      float: left;
      font-size: 18px;
      font-weight: bold;
      position: relative;
      top: -2px;
    }

    .amendment-part-text {
      display: block;
      float: left;
      margin-left: 10px;
      width: 80%;
    }
  }
}
