.fr-box-official {
  #fulltext_content_area {
    div.signature {
      margin-left: 75px;
      margin-bottom: 20px;
      width: 430px;

      p {
        text-indent: 0;
        width: auto;
        padding-top: 2px;
        padding-bottom: 2px;
        margin-bottom: 0;

        &.signature-date {
          padding-top: 0;
          margin-bottom: 10px;
        }

        &.signature-name {
          font-weight: bold;
          padding-bottom: 0;
        }

        &.signature-title {
          font-style: italic;
          padding-top: 0;
        }
      }
    }
  }
}
