/* <PSIG> */
.fr-box-official {
  #fulltext_content_area {
    .signature_header {
      padding-left: 20px;
      float: right;
      height: 40px;
      width: 7px;
      //background: sprite-image('icons/icon_pen.png', 0, 1px, 200px) no-repeat;
    }

    .signature {
      margin-left: 4px;
      border-left: 4px solid #7B8687;
      margin-bottom: 20px;
      padding-left: 10px;
      padding-right: 10px;
      width: 430px;

      p {
        text-indent: 0;
        width: auto;
        padding-top: 2px;
        padding-bottom: 2px;
      }

      p.signature_date {
        padding-top: 0;
        margin-bottom: 10px;
      }
      p.name { font-weight: bold; }
      p.title { font-style: italic; }
    }
  }
}
