.doc-content-area {
  .table-wrapper {
    width: 100%;
    overflow-x: scroll;

    table.wide {
      max-width: initial;
    }
  }

  table {
    display: block;
    padding: 10px;

    th {
      vertical-align: middle;
    }

    th,td {
      padding: 6px;
    }

    .right {
      text-align: right;
    }
    .left {
      text-align: left;
    }
    .center {
      text-align: center;
    }

    $border-color: $dark-grey;

    @each $side in top bottom left right {
      .border-#{$side}-single {
        border-#{$side}: 1px solid $border-color;
      }
      .border-#{$side}-bold {
        border-#{$side}: 2px solid $border-color;
      }
      .border-#{$side}-double {
        border-#{$side}: 4px double $border-color;
      }
    }

    @each $level in 0,1,2,3,4,5,6,7,8,9 {
      .primary-indent-#{$level} {
        padding-left: #{$level * 2}em;
      }
      .primary-indent-hanging-#{$level} {
        padding-left: #{($level * 2) + 1}em;
        text-indent: -1em;
      }
    }
  }
}
