.doc-content-area {
  .table-wrapper {
    overflow-x: visible;
    width: 100%;

    table.wide {
      max-width: initial;
    }
  }

  table {
    display: block;
    margin-bottom: 20px;
    padding: 10px;
    border-collapse: separate;

    caption {
      color: $text;
      margin-bottom: 10px;
      text-align: center;

      p {margin: 0 !important;}
    }

    tfoot {
      font-style: italic;

      tr:first-child td {padding-top: 20px;}
    }

    th {
      vertical-align: middle;
      position: -webkit-sticky;
      position: -moz-sticky;
      position: -ms-sticky;
      position: -o-sticky;
      position: sticky;
      z-index: 1; // Formula superscripts/subscripts appear on top of th's without this.
    }

    th,td {
      padding: 6px;
    }

    tr.page_break { display: none; }

    .right {
      text-align: right;
    }
    .left {
      text-align: left;
    }
    .center {
      text-align: center;
    }

    $border-color: $dark-gray;

    @each $side in top bottom left right {
      .border-#{$side}-single {
        border-#{$side}: 1px solid $border-color;
      }
      .border-#{$side}-bold {
        border-#{$side}: 2px solid $border-color;
      }
      .border-#{$side}-double {
        border-#{$side}: 4px double $border-color;
      }
    }

    @each $level in 0,1,2,3,4,5,6,7,8,9 {
      .primary-indent-#{$level} {
        padding-left: #{$level * 2}em;
      }
      .primary-indent-hanging-#{$level} {
        padding-left: #{($level * 2) + 1}em;
        text-indent: -1em;
      }
    }
  }
}
