.unprinted-element-wrapper {
  display:none;

  /* printed page is always displayed but only in icon form */
  &.printed-page-wrapper {
    display: inline;
    color: $fr-gray-40;
  }

  .icon-fr2 {
    font-size: 12px;
    display: inline-block;
    margin: 0 5px;
  }

  /* for when we display these 'unprinted' items */
  &.blocked {
    display: block;
    color: $color-enhanced-dark;
    margin: 15px auto;
    width: 584px;


    /* override color here as these elements were present in the published
       document even if they weren't 'printed' */
    &.printed-page-wrapper { color: $fr-gray-40; }

    .unprinted-element-border {
      border-bottom: 1px solid $color-enhanced-dark;
      width: 37%;
      display: inline-block;
    }

    /* customizing border widths as needed */
    &.printed-page-wrapper .unprinted-element-border {
      width: 35%;
    }

    &.supplemental-info-wrapper {
      .unprinted-element-border { width: 32%; }
      .unprinted-element { width: 200px; }
    }

    &.part-wrapper {
      .unprinted-element-border { width: 42%; }
      .unprinted-element { width: 75px; }
    }

    &.amend-part-wrapper {
      .unprinted-element-border { width: 36%; }
      .unprinted-element { width: 150px; }
    }

    &.further-info-wrapper {
      .unprinted-element-border { width: 38%; }
      .unprinted-element { width: 130px; }
    }

    &.list-of-subject-wrapper {
      .unprinted-element { width: 141px; }
    }

    &.signature-wrapper {
      .unprinted-element-border { width: 39%; }
      .unprinted-element { width: 110px; }
    }

    &.preamble-wrapper,
    &.appendix-wrapper,
    &.subpart-wrapper,
    &.authority-wrapper {
      .unprinted-element-border { width: 40%; }
    }

    &.preamble-wrapper,
    &.appendix-wrapper {
      .unprinted-element { width: 106px; }
    }

    &.subpart-wrapper,
    &.authority-wrapper {
      .unprinted-element { width: 100px; }
    }
    /* end border width customization */

    .unprinted-element {
      top: 4px;
    }
  }
}
