$unprinted-element-color: $color-enhanced-dark;

.unprinted-element-wrapper {
  display: none;
  position: relative;

  // printed page is always displayed but only in icon form
  &.printed-page-wrapper {
    display: inline;
  }

  .icon-fr2 {
    display: inline-block;
    font-size: 12px;
    margin: 0 5px;
  }

  // for when we display these 'unprinted' items
  &.blocked {
    color: $unprinted-element-color;
    display: block;
    margin: 20px 0 10px;

    &.content-wrap { width: 578px; }

    .unprinted-element-border {
      border-bottom: 1px solid $unprinted-element-color;
      position: absolute;
      top: 0;
      width: 100%;
    }

    .unprinted-element {
      display: block;
      margin: 0 auto;
      position: relative;
      top: -6px;
      z-index: 100;
    }

    &.printed-page-wrapper      .unprinted-element { width: 180px; }
    &.supplemental-info-wrapper .unprinted-element { width: 208px; }
    &.part-wrapper              .unprinted-element { width:  75px; }
    &.amend-part-wrapper        .unprinted-element { width: 150px; }
    &.further-info-wrapper      .unprinted-element { width: 125px; }
    &.list-of-subjects-wrapper  .unprinted-element { width: 140px; }
    &.signature-wrapper         .unprinted-element { width: 113px; }
    &.preamble-wrapper          .unprinted-element { width: 113px; }
    &.appendix-wrapper          .unprinted-element { width: 113px; }
    &.subpart-wrapper           .unprinted-element { width: 113px; }
    &.authority-wrapper         .unprinted-element { width: 113px; }
  }
}



// Only set colors for elements that change based on document status,
// set other colors above.

@mixin unprinted_element_colors($printed-page-color, $unprinted-element-background-color) {
  .unprinted-element-wrapper {
    &.printed-page-wrapper { color: $printed-page-color; }

    &.blocked {
      // override color here as the print elements were present in the published
      // document even if they weren't 'printed'
      &.printed-page-wrapper {
        color: $printed-page-color;
        .unprinted-element-border { border-color: $printed-page-color; }
      }

      .unprinted-element { background-color: $unprinted-element-background-color; }
    }
  }
}

&.doc-official {
  @include unprinted_element_colors($color-official, $color-official-light);
}

&.doc-published {
  @include unprinted_element_colors($color-published, $color-published-light);
}
