// intentional non-use of modular scale, need a font between -1 and 0
// -1 is too small but need something smaller than body font so that
// it's not competing visually
$non-printed-text-font-size: 15px;

.doc-content .content-block p { position: relative; }

.expand-table-positioning-wrapper {
  position: absolute;
  left: -40px;
  margin-top: 25px;
}

.expand-table-link {
  color: $gray-50;
  cursor: pointer;
  fill: $gray-50;

  overflow: auto;
  display: inline-block;

  &.ui.sticky.bound.bottom {
    bottom: 80px;
  }

  &:hover,
  .hover {
    color: $color-enhanced-dark;
    fill: $color-enhanced-dark;
  }

  .svg-tooltip {
    display: inline-block;
    height: 77px;
  }

  .svg-icon {
    height: 30px;
    width: 30px;
    position: relative;
  }

  .text {
    display: block;
    font-size: $non-printed-text-font-size;
    text-align: center;
    width: 70px;
  }

  .tooltip {
    width: 150px;
  }
}

// Only set colors for elements that change based on document status,
// set other colors above.
@mixin unprinted_element_colors($printed-page-color) {
  .printed-page-inline,
  .printed-page-details {
    color: $printed-page-color;
    fill: $printed-page-color;

    &.hover,
    &:hover {
      color: $text;
      fill: $text;
    }
  }
}

&.doc-official {
  @include unprinted_element_colors($color-official);
}

&.doc-published {
  @include unprinted_element_colors($color-published);
}


.printed-page-inline {
  display: inline-block;
  max-width: fit-content;
}

// most page breaks occur within paragraphs but some appear in between or after
// other specific items - these need some style adjustments to appear the same
div.list-of-subjects,
div.table-wrapper,
p,
ul {
  &+ .printed-page-inline {
    display: block;
    margin-bottom: 35px;
    margin-top: 15px;
    max-width: fit-content;
  }

  &+ .printed-page-inline + .printed-page-details {
    left: -40px;
    margin-top: -60px;
  }
}

li {
  &> .printed-page-inline {
    display: inline;
  }

  &> .printed-page-inline + .printed-page-details {
    left: -45px;
    margin-top: -4px;
  }
}

div.preamble {
  &> .printed-page-inline {
    display: block;
    margin-bottom: 35px;
    margin-top: 15px;
    max-width: fit-content;
  }

  &> .printed-page-inline + .printed-page-details {
    left: -40px;
    margin-top: -60px;
  }
}

div#action {
  &> .printed-page-inline {
    display: block;
    margin-bottom: 25px;
    margin-top: 15px;
    max-width: fit-content;
  }

  &> .printed-page-inline + .printed-page-details {
    left: -50px;
    margin-top: -50px;
  }
}

.flush-paragraph .printed-page-details {
  left: -66px;
}


#for-further-information-contact,
.signature,
.suplemental-info {
  position: relative;

  > .printed-page-details {
    left: -50px;
    top: -4px;
  }
}
// end special printed page handling

.printed-page-inline {
  .svg-icon {
    height: 13px;
    position: relative;
    top: 1px;
    width: 13px;
  }
}

.printed-page-details {
  font-size: $non-printed-text-font-size;
  height: 23px;
  left: -20px;
  line-height: 18px;
  margin-left: 10px;
  padding-top: 4px;
  position: absolute;
  text-indent: -15px;
  // width hack set for tooltip alignment/centering
  width: 8px;

  .text { display: none; }

  .page-menu {
    backdrop-filter: blur(1px);
    height: 300px;
    left: 20px;
    position: relative;
    text-indent: 0;
    top: -100px;
    z-index: 600; // above inline fr boxes like doc headings/ednotes

    > .fr-box {
      // items visible outside box cause ui click issues (even if just padding)
      overflow: hidden;
      position: relative;
      top: 53px;
    }

    dt {
      max-width: 115px;
      padding-right: 5px;
      text-align: right;

      &::after { content: ":"; }
    }

    dd {
      .svg-tooltip.copy-to-clipboard {
        cursor: pointer;
        display: inline;
        position: relative;
      }

      .svg-icon-content-copy {
        height: 22px;
        left: 2px;
        position: absolute;
        top: -2px;
        width: 22px;

        &:hover { fill: $orange; }
      }
    }

    p { line-height: 20px; }
  }

  .svg-icon {
    $icon-size: 16px;

    display: block;
    height: $icon-size;
    margin-bottom: 5px;
    padding-right: 5px;
    position: relative;
    top: 2px;
    width: $icon-size;
  }
}

.document-headings .printed-page-details {
  left: -50px;
  padding-top: 0;
}

@media only screen and (max-width: $small-viewport-width) {
  .printed-page-details .page-menu {
    dl { margin-bottom: 0; }

    dt,
    dd {
      float: none;
      text-align: left;
      width: 100%;
    }

    dd { margin-bottom: 10px; }
  }
}
