// intentional non-use of modular scale, need a font between -1 and 0
// -1 is too small but need something smaller than body font so that
// it's not competing visually
$non-printed-text-font-size: 15px;

.doc-content .content-block p { position: relative; }

.flush-paragraph .printed-page-inline.icon-fr2 {
  margin-left: 5px;
  text-indent: 0;
}

.expand-table-positioning-wrapper {
  position: absolute;
  left: -70px;
  margin-top: 25px;
}

.expand-table-link {
  color: $gray-50;
  cursor: pointer;
  fill: $gray-50;

  overflow: auto;
  display: inline-block;

  &.ui.sticky.bound.bottom {
    bottom: 80px;
  }

  &:hover {
    color: $color-enhanced-dark;
    fill: $color-enhanced-dark;
  }

  .svg-tooltip {
    display: inline-block;
    height: 77px;
  }

  .svg-icon {
    height: 30px;
    left: 20px;
    width: 30px;
    position: relative;
  }

  .text {
    display: block;
    font-size: $non-printed-text-font-size;
    text-align: center;
    width: 70px;
  }

  .tooltip { width: 150px; }
}

// Only set colors for elements that change based on document status,
// set other colors above.
@mixin unprinted_element_colors($printed-page-color) {
  .printed-page-inline,
  .printed-page-details {
    color: $printed-page-color;
    fill: $printed-page-color;

    &.hover,
    &:hover {
      color: $text;
      fill: $text;
    }
  }
}

&.doc-official {
  @include unprinted_element_colors($color-official);
}

&.doc-published {
  @include unprinted_element_colors($color-published);
}


.printed-page-inline { display: inline-block; }

// most page breaks occur within paragraphs but some appear in between or after
// other specific items - these need some style adjustments to appear the same
div.table-wrapper,
p {
  &+ .printed-page-inline {
    display: block;
    margin-bottom: 35px;
    margin-top: 15px;
  }

  &+ .printed-page-inline + .printed-page-details {
    left: -70px;
    margin-top: -60px;
  }
}
div.preamble {
  &> .printed-page-inline {
    display: block;
    margin-bottom: 35px;
    margin-top: 15px;
  }

  &> .printed-page-inline + .printed-page-details {
    left: -70px;
    margin-top: -60px;
  }
}
///

.printed-page-inline {
  .svg-icon {
    height: 13px;
    width: 13px;
  }
}

.printed-page-details {
  font-size: $non-printed-text-font-size;
  left: -50px;
  line-height: 18px;
  margin-left: 10px;
  padding-top: 4px;
  position: absolute;
  text-indent: -15px;
  width: 45px;

  .page-menu {
    backdrop-filter: blur(1px);
    height: 300px;
    left: 60px;
    position: relative;
    text-indent: 0;
    top: -125px;
    z-index: 600; // above inline fr boxes like doc headings/ednotes

    > .fr-box {
      position: relative;
      top: 53px;
    }

    dt {
      max-width: 115px;
      padding-right: 5px;
      text-align: right;

      &::after { content: ":"; }
    }

    dd {
      .svg-tooltip.copy-to-clipboard {
        cursor: pointer;
        display: inline;
        position: relative;
      }

      .svg-icon-content-copy {
        height: 22px;
        left: 2px;
        position: absolute;
        top: -2px;
        width: 22px;

        &:hover { fill: $orange; }
      }
    }

    p { line-height: 20px; }
  }

  .svg-icon {
    display: block;
    height: 14px;
    margin-bottom: 5px;
    padding-right: 5px;
    position: relative;
    top: 2px;
    width: 14px;
  }
}
