$unprinted-element-color: $color-enhanced-dark;

.doc-content .content-block p { position: relative; }

.flush-paragraph .printed-page-inline.icon-fr2 {
  margin-left: 5px;
  text-indent: 0;
}

.printed-page-inline {
  display: inline-block;
  font-size: modular-scale(-1);
  padding: 0 3px 0 1px;

  &.hover { color: $color-enhanced-dark !important; }
}

.unprinted-element-wrapper {
  clear: both;
  color: $unprinted-element-color;
  display: none;
  float: right;
  line-height: 1;
  margin-left: -150px;
  padding-right: 5px;
  position: relative;
  right: -150px;
  text-indent: -24px;
  width: 110px;

  &.printed-page-wrapper {
    display: block;
    text-indent: -17px;
  }

  .icon-fr2 {
    font-size: modular-scale(-1);
    padding-right: 5px;
  }

  .icon-fr2-source_code{
    font-size: 26px;
    top: 6px;
  }

  .text {
    @include apertura-condensed;
    font-size: modular-scale(-1);
  }

  &.blocked {
    float: none;
    left: 0;
    margin: 20px 0 10px;
    position: relative;
    width: 100%;

    .unprinted-element-border {
      border-bottom: 1px solid $unprinted-element-color;
      position: absolute;
      top: 0;
      width: 100%;
    }

    .unprinted-element {
      display: block;
      margin: 0 auto;
      position: relative;
      text-align: center;
      text-indent: 0;
      top: -18px;
      z-index: 100;

      &.printed-page { top: -7px; }
    }

    &.printed-page-wrapper      .unprinted-element { width: 190px; }
    &.supplemental-info-wrapper .unprinted-element { width: 228px; }
    &.part-wrapper              .unprinted-element { width:  95px; }
    &.amend-part-wrapper        .unprinted-element { width: 170px; }
    &.further-info-wrapper      .unprinted-element { width: 145px; }
    &.list-of-subjects-wrapper  .unprinted-element { width: 160px; }
    &.signature-wrapper         .unprinted-element { width: 133px; }
    &.preamble-wrapper          .unprinted-element { width: 132px; }
    &.appendix-wrapper          .unprinted-element { width: 133px; }
    &.subpart-wrapper           .unprinted-element { width: 133px; }
    &.authority-wrapper         .unprinted-element { width: 133px; }
  }
}


.unprinted-element-wrapper + h1,
.unprinted-element-wrapper + h2,
.unprinted-element-wrapper + h3,
.unprinted-element-wrapper + h4,
.unprinted-element-wrapper + h5,
.unprinted-element-wrapper + h6,
.unprinted-element-wrapper + h7,
.unprinted-element-wrapper + .authority,
.unprinted-element-wrapper + .section,
.unprinted-element-wrapper + .signature,
.unprinted-element-wrapper + p {
  clear: both;
}

p + .unprinted-element-wrapper {
  margin-top: -1em;
}


// Only set colors for elements that change based on document status,
// set other colors above.
@mixin unprinted_element_colors($printed-page-color, $unprinted-element-background-color) {
  .printed-page-inline {
    color: $printed-page-color;

    &.hover { color: darken($printed-page-color, 10) !important; }
  }

  .unprinted-element-wrapper {
    &.printed-page-wrapper {
      color: $printed-page-color;

      &.blocked .unprinted-element-border {
        border-bottom-color: $printed-page-color;
      }

      &:hover {
        .icon-fr2 { color: darken($printed-page-color, 10) !important; }
      }
    }

    &.blocked {
      .unprinted-element { background-color: $unprinted-element-background-color; }
    }
  }
}

&.doc-official {
  @include unprinted_element_colors($color-official, $color-official-light);
}

&.doc-published {
  @include unprinted_element_colors($color-published, $color-published-light);
}
