<li class="public file input optional">
  <label class="label">Upload File(s)</label>

  <div class="fileupload-button">
    <input id="fileupload"
      type="file"
      name="comment_attachment[attachment]"
      data-tooltip="Files attached to this comment will be publically viewable on Regulations.gov"
      multiple>
  </div>
  <p class="inline-hints">
    Note: You can attach your comment as a file and/or attach supporting
    documents to your comment.
    <a href=""
      class='fr_modal_link attachment_requirements'
      data-modal-title='Attachment Requirements'
      data-modal-data='<%=
        {
          :maxSize => number_to_human_size(Comment::MAX_FILE_SIZE),
          :maxAttachments => Comment::MAX_ATTACHMENTS,
        }.to_json
      %>'
      data-modal-template-name='regulations-dot-gov-attachment-requirements-template'
    >Attachment Requirements</a>.
  </p>
  <%= content_tag(
    :table,
    content_tag(:tbody),
    :class => "attachments"
  ) %>
</li>
