---
http_interactions:
- request:
    method: get
    uri: http://api.data.gov/regulations/v3/docket.json?docketId=CFPB_FRDOC_0001&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-ratelimit-limit:
      - '10000'
      x-ratelimit-remaining:
      - '9435'
    body:
      encoding: US-ASCII
      string: ! '{"agency":"Consumer Financial Protection Bureau","agencyAcronym":"CFPB","docketId":"CFPB_FRDOC_0001","numberOfComments":24,"rin":"Not
        Assigned","title":"Recently Posted CFPB Rules and Notices.","type":"Rulemaking","type":{"label":"Type","value":"Rulemaking"}}'
  recorded_at: Wed, 04 Jun 2014 17:18:39 GMT
recorded_with: VCR 2.6.0
