---
http_interactions:
- request:
    method: get
    uri: http://api.data.gov/regulations/beta/docket.json?docketId=CFPB_FRDOC_0001&api_key=DEMO_KEY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '924'
    body:
      encoding: US-ASCII
      string: ! '{"agency":"Consumer Financial Protection Bureau","agencyAcronym":"CFPB","docketId":"CFPB_FRDOC_0001","numberOfComments":22,"rin":"Not
        Assigned","title":"Recently Posted CFPB Rules and Notices.","type":"Rulemaking","type":{"label":"Type","value":"Rulemaking"}}'
  recorded_at: Thu, 27 Mar 2014 23:19:00 GMT
recorded_with: VCR 2.6.0
