facebook:
  app_id: integer
  app_secret: secret
twitter:
  consumer_key: secret
  consumer_secret: secret
regulations_dot_gov:
  get_token: secret
  post_token: secret
honeybadger_api_key: secret
session_secret_token: 03aa3a5bd3fde41c6acd2ffdb22bc7fe7b60fd56bd2e8d9a1f6961335506
data_dot_gov:
  api_key: 'DEMO_KEY'
