facebook:
  app_id: integer
  app_secret: secret
twitter:
  consumer_key: secret
  consumer_secret: secret
regulations_dot_gov:
  get_token: secret
  post_token: secret
airbrake_api_key: secret
session_secret_token: secret
