session_secret_token: "random string of at least length 30 chars (you can use ActiveSupport::SecureRandom.hex(64))"
honeybadger_api_key: secret
data_dot_gov:
  api_key: 'DEMO_KEY'
sendgrid:
  username: XXX
  password: secret
aws:
  access_key_id: XXX
  secret_access_key: XXX
fr_profile:
  basic_username: XXX
  basic_password: XXX
jwt_secret: XXX
varnish:
  skip_cache_key: 1234567890
recaptcha:
  public: XXX
  private: XXX
omniauth:
  oidc_application_id: <%= ENV['OIDC_APPLICATION_ID'] %>
  oidc_secret: <%= ENV['OIDC_SECRET'] %>
