/* cheating by directly overriding fr2 style
   this should be moved to myfr2 entirely at some point */
#metadata_content_area {
  margin-left: 0px;
  margin-right: 0px;
  width: 960px;
}

.wrapper .row.doc { margin-bottom: 100px !important; }

%doc-background {
  position: absolute;
  top: 25px;
  left: 100px;
  font-size: 600px;
  z-index: 100;
  color: $fr-background-seal;
}

.doc {
  position: relative;

  &.doc-official .doc-content .content-block{
    .doc-background { @extend %doc-background; }
  }
  &.doc-public-inspection .doc-content .content-block{
    .doc-background {
      @extend %doc-background;
      left: 150px;
      font-size: 375px;
    }
  }


  .doc-nav-wrapper {
    padding-top: 17px;
    position: absolute;
    height: 100%;
    width: 53px;
    z-index: 150;
    top: 0;
    left: -53px;
  }

  .doc-content {
    z-index: 1;

    &.with-utility-bar {
      margin-left: 53px;
      width: 744px;
    }

    .fr-seal-block.fr-seal-block-header { z-index: 500; }

    .content-block {
      padding: 35px 30px 20px 30px !important;

      #fulltext_content_area {
        z-index: 200;
        position: relative;

        /* We want the first part of our documents to wrap
           properly around the meta-data bar. This bit of
           code causes that to happen by stategically placing
           an empty div in the correct position */
        &.doc-content-area .content-wrap-enforcement {
          position: relative;
          float: right;
          width: 105px;
          height: 550px;
        }
      }
    }
  }

  .doc-aside {
    position: absolute;
    top:30px;
    right: 10px;
    z-index: 2;
    width: 248px;

    .content-block {
      h4 {
        color: #000;
        margin-top: 0;
      }

      h5 { padding-left: 5px; }

      p {
        text-indent: -10px;
        padding-left: 10px;

        a {
          display: block;
          padding-left: 5px;
        }
      }

      ul li { list-style-type: none; }

      dl {
        padding: 0 0 10px 5px;
        font-size: modular-scale(-1);

        dt { font-weight: bold; }

        dd {
          margin: 0;
          text-indent: -10px;
          padding-left: 10px;
        }
      }
    }

    .row { margin-top: 30px; }
    .row:first-child { margin-top: 0; }
  }
}
