.wrapper .row.doc,
.wrapper .doc-public-inspection {
  overflow: auto;
}

%doc-background {
  color: $fr-background-seal;
  font-size: 600px;
  left: 100px;
  position: absolute;
  top: 25px;
  z-index: 100;
}

.doc {
  position: relative;

  // account for removal row class until .bootstrap-scope is removed
  margin-left: -15px;
  margin-right: -15px;

  .doc-content .fr-box-official .content-block{
    .doc-background { @extend %doc-background; }
  }

  .doc-content .fr-box-public-inspection .content-block{
    .doc-background {
      @extend %doc-background;
      font-size: 375px;
      left: 150px;
    }
  }

  .doc-content {
    z-index: 1;

    .content-col {
      @media only screen and (max-width: $small-viewport-width) {
        overflow: hidden;
      }

      > .fr-box {
        min-height: 650px;

        // nested fr-box
        .fr-box.no-footer {
          .fr-seal-block.fr-seal-block-header {
            margin-bottom: 0;

            .fr-seal-content { display: inline-block; }
          }
          .fr-seal-block-header.with-hover + .content-block {
            padding-top: 35px;
          }

          .content-block {
            padding-bottom: 10px;
            padding-top: 10px;

            h4 { text-transform: none; }

            h6 {
              font-weight: 500;
              margin: 0;
            }

            ol, ul {
              margin-bottom: 0;
              margin-left: 20px;

              li {
                text-indent: -15px;
                padding-left: 15px;
              }
            }
          }
        }

        > .content-block {
          padding: 35px 10px 20px 80px !important;

          &.blur { filter: blur(1px); }

          #fulltext_content_area {
            position: relative;
            z-index: 200;
          }

          p { padding-right: 10px !important; }
          .document-headings + p { margin-top: 20px; }

          .document-headings,
          .editorial-note {
            margin-top: 15px;
          }
        }
      }

      .inline-header { display: inline; }
      .inline-paragraph {
        display: inline;
        margin-left: 5px;
      }
    }

    .fr-seal-block.fr-seal-block-header { z-index: 500; }
  }

  .doc-aside {
    position: absolute;
    right: 10px;
    top:30px;
    width: 248px;
    z-index: 2;

    .content-block {
      padding-right: 10px !important;

      h4 {
        color: $black;
        margin-top: 0;
      }

      h5 { padding-left: 5px; }

      p {
        padding-left: 10px;
        text-indent: -10px;

        a {
          display: block;
          padding-left: 5px;
        }
      }

      ul li { list-style-type: none; }

      dl {
        font-size: modular-scale(-1);
        padding: 0 0 10px 5px;

        dt {
          font-weight: bold;
          margin-top: 10px;

          &:first-child { margin-top: 0; }
        }

        dd {
          margin: 0;
          padding-left: 20px;
          text-indent: -10px;
          word-wrap: break-word;
        }
      }
    }

    .row { margin-top: 30px; }
    .row:first-child { margin-top: 0; }

    img.regulations-dot-gov-logo {
      margin: 5px 0 15px;
    }
  }
}
