.wrapper .row.doc { margin-bottom: 100px !important; }

%doc-background {
  color: $fr-background-seal;
  font-size: 600px;
  left: 100px;
  position: absolute;
  top: 25px;
  z-index: 100;
}

.doc {
  position: relative;

  .doc-content .fr-box-official .content-block{
    .doc-background { @extend %doc-background; }
  }

  .doc-content .fr-box-public-inspection .content-block{
    .doc-background {
      @extend %doc-background;
      font-size: 375px;
      left: 150px;
    }
  }


  .doc-nav-wrapper {
    height: 100%;
    left: -53px;
    padding-top: 17px;
    position: absolute;
    top: 0;
    width: 53px;
    z-index: 150;
  }

  .doc-content {
    z-index: 1;

    &.with-utility-bar {
      margin-left: 53px;
      width: 744px;
    }

    .fr-seal-block.fr-seal-block-header { z-index: 500; }

    .content-block {
      padding: 35px 30px 20px 30px !important;

      #fulltext_content_area {
        position: relative;
        z-index: 200;

        // We want the first part of our documents to wrap
        // properly around the meta-data bar. This bit of
        // code causes that to happen by stategically placing
        // an empty div in the correct position
        &.doc-content-area .content-wrap-enforcement {
          float: right;
          height: 550px;
          position: relative;
          width: 105px;
        }
      }
    }
  }

  .doc-aside {
    position: absolute;
    right: 10px;
    top:30px;
    width: 248px;
    z-index: 2;

    .content-block {
      padding-right: 10px !important;

      h4 {
        color: $black;
        margin-top: 0;
      }

      h5 { padding-left: 5px; }

      p {
        padding-left: 10px;
        text-indent: -10px;

        a {
          display: block;
          padding-left: 5px;
        }
      }

      ul li { list-style-type: none; }

      dl {
        font-size: modular-scale(-1);
        padding: 0 0 10px 5px;

        dt {
          font-weight: bold;
          margin-top: 10px;

          &:first-child { margin-top: 0; }
        }

        dd {
          margin: 0;
          padding-left: 20px;
          text-indent: -10px;
        }
      }
    }

    .row { margin-top: 30px; }
    .row:first-child { margin-top: 0; }

    img.regulations-dot-gov-logo {
      margin: 5px 0 15px;
    }
  }
}
