@import "essential";
$with-icon-left-margin: -36px;

.bootstrap-scope .embedded_search.search-bar.home-search-embedded {
  padding-left: 10px;
  width: 100%;

  input#conditions_term {
    width: 520px;
    padding: 6px 12px;

    @include border-radius(0);
    @include rounded-left(4);
    border-right: 0;
  }

  .doc-type-filter ul {
    width: 142px;
  }
}

.mdrnzr-svg .bootstrap-scope .embedded_search.search_bar {
  input#conditions_submit {
    background-image: image-url('embedded_search/search.svg');
    background-position: 5px 0;
    background-clip: content-box;
    background-repeat: no-repeat;
  }
}

.mdrnzr-no-svg .bootstrap-scope .embedded_search.search_bar {
  input#conditions_submit {
    background: image-url('embedded_search/search.png') no-repeat 0 0;
    width: image-width('embedded_search/search.png');
    height: image-height('embedded_search/search.png');
  }
}


.home-section-preview {
  @include border-radius(3);
  background-color: $fr-gray-5;
  overflow: hidden;
  // height: 374px;

  ul {
    list-style-type: none;
    margin: 0;
  }
}

.home-section-preview {
  .home-section-preview-nav {
    padding: 0;
    border-right: 1px solid $fr-gray-20;

    li {
      color: $fr-gray-40;
      padding: 13px 7px;
      font-weight: 500;
      font-size: modular-scale(0);
      border-bottom: 1px solid $fr-gray-20;

      &:last-child { border-bottom: none; }

      &:hover,
      &.hover,
      &.selected {
        color: $white;
        background-color: $fr-nav-orange;
        cursor: pointer;
      }

      .icon-fr2 {
        display: inline-block;
        font-size: 30px;

        &.icon-fr2-Coins-dollaralt { top: 2px; }
      }

      .section-title {
        top: -5px;
        line-height: 1.2;
        position: relative;
        display: inline-block;
        width: 110px;
      }

      &.wrap {
        .icon-fr2 { top: -2px; }
        .section-title { top: 1px; }
      }
    }
  }
}

.home-section-preview {
  .home-section-preview-content {
    display: none;

    &.selected { display: block; }
  }

  .home-section-preview-carousel {
    padding: 0;
    padding-right: 20px;
  }

  .home-section-preview-suggested-searches {
    margin-top: 5px;

    h4.with-icon.lowercase .icon-fr2 {
      margin-left: $with-icon-left-margin;
      margin-right: 3px;
    }

    .icon-fr2-Chat { color: $color-enhanced; }
  }
}

.home-search-embedded {
  margin-bottom: 0;
  padding: 10px 10px 10px 30px;

  span.small-right {
    font-size: 12px;
    right: 0;
    top: 4px;
    width: 152px;
  }
}

.home-aid-box {
  p.blog {
    line-height: 20px;

    .icon-fr2-quote {
      float: left;
      font-size: 40px;
      margin-left: -39px;
      margin-right: 5px;
      top: -4px;
    }
  }
}

.site-notification-text {
   width: 960px;
   margin-left: auto;
   margin-right: auto;
}

.pres-doc-preview {
  h4.with-icon .icon-fr2-stars {
    margin-left: -44px;
    margin-right: 0px;
  }

  .fr-list span {
    display: block;

    &.fr-doc-title {
      font-size: modular-scale(0);
      font-weight: bold;
    }

    &.fr-doc-date {
      color: $fr-gray-30;
      font-size: modular-scale(-1);
      margin-bottom: 7px;
    }
  }

  table.fr-table.fr-monthly-overview {
    float: left;
    font-size: 14px;
    margin-bottom: 0;

    &.alpha {
      width: 120px;
      margin-right: 10px;
    }

    th {
      padding-left: 0;
      border-bottom: 2px solid;
    }

    tr {
      padding: 0;

      &:hover { background-color: inherit; }

      td {
        border: 0;
        font-weight: 400;
        height: 16px;
        padding: 0 0 0 5px;

        &.count {
          margin: 0;
          padding: 0;
          text-align: right;
          width: 16px;
        }

        a {
          color: $fr-link;
          padding: 0;
        }
      }
    }
  }
}

$small-viewport-width: 500px !default;
@media only screen and (max-width: #{$small-viewport-width}) {

  // On the homepage, remove fixed width setting for small viewports
  // ==============================================

  .bootstrap-scope {
    .wrapper {
      .container.fixed {
        width: auto !important;
      }
    }
  }

  // This allows the content in the .with-icon sections to be full width in mobile since the actual content below the headings is not wrapped in any containing element
  #explore-agencies h4.with-icon ~ * , #explore-topics h4.with-icon ~ *  {
    margin-left: $with-icon-left-margin;
    // the scss compiler did not like inputting the absolute value of the $with-icon-left-margin variable below hence the manual specificaton below
    width: calc(100% + 36px);
    max-width: calc(100% + 36px);
  }
  
}

