.pi-metadata-bar.home {
  display: none;
  margin-top: -20px;
}

.bootstrap-scope .embedded_search.search_bar {
  width: 100%;
  padding-left: 50px;

  input#conditions_term {
    width: 520px;
    height: 34px;
    padding: 6px 12px;

    @include border-radius(0);
    @include rounded-left(4);
    border-right: 0;
  }

  input#conditions_submit {
    background: none;
    background-color: $fr-gray-5;
    border: 1px solid #CCC;
    border-left: none;
    @include rounded-right(4);

    height: 34px;
    width: 42px;
    padding: 0;

    /* for reference: background png/svg is $fr-gray-50 */
    &:hover {
      background-color: $fr-gray-15;
    }
  }

  #doc-type-filter {
    width: 562px;
    height: 45px;
    left: 0;

    ul {
      overflow: hidden;
      width: 140px;
      right: 6px;
      position: absolute;
    }

    li {
      width: 35px;
      height: 35px;

      &:hover,
      &.hover,
      &.on {
        .icon-fr2 { color: $fr-blue; }
      }

      .icon-fr2 {
        font-size: 23px;
        left: -1px;
        top: 4px;
      }
    }
  }
}

.mdrnzr-svg .bootstrap-scope .embedded_search.search_bar {
  input#conditions_submit {
    background-image: image-url('embedded_search/search.svg');
    background-position: 5px 0;
    background-clip: content-box;
    background-repeat: no-repeat;
  }
}

.mdrnzr-no-svg .bootstrap-scope .embedded_search.search_bar {
  input#conditions_submit {
    background: image-url('embedded_search/search.png') no-repeat 0 0;
    width: image-width('embedded_search/search.png');
    height: image-height('embedded_search/search.png');
  }
}


.home-section-preview {
  @include border-radius(3);
  background-color: $fr-gray-5;
  overflow: hidden;
  height: 374px;

  ul {
    list-style-type: none;
    margin: 0;
  }
}

.home-section-preview {
  .home-section-preview-nav {
    padding: 0;
    border-right: 1px solid $fr-gray-20;

    li {
      color: $fr-gray-40;
      padding: 13px 7px;
      font-weight: 500;
      font-size: modular-scale(0);
      border-bottom: 1px solid $fr-gray-20;

      &:last-child { border-bottom: none; }

      &:hover,
      &.hover,
      &.selected {
        color: $white;
        background-color: $fr-nav-orange;
        cursor: pointer;
      }

      .icon-fr2 {
        display: inline-block;
        font-size: 30px;

        &.icon-fr2-Coins-dollaralt { top: 2px; }
      }

      .section-title {
        top: -5px;
        line-height: 1.2;
        position: relative;
        display: inline-block;
        width: 110px;
      }

      &.wrap {
        .icon-fr2 { top: -2px; }
        .section-title { top: 1px; }
      }
    }
  }
}

.home-section-preview {
  .home-section-preview-content {
    display: none;

    &.selected { display: block; }
  }

  .home-section-preview-carousel {
    padding: 0;
    padding-right: 20px;
  }

  .home-section-preview-suggested-searches {
    margin-top: 5px;

    h4.with-icon.lowercase .icon-fr2 {
      margin-left: -36px;
      margin-right: 3px;
    }

    .icon-fr2-Chat { color: $color-enhanced; }
  }
}

.home-search-embedded {
  padding: 10px 10px 10px 30px;
  margin-bottom: 0;
}

.home-aid-box {
  p.blog {
    line-height: 20px;

    .icon-fr2-quote {
      float: left;
      font-size: 40px;
      margin-left: -39px;
      margin-right: 5px;
      top: -4px;
    }
  }
}

.pres-doc-preview {
  h4.with-icon .icon-fr2-stars {
    margin-left: -44px;
    margin-right: 0px;
  }

  .fr-list span {
    display: block;

    &.fr-doc-title {
      font-size: 15px;
      font-weight: bold;
    }

    &.fr-doc-date {
      margin-bottom: 7px;
      color: $fr-gray-30;
      font-size: 12px;
      line-height: 13px;
    }
  }

  table.fr-table.fr-monthly-overview {
    float: left;
    font-size: 14px;
    margin-bottom: 0;

    &.alpha {
      width: 120px;
      margin-right: 10px;
    }

    th {
      padding-left: 0;
      border-bottom: 2px solid;
    }

    tr {
      padding: 0;

      &:hover { background-color: inherit; }

      td {
        padding: 0 0 0 5px;
        height: 16px;
        color: $fr-link;
        border: none;

        &.count {
          padding: 0;
          margin: 0;
          width: 16px;
          text-align: right;
        }

        a { padding: 0; }
      }
    }
  }
}
