.bootstrap-scope {
  .fr-box.fr-box-reader-aid {
    p { line-height: 20px; }

    .row {
      .section {
        h4 { font-size: 20px; }
        h5 {
          font-size: 16px;
          margin-bottom: 5px;
        }

        p {
          font-size: 14px;
          line-height: 18px;

          .byline {
            display: block;
            overflow: hidden;
            font-style: italic;

            .authorship { float: right; }
            .comments { color: $fr-gray-60; }
          }
        }
      }
    }
    .search_results {
      .search-results-summary {
        margin-bottom: 40px;
        position: relative;

        h4 {
          margin-top: 0;
          width: 80%;
        }

        a {
          bottom: 0;
          position: absolute;
          right: 0;
        }
      }

      h3.with-icon,
      .fr-list {
        margin-left: 30px;
      }
    }

    pre {
      overflow-x: scroll;
      white-space: pre;
      word-wrap: normal;
    }

    .page_content li {
      margin-left: 20px;
    }
  }

  .reader-aids-index-nav {
    padding: 10px 10px 0 10px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: $color-reader-aid-med;

    h4 {
      text-align: right;
      margin-top: 2px;
      font-size: 16px;
    }

    ul {
      overflow: hidden;

      li {
        float: left;
        width: 33%;
      }
    }
  }
}
