.bootstrap-scope {
  .reader-aids-section {
    .section { padding-left: 10px !important; }

    .content-block {
      a {
        color: $color-reader-aid;

        &:visited { color: $color-reader-aid; }
        &:hover { color: darken($color-reader-aid, 20); }
      }

      img {
        display: block;
        margin: 20px auto;
      }

      blockquote {
        border-color: $color-reader-aid;
      }
    }

    .navigation {
      padding: 0;

      h5 { margin-top: 0; }
    }
  }

  .fr-box.fr-box-reader-aid {
    // hide the read more link that WP inserts automatically
    .more-link { display: none; }

    p { line-height: 20px; }


    .row {
      .section {
        h4 {
          font-size: modular-scale(2) !important;
        }

        h5 { margin-bottom: 5px; }

        p {
          line-height: 18px;

          .byline {
            display: block;
            font-style: italic;
            overflow: hidden;

            .authorship { float: right; }
            .comments { color: $fr-gray-60; }
          }
        }
      }
    }

    .search_results {
      .search-results-summary {
        margin-bottom: 40px;
        position: relative;

        h4 {
          margin-top: 0;
          width: 80%;
        }

        a {
          bottom: 0;
          position: absolute;
          right: 0;
        }
      }

      h3.with-icon,
      .fr-list {
        margin-left: 30px;
      }
    }

    pre {
      overflow-x: scroll;
      white-space: pre;
      word-wrap: normal;
    }

    .page_content {
      ul {
        @include custom-bullets($color-reader-aid, '20px');
        margin-left: 20px;

        li {
          line-height: 1.5em;
          margin-left: 15px;
        }
      }
    }
  }

  .reader-aids-index-nav {
    background-color: $color-reader-aid-med;
    margin-left: 0px;
    margin-right: 0px;
    padding: 10px 10px 0 10px;

    h4 {
      font-size: 16px;
      margin-top: 2px;
      text-align: right;
    }

    ul {
      overflow: hidden;

      li {
        float: left;
        width: 33%;
      }
    }
  }
}
