.bootstrap-scope {
  .reader-aids-section {
    margin-bottom: 1rem;

    .code-styling {
      background-color: $gray-2;
      font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
      font-size: modular-scale(-1);
      white-space: normal;
    }

    .content-block {
      a {
        color: $color-reader-aid-link;

        &:visited { color: $color-reader-aid-link; }
        &:hover { color: darken($color-reader-aid-link, 20); }
      }

      figure { margin: 20px auto; }
      figcaption { font-style: italic; }

      img {
        border: 1px solid #D8D8D8;
        display: block;
        height: auto;
        margin-bottom: 7px;
        max-width: 100%;
        width: auto;
      }

      li img { margin-top: 0; }

      blockquote {
        border-color: $color-reader-aid;
      }
    }

    .navigation {
      padding: 0;

      h5 { margin-top: 0; }

      .doc-subscribe { margin-bottom: 15px; }
    }

    .effective-dates-table {
      font-size: modular-scale(-2);
      font-weight: 400;
    }

    .category-statistics-table {
      font-size: modular-scale(-2);
      font-weight: 400;

      td {
        width: 10%;
      }
    }
  }

  .fr-box.fr-box-reader-aid {
    // hide the read more link that WP inserts automatically
    .more-link { display: none; }

    p { line-height: 20px; }


    .row {
      .section {
        h4 {
          font-size: modular-scale(2) !important;
        }

        h5 { margin-bottom: 5px; }

        p {
          line-height: 18px;

          .byline {
            display: block;
            font-style: italic;
            overflow: hidden;

            .authorship { float: right; }
            .comments { color: $gray-60; }
          }
        }
      }
    }

    .search_results {
      .search-results-summary {
        margin-bottom: 40px;
        position: relative;

        h4 {
          margin-top: 0;
          width: 80%;
        }

        a {
          bottom: 0;
          position: absolute;
          right: 0;
        }
      }

      h3.with-icon,
      .fr-list {
        margin-left: 30px;
      }
    }

    pre {
      overflow-x: scroll;
      white-space: pre;
      word-wrap: normal;
    }

    .page_content {
      ul {
        @include custom-bullets($color-reader-aid, '20px');
        margin-left: 20px;

        li {
          line-height: 1.5em;
          margin-left: 15px;
        }
      }
    }
  }

  .reader-aids-index-nav {
    background-color: $color-reader-aid-med;
    border-left: 5px solid $color-reader-aid;
    margin-left: 0px;
    margin-right: 0px;
    padding: 10px 10px 0 0;

    h4 {
      font-size: 16px;
      margin-top: 2px;
    }

    ul {
      overflow: hidden;

      li {
        float: left;
        width: 33%;
      }
    }
  }

  @media only screen and (max-width: $small-viewport-width) {
    .reader-aids-index-nav ul li {
      float: none;
      width: auto;
    }

    .search-box form input#conditions_term {
      width: 85%;
    }
  }
}
