.doc {
  .doc-nav-wrapper {
    background-color: $utility-nav-background;
    color: $utility-nav;
    height: 100%;
  }
}

.doc {
  .doc-nav-wrapper {
    z-index: 600;

    .doc-nav {
      padding-bottom: 244px;
      padding-top: 25px;
      width: 53px;
      z-index: 1000;

      &> li {
        border-bottom: 2px solid transparent;
        border-top: 2px solid transparent;
        cursor: pointer;
        list-style-type: none;
        padding: 8px 0;
        position: relative;

        .clipboard-copy {
          padding: 0 !important;

          .icon-fr2.icon-fr2-clipboard { font-size: modular-scale(1); }
        }

        .icon-fr2 {
          font-size: 25px;

          .comment_count {
            display: block;
            font-size: 14px;
            left: -14px;
            position: absolute;
            text-align: center;
            top: 22px;
            width: 53px;
          }
        }

        span.nav-caret {
          display: none;
          position: absolute;
          z-index: 15;

          &:after {
            border-bottom: 10px solid transparent;
            border-left: 10px solid $utility-nav-hover-background;
            border-top: 10px solid transparent;
            content: '';
            position: absolute;
            right: -30px;
            top: 2px;
          }
        }

        &.open {
          background-color: $utility-nav-hover-background;
          //border-bottom: 2px solid $color-enhanced;
          border-top: 2px solid $color-enhanced;
          color: $color-enhanced;

          &.official {
            border-top-color: $color-official;
            color: $color-official;
          }
          &.public-inspection {
            border-top-color: $color-public-inspection;
            color: $color-public-inspection;

            .fr-box.fr-box-public-inspection {
              background-color: $color-public-inspection-light-alt;

              a {
                color: $public-inspection-link;

                &:hover { color: $public-inspection-link-hover; }
              }
            }
          }
          &.unavailable {
            border-top-color: $color-inactive;

            .icon-fr2 { color: $color-inactive; }
          }

          span.nav-caret { display: inline-block; }
        }

        &:hover,
        &.hover {
          background-color: $utility-nav-hover-background;
          color: $color-enhanced;

          .icon-fr2 {
            &.icon-fr2-doc-pdf { color: $color-official; }
            &.icon-fr2-doc-pi-pdf { color: $color-public-inspection; }
          }
        }

        &.divider {
          border: 0;
          border-bottom: 1px solid $utility-nav-divider-color;
          margin: 10px auto;
          padding: 0;
          width: 30px;
        }

        .dropdown-menu {
          border-left: 0;
          border-radius: 0;
          border-right: 0;
          border-top: 0;
          box-shadow: none;
          left: 53px;
          margin: 0;
          min-height: 69px;
          padding: 0;
          top: -21px;
          width: 635px;

          &.fr-box {
            .content-block {
              color: $text;
              padding: 25px 10px 8px 25px !important;
              text-align: left;

              p {
                font-family: inherit;
                font-size: inherit;
              }

              ul {
                list-style: none;
                margin: 0;
                text-align: left;

                &.list {
                  list-style-type: square;
                  margin-bottom: 10px;
                  margin-left: 30px;
                }

                li {
                  color: darken($utility-nav, 20);
                  margin: 5px 0;

                  &:hover {
                    .icon_fr2 { color: inherit; }
                  }

                  &.with_icon { margin: 10px 0; }

                  .icon-fr2 {
                    float: left;
                    font-size: 22px;
                    margin-right: 10px;
                    width: 22px;

                    &.comment-count-explanation {
                      font-size: modular-scale(-1);
                      float: none;
                    }

                    &.icon-fr2-facebook { top: -2px; }
                  }
                }
              }
            }

            &.fr-box-public-inspection {
              .content-block {
                overflow: hidden;

                .icon-fr2 {
                  color: $utility-nav;
                  display: block;
                  float: left;
                  font-size: 110px;
                  left: -15px;
                  position: relative;
                }

                .content {
                  float: left;
                  width: 75%;

                  p.warning {
                    font-size: modular-scale(-1);
                    font-style: italic;
                    line-height: 1.3;
                    margin-top: 30px;
                    text-align: justify;
                    width: 95%;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.doc {
  &.doc-public-inspection {
    .doc-nav > li {
      &.open {
        background-color: $utility-nav-pi-hover-background;

        &.enhanced { background-color: $utility-nav-hover-background-light }
      }
    }
  }
}

#comment-count-explanation-modal {
  .table-container {
    max-height: 300px;
    overflow-y: auto;
  }

  table {
    th {
      text-align: left;
    }

    th:nth-last-child(2) {
      text-align: right;
    }

    td:nth-last-child(2) {
      text-align: right;
    }

    .last-synced-tooltip {
      font-size: 12px;
      opacity: 50%;
    }

  }
}
