.doc {
  .doc-content {
    &.with-utility-nav .content-col { padding: 0; }

    &.narrow-utility-nav {
      .content-nav-compress-toggle {
        transform: rotate(180deg);
      }

      + .col-md-10 { width: 94%; }

      .content-nav {
        > li .dropdown-menu { left: 58px; }

        .content-nav-label { display: none; }
      }
    }

    &.wide-utility-nav {
      .content-nav {
        > li {
          .dropdown-menu { left: 161px; }
        }
      }
    }

    .content-nav-wrapper {
      @include sans_serif;
      background-color: $utility-nav-background;
      color: $utility-nav;
      height: 100%;
      padding-left: 0;
      padding-right: 0;

      .icon-fr2.content-nav-compress-toggle {
        float: right !important;
        font-size: 18px !important;
        position: relative;
        width: 24px !important;
      }

      .utility-nav-subscribe .dropdown-menu {
        .subscription-option {
          margin: 10px 0;

          &:first-child { margin-top: 20px; }

          .icon-fr2 {
            display: inline-block;
            padding-left: 2px;
            width: 25px;
          }
          .icon-fr2-message {
            font-size: 24px;
            left: 7px;
            position: relative;
            top: 4px;
          }
          .icon-fr2-rss { font-size: 20px; }
        }
      }

      .developer-tools .dropdown-menu.box {
        ul.list { margin-left: 30px; }
      }
    }

    .content-nav {
      padding: 0 0 175px;
      width: 100%;
      z-index: 1000;

      // override bootstrap style
      .fr-box.dropdown-menu { border: none; }

      &> li.button {
        height: 40px;
      }

      > li {
        max-height: 60px;

        &> .svg-tooltip .svg-icon {
          fill: $utility-nav;
          height: 25px;
          width: 25px;
        }
      }

      > li > .svg-icon-previous-media {
        fill: $utility-nav;
        height: 23px;
        width: 32px;

        &:hover { fill: $orange; }

      }

      &> li:not(.button) {
        border-bottom: 2px solid transparent;
        border-top: 2px solid transparent;
        font-size: modular-scale(0);
        line-height: 18px;
        list-style-type: none;
        padding: 8px 5px;
        position: relative;

        &:hover,
        &.hover,
        &.open {
          background-color: $utility-nav-hover-background;
          border-top: 2px solid;
        }

        &.enhanced {
          &:hover,
          &.hover,
          &.open {
            border-top-color: $color-enhanced;
            color: $color-enhanced;

            .svg-icon {
              fill: $color-enhanced;
            }
          }
        }

        &.inactive {
          cursor: not-allowed;

          [role="button"] { cursor: not-allowed; }

          &:hover,
          &.hover,
          &.open {
            border-top-color: $color-inactive;
            color: $color-inactive;
          }

          .svg-icon {
            fill: $color-inactive;
          }
        }

        &.official {
          &:hover,
          &.hover,
          &.open {
            border-top-color: $color-official;
            color: $color-official;

            .svg-icon {
              fill: $color-official;
            }
          }
        }

        &.public-inspection {
          &:hover,
          &.hover,
          &.open {
            border-top-color: $color-public-inspection;
            color: $color-public-inspection;

            .svg-icon {
              fill: $color-public-inspection;
            }
          }
        }

        &.reader-aid {
          &:hover,
          &.hover,
          &.open {
            border-top-color: $color-reader-aid;
            color: $color-reader-aid;

            .svg-icon {
              fill: $color-reader-aid;
            }
          }
        }

        .svg-icon-book-alt-2 {
          width: 28px;
          height: 28px;
        }

        .svg-icon-chart {
          width: 28px;
          height: 28px;
        }

        .svg-icon-doc-generic,
        .svg-icon-doc-pdf {
          width: 23px;
          height: 23px;
        }

        .svg-icon-sharing {
          width: 30px;
          height: 30px;
          position: relative;
          top: -2px;
        }

        &.divider {
          border: 0;
          border-bottom: 1px solid $utility-nav-divider-color;
          height: initial;
          margin: 10px auto;
          padding: 0;
          width: 30px;
        }

        .dropdown-menu {
          border-left: 0;
          border-radius: 0;
          border-right: 0;
          border-top: 0;
          box-shadow: none;
          margin: 0;
          min-height: 69px;
          padding: 0;
          position: absolute;
          top: -2px;
          width: 750px;

          .clippy_wrapper {
            position: relative;
            top: 2px;
          }

          &.open { display: block; }

          &.fr-box {
            .content-block {
              color: $text;
              max-height: 550px;
              overflow: auto;
              padding: 15px 20px 18px 25px !important;
              text-align: left;

              p {
                font-family: inherit;
                font-size: inherit;
                margin-bottom: 10px;
              }

              hr {
                border-top-color: $gray-30;
                margin-bottom: 10px;
                margin-top: 10px;
              }

              ul li,
              ol li {
                margin: 5px 0;
              }

              ul {
                list-style: none;
                margin: 0;
                text-align: left;

                &.list {
                  margin-bottom: 10px;
                  padding-left: 0;
                }

                li {
                  &:hover {
                    .icon-fr2 { color: inherit; }
                  }

                  &.with-icon {
                    line-height: modular-scale(3);
                    margin: 10px 0;

                    &:first-child { margin-top: 0; }
                    &:last-child { margin-bottom: 0; }

                    .icon-fr2-facebook { top: -2px; }
                    .icon-fr2-twitter { top: -1px; }
                  }

                  .icon-fr2 {
                    float: left;
                    font-size: 22px;
                    margin-right: 10px;
                    width: 22px;

                    &.icon-fr2-rss {
                      font-size: 16px;
                      left: 2px;
                    }
                    &.icon-fr2-message {font-size: 21px;}
                    &.info-fr-tooltip {
                      float: none;
                      margin-left: -2px;
                      margin-right: 1px;
                      font-size: 12px;
                    }
                  }
                }
              }

              form {
                overflow: hidden;
                width: 100%;

                .form-group { margin: 0; }

                .radio:last-child { margin-bottom: 0; }

                .btn.btn-medium { min-width: 135px; }
              }

              .email-label,
              .rss-label {
                font-weight: normal;
              }

              .email-label { padding-right: 5px; }
              .rss-label { padding-right: 11px; }

              dl {
                margin-bottom: 0px;
                $dt-width: 215px;

                dt {
                  clear: both;
                  float: left;
                  padding-right: 5px;
                  text-align: right;
                  width: $dt-width;

                  &::after {
                    content: ":";
                    padding-left: 1px;
                  }

                  svg.ecfr-svg-icon-info-circle {
                    fill: $gray-60;
                    height: 14px;
                    margin-right: -4px;
                    position: relative;
                    top: 0;
                    width: 14px;
                  }
                }
                dd {
                  padding-left: $dt-width;
                  max-width: 735px;

                  svg.ecfr-svg-icon-content-copy {
                    fill: darken($color-enhanced, 10);
                    height: 18px;
                    left: 2px;
                    position: absolute;
                    width: 18px;
                  }

                  .tooltip { margin-left: 11px; }

                  &.bulleted {
                    @include bullet($color-enhanced);
                    padding-left: $dt-width + 20px;
                    text-indent: -20px;
                  }
                  &.link-see-all { padding-top: 10px; }
                }

                .svg-tooltip.clickable,
                .svg-tooltip.copy-to-clipboard {
                  cursor: pointer;
                  display: inline;
                  position: relative;

                  &:hover svg { fill: $orange; }
                }
              }
            }
          }
        }
      }

      .dropdown-menu.fr-box .content-block ul.table-of-contents {
        @include custom-bullets($color-enhanced, "19px");

        max-height: 300px;
        overflow: auto;

        li {
          &::before { padding-right: 10px; }

          &.level-2 { margin-left: 15px; }
          &.level-3 { margin-left: 30px; }
          &.level-4 { margin-left: 45px; }
        }
      }

      .svg-icon-content-copy {
        height: 19px;
        left: 2px;
        position: absolute;
        width: 19px;
      }

      .utility-nav-comments {
        // over-specifying due to overuse of !important elsewhere in the cascade
        .dropdown-menu.dropdown-menu-right.fr-box .content-block {
          padding-left: 5px !important;

          & > .svg-icon-chat {
            height: 25px;
            position: relative;
            top: -3px;
            width: 25px;
          }
          & > .svg-icon-conversation-alt {
            height: 35px;
            position: relative;
            top: -3px;
            width: 35px;
          }
        }

        &.unavailable .dropdown-menu.dropdown-menu-right.fr-box .content-block{
          padding-left: 25px !important;
        }
      }

      .utility-nav-regs-dot-gov {
        .regulations-dot-gov-logo { margin-bottom: 10px; }

        h5 { margin-bottom: 0; }
        h5:not(:first-of-type) { margin-top: 20px; }
      }

      .utility-nav-sharing {
        dt { width: 180px !important; }
        dd { padding-left: 180px !important; }
      }

      .utility-nav-document-statistics {
        dt { width: 95px !important; }
        dd { padding-left: 95px !important; }
      }

      .utility-nav-developer-tools {
        dl { margin-bottom: 10px !important; }
        dl + p { margin-bottom: 0px !important; }
        dt { width: 115px !important; }
        dd { padding-left: 115px !important; }
      }
    }
  }
}

.comment-count-by-docket {
  .table-container {
    margin-top: 30px;
    max-height: 300px;
    overflow-y: auto;
  }

  table {
    th {
      border-bottom: 1px solid $gray-60;
      text-align: left;

      &.text-center {
        text-align: center;
      }
    }

    td {
      padding: 10px 0;

      // comment counts
      &:nth-last-child(2) {
        text-align: right;
      }

      // info icon
      &:nth-last-child(1) {
        padding-left: 5px;
      }
    }

    .svg-icon-info-circle {
      height: 16px;
      position: relative;
      top: 2px;
      width: 16px;
    }
  }
}
