<div class="item-sorter">
  <h5>Alpha</h5>
  <ul class="list-item-sorter alphabetical-sorter">
    <li class="on">
      <a class="asc" href="#" data-sort-direction="asc">Asc</a>
    </li>
    <li>
      <a class="dec" href="#" data-sort-direction="desc">Dec</a>
    </li>
  </ul>
</div>
