.main-title-bar h1.my-comments {
  .icon-fr2 { font-size: modular-scale(6); }
}

#comment_commentUrl_input {
  width: 875px; /* Provide additional width for multi-agency table to fill */
}

.multi-agency-table {
  border-collapse: separate;
  border-spacing: 0 10px;
  width: 100%;

  th {
    font-weight: normal;
    font-style: italic;
  }

  td, th {
    padding: 8px; /* add padding to cells */
  }

  tr td:last-child {
    white-space: nowrap; /* Set Docket ID to not wrap on to two lines */
  }
}

.multi-agency-radio-js {
  display: none;
}

.green-btn {
  background-color: $green;
  color: $white;
  cursor: pointer;
  font-weight: bold;
  height: 23px;
  min-width: inherit;
  padding: 6px;
  text-transform: none;
  width: 102px;

  &:hover,
  &.hover {
    color: white;
    background-color: lighten($green, 20);
  }

  &.selected {
    background-color: lighten($green, 20);
  }
}

h2.title .icon-fr2-comment { top: 5px; }

body .tipsy.agency-not-participating { width: 250px; }


div#comment_metadata_bar { @extend %list_page_title_metadata_bar; }

ul#comments > li {
  @extend %rounded_capsule;
  width: 938px;
}

.comments {
  li {
    &.doc-published .rule_type { color: $color-published; }
    &.doc-official .rule_type { color: $color-official; }

    .rule_type { @extend %large_document_icon_frame; }
  }
}

ul#comments {
  .comment_count {
    bottom: 10px;
    display: inline-block;
    height: 25px;
    left: 9px;
    position: absolute;
    text-align: center;
    width: 53px;

    .icon-fr2.icon-fr2-conversation-alt {
      color: $green;
      float: left;
      font-size: 20px;
    }

    .count {
      @include border-radius(12);

      background-color: $green;
      border: 2px solid $white;
      color: $white;
      font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
      font-size: 14px;
      font-weight: bold;
      line-height: 13px;
      margin: 0;
      margin-left: 5px;
      min-height: 12px;
      min-width: 12px;
      padding: 0 5px;
      padding-bottom: 1px;
      text-align: center;
      width: auto;
    }

    &:hover {
      .icon-fr2 { color: $orange; }
      .count { background-color: $orange; }
    }
  }

  .title { @extend %capsule_title; }
  .comment_data {
    @extend %capsule_metadata_dash_separated;
    width: 178px;

    dl.metadata {
      dt {
        height: auto;
        line-height: 12px;
        margin: 10px 0 5px 0;

        &:first-child { margin-top: 0; }
      }
    }
  }
}
