.main-title-bar h1.my-subscriptions {
  .icon-fr2 {
    font-size: modular-scale(6);
  }
}

#subscription_metadata_bar { @extend %list_page_title_metadata_bar; }

ul#subscriptions > li {
  @extend %rounded_capsule;
  width: 938px;
  }

ul#subscriptions {
  .title { @extend %capsule_title; }

  .search_data {
    @extend %capsule_data;
    @extend %capsule_metadata_wrapper;
    dl#col-1 {
      dd { min-width: 100px; }
    }
    dl#col-2 {
      width: 300px;
      dt {
        clear: both;
        float: left;
      }
      dd { float: left; }
    }
  }

  .subscription_data {
    @extend %capsule_metadata_dash_separated;
    width: 178px;
  }
}

ul#subscriptions .icon-fr2 {
  width: 54px;
  height: 54px;
  margin-right: 5px;

  display: inline-block;
  top: -5px;
  left: -5px;
  vertical-align: top;

  overflow: hidden;
  z-index: 500;

  font-size: 60px;
  color: $fr-bright-orange;
}

#subscription-actions {
  @extend %list_item_action_bar;
  margin-top: 2em;

  #subscription-type-filter {
    @extend %list_item_filters;

    ul {
      li {
        overflow: hidden;
        color: $fr-gray-40;
        padding-left: 5px;
        width: 105px;
        font-weight: 500;
        font-size: modular-scale(-1);

        .label {
          display: inline-block;
          top: -6px;
          position: relative;
        }
      }
      li.sub_pi { width: 150px; }
      li.on,
      li.hover { color: $fr-bright-orange; }
      li.disabled { color: $fr-gray-20; }

      li.sub_article,
      li.sub_pi {
        background-color: $list-item-filter-bg;

        .icon-fr2 {
          font-size: 22px;
          top: -1px;
        }
      }

      li.sub_article.on,
      li.sub_article.hover {
        background-color: $list-item-filter-bg-on;
      }
      li.sub_pi.on,
      li.sub_pi.hover {
        background-color: $list-item-filter-bg-on;
      }

      li.sub_article.disabled {
        background-color: $list-item-filter-bg;
      }
      li.sub_pi.disabled {
        background-color: $list-item-filter-bg;
      }
    }
  }
}

.subscription_data {
  .active { color: $fr-green; }
  .inactive { color: $fr-red; }
}

.tipsy.commented-on-document { width: 600px; }
