.main-title-bar h1.my-subscriptions {
  .icon-fr2 {
    font-size: modular-scale(6);
  }
}

.subscription_metadata_bar {
  @extend %list_page_title_metadata_bar;
}

ul.subscriptions {
  > li {
    @extend %rounded_capsule;
    width: 948px;
  }

  .title { @extend %capsule_title; }

  .search_data {
    @extend %capsule_data;
    @extend %capsule_metadata_wrapper;
    dl.col-1 {
      dd { min-width: 100px; }
    }
    dl.col-2 {
      width: 300px;
      dt {
        clear: both;
        float: left;
      }
      dd { float: left; }
    }
  }

  .subscription_data {
    @extend %capsule_metadata_dash_separated;
    width: 178px;
  }

  .icon-fr2 {
    color: $fr-bright-orange;
    display: inline-block;
    font-size: 60px;
    height: 54px;
    left: -5px;
    margin-right: 5px;
    overflow: hidden;
    top: -5px;
    vertical-align: top;
    width: 54px;
    z-index: 500;
  }
}

.subscription-actions {
  @extend %list_item_action_bar;
  height: 40px;
  margin-top: 2em;

  .subscription-type-filter {
    @extend %list_item_filters;

    ul {
      overflow: auto;

      li {
        color: $fr-gray-40;
        font-size: modular-scale(0);
        font-weight: 500;
        height: 28px;
        overflow: hidden;
        padding-left: 5px;
        width: 135px;

        &.sub_pi { width: 175px; }
        &.on,
        &.hover { color: $fr-bright-orange; }
        &.disabled { color: $fr-gray-20; }

        &.sub_document,
        &.sub_pi {
          background-color: $list-item-filter-bg;

          &.on,
          &.hover {
            background-color: $list-item-filter-bg-on;
          }

          &.disabled {
            background-color: $list-item-filter-bg;
          }
        }

        .icon-fr2 {
          font-size: 26px;
          top: 1px;
        }

        .label {
          display: inline-block;
          position: relative;
          top: -5px;
        }
      }
    }
  }
}

.subscription_data {
  .active { color: $fr-green; }
  .inactive { color: $fr-red; }
}

.tipsy.commented-on-document { width: 600px; }
