/*
A box used for containing other content on Federal Register pages.

Modifiers here control the color of the box elements.

.fr-box-official                    - Used only for Official Content
.fr-box-official-alt                - Used for Alternate Official Content
.fr-box-enhanced                    - Used for Enhanced Content
.fr-box-published                   - Used for Published Documents pre-Officialness
.fr-box-small.fr-box-official-alt   - Small FR Box for Alternate Official Content
.fr-box-small.fr-box-enhanced       - Small FR Box for Enhanced Content
.fr-box-small.fr-box-published      - Small FR Box for Published Documents pre-Officialness

Styleguide 1.1 FR Boxes
*/

@mixin fr-doc($main-color, $secondary-color) {
  // Styles for the fr-box
  background-color: $secondary-color;

  .fr-seal-block {
    h6 {background-color: $main-color; }

    &.fr-seal-block-header {
      border-top: 3px solid $main-color;

      .fr-seal-content {
        &:hover,
        &.hover {
          background-color: $main-color;
          margin-top: 0;
          position: relative;
          z-index: 100;

          .fr-seal-meta {
            display: inline-block;
            margin-top: 0;
          }
        }
      }
    }

    &.fr-seal-block-footer {
      border-bottom: 3px solid $main-color;
    }
  }
}

.fr-box {
  // show box as inactive unless we specify the proper box type
  @include fr-doc($color-inactive, $color-inactive-light);
  position:relative;

  .fr-seal-stamp {
    float: left;
    font-size: 150px;
    height: 100px;
    margin-left: 15px;
    margin-right: 20px;
    width: 120px;

    .fr-stamp {
      display: block;
      position: relative;
      top: -20px;
    }
  }

  &.fr-box-public-inspection {
    .fr-seal-meta {
      a {
        color: $white;
        text-decoration: underline;
      }

      .fr-seal-stamp {
        color: $public-inspection-fr-stamp;
        font-size: 125px;

        .fr-stamp { top: 10px; }
      }
    }
  }

  .content-block {
    color: $text;
    font-size: modular-scale(0);
    padding: 35px 10px 25px 10px;

    &.simple {
      padding-left: 20px;
      padding-right: 20px !important;
    }

    p {
      @include gesta;

      &:last-child { padding-bottom: 0; }
    }

    a {
      color: $fr-link-dark;
      &:hover {color: $fr-orange; }
    }
  }

  // Establishes the color scheme for boxes that have header/footer blocks
  &.fr-box-official {
    @include fr-doc($color-official, $color-official-light);
  }
  &.fr-box-official-alt {
    @include fr-doc($color-official, $color-official-light-alt);
  }
  &.fr-box-enhanced {
    @include fr-doc($color-enhanced, $color-enhanced-light);
  }
  &.fr-box-public-inspection {
    @include fr-doc($color-public-inspection, $color-public-inspection-light);
  }
  &.fr-box-public-inspection-alt {
    @include fr-doc($color-public-inspection, $color-public-inspection-light-alt);
  }
  &.fr-box-reader-aid {
    @include fr-doc($color-reader-aid, $color-reader-aid-light);
  }
  &.fr-box-published {
    @include fr-doc($color-published, $color-published-light);
  }
  &.fr-box-published-alt {
    @include fr-doc($color-published, $color-published-light-alt);
  }

  &.fr-box-small {
    padding-bottom: 0;
    padding-left:0 !important;

    .fr-seal-meta { padding-top: 0; }

    .fr-seal-content {
      p { padding: 10px; }
    }
  }

  &.fr-box-full {
    .fr-seal-block {
      h6 {
        color: $white;
        font-family: inherit;
        font-size: modular-scale(-2);
        width: 100%;
      }

      &.fr-seal-block-header { text-align: left; }
      &.fr-seal-block-footer {
        border-bottom-width: 2px;

        h6 { display: none; }
      }
    }
  }
}

.fr-seal-block {
  @include gesta;
  color: $white;
  overflow: inherit;
  width: 100%;

  h6 {
    clear: both;
    color: inherit !important;
    display: inline-block;
    font-size: modular-scale(-2) !important;
    font-weight: 700;
    margin: 0 !important;
    text-transform: uppercase;
  }

  a {
    color: inherit !important;
    text-decoration: underline !important;

    &:hover {
      text-decoration: underline !important;
    }
  }

  .fr-seal-meta {
    display: none;
    margin-top: -10px;
    padding: 15px 15px 20px 15px;

    p {
      @include apertura-condensed;
      color: $white;
      font-size: modular-scale(0);
      padding: 10px 130px 0 15px;
    }
  }
}

.fr-seal-block {
  &.fr-seal-block-header {
    margin-bottom: 10px;

    &.with-hover{ position: absolute; }

    h6 {
      float:left;
      padding-bottom: 2px;
      padding-left: 5px;
      padding-right: 40px;
    }
  }
  &.fr-seal-block-footer {
    bottom: 0;
    position: absolute;

    h6 {
      float:right;
      padding-left: 40px !important;
      padding-right: 5px;
      padding-top: 3px;
    }
  }
}
.fr-box-small .fr-seal-block {
  &.fr-seal-block-header h6 { padding-right: 20px; }
  &.fr-seal-block-footer h6 { padding-left: 20px !important; }
}
