@mixin fr-metadata-bar-header($main-color, $secondary-color, $label-bg:$main-color) {
  background-color: $secondary-color;
  border-bottom: 1px solid $main-color;
  border-top: 1px solid $main-color;

  .fr-head-meta-label {
    background-color: $label-bg;

    a {
      color: $secondary-color;

      &:hover { color: $white; }
    }
  }
  .fr-head-meta-counts {
    background-color: $secondary-color;
    padding-bottom: 5px;

    a { color: $main-color; }

    .fr-list { margin: 3px 0 0 0; }
  }
}


.fr-head-metadata-bar {
  &.fr-head-metadata-bar-official {
    @include fr-metadata-bar-header($color-enhanced, $color-enhanced-light, darken($color-enhanced, 20));

    .fr-head-meta-counts a {
      color: $current-issue-link;

      &:hover { color: $current-issue-link-hover; }
    }
  }

  &.fr-head-metadata-bar-late {
    @include fr-metadata-bar-header($color-public-inspection, $color-public-inspection-light);

    .fr-head-meta-label .icon-fr2 {
      color: $color-public-inspection-light;
      &:hover { color: $public-inspection-link-hover; }
    }
  }

  &.fr-head-metadata-bar-public-inspection {
    @include fr-metadata-bar-header($color-public-inspection, $color-public-inspection-light);

    .fr-head-meta-counts a {
      color: $public-inspection-link;

      &:hover { color: $public-inspection-link-hover; }
    }

    .fr-head-meta-label-holder {
      .fr-head-meta-label {
        padding-left: 28px;

        .icon-fr2 {
          color: $color-public-inspection-light;
          padding-right: 0px;
        }
      }

      .icon-fr2.icon-fr2-stop-hand {
        color: $gray-15;
        font-size: 115px;
        left: 65px;
        top: 5px;
      }
    }

    .public-inspection-list-stats .document-stats li { color: $text; }
  }

  .row { margin-bottom: 0 !important; }

  .fr-head-meta-label-holder { padding: 0; }

  .fr-head-meta-label {
    color: $white;
    height: 60px;
    padding: 4px 15px 0 24px;

    h4 {
      display: inline-block;
      font-weight: 500;
      margin: 0 !important;
    }

    a span {
      text-decoration: underline;
    }

    .icon-fr2 {
      display: inline-block;
      font-size: 34px;
      margin-right: 5px;
      position: relative;
      text-decoration: none;
      top: 7px;
    }
  }

  .fr-head-meta-counts {
    font-size: modular-scale(0);
    font-weight: 400;

    .row { margin-bottom: 0 !important; }

    ul { padding: 0; }

    .fr-list.fr-list-inline {
      clear: both;

      div { float: none; }

      h5 {
        float: left;
        margin-right: 10px;
        margin-top: 5px;
        width: 102px;
      }

      .block-content {
        float: left;
        padding-bottom: 5px;
      }
    }

    li {
      float: left;
      font-size: modular-scale(0);
      list-style-type: none;
      margin-right: 10px;
      min-height: 24px;
    }

    h5 {
      color: $gray-70;
      font-size: modular-scale(0);
      margin-bottom: 3px;
    }

    p {
      @include sans_serif;
      font-size: modular-scale(0);
      margin: 0;
      padding: 10px 0;
    }
  }

  a.public-inspection-toggle {
    color: $gray-70;
    font-weight: bold;
    position: relative;
    text-decoration: none !important;
    top: 20px;

    &:visited { color: $gray-70; }

    &:hover,
    &.hover { color: $color-public-inspection; }

    span.link-text { text-decoration: underline; }

    .icon-fr2 {
      font-size: 17px;
      height: 17px;
      position: relative;
      top: -1px;
      vertical-align: middle;
      width: 17px;
    }
  }
}

.pi-metadata-bar {
  .fr-head-metadata-bar {
    .fr-head-meta-counts {

      .row { margin-bottom: 0 !important; }

      li { margin-right: 0; }

      .description {
        .icon-fr2-stop-hand {
          color: $gray-20;
          font-size: 105px;
          left: -5px;
          position: relative;
          top: 20px;
        }

        p {
          font-size: modular-scale(-1);
          line-height: 1.5;
        }
      }
    }
  }
  .fr-list.with-stats {
    margin-top: 4px !important;

    li {
      margin-bottom: 3px;
      width: inherit;

      h5 {
        border-bottom: 1px solid $text-light;
        color: $text;
        margin: 0;
      }
    }
  }

  .filings-updated {
    font-style: italic;
  }
  .public-inspection-list-stats {
    color: $gray-80;
    float: left;
    font-size: modular-scale(0);
    margin-top: 10px;
    width: 100%;

    .filings-summary {
      float: left;
      width: 250px;
    }

    .document-stats {
      float: left;
      margin-left: 0;
      margin-top: 10px;
      width: 316px;

      li {
        font-size: inherit;
        margin-right: 15px;
        padding: 0;
        width: auto;
      }
    }
  }
}

@media only screen and (max-width: $small-viewport-width) {
  @mixin mobile-metadata-bars {
    .fr-head-meta-label {
      height: auto;

      h4 {
        font-size: $metadata-bar-font-size;
        .icon-fr2 {
          left: -17px;
          top: -1px;
        }
        span {
          position: relative;
          left: -13px;
          top: -9px;
        }
      }
    }
  }

  .homepage-grid #reg-metadata-bar, #document-issue-grid #reg-metadata-bar,#pi-metadata-bar {
    @include mobile-metadata-bars()
  }

}

body:not(.homepage-grid) > #reg-metadata-bar, body:not(.homepage-grid) > #pi-metadata-bar {
  margin-top: 1rem;
}
