/*
A box used for containing the main official content on Federal Register pages.

The block header here contains css for the official seal.

.fr-box-official - Used only for official content

Styleguide 1.1.1 FR Box Official
*/


.fr-box {
  &.fr-box-official {
    padding-left: 0;
    @include fr-doc($color-official, $color-official-light);

    .fr-seal-stamp {
      width: 120px;
      height: 100px;

      float: left;
      margin-right: 20px;
      margin-left: 15px;

      font-size: 150px;

      .fr-stamp {
        display: block;
        position: relative;
        top: -20px;
      }
    }
  }
}
