@mixin fr-metadata-bar-header($main-color, $secondary-color) {
  background-color: $secondary-color;

  .fr-head-meta-label {
    background-color: $main-color;
    a { color: inherit; }
  }
  .fr-head-meta-counts {
    background-color: $secondary-color;
    margin-top: 8px;

    a { color: $main-color; }

    .fr-list { margin: 1px 0 0 0; }
  }
}


.fr-head-metadata-bar {
  &.fr-head-metadata-bar-official {
    @include fr-metadata-bar-header($fr-green, $color-enhanced-light);

    .fr-head-meta-label i { color: $color-enhanced-light; }
  }

  &.fr-head-metadata-bar-public-inspection {
    @include fr-metadata-bar-header($color-public-inspection, $color-public-inspection-light);

    .fr-head-meta-label-holder {
      .fr-head-meta-label {
        padding-left: 28px;

        i {
          color: $color-public-inspection-light;
          padding-right: 4px;
        }
      }

      .icon-fr2.icon-fr2-stop-hand {
        font-size: 115px;
        left: 65px;
        top: 5px;
        color: $fr-gray-15;
      }
    }
    .fr-topic-list.with-stats li:hover { color: $fr-gray-40; }
  }

  .row { margin-bottom: 0 !important; }

  .fr-head-meta-label-holder { padding: 0; }

  .fr-head-meta-label {
    height: 60px;
    color: #fff;
    padding: 4px 15px 0 24px;

    i {
      font-size: 34px;
      position: relative;
      top: 7px;
      margin-right: 5px;
    }

    h4 {
      margin: 0 !important;
      font-weight: 500;
      display: inline-block;
      text-decoration: underline;
    }
  }

  .fr-head-meta-counts {
    font-size: modular-scale(0);

    .row { margin-bottom: 0 !important; }

    ul { padding: 0; }

    .fr-list.fr-list-inline {
      clear: both;

      div { float: none; }

      h5 {
        float: left;
        width: 102px;
        margin-right: 10px;
        margin-top: 5px;
      }

      .block-content {
        float: left;
        padding-bottom: 5px;
      }
    }

    li {
      float: left;
      list-style-type: none;
      margin-right: 15px;
      font-size: modular-scale(-1);
    }

    h5 {
      font-size: modular-scale(0);
      margin-bottom: 3px;
      color: #444;
    }

    p {
      @include apertura-condensed;
      margin: 0;
      font-size: modular-scale(0);
      padding: 10px 0;
    }
  }

  a.public-inspection-toggle {
    text-decoration: none !important;
    color: $fr-gray-70;
    font-weight: bold;

    top: 16px;
    position: relative;

    &:hover,
    &.hover { color: $color-public-inspection; }

    span.link-text { text-decoration: underline; }

    .icon-fr2 {
      height: 17px;
      width: 17px;
      position: relative;
      top: -1px;
      font-size: 17px;
      vertical-align: middle;
    }
  }
}

.pi-metadata-bar {
  .fr-head-metadata-bar {
    .fr-head-meta-counts {
      margin-top: 0;

      .row { margin-bottom: 0 !important; }

      li { margin-right: 0; }

      .description {
        .icon-fr2-stop-hand {
          font-size: 105px;
          position: relative;
          top: 20px;
          left: -5px;
          color: $fr-gray-20;
        }

        p {
          line-height: 1.5;
          font-size: modular-scale(-1);
        }
      }
    }
  }
  .fr-list.with-stats {
    margin-top: 4px !important;

    .public-inspection-list-stats {
      /* explicitely set as the cascade is causing problems
       here due to percentages higher in the chain */
      width: 316px;
    }

    li {
      width: inherit;
      padding: 1px 15px 0;
      margin-bottom: 3px;

      h5 { margin: 0; }
    }
  }

  .filings-updated {
    font-size: modular-scale(-2);
    font-style: italic;
  }
  .public-inspection-list-stats {
    color: #333;
    width: 100%;
    float: left;
    margin-top: 5px;

    .document-stats {
      margin: 0;
      margin-top: 3px;

      li {
        padding: 0;
        margin-right: 15px;
      }
    }
  }
}
