.editorial-note-box {

  .icon-fr2-alert_alt {
    font-size: 39px !important;
    left: -5px;
    color: $fr-gray-50;
  }

  .fr-seal-block-footer {
    h6 {
      display: none !important;
    }
  }

}
