.info-box {
  padding: 10px;
  border-top: 4px solid $color-public-inspection;
  overflow: hidden;
  margin-left: 15px;
  margin-right: 15px;

  .col-md-1 { padding-left: 0; }
  .col-md-11 {
    position: relative;
  }

  .icon-fr2-info_circle {
    font-size: 64px;
    color: $color-public-inspection;
    left: -5px;
  }

  p {
    padding-bottom: 0;
    line-height: 1.5;
  }

  .pi_notice {
    @extend %pi_notice;
    font-size: modular-scale(-1) !important;
    line-height: 1.3;
  }
}
