---
http_interactions:
- request:
    method: get
    uri: http://api.data.gov/TEST/regulations/v3/documents.json?s=ITC-2013-0207-0001&countsOnly=1&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-ratelimit-limit:
      - '10000'
      x-ratelimit-remaining:
      - '9536'
    body:
      encoding: US-ASCII
      string: ! '{"totalNumRecords":0}'
  recorded_at: Fri, 03 Apr 2015 21:14:33 GMT
- request:
    method: get
    uri: http://example.com/api/v1/documents.json?s=ITC-2013-0207-0001&countsOnly=1&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json; charset=UTF-8
      last-modified:
      - Tue, 12 Jun 2018 22:08:56 GMT
    body:
      encoding: US-ASCII
      string: ! "<!doctype html>\n<html>\n<head>\n    <title>Example Domain</title>\n\n
        \   <meta charset=\"utf-8\" />\n    <meta http-equiv=\"Content-type\" content=\"text/html;
        charset=utf-8\" />\n    <meta name=\"viewport\" content=\"width=device-width,
        initial-scale=1\" />\n    <style type=\"text/css\">\n    body {\n        background-color:
        #f0f0f2;\n        margin: 0;\n        padding: 0;\n        font-family: \"Open
        Sans\", \"Helvetica Neue\", Helvetica, Arial, sans-serif;\n        \n    }\n
        \   div {\n        width: 600px;\n        margin: 5em auto;\n        padding:
        50px;\n        background-color: #fff;\n        border-radius: 1em;\n    }\n
        \   a:link, a:visited {\n        color: #38488f;\n        text-decoration:
        none;\n    }\n    @media (max-width: 700px) {\n        body {\n            background-color:
        #fff;\n        }\n        div {\n            width: auto;\n            margin:
        0 auto;\n            border-radius: 0;\n            padding: 1em;\n        }\n
        \   }\n    </style>    \n</head>\n\n<body>\n<div>\n    <h1>Example Domain</h1>\n
        \   <p>This domain is established to be used for illustrative examples in
        documents. You may use this\n    domain in examples without prior coordination
        or asking for permission.</p>\n    <p><a href=\"http://www.iana.org/domains/example\">More
        information...</a></p>\n</div>\n</body>\n</html>\n"
  recorded_at: Tue, 12 Jun 2018 22:08:57 GMT
- request:
    method: get
    uri: http://api.data.gov/regulations/v3/documents.json?s=ITC-2013-0207-0001&countsOnly=1&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '15'
      x-ratelimit-remaining:
      - '6'
    body:
      encoding: US-ASCII
      string: ! '{"totalNumRecords":1}'
  recorded_at: Tue, 12 Jun 2018 22:13:24 GMT
recorded_with: VCR 2.6.0
