<% page_title "Something went wrong." %>

<%= title do %>
  500 Server Error
<% end %>

<%= bootstrap_context_wrapper do %>
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <h2>Something went wrong!</h2>

      <p>We've been notified about this issue and we'll take a look at it shortly.</p>

      <% content_for(:page_to_track, '/500.html') %>

      <script type="text/javascript">
        $(document).ready(function(){
          gtag('event', 'errors', {'event_action': '500', 'event_label': document.location.pathname + document.location.search + "&from=" + document.referrer})
        });
      </script>
    </div>
  </div>
<% end %>
