<div id="subscription_metadata_bar">
  <ul>
    <li>Document Subscriptions: <span class="entry_subscription_on_page_count"><%= article_subscription_count %></span></li>
    <li>Public Inspection Subscriptions: <span class="pi_subscription_on_page_count"><%= pi_subscription_count %></span></li>
  </ul>
</div>
