<div class="subscription_metadata_bar">
  <ul>
    <li>
      Document Subscriptions:
      <span class="document_subscription_on_page_count">
        <%= document_subscription_count %>
      </span>
    </li>

    <li>
      Public Inspection Subscriptions:
      <span class="pi_subscription_on_page_count">
        <%= pi_subscription_count %>
      </span>
    </li>
  </ul>
</div>
