<% page_title 'Subscription Confirmed' %>

<% title do %>
  <%= fr_icon 'message_open' %>
  Subscriptions
<% end %>

<%= bootstrap_context_wrapper do %>
  <div class="row">
    <div class="<%= bootstrap_col xs:12, md: 12 %> small_content_wrapper">
      <h3>Your subscription has been confirmed!</h3>

      <p>
        When new documents are
        <%= params[:type] == 'MailingList::PublicInspectionDocument' ? 'filed on public inspection' : 'published' %>
        that match your criteria, you will receive email notification.
      </p>
    </div>
  </div>
<% end %>
