<% page_title 'Unsubscribe' %>

<% title do %>
  <%= fr_icon 'document_subscription' %>
  <%= 'Subscriptions' %>
<% end %>

<%= bootstrap_context_wrapper do %>
  <div class="row">
    <div class="<%= bootstrap_col(xs: 12, md:12) %>">
      <p>You have been successfully unsubscribed from that search result.</p>
    </div>
  </div>
<% end %>
