// from jquery-ui
.ui-helper-hidden-accessible {
  left: -99999999px;
  position: absolute;
}

#navigation .ui-autocomplete.ui-widget-content,
.ui-autocomplete.ui-widget-content {
  background: $white;
  border: 1px solid $gray-15;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  list-style: none;
  padding: 10px 0;
  width: 380px;

  .ui-menu-item {
    background: none;
    border: 0;
    color: $link-dark;
    cursor: pointer;
    display: block;
    height: auto;
    margin-bottom: 0;
    padding: 5px 10px;

    &:hover { background: $gray-5; }

    .ui-state-active {
    	@extend %ui-autocomplete-active-state;

      background: none;
      border: 0;
      color: $orange;
    }
  }
}

%ui-autocomplete-active-state {
  &:hover,
  &:focus,
  &.ui-state-hover,
  &.ui-state-focus {
    background: $gray-5;
    border: 0;
    color: $orange;
  }
}

.ui-autocomplete-input + .loader {
  background: image-url('fr_orange_loader.svg') no-repeat;
  height: 25px;
  margin: 0 auto;
  position: absolute;
  right: 165px;
  top: 6px;
  width: 25px;
}
