.calendar-wrapper {
  margin-bottom: 26px;

  .loader {
    background: image-url('fr_orange_loader.svg') no-repeat;
    height: 100px;
    margin: 0 auto;
    width: 100px;
  }
}

.calendar {
  border-collapse: separate;
  margin-bottom: 0;
  table-layout: fixed;
  width: 218px;

  thead tr.calendarNav {
    height: 18px;

    th.calendarPrev,
    th.calendarNext {
      background: none;
      font-size: modular-scale(-1);
      padding-bottom: 7px;
      vertical-align: bottom;
    }
  }

  th.monthName {
    font-size: modular-scale(2);
    line-height: 1em;

    select {
      margin-bottom: 5px;
      margin-left: 10px;
      margin-top: 5px;
    }
  }

  .dayName th {
    border-bottom: 1px solid $gray-80;
    border-top: 1px solid $gray-80;
    width: (100/7) * 1%;

    abbr { border-bottom: 0; }
  }

  tbody td {
    border: 1px solid $white;
    width: (100/7) * 1%;
  }

  td,
  th {
    padding: 0;
    table-layout: fixed;
    text-align: center;
    vertical-align: middle;
  }

  td a {
    display: block;
    font-weight: 700;
    height: 24px;
    width: 24px;

    &:visited { color: inherit; }
  }

  .weekend { background: $gray-20; }

  .late {
    background: $light-red;
    font-weight: 500;
  }

  .holiday {
    background: $dark-blue !important;
    color: $white;
    font-weight: bold;

    &:visited { color: $white; }
  }

  .published a {
    background: $color-enhanced-light;
    color: $color-enhanced-dark !important;

    &:hover {
      background: $color-enhanced-dark !important;
      color: $white !important;
    }

    &:visited { color: $color-enhanced-dark; }
  }

  .current {
    background: $orange;
    color: $white !important;
    font-weight: bold;
  }

  .current-issue a {
    background: $color-enhanced-dark;
    color: $white !important;

    &:hover {
      background: $color-enhanced-dark;
      color: $color-enhanced-light !important;
    }

    &:visited { color: $white; }
  }

  .otherMonth { background: $gray-10; }


}

@media only screen and (max-width: $small-viewport-width) {
  .date_input_holder, .calendar-wrapper { margin-top: $row-gap; margin-bottom: $row-gap;}

  #date {width: 87%;}

  .calendar-toggle-link {
    padding-left: 6px;
  }

  .calendar-wrapper {
    height: 309px;
  }

  .calendar {
    height: 100%;
    width: 100%;

    td.published, td.current-issue {background: $color-enhanced-light !important;}

    td a {
      line-height: 0px;
    }

  }
}
