.calendar {
  border-collapse: separate;
  width: 218px;

  thead tr.calendarNav {
    height: 18px;

    th.calendarPrev,
    th.calendarNext {
      background: none;
      font-size: modular-scale(-1);
      padding-bottom: 7px;
      vertical-align: bottom;
    }
  }

  th.monthName {
    font-size: modular-scale(2);
    line-height: 1em;

    select {
      margin-bottom: 5px;
      margin-left: 10px;
    }
  }

  .dayName th {
    width: 30px;
    border-top: 1px solid $fr-gray-80;
    border-bottom: 1px solid $fr-gray-80;

    abbr { border-bottom: none; }
  }

  tbody td { border: 1px solid $white; }

  td,
  th {
    padding: 0;
    table-layout: fixed;
    text-align: center;
    vertical-align: middle;
  }

  td a {
    display: block;
    font-weight: 700;

    &:visited { color: inherit; }
  }

  .weekend { background: $fr-gray-20; }

  .late {
    background: $fr-light-red;
    cursor: pointer;
    font-weight: 500;
  }

  .holiday {
    background: $fr-orange;
    color: $white;
    font-weight: bold;

    &:visited { color: $white; }
  }

  .published a {
    color: $color-enhanced-dark;
    background: $color-enhanced-light;

    &:hover {
      background: $color-enhanced-dark;
      color: $white;
    }

    &:visited { color: $color-enhanced-dark; }
  }

  .current a {
    color: $white;
    background: $color-enhanced-dark;

    &:visited { color: $white; }
  }

  .otherMonth { background: $fr-gray-10; }
}
