/* calendar */
.bootstrap-scope {
  #date_chooser {
    position: relative;
    left: 10px;

    .calendar {
      th.monthName { text-align: center; }
      tr.calendar_nav th,
      .dayName th { padding-left: 10px; }
    }
  }

  .content-block {
    padding-right: 30px !important;
  }
}

.fr-subscribe {
  background-color: $color-enhanced-light;
  border-top: 1px solid $color-enhanced;
  border-bottom: 1px solid $color-enhanced;
  padding: 6px 13px 3px;

  a {
    color: $text;
    text-decoration: none;

    &.subscription:hover {
      background: none;
      color: $color-enhanced-dark;
      text-decoration: none;
    }

    .icon-fr2 {
      font-size: 16px;
      top: 1px;

      &.icon-fr2-message {
        font-size: 20px;
        top: 3px;
        position: relative;
      }
    }
  }
}

/* Meta data for document */
.bootstrap-scope .doc-toc {
  @include apertura-condensed;
  margin-left: -15px;

  #regular-filing { padding-top: 0; }

  .special,
  .regular {
    z-index: 200;
    position: relative;

    &> h2 {
      font-size: 26px;
      font-weight: bold;
      color: $text-color;

      span.updated_at {
        font-size: 12px;
        display: block;
        font-weight: normal;
        font-style: italic;
      }
    }
  }

  h2 {
    @include apertura-condensed;
    font-size: 22px;
    color: $color-official;
    text-transform: none;
    font-weight: bold;
  }

  h3 {
    @include apertura-condensed;
    font-size: 17px;
    text-transform: uppercase;
    margin-left: 15px;
    font-weight: bold;
    color: $text;
  }

  .title_bar {
    border-top: 3px solid $color-public-inspection;
    color: $color-public-inspection;

    h2 {
      margin: 0;
      a { color: $color-public-inspection; }
    }

    .back_to_top {
      position: absolute;
      top: 1px;
      right: 5px;
      text-transform: none;
      font-size: 11px;
    }
  }

  .content-block {
    padding: 35px 30px 20px 30px !important;
  }

  ul {
    font-size: 16px;
    list-style: none;
    margin-left: 25px;

    a { font-size: 16px; }
  }

  dl {
    margin-left: 30px;
    font-size: 16px;

    dt,
    dd {
      clear: both;

      a { color: $fr-link-dark; }
    }

    dd { font-weight: normal; }

    div.details {
      padding-bottom: 10px;
      overflow: hidden;
      width: 659px;
      font-weight: normal;
      font-size: 14px;
    }

    dt > div.details .column.file_info { width: 185px; }

    div.column {
      position: relative;
      width: 185px;
      margin-right: 10px;
      float: left;
      display: block;

      &.dates { width: 220px; }
      &.doc_numbers { margin-right: 0; }

      .small { font-size: inherit; }

      .pdf {
        color: $color-public-inspection;
        &:hover {
          font-weight: bold;
          text-decoration: underline;
        }
      }

      .document_number { display: block; }
    }
  }

  .public_inspection {
    h3 {
      clear: both;
    }
    dl div.details a { font-weight: normal; }
  }

  div.editorial_note {
    clear: both;
    margin-bottom: 30px;
    font-size: 14px;
    margin-left: 20px;
    line-height: 18px;
  }

  span.pdf.small {
    //background: sprite-image('icons/icon_pdf_small.png', 0, 3px, 50px) no-repeat;
    padding-left: 20px;
    display: inline-block;
  }

  span.new_document {
    //background: sprite-image('icons/new_badge_icon.png', 0, 0, 50px) no-repeat;
    width: 16px;
    height: 17px;
    display: inline-block;
    position: absolute;
    left: -20px;
  }

  span.permalink {
    //background: sprite-image('icons/icon_permalink.png', -1px, 0, 50px) no-repeat;
    padding-left: 20px;
    display: block;
  }

  span.permalink:hover {
    //background: sprite-image('icons/icon_permalink_hover.png', -1px, 0, 50px) no-repeat;
  }
}

.bootstrap-scope {
  .doc-toc,
  .doc-toc-nav {
    .fr-box { margin-bottom: 20px; }

    .count_pill {
      @include border-radius(5);
      background-color: $color-public-inspection-light-alt;
      color: $color-public-inspection;
      border: 1px solid lighten($color-public-inspection, 40);
      font-size: 12px;
      font-weight: bold;
      width: 30px;
      height: 18px;
    }
  }
}

.bootstrap-scope .doc-toc-nav {
  padding: 0;

  .content-block {
    padding-right: 10px !important;
    font-size: 14px;
  }
  ul {
    list-style: none;
    margin-left: 0;

    li {
      margin: 5px 0;
      padding-right: 40px;
      padding-bottom: 5px;
      border-bottom: 1px solid $color-public-inspection-light-alt;
      position: relative;

      span.count_pill {
        position: absolute;
        right: 0;
        top: 2px;
        line-height: 15px;
      }
    }
  }
}

/* TEST FORMATTING */

.bootstrap-scope .doc-document-issue {
  .title_bar {
    border-top: 3px solid $color-official;
    color: $color-official;

    h2 {
      margin: 0;
      a { color: $color-official; }
    }
  }

  .test_cat_margin {
    margin-left: 8px;
  }

  .test_toc_margin {
    margin-left: 20px;
  }

  .fr-subscribe-brandon-test {
    background-color: $color-enhanced-light;
    border-top: 1px solid $color-enhanced;
    border-bottom: 1px solid $color-enhanced;
    padding: 6px 13px 3px;

    a {
      color: $text;
      text-decoration: none;

      &.subscription:hover {
        background: none;
        color: $color-enhanced-dark;
        text-decoration: none;
      }

      .icon-fr2 {
        font-size: 16px;
        top: 1px;

        &.icon-fr2-message {
          font-size: 20px;
          top: 3px;
          position: relative;
        }
      }
    }
  }

  .row.no-bottom-margin{
    /* Bootstrap looks to make margin-bottom !important, need to overrwrite */
    margin-bottom: 0px !important;
  }

  ul.test_font_style {
    font-size: 12px;
    a {
      font-size: 12px;
    }

  }
}


