#tender {
  background-color: $fr-dark-blue;
  border-bottom: 0;
  border: 2px solid $fr-gray-20;
  color: $white;
  display: block;
  padding: 5px 10px 8px;
  position: absolute;
  right: -54px;
  top: 200px;
  transform: rotate(-90deg);
  z-index: 5000;

  .icon-fr2 {
    font-size: modular-scale(2);
    margin-left: -5px;
    margin-right: -2px;
    top: 3px;
  }
}
