%agency-header {
  h1 {
    border-bottom: 2px solid $fr-gray-20;
    margin-bottom: 0.25em !important;
    padding-left: 10px;
  }

  .agency-logo {
    background-color: $white;
    float: left;
    padding-left: 5px;
    padding-right: 10px;
  }
}

.agencies {
  .agency-header {
    @extend %agency-header;
  }

  .page-summary {
    .description { margin: 10px 0; }

    .sub-agency-list {
      dt { width: 15%; }
      dd { width: 85%; }
      dd + dd { margin-left: 15%; }
    }
  }

  // doesn't work with <= IE9
  .row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .jump-menu {
    background-color: $color-enhanced-light;
    border-bottom: 1px solid $color-enhanced;
    border-top: 1px solid $color-enhanced;
    margin-right: 15px;

    h6 { margin-top: 5px; }

    .fr-list { margin-left: 10px; }
  }
}
