abbr, acronym { border-bottom: none; }
div.notice,
div.warning {
  padding: .5em .5em .25em;
  margin-bottom: 30px;
  text-align: center;
  float: none;
}
div.message {
  /* reset border radius */
  border-radius:0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  /* apply our style */
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -moz-border-radius-bottomleft: 6px;
  }
div.notice {
  background: #D7E5C2;
  border: 1px solid #7AA13D;
  }
div.warning {
  background: #EDD3D3;
  border: 1px solid #8A3737;
  }

span.unsaved { 
  color: #8A3737;
  font-weight: bold;
  }

div#account-needed-modal,
div#new-folder-modal { 
  display: none; 
  
  background-color: white;
  border: 5px solid #3F5B75;
  display: none;
  padding: 1em;
  position: fixed;
  top: 5em;
  width: 500px;
  }
div#account-needed-modal .jqmClose,
div#new-folder-modal .jqmClose {
  position: absolute;
  right: 1em;
  top: 1em;
  }
div#account-needed-modal h3,
div#new-folder-modal h3 {
  border-top: none;
  border-bottom: 2px solid #363636;
  margin-bottom: .5em;
  margin-top: 0;
  text-transform: uppercase;
  font-size: 1.8em;
  }

div#new-folder-modal form { margin-top: 10px; } 
div#new-folder-modal form fieldset label { 
  color: #565656;
  font-weight: 700;
  font-size: 1.05em;
  }
div#new-folder-modal form fieldset.inputs { 
  float: left;
  margin-bottom: 0;
  }
div#new-folder-modal form fieldset.inputs input { 
  @include my_fr2-sprite(icon_new_folder_input, $my_fr2-sprite-dimensions, 4, 2);
  border: 1px solid #D5D5D5;
  height: 17px;
  margin-right: 0;
  padding: 1px 5px 1px 25px;
  width: 215px;
  }

div#new-folder-modal form fieldset.buttons { 
  margin: 0;
  padding-left: 10px;
  }
div#new-folder-modal form fieldset.buttons li.commit { padding: 0; }

div#new-folder-modal .folder_create,
div#new-folder-modal .folder_success {
  display: none;
  text-align: center;
  }
div#new-folder-modal .folder_create .icon,
div#new-folder-modal .folder_success .icon {
  width: 18px;
  height: 18px;
  position: relative;
  }
div#new-folder-modal .folder_success .icon {
  top: -2px;
  @include my_fr2-sprite(icon_badge_checked_green);
  }
div#new-folder-modal .folder_create .icon {
  top: 4px;
  margin-left: 10px;
  background: url(/my/assets/orange_loader.gif) 0 0 no-repeat;
  }
div#new-folder-modal .folder_error { display: none; }
div#new-folder-modal .folder_error p { 
  color: #8A3737; 
  height: 25px;
  }
div#new-folder-modal .folder_error .icon {
  width: 20px;
  height: 25px;
  background: url(icons/disclaimer.png) 0 0 no-repeat;
  margin-right: 10px;
  }

.signup_tabs {
  margin-bottom: 0;
  font-size: 1.2em;
  outline: 0;
  }

.signup_tabs, .signup_bar {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 850px;
}
.signup_tabs li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  padding: 0 10px;
  }
.signup_tabs li.on {
  background: #F1F1F1;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -o-border-top-left-radius: 5px;
  -ms-border-top-left-radius: 5px;
  -khtml-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  -o-border-top-right-radius: 5px;
  -ms-border-top-right-radius: 5px;
  -khtml-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: -1em;
  padding-bottom: 1em;
  padding-top: 0.25em;
}

.signup_bar {
  background: #F1F1F1;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 5em;
  padding: 1em 0;
  padding-left: 25px;
  overflow: hidden;
  position: relative;
  }

