abbr, acronym { border-bottom: none; }

div.notice,
div.warning {
  padding: .5em .5em .25em;
  margin-bottom: 30px;
  text-align: center;
  float: none;
}
div.message {
  /* reset border radius */
  @include border-radius(0);

  /* apply our style */
  @include rounded-bottom(6);
  }
div.notice {
  background: $fr_light_green;
  border: 1px solid $fr_green;
  }
div.warning {
  background: $fr_light_red;
  border: 1px solid $fr_red;
  }

span.unsaved { 
  color: $fr_red;
  font-weight: bold;
  }

div#account-needed-modal,
div#new-folder-modal { 
  display: none; 
  
  background-color: white;
  border: 5px solid $fr_dark_blue;
  display: none;
  padding: 1em;
  position: fixed;
  top: 5em;
  width: 500px;

  .jqmClose {
    position: absolute;
    right: 1em;
    top: 1em;
  }

  h3 {
    border-top: none;
    border-bottom: 2px solid #363636;
    margin-bottom: .5em;
    margin-top: 0;
    text-transform: uppercase;
    font-size: 1.8em;
  }
}

div#account-needed-modal,
div#new-folder-modal {
  .title_bar .icon-fr2 {
    margin-right: 5px;
    top: -5px;
    position: relative;
    float: left;
    font-size: 30px;
  }
}
div#account-needed-modal {
  .title_bar .icon-fr2 { top: -4px; }
}

div#new-folder-modal { 
  form { 
    margin-top: 10px;
    
    fieldset label { 
      color: #565656;
      font-weight: 700;
      font-size: 1.05em;
    }

    fieldset.inputs { 
      float: left;
      margin-bottom: 0;
      position: relative;

      .icon-fr2 {
        position: absolute;
        top: 1px;
        color: #999999;
        font-size: 21px;
        left: 100px;
        z-index: 2;
      }

      input { 
        border: 1px solid #D5D5D5;
        height: 17px;
        margin-right: 0;
        padding: 1px 5px 1px 25px;
        width: 215px;
      }
    }

    fieldset.buttons { 
      margin: 0;
      padding-left: 10px;

     li.commit { padding: 0; }
    }
  }
}


div#new-folder-modal {
  .folder_create,
  .folder_success {
    display: none;
    text-align: center;
    margin-top: 20px;
  }

  .folder_success {
    .icon-fr2-badge_check_mark {
      top: 4px;
      left: 10px;
      color: $fr-green;
      font-size: 20px;
    }
  }
  .folder_create .loader {
    height: 16px;
    width: 16px;
    top: 1px;
    margin-left: 10px;
    background: url(/my/assets/orange_loader.gif) 0 0 no-repeat;
  }

  .folder_error {
    display: none;

    p {
      color: $fr_red;
      height: 25px;
      padding: 0;
    }

    .icon-fr2 {
      font-size: 22px;
      top: 4px;
    }
  }
}


.signup_tabs, 
.signup_bar {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 850px;
}

.signup_tabs {
  margin-bottom: 0;
  font-size: 1.2em;
  outline: 0;

  li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0px;
    white-space: nowrap;
    display: -moz-inline-box;
    -moz-box-orient: vertical;
    display: inline-block;
    vertical-align: middle;
    padding: 0 10px;
  }
 
  li.on {
    background: #F1F1F1;
    @include rounded-bottom(6);
    margin-bottom: -1em;
    padding-bottom: 1em;
    padding-top: 0.25em;
  }
}

.signup_bar {
  background: #F1F1F1;
  @include border-radius(6);
  margin-bottom: 5em;
  padding: 1em 0;
  padding-left: 25px;
  overflow: hidden;
  position: relative;
  }

