@mixin background_seal {
  height: 442px;
  left: 750px;
  position: absolute;
  top: -125px;
  width: 442px;
  z-index: -1;
}

.mdrnzr-svg body .nara-background-seal {
  @include background_seal;

  background-clip: content-box;
  background-image: image-url('header/Nara1985Seal.svg');
  background-position: 0 0;
  background-position: center; // scss-lint:disable DuplicateProperty
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.mdrnzr-svg.mdrnzr-cssgradients body .nara-background-seal {
  .nara-background-seal-fade {
    background-image: -moz-linear-gradient(bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    background-image: -ms-linear-gradient(bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    background-image: -o-linear-gradient(bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    background-image: -webkit-linear-gradient(bottom, $white, rgba(255, 255, 255, 0));
    background-image: linear-gradient(bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    background-repeat: repeat-x;
    bottom: 0px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(255, 255, 255, 0)', endColorstr='rgba(255, 255, 255, 1)', GradientType=1);
    height: 351px;
    position: absolute;
    width: 442px;
  }
}

.mdrnzr-no-svg body .nara-background-seal {
  @include background_seal;

  background: image-url('header/Nara1985Seal.png') no-repeat right top;
  height: 450px;
  width: 450px;
}

#print-disclaimer { display: none; }

@media (min-width: 970px) {
  body { overflow-x: hidden; }
}

body {
  a { text-decoration: none; }

  #main,
  .site-footer .wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 970px;
  }
}


abbr,
acronym { border-bottom: 0; }

a:hover,
.bootstrap-scope a:hover {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

div.notice,
div.warning,
div.danger,
div.info_warning,
div.flash.error {
  border-radius: 6;
  float: none;
  margin-bottom: 30px;
  padding: 0.5em 0.5em 0.25em;
  text-align: center;
}

div.message {
  // reset border radius
  border-radius: 0;
  // apply our style
  @include rounded-bottom(6); // scss-lint:disable DeclarationOrder
}

div.notice {
  background: $fr-light-green;
  border: 1px solid $fr-green;

  &.message p {
    line-height: 25px;
    padding-bottom: 1em;
  }
}

div.warning,
div.danger,
div.flash.error {
  background: $fr-light-red;
  border: 1px solid $fr-red;
}

div.flash.error { background-image: none; }

div.info_warning {
  background-color: $fr-light-yellow;
  border: 1px solid $fr-golden;
}

.has_js .skip_to_content { display: none; }



span.unsaved {
  color: $fr-red;
  font-weight: bold;
}

.tipsy {
  @include apertura-condensed;
  font-size: 12px;
}

div#account-needed-modal {
  .title_bar .icon-fr2 { top: -4px; }
}

div#new-folder-modal {
  form {
    margin-top: 10px;

    fieldset label {
      color: $fr-gray-70;
      font-size: 1.05em;
      font-weight: 700;
    }

    fieldset.inputs {
      float: left;
      margin-bottom: 0;
      position: relative;

      .icon-fr2 {
        color: $fr-gray-40;
        font-size: 21px;
        left: 100px;
        position: absolute;
        top: 1px;
        z-index: 2;
      }

      input[type=text] {
        padding: 1px 5px 1px 25px;
      }
    }

    fieldset.buttons {
      margin: 0;
      padding-left: 10px;
    }
  }
}


div#new-folder-modal {
  h3.title_bar { margin-top: 0; }

  .folder_create,
  .folder_success {
    display: none;
    margin-top: 20px;
    text-align: center;
  }

  .folder_success {
    .icon-fr2-badge_check_mark {
      color: $fr-green;
      font-size: 20px;
      left: 10px;
      top: 4px;
    }
  }

  .folder_create .loader {
    background: image-url('orange_loader.gif') 0 0 no-repeat;
    height: 16px;
    margin-left: 10px;
    top: 1px;
    width: 16px;
  }

  .folder_error {
    display: none;

    p {
      color: $fr-red;
      height: 25px;
      padding: 0;
    }

    .icon-fr2 {
      font-size: 22px;
      top: 4px;
    }
  }
}


.signup_tabs,
.signup_bar {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 850px;
}

#new_user {
  .loader {
    background: image-url('orange_loader.gif') 0 0 no-repeat;
    background-position: center 2px;
    display: none;
    height: 16px;
    margin-left: 30px;
    padding-bottom: 2px;
    width: 16px;
  }
}

.signup_tabs {
  font-size: 1.2em;
  margin-bottom: 0;
  outline: 0;

  li {
    -moz-box-orient: vertical;
    display: -moz-inline-box;
    display: inline-block;

    list-style-image: none;
    list-style-type: none;
    margin-left: 0px;
    padding: 0 10px;
    vertical-align: middle;
    white-space: nowrap;

    &.on {
      @include rounded-bottom(6);
      background: $fr-gray-5;
      margin-bottom: -1em;
      padding-bottom: 1em;
      padding-top: 0.25em;
    }
  }
}

.signup_bar {
  background: $fr-gray-5;
  border-radius: 6;
  margin-bottom: 5em;
  overflow: hidden;
  padding: 1em 0;
  padding-left: 25px;
  position: relative;
}

.small_content_wrapper { min-height: 400px; }

.small-stack,
.small_stack {
  color: $fr-dark-blue;
  display: inline-block;
  font-size: modular-scale(-2);
  font-variant: small-caps;
  font-weight: 500;
  line-height: 1;
  margin-right: 0.5em;
  text-align: right;
  text-transform: uppercase;

  span { display: block; }
}
