div.warning {
  background: #EDD3D3;
  border: 1px solid #8A3737;
  padding: .5em .5em .25em;
  margin-bottom: 30px;
  text-align: center;
  }
div.warning p {
  padding-bottom: 0px;
  }
span.unsaved { 
  color: #8A3737;
  font-weight: bold;
  }
