abbr, acronym { border-bottom: none; }

div.notice,
div.warning,
div.info_warning {
  padding: .5em .5em .25em;
  margin-bottom: 30px;
  text-align: center;
  float: none;
  @include border-radius(6);
}
div.message {
  /* reset border radius */
  @include border-radius(0);

  /* apply our style */
  @include rounded-bottom(6);
  }
div.notice {
  background: $fr-light-green;
  border: 1px solid $fr-green;
  }
div.warning {
  background: $fr-light-red;
  border: 1px solid $fr-red;
  }
div.info_warning {
  background-color: $fr-light-yellow;
  border: 1px solid $fr-golden;
}

div.notice.message p {
  padding-bottom: 1em;
  line-height: 25px;
  }

div.notice.message p {
  padding-bottom: 1em;
  line-height: 25px;
  }

span.unsaved { 
  color: $fr-red;
  font-weight: bold;
  }

div#account-needed-modal {
  .title_bar .icon-fr2 { top: -4px; }
}

div#new-folder-modal { 
  form { 
    margin-top: 10px;
    
    fieldset label { 
      color: #565656;
      font-weight: 700;
      font-size: 1.05em;
    }

    fieldset.inputs { 
      float: left;
      margin-bottom: 0;
      position: relative;

      .icon-fr2 {
        position: absolute;
        top: 1px;
        color: #999999;
        font-size: 21px;
        left: 100px;
        z-index: 2;
      }

      input[type=text] { 
        padding: 1px 5px 1px 25px;
      }
    }

    fieldset.buttons { 
      margin: 0;
      padding-left: 10px;
    }
  }
}


div#new-folder-modal {
  h3.title_bar { margin-top: 0; }

  .folder_create,
  .folder_success {
    display: none;
    text-align: center;
    margin-top: 20px;
  }

  .folder_success {
    .icon-fr2-badge_check_mark {
      top: 4px;
      left: 10px;
      color: $fr-green;
      font-size: 20px;
    }
  }
  .folder_create .loader {
    height: 16px;
    width: 16px;
    top: 1px;
    margin-left: 10px;
    background: url(/my/assets/orange_loader.gif) 0 0 no-repeat;
  }

  .folder_error {
    display: none;

    p {
      color: $fr-red;
      height: 25px;
      padding: 0;
    }

    .icon-fr2 {
      font-size: 22px;
      top: 4px;
    }
  }
}


.signup_tabs, 
.signup_bar {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 850px;
}

.signup_tabs {
  margin-bottom: 0;
  font-size: 1.2em;
  outline: 0;

  li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0px;
    white-space: nowrap;
    display: -moz-inline-box;
    -moz-box-orient: vertical;
    display: inline-block;
    vertical-align: middle;
    padding: 0 10px;
  }
 
  li.on {
    background: #F1F1F1;
    @include rounded-bottom(6);
    margin-bottom: -1em;
    padding-bottom: 1em;
    padding-top: 0.25em;
  }
}

.signup_bar {
  background: #F1F1F1;
  @include border-radius(6);
  margin-bottom: 5em;
  padding: 1em 0;
  padding-left: 25px;
  overflow: hidden;
  position: relative;
  }

.small_content_wrapper { min-height: 400px; }
