h2.title {
  border-bottom: 1px solid #CCC;
  margin: 0;
  padding-left: 40px;
  @include my_fr2-sprite(icon_folder_large, $my_fr2-sprite-dimensions, 0, 2);
  line-height: 1.1em;
  padding-top: 5px;  
  }
h2.clipboard.title {
  @include my_fr2-sprite(icon_clipboard_large, $my_fr2-sprite-dimensions, 0, 3);
  }
div#folder_metadata_bar { margin-bottom: 2em; }
div#folder_metadata_bar ul { 
  font-weight: 700;
  color: #666;
  list-style: none;
  }
div#folder_metadata_bar ul li { 
  display: inline-block;
  margin-right: 20px;
  }

#clippings > li { 
  width: 900px;

  list-style: none;
  padding: 10px;
  position: relative;
}

#clippings li {
  background-color: #F5F8F9;
  margin-bottom: 10px;

  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border: #B3C2CF 1px solid;
}

#clippings div.rule_type {
  width: 49px;
  height: 49px;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  z-index: 500;
  margin-right: 10px;
  margin-left: 4px;
}
#clippings div.rule_type img { position: relative; }
#clippings div.rule_type.doc_presdocu img { top: -2px; }
#clippings div.rule_type.doc_rule img { top: -467px; }
#clippings div.rule_type.doc_notice img { top: -933px; }
#clippings div.rule_type.doc_prorule img { top: -1398px; }

.document_data, .clipping_data { 
  display: inline-block;
  vertical-align: top;
  }
.document_data { width: 675px; }

#clippings .title { 
  background: none;

  width: 650px;
  height: auto;
  margin: 0;
  padding: 0;

  font-size: 1.3em;
  text-align: left;
  line-height: 1.3em;

  clear: none;
  }

#clippings dl#col-1 { width: 200px; }
#clippings dl#col-2 { width: 200px; }
#clippings dl#col-3 { width: 215px; }

#clippings dl#col-1 dt {
  clear: both;
  float: left;
  }
#clippings dl#col-1 dd {
  float: left;
  padding-top: 4px;
  margin-left: 5px;
  }

#clippings dl.metadata { 
  font-size: 1em;
  margin: 0 20px 0 0;
  float: left;
  }
#clippings dl.metadata dt {
  color: #6E6E6E;
  height: 19px;
  }
#clippings dl.metadata dd {
  margin-left: 1em;
  margin-bottom: 3px;
  line-height: 1em;
  padding-left: 10px;
  text-indent: -10px;
  }
#clippings dl.metadata dd:last { margin-bottom: none; }

#clippings div.clipping_data {
  border-left: 1px dashed #CCC;
  padding-left: 10px;
  }

#clippings div.add_to_folder_pane {
  width: 27px;

  position: absolute;
  left: 917px;
  top: -1px;

  margin-bottom: 10px;
  padding: 0 5px 0 8px;

  background-color: #EEE;
  border: #CCC 1px solid;
  border-left: #B3C2CF 1px solid;

  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  -moz-border-radius-bottomright: 6px;
  }
#clippings div.add_to_folder_pane .left_side {
  width: 6px;
  background-color: #F5F8F9;
  border: #B3C2CF 1px solid;
  height: 100%;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  -moz-border-radius-bottomright: 6px;
  top: -1px;
  position: absolute;
  left: -4px;
  border-left: none;
  margin: 0;
  }
#clippings li div.add_to_folder_pane input {
  margin-left: 7px;
  }

/***********************************
* Moving clippings between folders *
***********************************/

#clipping-actions #add-to-folder span.update {
  color: #7AA13D;
  font-weight: 700;
  opacity: 0;
  position: absolute;
  right: 8px;
  }
#clipping-actions div.menu a span.loader {
  width: 18px;
  height: 18px;
  top: 3px;
  right: 3px;
  position: absolute;
  margin-right: 0;

  display: none;
  background: url(orange_loader.gif) 0 0 no-repeat;
  }

