#doc-type-filter {
  position: absolute;
  top: 5px;
  margin-left: 5px;
  }

#doc-type-filter ul li {
  display: inline-block;
  float: left;
  width: 21px;
  height: 20px;
  border: 1px solid #CCC;
  background-color: #FFF;
  border-right: 0px;
  overflow: hidden;
  position: relative;
  }
#doc-type-filter ul li.hover,
#doc-type-filter ul li.on {
  background-color: #F5F8F9;
  }
#doc-type-filter ul li.disabled { background-color: #FFF; }

#doc-type-filter ul li.first { @include rounded-left(6); }
#doc-type-filter ul li.last { 
  @include rounded-right(6);
  border-right: 1px solid #CCC;
  }

#doc-type-filter li img { position: relative; }

#doc-type-filter li.doc_presdocu.on img,
#doc-type-filter li.doc_presdocu.hover img {
  top: -1px; }
#doc-type-filter li.doc_rule.on img,
#doc-type-filter li.doc_rule.hover img {
  top: -211px; }
#doc-type-filter li.doc_notice.on img,
#doc-type-filter li.doc_notice.hover img {
  top: -422px; }
#doc-type-filter li.doc_prorule.on img,
#doc-type-filter li.doc_prorule.hover img {
  top: -632px; }
#doc-type-filter li.doc_correct.on img,
#doc-type-filter li.doc_correct.hover img {
  top: -1054px; }

#doc-type-filter li.doc_presdocu img { top: -1264px; }
#doc-type-filter li.doc_rule img { top: -1474px; }
#doc-type-filter li.doc_notice img { top: -1685px; }
#doc-type-filter li.doc_prorule img { top: -1895px; }
#doc-type-filter li.doc_correct img { top: -2317px; }

#doc-type-filter li.doc_presdocu.disabled img { top: -2527px; }
#doc-type-filter li.doc_rule.disabled img { top: -2737px; }
#doc-type-filter li.doc_notice.disabled img { top: -2948px; }
#doc-type-filter li.doc_prorule.disabled img { top: -3158px; }
#doc-type-filter li.doc_correct.disabled img { top: -3580px; }

