/**********************************************
/* MYFR2 - DOCUMENT TYPE FILTER CUSTOMIZATIONS
***********************************************/
#doc-type-filter {
  position: absolute;
  top: 3px;
  margin-left: 5px;
}


/**********************************************
/* MYFR2 - ADD TO FOLDER / JUMP TO FOLDER MENU
***********************************************/
#clipping-actions { @extend %list_item_action_bar; }

#clipping-actions {
  .action_menu {
    width: 168px;
    position: absolute; 
    margin: 0;
    top: 3px;
    font-family: "gesta-1","gesta-2", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

    .icon-fr2 { vertical-align: middle; }

    .icon-fr2-folder,
    .icon-fr2-open_folder {
      font-size: 22px;
      top: -3px;
    }

    .icon-fr2-menu_arrow { 
      font-size: 13px;
      top: -2px;
    }
  }
  #add-to-folder { 
    right: 32px;
    width: 190px;
  }
  
  #jump-to-folder {
    right: 211px;
  }
}


#clipping-actions {
  #add-to-folder .button,
  #jump-to-folder .button {
    position: relative;
    left: 10px;
    height: 20px;
    width: 139px;
    padding: 3px 2px 0 5px;

    background-color: #FFF;
    border: #CCC 1px solid;
    line-height: 1.2em;
    z-index: 1001;
  }

  #add-to-folder .button { width: 160px; }
}

#clipping-actions {
  #add-to-folder.hover .button,
  #jump-to-folder.hover .button {
    background-color: #FFF;
    color: #B88659;
    padding-bottom: 6px;

    @include rounded-bottom(0);
    border-bottom: none;
  }
}


#clipping-actions div.menu {
  display: none;
  position: relative;
  z-index: 1000;

  width: 200px;
  right: 48px;
  top: -3px;
  padding: 2px 5px 5px 5px;

  background-color: #EEE;
  border: #CCC 1px solid;
  border-top: none;

  @include rounded-bottom(6);
  }
#clipping-actions #add-to-folder .menu { 
  right: 28px; 
  padding: 2px 6px 5px 6px;
}

#clipping-actions {
  #add-to-folder.hover,
  #jump-to-folder.hover {
    .menu { 
      display: block; 

      ul {
        background-color: #FFF;
        margin: 0;
        border: #DDD 1px solid;

        border-top-left-radius: 6px;
        -webkit-border-top-left-radius: 6px;
        -moz-border-radius-topleft: 6px;

        @include rounded-bottom(6)
      }
    }
  }
}

#clipping-actions div.menu {
  a {
    span { display: inline-block; }
    span.name { width: 158px; }
    span.document_count { float: right; }
  }

  ul {
    background-color: #FFF;
    margin: 0;
    border: #DDD 1px solid;
  
   li {
      padding: 1px 5px;
      border-bottom: #CCC 1px dashed;
      margin: 0;
      color: #6E6E6E;
      font-weight: bold;
      position: relative;

     a {
        color: #6E6E6E;
        font-weight: bold;
        font-family: "gesta-1","gesta-2", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      }
    }
    li:hover {
      background-color: #EBF4F7;
      color: #B88659;
      cursor: pointer;

      a { color: #B88659; }
    }

    li:last-child { border-bottom: none; }

    li#new-folder {
      padding-left: 0;
      text-align: center;
      .icon-fr2 {
        color: #6E6E6E;
        font-size: 16px;
        top: -1px;
      }
    }
    li#new-folder.hover,
    li#new-folder:hover {
      color: #B88659;
      .icon-fr2 { color: #B88659; }
    }
  }
}

#clipping-actions #jump-to-folder.hover .menu ul li:first-child:hover {
  border-top-left-radius: 6px;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topleft: 6px;
  }


#clipping-actions #remove-clipping {
  width: 18px;
  height: 23px;
  
  position: absolute;
  top: 3px;
  right: 6px;
  font-size: 22px;
  padding: 0 4px 0 4px;
  color: #6e6e6e;

  border: #CCC 1px solid;
  @include border-radius(6);

  background-color: #FFF;
  z-index: 1000;

  .icon-fr2-trash_can {
    left: -2px;
    top: -4px;
  }
  .icon-fr2-trash_can:hover { color: $fr-red; }
}

/**********************************************
/* FR2 - ADD TO FOLDER MENU
***********************************************/
#clipping-actions.fr2 {
  width: 50px;
  background-color: #FFF;
  border: none;
  position: relative;
  margin-right: 0px;
 
  .icon-fr2 { text-indent: 0; }

  #add-to-folder {
    position: relative;
    width: 50px;
    left: 0px;
    margin: 0;
  
    .button {
      width: 50px;
      height: 27px;
      left: 0px;

      padding: 5px 0 0 2px;
      border: none;

      z-index: 100;

      
      .icon-fr2-flag {
        color: #6E6E6E;
        top: -6px;
        font-size: 34px;
        margin-right: 0;
      }
      .icon-fr2-menu_arrow {
        top: -4px;
        left: -3px;
        font-size: 13px;
      }

      .icon-fr2.clipped { color: $fr-orange; }
    }

    .menu {
      clear: both;
      position: absolute;
      right: -4px;
      top: 32px;
      padding: 5px 7px 5px 5px;
      border-top: solid 1px #CCC;
      z-index: 1;

      border-top-left-radius: 6px;
      -webkit-border-top-left-radius: 6px;
      -moz-border-radius-topleft: 6px;
    }
  }

  /* the .hover class is used by javascript and is needed because of   *
   * javascript triggered hover interactions that don't play well with *
   * mouse position and css hover states - we get a flickering menu!   */
   
  #add-to-folder.hover {
    top: -1px;
    left: -1px;
    height: 36px;
    background-color: #EEE;

    
    .button {
      background-color: #EEE;
      border: #CCC 1px solid;
      border-bottom: none;

      @include rounded-bottom(0);
      @include rounded-top(6);

      .icon-fr2-flag,
      .icon-fr2-menu_arrow { color: $fr-orange; }
    }
    .menu { display: block; }
  }

}


#clipping-actions.fr2 div.menu {
  li#new-folder {
    .icon-fr2 { top: 3px; }
  }

  li#new-folder.hover { 
    color: $fr-orange;
    a { color: $fr-orange; } 
  }
}



#clipping-actions.fr2 div.menu ul { 
  width: 200px;
  position: relative;

  @include border-radius(6);
  li { 
    float: none;
    display: list-item;
    clear: both;
  }
}

#clipping-actions.fr2 div.menu {
  li {
    .icon-fr2 {
      top: 2px;
      font-size: 19px;
      color: #CCC;
    }
  }

  li.in_folder { 
    cursor: default;
    
    a {
      .icon-fr2.icon-fr2-badge_check_mark.checked { color: $fr-green; }
      .icon-fr2.icon-fr2-badge_x.delete,
      .icon-fr2.icon-fr2-badge_forward_arrow.goto { display: none; }
    }
  }

  li.in_folder:hover {
    a { 
      color: #6E6E6E; 
      
      .icon-fr2.icon-fr2-badge_x.delete { display: inline-block; }
      .icon-fr2.icon-fr2-badge_x.delete:hover { color: $fr-red; }

      .icon-fr2.icon-fr2-badge_forward_arrow.goto {
        display: inline-block;
        right: 25px;
      }
      .icon-fr2.icon-fr2-badge_forward_arrow.goto:hover { color: $fr-green; }
    }
  }
}
  
#clipping-actions.fr2 div.menu {
  a {
    span.name { white-space: normal; }

    span.icon,
    span.loader {
      width: 18px;
      height: 18px;
      right: 3px;
      position: absolute;
      margin-right: 0;
    }
  }
}

#clipping-actions.fr2 div.menu {
  li.not_in_folder {
    a {
      .icon-fr2.icon-fr2-badge_check_mark { color: #CCC; }
      span.loader {
        width: 18px;
        height: 18px;
        display: none;
        background: url(/my/assets/orange_loader.gif) 0 0 no-repeat;
      }
    }
  }

  li.not_in_folder:hover {
    a {
      .icon-fr2.icon-fr2-badge_check_mark { color: $fr-orange; }
    }
  }
}
