// MyFR clippings and folder pages
.folder_clippings .clipping-actions {
  @extend %list_item_action_bar;
  font-size: modular-scale(0);
  margin-bottom: 0;

  .doc-type-filter {
    margin-left: 5px;
    position: absolute;
    top: 3px;
  }

  .action_menu {
    margin: 0;
    position: absolute;
    top: 3px;
    width: 168px;

    .icon-fr2 { vertical-align: middle; }

    .icon-fr2-folder,
    .icon-fr2-open_folder {
      font-size: 22px;
      top: -3px;
    }

    .icon-fr2-menu_arrow {
      font-size: 13px;
      top: -2px;
    }

    &.add-to-folder,
    &.jump-to-folder {
      .button {
        background-color: $white;
        border: 1px solid $fr-gray-20;
        border-radius: 6px;
        font-weight: 500;
        height: 20px;
        left: 10px;
        line-height: 1em;
        padding: 3px 2px 0 5px;
        position: relative;
        width: 149px;
        z-index: 1001;
      }

      .menu {
        @include rounded-bottom(6);

        background-color: $fr-gray-10;
        border: 1px solid $fr-gray-20;
        border-top: 0;
        display: none;
        font-size: 15px; //intential non-use of modular-scale
        padding: 2px 7px 5px 5px;
        position: relative;
        right: 38px;
        top: -3px;
        width: 200px;
        z-index: 1000;

        a {
          span {
            display: inline-block;

            &.name { width: 158px; }
            &.document_count { float: right; }
          }
        }

        ul {
          background-color: $white;
          border: 1px solid $fr-gray-15;
          margin: 0;

          li {
            border-bottom: 1px dashed $fr-gray-20;
            color: $fr-gray-60;
            font-weight: bold;
            margin: 0;
            padding: 4px 5px;
            position: relative;

            a {
              color: $fr-gray-60;
              font-weight: bold;
            }

            &:hover {
              background-color: $fr-gray-5;
              color: $fr-orange;
              cursor: pointer;

              a { color: $fr-orange; }
            }

            &:last-child { border-bottom: 0; }

            &.new-folder {
              padding-left: 0;
              text-align: center;

              .icon-fr2 {
                color: $fr-gray-60;
                font-size: 16px;
                top: -1px;
              }

              &.hover,
              &:hover {
                color: $fr-orange;
                .icon-fr2 { color: $fr-orange; }
              }
            }
          }
        }
      }

      &.hover {
        .button {
          @include rounded-bottom(0);
          background-color: $white;
          border-bottom: 0;
          color: $fr-orange;
          padding-bottom: 6px;
        }

        .menu {
          display: block;

          ul {
            @include rounded-bottom(6);

            background-color: $white;
            border: 1px solid $fr-gray-15;
            border-top-left-radius: 6px;
            margin: 0;
          }
        }
      }
    }

    &.add-to-folder {
      right: 70px;
      width: 197px;

      .button { width: 160px; }

      .menu {
        padding: 2px 6px 5px 6px;
        right: 28px;
      }
    }

    &.jump-to-folder {
      right: 270px;

      &.hover .menu {
        right: 38px;

        ul li:first-child:hover {
          border-top-left-radius: 6px;
        }
      }
    }
  }

  #select-all-clippings {
    @include border-radius(6);

    background-color: $white;
    border: 1px solid $fr-gray-20;
    color: $fr-gray-60;
    font-size: 22px;
    height: 23px;
    padding: 0 4px 0 4px;
    position: absolute;
    right: 47px;
    top: 3px;
    width: 18px;
    z-index: 1000;

    #select-all-clippings {
      left: -1px;
    }

    .icon-fr2-badge_check_mark  {
      &:hover { color: $fr-orange; }
    }
  }

  .remove-clipping {
    @include border-radius(6);

    background-color: $white;
    border: 1px solid $fr-gray-20;
    color: $fr-gray-60;
    font-size: 22px;
    height: 23px;
    padding: 0 4px 0 4px;
    position: absolute;
    right: 6px;
    top: 3px;
    width: 18px;
    z-index: 1000;

    .icon-fr2-trash_can {
      left: -1px;
      top: -1px;
    }
    .icon-fr2-trash_can:hover { color: $fr-red; }
  }
}
