h2.title {
  @extend %list_page_title;
  .icon-fr2.icon-fr2-flag { top: 5px; }
}

li.download a .icon-fr2-download { 
  margin-right: 5px;
  font-size: 15px;
}

div#folder_metadata_bar { @extend %list_page_title_metadata_bar; }

#my_fr2 #doc-type-filter li .icon-fr2 { padding-left: 3px; }

clippings > li { @extend %rounded_capsule; }

#clippings div.rule_type { @extend %large_document_icon_frame; }

.document_data { 
  @extend %capsule_data;
  @extend %capsule_metadata_wrapper;
}

#clippings .title { @extend %capsule_title }

#clippings .presdocu_metadata_wrapper dl#col-2 dt {
  clear: both;
  float: left;
  }
#clippings .presdocu_metadata_wrapper dl#col-2 dd {
  float: left;
  padding-top: 4px;
  margin-left: 5px;
  }

#clippings div.clipping_data {
  @extend %capsule_metadata_dash_separated;
  }
#clippings div.clipping_data .comment_on {
  position: absolute;
  bottom: 0;
  padding-bottom: 5px;
  padding-left: 20px;
  @include my_fr2-sprite(icon_comment_small_orange, $my_fr2-sprite-dimensions, 0, 2);
  }

#clippings dl.metadata dt.comment_close.open { color: $fr-green; }
#clippings dl.metadata dt.corrected_by { color: $fr-red; }

#clippings div.add_to_folder_pane {
  width: 27px;

  position: absolute;
  left: 917px;
  top: -1px;

  margin-bottom: 10px;
  padding: 0 5px 0 8px;

  background-color: #EEE;
  border: #CCC 1px solid;
  border-left: #B3C2CF 1px solid;

  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  -moz-border-radius-bottomright: 6px;
  }
#clippings div.add_to_folder_pane .left_side {
  width: 6px;
  background-color: #F5F8F9;
  border: #B3C2CF 1px solid;
  height: 100%;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  -moz-border-radius-bottomright: 6px;
  top: -1px;
  position: absolute;
  left: -4px;
  border-left: none;
  margin: 0;
  }
#clippings li div.add_to_folder_pane input {
  margin-left: 7px;
  }

/***********************************
* Moving clippings between folders *
***********************************/

#clipping-actions {
  #add-to-folder span.update {
    color: $fr-green;
    font-weight: 700;
    opacity: 0;
    position: absolute;
    right: 8px;
  }

  div.menu a span.loader {
    width: 18px;
    height: 18px;
    top: 3px;
    right: 3px;
    position: absolute;
    margin-right: 0;

    display: none;
    background: url(/my/assets/orange_loader.gif) 0 0 no-repeat;
  }
}

