#doc-type-search-filter,
#doc-type-filter {
  @extend %list_item_filters;
  ul {
    @extend %list_item_filters_document_icon_image_positions;
  }
}

#doc-type-search-filter {
  padding-top: 5px;
  clear: both;
  position: relative;
  left: 364px;
  margin-left: 0;
  top: 0px;
  }


#doc-type-filter { @extend %list_item_filters_disabled_document_icon_image_positions; }
