// in our current setup these need to be outside the usual bootstrap-scope
// as they are placed immediately inside the <body> tag

@mixin document_markup_tooltip_colors($color, $light-color) {
  .tipsy-arrow { border-top-color: $color; }

  .fr-seal-block-header,
  .fr-seal-block-footer {
    background-color: $color;
    border-color: $color;

    h6 { background-color: $color; }
  }
  .content-block { background-color: $light-color; }
}

.tipsy.document-markup-tooltip {
  &.tooltip-doc-published {
    @include document_markup_tooltip_colors($color-published, $color-published-light-alt);
  }

  &.tooltip-doc-official {
    @include document_markup_tooltip_colors($color-official, $color-official-light-alt);
  }

  .tipsy-arrow {
    border-top-color: $color-enhanced;
  }

  .tipsy-inner {
    background-color: $color-enhanced-light;
    font-size: 11px;
    max-width: 500px;
    overflow: hidden;
    padding: 0;
    text-align: left;

    .fr-box .content-block p {
      margin-bottom: 10px;
    }
  }

  .fr-box-inherit {
    background-color: $color-enhanced-light;
  }
}
