/* in our current setup these need to be outside the usual bootstrap-scope
   as they are placed immediately inside the <body> tag */

.tipsy.stars-tooltip {
  .tipsy-arrow {
    border-top-color: $color-enhanced;
  }

  .tipsy-inner {
    max-width: 500px;
    font-size: 11px;
    text-align: left;
    background-color: $color-enhanced-light;
    overflow: hidden;
    padding: 0;
  }
}
