.metadata-content-area {
  margin: 0px auto 60px;

  .metadata_share_bar {
    border-bottom: 1px solid $gray-20;
    border-top: 1px solid $gray-20;
    overflow: visible;
    padding: 10px 0 8px;
    position: relative;

    .metadata {
      margin-bottom: 0;
      padding-bottom: 0;
      padding-left: 5px;
      width: 90%;
    }

    .document-clipping-actions {
      position: absolute;
      right: 0;
      top: 5px;
    }
  }
}

.document-notice-bar {
  background: $gray-10;
  border-radius: 5px;
  color: $gray-60;
  margin: 20px 0;
  overflow: hidden;
  padding: 15px;
  padding-bottom: 5px;
  position: relative;
  z-index: 1000;

  .button {
    background: $green;
    color: $white;
    font-weight: normal;
    margin: 0;
    min-width: 193px;
    padding: 15px 1em;
    position: absolute;
    right: 0;
    text-align: center;
    text-transform: uppercase;
    top: 0;

    &:hover { background: darken($green, 10); }
  }

  &.correction .button {
    background: $red;
    &:hover { background: darken($red, 10); }
  }
  &.correction-of .button {
    background: $orange;
    &:hover { background: darken($orange, 10); }
  }


  p,div {
    margin: 0;
    padding: 0;

    .icon-fr2 {
      color: $gray-50;
      float: left;
      font-size: modular-scale(5);
      padding-right: 5px;
      position: relative;
      top: -5px;
    }
  }
}

.reg-gov-comments-count {
  color: $gray-80;
  font-weight: bold;
  margin-top: -15px;
  padding-bottom: 0;
  text-align: right;
  width: 100%;
}

.reg-gov-docket-container {
  margin-bottom: 35px;

  .sub-heading {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  li {
    font-size: modular-scale(-1);
  }
}

#print-only-document-details { display: none; }

@media only screen and (max-width: $small-viewport-width) {

  .notice-bar-grid {
    display: grid;
    grid-template-areas: 
    "bar-button bar-button"
    "bar-icon message-text";
    grid-template-columns: 38px 1fr;
    row-gap: 10px;

    .button {
      grid-area: bar-button;
      position: static !important;
    }

    .message-text {
      grid-area: message-text;
    }

    .bar-icon {
      grid-area: bar-icon;
      align-self: center;
      font-size: 28px;
    } 

  }

}
