.metadata-content-area {
  margin: 0px auto 60px;
  width: 960px;

  .metadata_share_bar {
    border-bottom: 1px solid $fr-gray-20;
    border-top: 1px solid $fr-gray-20;
    overflow: visible;
    padding: 10px 0 8px;
    position: relative;

    .metadata {
      margin-bottom: 0;
      padding-bottom: 0;
      padding-left: 5px;
      width: 90%;
    }

    .document-clipping-actions {
      position: absolute;
      right: 0;
      top: 5px;
    }
  }
}

.document-notice-bar {
  background: $fr-gray-10;
  border-radius: 5px;
  color: $fr-gray-60;
  //height: 26px;
  margin: 20px 0;
  overflow: hidden;
  padding: 15px;
  padding-bottom: 5px;
  position: relative;
  z-index: 1000;

  .button {
    background: $fr-green;
    color: $white;
    font-weight: normal;
    margin: 0;
    min-width: 193px;
    padding: 15px 1em;
    position: absolute;
    right: 0;
    text-align: center;
    text-transform: uppercase;
    top: 0;

    &:hover { background: darken($fr-green, 10); }
  }

  &.correction .button {
    background: $fr-red;
    &:hover { background: darken($fr-red, 10); }
  }
  &.correction-of .button {
    background: $fr-orange;
    &:hover { background: darken($fr-orange, 10); }
  }


  p {
    margin: 0;
    padding: 0;

    .icon-fr2 {
      color: $fr-gray-50;
      float: left;
      font-size: modular-scale(5);
      padding-right: 5px;
      position: relative;
      top: -5px;
    }
  }
}

.reg-gov-comments-count {
  color: $fr-gray-80;
  font-weight: bold;
  margin-top: -15px;
  padding-bottom: 0;
  text-align: right;
  width: 100%;
}

.reg-gov-docket-container {
  margin-bottom: 35px;

  .sub-heading {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  li {
    font-size: modular-scale(-1);
  }
}
