%reader-aid-link {
  color: $color-reader-aid;

  &:visited { color: $color-reader-aid; }
  &:hover { color: darken($color-reader-aid, 15); }
}

.executive-orders {
  a,
  .fr-box .content-block a {
    @extend %reader-aid-link;
  }

  .agency-header { @extend %agency-header; }

  .page-summary {
    margin-bottom: 2em;

    p a,
    .links a {
      @extend %reader-aid-link;
    }
  }

  ul.bulk-files {
    list-style: none;
    margin-bottom: 1em;
    margin-left: 1.5em;

    .title {
      display: inline-block;
      font-weight: 500;
      width: 250px;
    }

    .links a { margin-right: 15px; }
  }

  .president-wrapper {
    h3 {
      border-bottom: 1px solid $fr-dark-blue;
      a {
        color: $fr-blue;

        &:hover { color: $fr-orange; }
      }
    }
  }

  ul.eo-list {
    list-style: none;
    margin-left: 1.5em;

    li { margin-bottom: 5px; }

    a {
      display: inline-block;
      width: 40px;
    }

    .count-pill {
      display: inline-block;
      overflow: hidden;
      padding-top: 1px;
      position: relative;
      text-align: center;
      top: 3px;
      width: 25px;
    }
  }

  .executive-order-wrapper {
    &.row {
      margin-bottom: 10px !important;

      .row { margin-bottom: 10px !important; }
    }

    .eo-number {
      padding-right: 0;
    }

    dl { margin-bottom: 10px; }

    dt,
    dd {
      float: left;
    }

    dt {
      clear: both;
      font-weight: 400;
      padding-right: 5px;
    }
  }

  .navigation {
    .content-block {
      .back-to-link {
        display: block;
        margin-top: 10px;
      }

      h6 { border-bottom: 1px solid $text; }

      ul {
        font-size: modular-scale(0);
        list-style: none;
        margin-left: 15px;

        li.current {
          font-weight: 400;

          &::after {
            content: "<<";
            font-size: 12px;
            position: relative;
            top: -2px;
          }
        }
      }
    }

    .fr-seal-block.fr-seal-block-footer { bottom: auto; }
  }
}
