// FR INDEX OF INDEXES PAGE

.fr-index {
  hr { border-color: $gray-20; }

  .page-summary {
    margin-left: -15px;
    margin-right: -15px;
  }

  .title-bar {
    padding: 0;
    position: relative;

    h1 {
      border-bottom: 2px solid $gray-20;
      margin-bottom: 0.25em !important;
      padding-left: 10px;
    }

    .return-link { padding-right: 10px; }

    form {
      position: absolute;
      right: 10px;
      top: 0px;
    }
  }

  table.agency-stats {
    min-width: 500px;

    th { font-weight: 500; }

    .align-center { text-align: center; }
  }

  .doc-toc {
    font-weight: 400;
    padding-right: 0;

    h1 {
      border-bottom: 2px solid $text;

      a {
        float: right;
        font-size: modular-scale(-1);
        position: relative;
        right: 10px;
        top: 20px;
      }
    }

    a {
      color: darken($color-reader-aid, 10) !important;

      &:hover {
        color: darken($color-reader-aid, 20) !important;
      }
    }

    ul.parent-agency,
    ul.see-references {
      margin-left: 35px;
    }

    ul.parent-agency > li {
      margin-bottom: 5px;
    }

    .see-reference {
      font-style: italic;
      font-weight: 200;
    }

    .count-pill {
      display: inline-block;
      min-width: 18px;
      padding-top: 1px;
    }
  }

  @media only screen and (max-width: $small-viewport-width) {
    table.agency-stats {
      min-width: initial !important;
    }

    .title-bar form {
      position: static !important;
    }

    .doc-toc h1 a {top: 5px;}

    .with-ajax-popover > div, .rw.toc-document-metadata {
      padding-left: 0px;
    }

    // TODO: Refactor into a common Sass variable
    .fr-box-official,
    .fr-box-public-inspection,
    .fr-box-published,
    .fr-box-reader-aid {
      @include mobile-font-hierarchy;
    }

    .month-name {
      font-weight: bold;
      font-size: modular-scale(-1);
    }

  }

}

// END FR INDEX OF INDEXES PAGE

.toc-metadata-wrapper {
  display: none;

  .with-ajax-popover { overflow: auto; }
}

.doc-document-issue{
  .comments-open { color: $green; }
  .comments-received { color: $gray-30; }
  .significant { color: $orange; }
}

.fr-index-agency-metadata {
  .agency {
    font-size: 25px;
  }

  .entry-count {
    text-align: center;
  }

  .subject-count {
    text-align: center;
  }
}

.tipsy .tipsy-inner {
  .entry_details {
    color: black;
  }

  .popover-title {
    color: black;
  }
}


/* popover customizations */

$tipsy-popover-innner-background-color: rgba(0, 0, 0, 0.8);
$tipsy-popover-inner-box-shadow-color: rgba(0, 0, 0, 0.3);
$tipsy-popover-inner-width: 580px;

.tipsy-n.popover .tipsy-inner {
  background-color: $tipsy-popover-innner-background-color;
  border-radius: 6px;
  box-shadow: 0 3px 7px $tipsy-popover-inner-box-shadow-color;
  color: $black;
  max-width: $tipsy-popover-inner-width;
  overflow: hidden;
  padding: 3px;
  width: $tipsy-popover-inner-width;

  @media only screen and (max-width: $small-viewport-width) {
    width: 95%;
    margin: 0 auto;

    .popover-content {
      dl dd {width: auto !important;}
    }
  }

  @media only screen and (min-width: $small-viewport-width) {

    .popover-content {
      dl dd {width: 445px;}
    }

  }

  .popover-title {
    background-color: $gray-10;
    border-bottom: 1px solid $gray-10;
    border-radius: 3px 3px 0 0;
    border-top: 0;
    font-size: modular-scale(1);
    line-height: 1;
    margin-bottom: 0;
    margin-top: 5px;
    padding: 9px 15px;
  }

  .popover-content {
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;

    background-color: $white;
    border-radius: 0 0 3px 3px;
    font-size: modular-scale(0);
    padding: 14px;

    .loading {
      background-position-x: 220px;
      background-position-y: 7px;
      padding-left: 20px;
    }

    dl {
      margin: 0;
      overflow: hidden;

      dt {
        clear: both;
        float: left;
        font-weight: 500;
        margin-bottom: 10px;
        margin-right: 5px;
        text-align: right;
        width: 75px;

        &::after { content: ":"; }

        &.significant,
        &.comments-open,
        &.comments-received {
          height: 15px;

          &::after { content: ""; }
        }

        &.comments-open .icon-fr2 { color: $green; }
        &.comments-received .icon-fr2 { color: $gray-30; }
        &.significant .icon-fr2 { color: $orange; }
      }

      dd {
        float: left;
        margin-bottom: 10px;
        text-align: left;
      }
    }
  }


}
