// FR INDEX OF INDEXES PAGE

.fr-index {
  hr { border-color: $fr-gray-20; }

  .page-summary {
    margin-left: -15px;
    margin-right: -15px;
  }

  .title-bar {
    padding: 0;
    position: relative;

    h1 {
      border-bottom: 2px solid $fr-gray-20;
      margin-bottom: 0.25em !important;
      padding-left: 10px;
    }

    .return-link { padding-right: 10px; }

    form {
      position: absolute;
      right: 10px;
      top: 20px;
    }
  }

  table.agency-stats {
    min-width: 500px;

    th { font-weight: 500; }

    .align-center { text-align: center; }
  }

  .doc-toc {
    font-weight: 400;
    padding-right: 0;

    h1 {
      border-bottom: 2px solid $text;

      a {
        float: right;
        font-size: modular-scale(-1);
        position: relative;
        right: 10px;
        top: 20px;
      }
    }

    a {
      color: darken($color-reader-aid, 10) !important;

      &:hover {
        color: darken($color-reader-aid, 20) !important;
      }
    }

    ul.parent-agency,
    ul.see-references {
      margin-left: 35px;
    }

    ul.parent-agency > li {
      margin-bottom: 5px;
    }

    .see-reference {
      font-style: italic;
      font-weight: 200;
    }

    .count-pill {
      display: inline-block;
      min-width: 18px;
      padding-top: 1px;
    }
  }
}

// END FR INDEX OF INDEXES PAGE

.toc-metadata-wrapper {
  display: none;

  .with-ajax-popover { overflow: auto; }
}

.toc-documents{
  .icon-fr2-Chat {
    color: $fr-gray-30;
  }

  .icon-fr2-Star {
    color: $fr-orange;
  }
}

.fr-index-agency-metadata {
  .agency {
    font-size: 25px;
  }

  .entry-count {
    text-align: center;
  }

  .subject-count {
    text-align: center;
  }
}

.tipsy .tipsy-inner {
  .entry_details {
    color: black;
  }

  .popover-title {
    color: black;
  }
}


/* popover customizations */

$tipsy-popover-innner-background-color: rgba(0, 0, 0, 0.8);
$tipsy-popover-inner-box-shadow-color: rgba(0, 0, 0, 0.3);
$tipsy-popover-inner-width: 580px;

.tipsy-n.popover .tipsy-inner {
  background-color: $tipsy-popover-innner-background-color;
  border-radius: 6px;
  box-shadow: 0 3px 7px $tipsy-popover-inner-box-shadow-color;
  color: $black;
  max-width: $tipsy-popover-inner-width;
  overflow: hidden;
  padding: 3px;
  width: $tipsy-popover-inner-width;

  .popover-title {
    background-color: $fr-gray-10;
    border-bottom: 1px solid $fr-gray-10;
    border-radius: 3px 3px 0 0;
    border-top: 0;
    font-size: modular-scale(1);
    line-height: 1;
    margin-bottom: 0;
    margin-top: 5px;
    padding: 9px 15px;
  }

  .popover-content {
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;

    background-color: $white;
    border-radius: 0 0 3px 3px;
    font-size: modular-scale(0);
    padding: 14px;

    .loading {
      background-position-x: 220px;
      background-position-y: 7px;
      padding-left: 20px;
      //background: #fff image-url('ajax-loader.gif') no-repeat 80px 1px;
    }

    dl {
      margin: 0;
      overflow: hidden;

      dt {
        clear: both;
        float: left;
        font-weight: 500;
        margin-right: 5px;
        margin-bottom: 10px;
        text-align: right;
        width: 75px;

        &::after { content: ":"; }

        &.significant,
        &.comment_open,
        &.comments_received {
          height: 15px;
          margin-top: 3px;
        }

        &.significant {
          //background: sprite-image('icons/icon_significant_entry_index.png', 60px, 0, 50px) no-repeat;
        }
        &.comment_open {
          //background: sprite-image('icons/icon_comment_index_green.png', 60px, 0, 50px) no-repeat;
        }
        &.comments_received {
          //background: sprite-image('icons/icon_comment_index_gray.png', 59px, 0, 50px) no-repeat;
        }
      }

      dd {
        float: left;
        margin-bottom: 10px;
        text-align: left;
        width: 445px;
      }
    }
  }
}
