// This CSS relates to handling pages in transition that have not yet been made fully mobile-friendly.  Once the entire site has been migrated to mobile, we should remove this file.

@mixin fixed-width-layout-properties {
  width: 970px !important;
  margin-left: auto;
  margin-right: auto;
}

body:not(#special.home):not(#agencies.index):not(#documents.show):not(#public_inspection_documents.show):not(#agencies.show):not(#document_issues.current):not(#document_issues.show):not(#public_inspection_document_issues.current):not(#public_inspection_document_issues.show):not(#indexes):not(#reader_aids) {
  // Ensures the header elements (nav and title) stretch across the viewport in fixed width mobile nav
  .header { @include fixed-width-layout-properties() }
  .main-title-bar { @include fixed-width-layout-properties() }

  @media only screen and (max-width: #{$small-viewport-width}) {
    // Ensures accurate spacing between icons and descriptions in fixed width mobile nav
    #non-essential-nav .subnav:not(.reader-aids-list):not(.myfr2-list) a, #non-essential-nav .top_nav {
      grid-template-columns: 3.5% 1fr;
    }
  }

}


@media only screen and (max-width: #{$small-viewport-width}) {
  #navigation {
    // This ensures the orange nav stripe streteches across fixed width mobile viewport
    border-top: 4px solid $fr-nav-orange !important;
  }

  // remove fixed width setting for small viewports
  body#special.home, body#agencies.index, body#documents.show, body#public_inspection_documents.show, body#agencies.show, body#document_issues.current, body#document_issues.show, body#public_inspection_document_issues.current, body#public_inspection_document_issues.show, body#indexes, body#reader_aids {
    .bootstrap-scope {
      .wrapper {
        .container.fixed {
          width: auto !important;
        }
      }
    }
  }

}

// Some MyFR pages need a fixed layout specification to prevent bleeding off the page
#main.fixed-width-layout { @include fixed-width-layout-properties() } 
