// This CSS relates to handling pages in transition that have not yet been made fully mobile-friendly.  Once the entire site has been migrated to mobile, we should remove this file.
@mixin fixed-width-layout-properties {
  width: 970px !important;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: #{$small-viewport-width}) {

  // Turn off tooltips in mobile
  div.tipsy {
    display: none !important;
  }

}

// Some MyFR pages need a fixed layout specification to prevent bleeding off the page
#main.fixed-width-layout { @include fixed-width-layout-properties() }
