/*** PAGE TITLES ***/
%list_page_title {
  border-bottom: 1px solid #CCC;
  margin: 0;
  line-height: 1.1em;
  padding-top: 5px;

  .icon-fr2 {
    color: $fr-blue;
    top: 4px;
    font-size: 34px;
  }
}

%list_page_title_metadata_bar {
  margin-bottom: 2em;

  ul { 
    font-weight: 700;
    color: #666;
    list-style: none;
    font-size: 13px;

    li { 
      display: inline-block;
      margin-right: 20px;
      }
    li.download {
      position: relative;
      left: 15px;
      float: right;
      }
    }
  }
  
/*** ROUNDED CAPSULES ***/
%rounded_capsule {
  width: 900px;

  list-style: none;
  padding: 10px;
  position: relative;

  background-color: #F5F8F9;
  margin-bottom: 10px;

  @include border-radius(6);
  border: #B3C2CF 1px solid;
  }
  
%capsule_data { width: 675px; }
%capsule_title {
  background: none;

  width: 650px;
  height: auto;
  margin: 0;
  padding: 0;

  font-size: 1.3em;
  text-align: left;
  line-height: 1.3em;

  clear: none;
  }
%capsule_metadata_dash_separated {
  border-left: 1px dashed #CCC;
  padding-left: 10px;
  width: 140px;
  @extend %capsule_metadata_wrapper;
  }
%capsule_metadata_wrapper {
  display: inline-block;
  vertical-align: top;

  dl.metadata {
    font-size: 1em;
    margin: 0;
    float: left;

    dt {
      color: #6E6E6E;
      height: 19px;
      }

    dd {
      margin-left: 1em;
      margin-bottom: 3px;
      line-height: 1em;
      padding-left: 10px;
      text-indent: -10px;
      }
    dd:last { margin-bottom: none; }
    }

  dl#col-1 { 
    width: 200px;
    dt {
      clear: both;
      float: left;
      }
    dd {
      float: left;
      padding-top: 4px;
      margin-left: 5px;
      }
  }
  dl#col-2 { width: 200px; }
  dl#col-3 { width: 215px; }
  }

/*** DOCUMENT ICONS ***/
%large_document_icon_frame {
  width: 49px;
  height: 49px;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  z-index: 500;
  margin-right: 10px;
  margin-left: 4px;

  .icon-fr2.icon-doctype { font-size: 49px;}
  .icon-fr2.icon-doctype.icon-fr2-rule { color: $doc-icon-rule; }
  .icon-fr2.icon-doctype.icon-fr2-notice { color: $doc-icon-notice; }
  .icon-fr2.icon-doctype.icon-fr2-proposed_rule { color: $doc-icon-proposed_rule; }
  .icon-fr2.icon-doctype.icon-fr2-presidential_document { color: $doc-icon-presidential_document; }
  .icon-fr2.icon-doctype.icon-fr2-correction { color: $doc-icon-correction }
  .icon-fr2.icon-doctype.icon-fr2-uncategorized { color: $doc-icon-uncategorized; }
}


