#navigation {
  .agency_browse,
  .topic_browse {
    td.count_7_days,
    td.comments_closing_soon {
      font-weight: bold;
      color: $fr-gray-60;

      & a { color: inherit; }
    }
  }

  li.dropdown.nav_reader_aids {
    width: 140px;
  }

  li.dropdown.nav_myfr2 {
    width: 105px;
    padding-left: 0;
  }

  .icon-fr2 {
    top: 4px;
    font-size: 21px;
  }
}
