#navigation {
  z-index: 1000;

  .container {
    @include rounded-bottom(4);
    background: $nav-background-color;
    border: 1px solid $nav-border-color;
    border-top: 0;
    box-shadow: 0 3px 5px $fr-gray-40;
    height: 30px;
    list-style: none;
    margin: 0 auto;
    position: relative;
    width: 960px;
    z-index: 1200;
  }

  .icon-fr2.icon-fr2-home {
    font-size: 20px;
    left: -1px;
    top: 3px;
  }

  li {
    border-left: 1px solid $nav-border-color;
    float: left;

    &:first-child { border-left: 0; }
    &.nav_myfr2 { border-right: 1px solid $nav-border-color; }

    &.dropdown {
      height: 31px;
      width: 89px;
    }

    &.nav-home { width: 36px; }
    &.nav_sections { width: 112px; }
    &.nav_browse { width: 106px; }
    &.nav_search { width: 102px; }
    &.nav_blog { width:85px; }
    &.nav_myfr2 { width: 75px; }
  }

  a {
    @include sans_serif;
    color: $fr-gray-60;
    cursor: pointer;
    display: block;
    font-size: 13px;
    font-weight: bold;
    line-height: 32px;
    padding: 0 10px;

    &:hover,
    &.hover {
      color: $fr-bright-orange;
    }
  }
}

.site-notification-text-wrapper {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

//******************************
//
// NAV DROPDOWN
//
//******************************
#navigation {
  li.dropdown {
    position: relative;

    &.nav_reader_aids { width: 140px; }

    &.nav_myfr2 {
      padding-left: 0;
      width: 105px;
    }

    a { padding-right: 5px; }

    .icon-fr2-menu_arrow {
      color: $fr-gray-40;
      float: right;
      font-size: 14px;
      top: 7px;
      width: 10px;
    }

    &:hover .subnav,
    &.hover .subnav {
      display: block;
    }

    // Refined placement of various icons and text alignment
    .icon-fr2-thumbnails {
      font-size: 19px;
      top: 3px;
    }
    .icon-fr2-Search {
      font-size: 18px;
      top: 3px;
    }

    // SEARCH
    .article-search { padding-left: 8px; }

    .advanced-search { padding-left: 8px; }
    .icon-fr2-settings { left: -1px; }

    .public-inspection-search { padding-left: 7px; }
    .icon-fr2.icon-fr2-clipboards {
      font-size: 25px;
      left: -1px;
    }

    .fr-index-search { padding-left: 8px; }
    .icon-fr2-indent { left: -3px; }
  }
}

//******************************
//
// NAV DROPDOWN SUBNAV
//
//******************************
#navigation .subnav {
  @include rounded-bottom(4px);
  background: $white;
  border: 1px solid $nav-border-color;
  box-shadow: 0 3px 5px $fr-gray-40;
  display: none;
  left: -1px;
  position: absolute;
  top: 30px;
  width: 200px;
  z-index: 5555;

  &.search-list { width: 230px; }
  &.browse-list { width: 150px; }

  &.reader-aids-list {
    width: 265px;

    li {
      padding-left: 15px;

      &:first-child { padding-left: 0; }
    }

    a {
      line-height: 18px;
      padding-bottom: 5px;
      padding-top: 5px;
    }
  }

  &.search-list,
  &.reader-aids-list,
  &.myfr2-list {
    left: -1px;
  }

  li {
    border: 0; //reset other borders
    border-top: 1px solid $nav-border-color;
    float: none;
    list-style: none;

    &:last-child {
      border-bottom: 1px solid $nav-border-color;

      a { border-bottom: 0; }
    }
  }

  a {
    border-bottom: 1px solid $white;
    border-top: 1px solid $white;
    color: $fr-gray-60;
    line-height: 30px;
  }

  a.inactive {
    color: $fr-gray-30;
    pointer-events: none;
  }
}

#navigation .nav_browse .subnav {
  width: 225px;
}

//
//  Because of js timeouts on the previewable menu items we
//  don't want css hovers here so we change them back to default.
//  These need to be defined here, in this order, for the cascade
//  to work properly.
//
#navigation .previewable .subnav a:hover {
  background-color: inherit;
  border-bottom-color: inherit;
  border-top-color: inherit;
  color: $fr-gray-60;
}
#navigation .subnav a:hover,
#navigation .subnav a.hover,
#navigation .previewable .subnav a.hover {
  background-color: $fr-gray-10;
  border-bottom-color: $white;
  border-top-color: $white;
  color: $fr-bright-orange;
}


//**************************************
//
// NAV DROPDOWN PREVIEWABLE SUBNAV
//
//**************************************
//#navigation .previewable .right_column input.loading {
//  background: white url('/images/ajax-loader.gif?1292020484') 332px 2px no-repeat;
//}
#navigation .previewable .subnav {
  margin-left: 21px;
  overflow: auto;
  width: 635px;

  ul {
    float: left;
    margin: 0;
  }

  .left_column {
    float: left;
    width: 194px;

    li {
      height: 57px;
      vertical-align: middle;
      width: 194px;

      &:last-child:hover {
        border-bottom: 1px solid $nav-border-color;
      }

      a {
        border: 0;
        height: 45px;
        padding-left: 15px;
        padding-top: 13px;

        .icon-fr2 {
          display: block;
          float: left;
          height: 100%;
          left: -5px;
          padding-right: 3px;
        }

        &.dates {
          padding-left: 14px;

          .icon-fr2-calendar-alt { left: -4px; }
        }

        &.public-inspection {
          padding-left: 19px;

          .icon-fr2-clipboard { left: -7px; }
        }

        &.executive-orders {
          padding-left: 10px;

          .icon-fr2-stars { left: -2px; }
        }

        &.topics {
          line-height: 18px;
          padding-top: 11px;
        }
      }
    }
  }

  .right_column {
    border-left: 1px solid $nav-border-color;
    vertical-align: top;
    width: 435px;

    li {
      border: 0;

      &.preview { display: none; }

      &#money_preview { display: list-item; }
    }

    a {
      border: 0;

      &:hover {
        background: none;
        border: 0;
        color: $fr-bright-orange;
      }
    }
  }

  %right_column_header {
    border-bottom: 2px solid $fr-gray-60;
    color: $fr-gray-60;
    font-size: 15px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-top: 10px;
    padding-left: 5px;
    text-transform: uppercase;
    word-spacing: 2px;
  }

  &.browse-list .right_column {
    li > h2,
    .finder h2,
    .preview h2 {
      @extend %right_column_header;
    }

    h2 {
      .supplemental,
      .secondary {
        color: $fr-gray-60;
        float: right;
        font-size: 12px;
      }

      .secondary {
        font-size: 12px;
        font-style: italic;
        font-weight: normal;
        padding-right: 3px;
        position: relative;
        text-transform: none;
        top: 1px;
        word-spacing: initial;
      }
    }

    .bootstrap-scope {
      .facet-explorer {
        h4 {
          @extend %right_column_header;
        }

        .table-search-box { padding: 0 5px 0 10px; }

        .fr-table {
          margin-left: 5px;

          td {
            color: $fr-gray-60;
            font-size: 13px;
            font-weight: bold;
            padding: 0;

            &.item_name { padding-right: 0; }

            a { padding-right: 0; }
          }

          .icon-fr2 {
            padding-left: 12px;
          }
        }

        input[placeholder] {
          @include placeholder {
            color: $fr-gray-70;
            font-style: italic;
          }
        }
      }
    }

    //TODO: shouldn't be needed once sprites are removed
    .browse { background: none; }
  }

  .right_column {
    table.default {
      margin: 10px 0 10px 5px;
      width: 390px;

      h2 {
        border-bottom: 0;
        margin-bottom: 0;
        padding-left: 0;
      }

      tr,
      th,
      td { padding: 0; }

      th {
        border-bottom: 1px solid $fr-gray-40;

        &.past_7_days,
        &.closing_soon {
          height: 23px;
          width: 40px;
        }
      }

      td {
        &:first-child {
          padding: 2px 0 2px 10px;

          a {
            color: $fr-link-dark;
            &:hover { color: $fr-bright-orange; }
          }
        }
      }

      .count_7_days,
      .comments_closing_soon {
        color: $fr-gray-60;
        font-weight: bold;
        text-align: center;

        a { color: inherit; }
      }

      a {
        border-bottom: 0;
        border-top: 0;
        display: inline;
        font-size: 12px;
        line-height: 14px;
        padding: 0;

        &:hover { color: $fr-bright-orange; }
      }
    }
  }

  .right_column {
    p.info {
      font-size: 1.1em;
      line-height: 1.1em;
      padding: 10px 10px 5px 10px;
    }
  }
}

#navigation .previewable {
  p.info a {
    border: 0;
    color: $fr-link-dark;
    display: inline-block;
    font-family: inherit;
    font-weight: normal;
    line-height: 1.1em;
    padding: 0;

    &:hover { color: $fr-bright-orange; }
  }
}

#navigation {
  .icon-fr2 {
    font-size: 21px;
    top: 4px;
  }
}

@import 'navigation/sections';

//**********************************************
//
// BROWSE AGENCIES
//
// most styles for browse agencies are generic
// and under the subnav section above
//
//**********************************************


//**************************************
//
// BROWSE DATES
//
//**************************************
#current-article-browse-preview {
  .significant {
    float: left;

    a {
      color: $fr-link-dark;
      line-height: 14px;
    }
  }
}

#navigation .previewable {
  .fr_stats h2,
  .calendar_holder h2,
  .date_input_holder h2 {
    border-bottom: 1px solid $fr-gray-40;
    color: $fr-gray-40;
    font-size: 1.1em;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-top: 10px;
    padding-left: 5px;
    text-transform: uppercase;
  }



  .right_column .fr_stats .statistics li {
    color: $fr-gray-70;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    line-height: 20px;
  }

  .fr_stats .statistics a {
    color: $fr-link-dark;
    line-height: 12px;

    &:hover {
      background: none;
      color: $fr-bright-orange;
    }
  }
}


//**************************************
//
// BROWSE EXECUTIVE ORDERS
//
//**************************************
@import 'navigation/presidential_documents';

//**************************************
//
// PUBLIC INSPECTION BROWSE PREVIEW
//
//**************************************

@import 'navigation/issues';


//**************************************************
//
//BROWSE BLOG
//
//some styles are in the generic subnav section
//**************************************************
#navigation .previewable {
  .subnav.blog_list {
    width: 395px;

    .right_column { width: 395px; }
  }

  #blog-browse-preview {
    h1 a {
      color: $fr-gray-40;
      line-height: 14px;
      padding-left: 0;
    }

    h2 {
      border: 0;
      margin-left: 0;
      padding-left: 0;

      a {
        color: $fr-link-dark;
        font-size: 13px;
        line-height: 14px;
        padding-left: 0;
        text-transform: none;

        &:hover { color: $fr-bright-orange; }
      }
    }

    ul {
      margin-left: 10px;

      .metadata {
        font-size: 1.1em;
        font-style: italic;
        margin-left: 5px;
        padding-bottom: 0;
      }

      .post_content {
        display: block;
        font-size: 1.15em;
        line-height: 1.3em;
        margin-left: 5px;
        padding-right: 5px;

        a {
          float: right;
          font-size: 0.8em;
          position: relative;
          top: -5px;
        }
      }
    }
  }
}

#navigation .view_all {
  float: right;
  font-size: 12px;
  font-style: italic;
  position: relative;
  top: -7px;
}


//******************************
//
// SEARCH
//
//******************************
#navigation .inline_search {
  border-left: 0;
  float: right;
  height: 30px;
}

#navigation .search-form {
  background: $white;
  border: 1px solid $fr-gray-30;
  border-radius: 3px;
  height: 24px;
  margin: 1px 5px 0;
  position: relative;
  width: 210px;

  label { display: none; }

  input {
    border: 0;
    float: left;
  }

  .search-term {
    font-size: modular-scale(-1);
    height: 22px;
    outline: 0;
    padding: 0 0 0 5px;
    width: 175px;

    &.placeholder,
    &::-webkit-input-placeholder,
    &:-moz-placeholder,
    &::-moz-placeholder,
    &:-ms-placeholder {
      color: $fr-gray-70;
    }
  }

  .search-submit {
    @include rounded-right(4);
    background-color: $fr-gray-5;
    border: 0;
    cursor: pointer;
    float: right;
    height: 24px;
    padding: 0;
    position: relative;
    top: -22px;
    width: 31px;

    &:hover { background-color: $fr-gray-15; }

    .icon-fr2 {
      color: $fr-gray-50;
      left: 2px;
      top: 1px;
    }
  }
}

.hamburger-expanded-only {
  display: none;
}

@media only screen and (max-width: #{$small-viewport-width}) {

  // Change the page header to allow for dynamic viewport widths
  // ==============================================
  #navigation {

    .container {
      width: auto; // Make nav width dynamic at small sizes
    }

    #nav-hamburger a {
      padding-top: 10px;
    }

    ul.container {
      height: 48px;
    }

    // Handle expansion of search bar to full width for mobile layout
    li.inline_search {
      float: none;
      position: absolute;
      top: 8px;
      width: 88%;
      left: 40px;

      .search-form {
        display: grid;
        grid-template-columns: 1fr 10%;
        width: auto;

        #conditions_submit {
          justify-self: end;
        }

        .search-term {
          float: none;
          font-size: 16px; // iOS needs at least 16px to not auto-zoom on touch
          width: auto;
        }

        .search-submit {
          top: 0px;
        }

      }
    }
  }

  #header_refresh {
    .announcement-inner {
      width: auto;
    }
    .site-notification-text {
      width: auto;
    }

    .logo {
      padding: 25px 17px 0px 17px;
      width: auto !important;

      .hgroup.official {
        width: auto;
      }
    }
  }
  // ==============================================

  #navigation.hamburger-expanded {

    #nav-home {
      display: none
    }

    .hamburger-expanded-only {
      display: initial;
    }

    a:not(#nav-hamburger a) {
      font-size: 17px;
      font-weight: 500;
      padding: 5px 10px;
    }

    .subnav.reader-aids-list a {
      line-height: normal;
      padding: 7px 10px;
    }

    .container {
      width: auto;
      height: auto;
    }

    li {
      float: none;
      border: none; // Remove left-hand outline border
    }

    #nav-home {
      width: 100%;
    }

    li.dropdown {
      position: static;
      height: auto; //prevents nav items from stacking on top of each other
      width: 100% !important;

      &:hover .subnav,
      &.hover .subnav {
        display: initial; //prevents the pop-out display:block hovering that occurs normally
      }

      li {
        display: none;
        border-top: none;
      }

      .icon-fr2-menu_arrow {
        float: none;
        top: 0px;
      }

    }


    //===============
    // Handle hiding of subnav items
    li.dropdown.active {
      li {
        padding-left: 20px;
        display: block;
        max-height: 1000px;
        transition: max-height 1s ease-in-out;
      }
    }

    li.dropdown {
      li {
        padding-left: 20px;
        display: block;
        max-height: 0px;
        overflow: hidden;
      }
    }

    .subnav {
      border: none; // Remove left-hand border on subnav
      display: initial;
      position: static;

      li:last-child {
        border: none;
      }
    }
  }

  #non-essential-nav .subnav li a .icon-fr2 {
    margin-right: 5px;
  }

  #public-inspection-browse.li a .icon-fr2 {
    color: red !important;
    margin-right: 10px !important;
  }

  // if the hamburger menu is not expanded, don't display the non-essential nav items
  #navigation {
    #non-essential-nav {
      max-height: 0px;
      overflow: hidden;
      // transition: max-height 1s ease-out;  //If we add back the transition here, it seems to create awkward jumpiness, thus moved to the area below
    }
  }

  // if the hamburger menu is expanded, display the non-essential nav items
  #navigation.hamburger-expanded {
    #non-essential-nav {
      display: block;
      max-height: 1000px;
      transition: max-height 1s ease-out;
    }

    #non-essential-nav.hide {
      display: block;
      max-height: 0px;
    }
  }

}

@media only screen and (min-width: #{$small-viewport-width}) {

  body {
    border-top: 4px solid $fr-nav-orange !important;
  }

  .mobile-only {
    display: none !important;
  }

  #navigation {
    .icon-fr2 {
      padding-right: 3px;
    }

    .nav_browse .subnav .icon-fr2 {
      top: 0px;
    }
  }

}
