#navigation {
  z-index: 1000;

  .container {
    @include rounded-bottom(4);
    background: $nav-background-color;
    border: 1px solid $nav-border-color;
    border-top: 0;
    box-shadow: 0 3px 5px $gray-40;
    height: 30px;
    list-style: none;
    margin: 0 auto;
    position: relative;
    width: 960px;
    z-index: 1200;
  }

  .icon-fr2.icon-fr2-home {
    font-size: 20px;
    left: -1px;
    top: 3px;
  }

  li {
    border-left: 1px solid $nav-border-color;
    float: left;

    &:first-child { border-left: 0; }
    &.nav_myfr2 { border-right: 1px solid $nav-border-color; }

    &.dropdown {
      height: 31px;
      width: 89px;
    }

    &.nav-home { width: 36px; }
    &.nav_sections { width: 115px; }
    &.nav_browse { width: 109px; }
    &.nav_search { width: 105px; }
    &.nav_blog { width:88px; }
    &.nav_myfr2 { width: 75px; }
  }

  a {
    @include sans_serif;
    color: $gray-60;
    cursor: pointer;
    display: block;
    font-size: 15px;
    font-weight: bold;
    line-height: 32px;
    padding: 0 10px;

    &:hover,
    &.hover {
      color: $bright-orange;
    }
  }
}

.site-notification-text-wrapper {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

//******************************
//
// NAV DROPDOWN
//
//******************************
#navigation {
  li.dropdown {
    position: relative;

    &.nav_reader_aids { width: 140px; }

    &.nav_myfr2 {
      padding-left: 0;
      width: 105px;
    }

    a { padding-right: 5px; }

    .icon-fr2-menu_arrow {
      color: $gray-40;
      float: right;
      font-size: 14px;
      top: 8px;
      width: 10px;
    }

    &:hover .subnav,
    &.hover .subnav {
      display: block;
    }

    // Refined placement of various icons and text alignment
    .icon-fr2-thumbnails {
      font-size: 19px;
      top: 3px;
    }
    .icon-fr2-Search {
      font-size: 18px;
      top: 3px;
    }

    // SEARCH
    .article-search { padding-left: 8px; }

    .advanced-search { padding-left: 8px; }
    .icon-fr2-settings { left: -1px; }

    .public-inspection-search { padding-left: 7px; }
    .icon-fr2.icon-fr2-clipboards {
      font-size: 25px;
      left: -1px;
    }

    .fr-index-search { padding-left: 8px; }
    .icon-fr2-indent { left: -3px; }
  }
}

//******************************
//
// NAV DROPDOWN SUBNAV
//
//******************************
#navigation .subnav {
  @include rounded-bottom(4);
  background: $white;
  border: 1px solid $nav-border-color;
  box-shadow: 0 3px 5px $gray-40;
  display: none;
  left: -1px;
  position: absolute;
  top: 30px;
  width: 205px;
  z-index: 5555;

  &.search-list { width: 230px; }
  &.browse-list { width: 150px; }

  &.reader-aids-list {
    width: 265px;

    li {
      padding-left: 15px;

      &:first-child { padding-left: 0; }
    }

    a {
      line-height: 18px;
      padding-bottom: 5px;
      padding-top: 5px;
    }
  }

  &.search-list,
  &.reader-aids-list,
  &.myfr2-list {
    left: -1px;
  }

  li {
    border: 0; //reset other borders
    border-top: 1px solid $nav-border-color;
    float: none;
    list-style: none;

    &:last-child {
      border-bottom: 1px solid $nav-border-color;

      a { border-bottom: 0; }
    }
  }

  a {
    border-bottom: 1px solid $white;
    border-top: 1px solid $white;
    color: $gray-60;
    line-height: 30px;
  }

  a.inactive {
    color: $gray-30;
    pointer-events: none;
  }
}

#navigation .nav_browse .subnav {
  width: 225px;
}

//
//  Because of js timeouts on the previewable menu items we
//  don't want css hovers here so we change them back to default.
//  These need to be defined here, in this order, for the cascade
//  to work properly.
//
#navigation .subnav a:hover,
#navigation .subnav a.hover {
  background-color: $gray-10;
  border-bottom-color: $white;
  border-top-color: $white;
  color: $bright-orange;
}

#navigation {
  .icon-fr2 {
    font-size: 21px;
    top: 4px;
  }
}

//******************************
//
// SEARCH
//
//******************************
#navigation .inline_search {
  border-left: 0;
  float: right;
  height: 30px;
}

#navigation .search-form {
  background: $white;
  border: 1px solid $gray-30;
  border-radius: 3px;
  height: 26px;
  margin: 1px 5px 0;
  position: relative;
  width: 210px;

  label { display: none; }

  input {
    border: 0;
    float: left;
  }

  .search-term {
    font-size: modular-scale(-1);
    height: 25px;
    outline: 0;
    padding: 0 0 0 5px;
    width: 175px;

    &::placeholder {
      color: $gray-40;
      font-size: 15px;
    }
  }

  .search-submit {
    background: none;
    border: 0;
    cursor: pointer;
    float: right;
    height: 24px;
    padding: 0;
    position: relative;
    top: -24px;
    width: 31px;

    .icon-fr2 {
      color: $gray-50;
      left: 2px;
      top: 1px;
    }

    &:hover {
      background-color: $gray-5;

      .icon-fr2 { color: $gray-70; }
    }

  }
}

.hamburger-expanded-only {
  display: none;
}

@media only screen and (max-width: #{$small-viewport-width}) {

  // Change the page header to allow for dynamic viewport widths
  // ==============================================
  #navigation {

    .container {
      width: auto; // Make nav width dynamic at small sizes
    }

    .nav-hamburger {
      a { padding-top: 10px; }

      svg.svg-icon-hamburger {
        fill: $text;
        height: 22px;
        width: 32px;

        &:hover { fill: $bright-orange; }
      }
    }

    ul.container {
      height: 48px;
    }

    // Handle expansion of search bar to full width for mobile layout
    li.inline_search {
      float: none;
      position: absolute;
      top: 8px;
      width: 88%;
      left: 40px;

      .search-form {
        display: grid;
        grid-template-columns: 1fr 10%;
        width: auto;

        #conditions_submit {
          justify-self: end;
        }

        .search-term {
          float: none;
          font-size: 16px; // iOS needs at least 16px to not auto-zoom on touch
          width: auto;
        }

        .search-submit {
          top: 0px;
        }

      }
    }
  }

  #header_refresh {
    .announcement-inner {
      width: auto;
    }
    .site-notification-text {
      width: auto;
    }

    .logo {
      padding: 15px 17px 10px 17px;
      width: auto !important;

      .hgroup.official {
        width: auto;
      }
    }
  }
  // ==============================================

  #navigation.hamburger-expanded {

    #nav-home {
      display: none
    }

    svg.svg-icon-hamburger {
      fill: $bright-orange;
    }

    .hamburger-expanded-only {
      display: initial;
    }

    a:not(#nav-hamburger a) {
      font-size: 17px;
      font-weight: 500;
      padding: 5px 10px;
    }

    .subnav.reader-aids-list a {
      line-height: normal;
      padding: 7px 10px;
    }

    .container {
      width: auto;
      height: auto;
    }

    li {
      float: none;
      border: none; // Remove left-hand outline border
    }

    #nav-home {
      width: 100%;
    }

    li.dropdown {
      position: static;
      height: auto; //prevents nav items from stacking on top of each other
      width: 100% !important;

      &:hover .subnav,
      &.hover .subnav {
        display: initial; //prevents the pop-out display:block hovering that occurs normally
      }

      li {
        display: none;
        border-top: none;
      }

      .icon-fr2-menu_arrow {
        float: none;
        top: 0px;
      }

    }


    //===============
    // Handle hiding of subnav items
    li.dropdown.active {
      li {
        padding-left: 20px;
        display: block;
        max-height: 1000px;
        transition: max-height 1s ease-in-out;
      }
    }

    li.dropdown {
      li {
        padding-left: 20px;
        display: block;
        max-height: 0px;
        overflow: hidden;
      }
    }

    .subnav {
      border: none; // Remove left-hand border on subnav
      display: initial;
      position: static;

      li:last-child {
        border: none;
      }
    }
  }

  #non-essential-nav .subnav li a .icon-fr2 {
    margin-right: 5px;
  }

  #public-inspection-browse.li a .icon-fr2 {
    color: red !important;
    margin-right: 10px !important;
  }

  // if the hamburger menu is not expanded, don't display the non-essential nav items
  #navigation {
    #non-essential-nav {
      max-height: 0px;
      overflow: hidden;
      // transition: max-height 1s ease-out;  //If we add back the transition here, it seems to create awkward jumpiness, thus moved to the area below
    }
  }

  // if the hamburger menu is expanded, display the non-essential nav items
  #navigation.hamburger-expanded {
    #non-essential-nav {
      display: block;
      max-height: 1000px;
      transition: max-height 1s ease-out;
    }

    #non-essential-nav.hide {
      display: block;
      max-height: 0px;
    }
  }

}

@media only screen and (min-width: #{$small-viewport-width}) {

  body {
    border-top: 4px solid $nav-orange !important;
  }

  .mobile-only {
    display: none !important;
  }

  #navigation {
    .icon-fr2 {
      padding-right: 3px;
    }

    .nav_browse .subnav .icon-fr2 {
      top: 0px;
    }
  }

}
