// NOTE: These overrides were applied on top of the omni-search CSS ported from ECFR
#suggestions {
  // These adjustments were neeeded to ensure the background blur is applied to all elements and the omni search is visible in the foreground
  position: fixed;
  left: 0%;
  right: 0%;
  z-index: 1200;


  p {
    margin-bottom: 10px;
  }

  #suggestion_query {
    width: 100%;
    height: 46px;
    font-size: 20px;
  }

  .panel-heading {
    margin-bottom: -17px;
  }

  #reference-search-icon {
    width: 100%;

    button {
      height: 51px;
      width: 100%;
    }
  }
  
  @media only screen and (max-width: $small-viewport-width) {
    top: 0px;

    .content {
      margin: 0px auto;

      .panel {
        margin-bottom: 0px;
      }
    }
  }

  @media only screen and (min-width: $small-viewport-width) {
    top: -5%;

    .content {
      top: 9em;
      margin: 30px auto;
    }
  }

}


