// NOTE: These overrides were applied on top of the omni-search CSS ported from ECFR
#suggestions {
  $omnisearch-border-radius: 7px;

  // These adjustments were neeeded to ensure the background blur is applied to all elements and the omni search is visible in the foreground for FR
  position: fixed;
  left: 0%;
  right: 0%;
  z-index: 1200;

  .content {
    // Create additional space between sample bubbles 
    .panel-heading {
      p { line-height: 1.6 !important;
      
      font-weight: normal !important;
      }
      // font-weight: auto !important;
    }
  }

  .icon-fr2-badge_x {
    float: right;
  }

  p {
    margin-bottom: 10px;
  }

  #suggestion_query {
    border-top-left-radius: $omnisearch-border-radius;
    border-bottom-left-radius: $omnisearch-border-radius;
    width: calc(100% - 14px);
    height: 46px;
    font-size: 20px;
    padding-left: 7px;
  }

  .citation {
    font-weight: bold;
    color: $suggestion-item-active-color;

    .page-range {
      color: $gray-50;
      font-size: 14px;
      font-weight: normal;
    }
  }

  .panel-heading {
    margin-bottom: -17px;
  }

  #reference-search-icon {
    width: 100%;

    button {
      height: 51px;
      width: 100%;
      border-top-right-radius: $omnisearch-border-radius;
      border-bottom-right-radius: $omnisearch-border-radius;
    }

  }

  tbody {
    tr:nth-child(2) {
      border-top-left-radius: $omnisearch-border-radius;
      border-top-right-radius: $omnisearch-border-radius;
    }

    tr:last-of-type {
      border-bottom-left-radius: $omnisearch-border-radius;
      border-bottom-right-radius: $omnisearch-border-radius;
    }
  }
  
  @media only screen and (max-width: $small-viewport-width) {
    top: 0px;

    .content {
      margin: 0px auto;

      .panel {
        margin-bottom: 0px;
      }
    }

    .page-range {
      padding-left: 10px;
    }
  }

  @media only screen and (min-width: $small-viewport-width) {
    top: -5%;

    .content {
      top: 86px;
      margin: 30px auto;
    }

    .suggestion {
      // NOTE: This is an override of padding specified in suggestions.scss
      padding: 1px 16px;
    }
  }

}


