%reader-aid-link {
  color: $color-reader-aid !important;

  &:visited { color: $color-reader-aid !important; }
  &:hover { color: darken($color-reader-aid, 15) !important; }
}

.presidential-documents {
  a,
  .fr-box .content-block a {
    @extend %reader-aid-link;
  }

  .agency-header {
    @extend %agency-header;

    .header-link {
      float: right;
      font-size: modular-scale(-1);
      position: relative;
      top: 15px;
    }
  }

  .page-summary {
    margin-bottom: 2em;

    p a,
    .links a {
      @extend %reader-aid-link;
    }
  }

  ul.bulk-files {
    list-style: none;
    margin-bottom: 1em;
    margin-left: 1.5em;

    .title {
      display: inline-block;
      font-weight: 500;
      width: 350px;
    }

    .links a { margin-right: 15px; }
  }

  .document-count-note {
    .icon-fr2 {
      color: $color-reader-aid;
      font-size: modular-scale(3);
      top: 4px;
    }
  }

  .president-wrapper {
    h3 {
      border-bottom: 1px solid $fr-dark-blue;
      a {
        color: $fr-blue;

        &:hover { color: $fr-orange; }
      }
    }
  }

  .document-type {
    h3 {
      border-bottom: 1px solid $color-reader-aid;

      a.more-details {
        float: right;
        font-size: modular-scale(0) !important;
        font-weight: normal;
        margin-right: 1px;
        position: relative;
        top: 9px;
      }
    }

    ul.fr-list.fr-list-inline {
      li {
        float: left;
        line-height: 20px;
        margin-right: 20px;
        margin-top: 10px;
      }
    }
  }

  ul.document-list {
    list-style: none;
    margin-left: 1.5em;

    li { margin-bottom: 5px; }

    a {
      display: inline-block;
      width: 40px;
    }

    .count-pill {
      display: inline-block;
      overflow: hidden;
      padding-top: 1px;
      position: relative;
      text-align: center;
      top: 3px;
      width: 30px;
    }
  }

  .presidential-document-wrapper {
    h5 {
      font-size: modular-scale(0);
    }

    &.row {
      margin-bottom: 10px !important;

      .row { margin-bottom: 10px !important; }
    }

    .eo-number,
    .proc-number {
      padding-right: 0;
    }

    dl { margin-bottom: 10px; }

    dt,
    dd {
      float: left;
    }

    dt {
      clear: both;
      font-weight: 400;
      padding-right: 5px;
    }
  }

  .navigation {
    .content-block {
      .back-to-link {
        display: block;
        margin-top: 10px;
      }

      h6 { border-bottom: 1px solid $text; }

      ul {
        font-size: modular-scale(0);
        list-style: none;
        margin-left: 15px;

        li.current {
          font-weight: 400;

          &::after {
            content: "<<";
            font-size: 12px;
            position: relative;
            top: -2px;
          }
        }
      }
    }

  }

  @media only screen and (max-width: $small-viewport-width) {
    .document-type ul.fr-list.fr-list-inline li {
      float: none;
      line-height: 30px;
    }
    
    .navigation {margin-top: 20px;}
  }
}
