.bootstrap-scope {
  a.pi_warning {
    color: $fr-red;
    font-weight: bold;
    text-decoration: underline;

    &:hover { color: $fr-red; }
  }
}

.pi_warning {
  color: $fr-red;
  font-weight: bold;
}

// used by info box as well
%pi_notice {
  bottom: 0;
  font-size: 12px;
  font-style: italic;
}

.fr-box-public-inspection #fulltext_content_area {
  height: 350px;
  position: relative;

  .icon-fr2-stop-hand {
    color: $color-public-inspection;
    float: left;
    font-size: 25px;
    padding-right: 5px;
  }

  p.pi_notice {
    @extend %pi_notice;
    text-align: justify;
    width: 575px;
  }
}

.doc-details .fr-box-public-inspection-alt {
  a {
    color: $color-public-inspection;

    &:hover {
      color: darken($color-public-inspection, 20);
      text-decoration: none;
    }
  }
}

.public-inspection-summary-bar #pi-metadata-bar{
  display: block;
}
