.bootstrap-scope {
  a.pi_warning {
    color: $fr-red;
    font-weight: bold;
    text-decoration: underline;

    &:hover { color: $fr-red; }
  }
}

.pi_warning {
  color: $fr-red;
  font-weight: bold;
}

/* used by info box as well */
%pi_notice {
  font-style: italic;
  font-size: 12px;

  position:absolute;
  bottom: 0;
}
.fr-box-public-inspection #fulltext_content_area {
  position: relative;
  height: 350px;

  .icon-fr2-stop-hand {
    float: left;
    font-size: 25px;
    color: $color-public-inspection;
    padding-right: 5px;
  }

  p.pi_notice { @extend %pi_notice; }
}

.public-inspection-summary-bar #pi-metadata-bar{
  display: block;
}
