.main-title-bar.reader-aids {
  h1 .icon-fr2.icon-fr2-government {
    font-size: 32px;
    top: 2px;
  }
}

.bootstrap-scope {
  .fr-box.fr-box-reader-aid {
    .row .section {
      h4 .icon-fr2-government {
        font-size: 32px;
        top: 4px;
      }
    }
  }

  table.table-nowrap.congressional-review {
    td:nth-child(2) {
      min-width: 500px;
      white-space: normal;
    }
  }
}
