// these are used outside of the search page context and so shouldn't be
// nested like the other imports below.
@import 'search/results';
@import 'search/results_header';
@import 'search/search_bar';

.search {
  @import 'search/advanced';
  @import 'search/facets';
  @import 'search/filters';
  @import 'search/pagination';
  @import 'search/suggestions';
  @import 'search/tabs';

  .search-bar {
    li {
      margin-bottom: 13px;

      &.choice { height: 21px; }
      // &.string { min-height: 40px; }

      fieldset {
        float: left;
        width: 100%;
      }
    }
    .simple span#expected_result_count {
      display: none;
    }
  }

  .formtastic {
    .cfr,
    .zip {
      label {
        display: none;
      }
    }
  }

  .result-set {
    .pagination {
      em {
        border: 1px solid $gray-20;
        line-height: 1;
        padding: 5px;
      }
    }
  }

  .facet_hidden { display: none; }
}

@media only screen and (max-width: $small-viewport-width) {

  #search-results {
    // Search Results Header
    .small-stack {
      margin-right: 0px;
      font-size: 12px;
    }

    .filterable-list-container .filterable-list-info h2 .item-count {
      font-size: 16px;
    }

    .search-info ul.actions {
      font-size: 12px;
      li {width: 73px;}
    }

    // Pagination
    .pagination li:not(.active):not(:nth-child(-n+4)):not(.disabled):not(:nth-last-child(-n+4)):not(.next) a {
      display: none;
    }

    .pagination li {
      font-size: 13px;
    }

    // Filters
    .active-filters .filter-group a.remove .icon-fr2 {
      margin-top: -21px;
    }

    // Search Result Entries
    .search-result-documents .icon-doctype {
      right: 9px;
    }

    .document-clipping-actions .add-to-folder .button .icon-fr2-flag {
      font-size: 26px;
    }
  }

}
