// these are used outside of the search page context and so shouldn't be
// nested like the other imports below.
@import 'search/results';
@import 'search/results_header';
@import 'search/search_bar';

.search {
  @import 'search/advanced';
  @import 'search/facets';
  @import 'search/filters';
  @import 'search/pagination';
  @import 'search/suggestions';
  @import 'search/tabs';

  .search-bar {
    li {
      height: 21px;
      margin-bottom: 13px;
      fieldset {
        float: left;
        width: 100%;
      }
    }
    .simple span#expected_result_count {
      display: none;
    }
  }

  .formtastic {
    .cfr,
    .zip {
      label {
        display: none;
      }
    }
  }

  .result_set {
    .pagination {
      em {
        border: 1px solid $fr-gray-20;
        line-height: 1;
        padding: 5px;
      }
    }
  }

  .facet_hidden { display: none; }
}

    // Pagination
    .pagination li:not(:nth-child(-n+4)):not(.disabled):not(:nth-last-child(-n+4)):not(.next) a {
      display: none;
    }

    .pagination li {
      font-size: 13px;
    }

    // Filters
    .active-filters .filter-group a.remove .icon-fr2 {
      margin-top: -21px;
    }

