$suggestion-item-active-color: $color-enhanced-dark;
$suggestion-item-active-bg-color: $color-enhanced-light;

$suggestion-content-color: $alert-info-text;
$suggestion-content-bg-color: $alert-info-bg;

$suggestion-result-kind-color: $gray-60;
$suggestion-result-kind-bg-color: $gray-10;

$reserved-gray: $gray-30;

#suggestions {
  .modal {
    display: inherit;
  }

  .content {
    top: 0px;
    position: relative;
    width: 100%;
    max-width: 943px;
    margin: 30px auto;

    .panel-heading p { line-height: 1.2; }

    .example {
      background-color: darken($suggestion-content-bg-color, 10);
      border-radius: 22px;
      color: $suggestion-content-color;
      cursor: pointer;
      font-size: modular-scale(-1);
      font-weight: normal;
      margin-bottom: 0.1em;
      margin-right: 0.5em;
      white-space: nowrap;

      @media only screen and (max-width: $small-viewport-width) {
        padding: 3px 11px;
      }

      @media only screen and (min-width: $small-viewport-width) {
        padding: 3px 20px;
      }
    }
  
    .suggestion-header-example {
      color: $suggestion-result-kind-color;
      font-variant: small-caps;
      padding-left: 5px;
      padding-right: 5px;
      font-size: modular-scale(1);
    }

    kbd {
      background-color: darken($suggestion-content-bg-color, 6);
      color: $suggestion-content-color;
      font-size: modular-scale(-1);
    }

    input {
      margin-left: inherit;
    }

    .results-available {
      input, .input-group-addon {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }
    }

    .input-group-addon {
      background: $white;
    }

    .icon-ecfr-search:before, .icon-fr2:before {
      vertical-align: middle;
    }

    .active, .default {
      background-color: $suggestion-item-active-bg-color;
      color: $suggestion-item-active-color;
    }
  }

  .backdrop {
    background: rgba(255, 255, 255, 0.8);
    border: none;
    height: 100%;
    left:0;
    margin: 0;
    padding: 0;
    position: fixed;
    top:0;
    width: 100%;

    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
  }

  .results {
    border-top: none;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

    .none {
      background: $white;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      border: solid 1px $gray-20;
      color: $gray-80;
      padding: 1.5em 0;
      text-align: center;

      strong {
        font-size: modular-scale(0);
        font-weight: bold;
      }
    }
  }
}

table.suggestions {
  border-collapse: separate !important;
  border-spacing: 0;
  font-size: 18px;
  height: 46px;
  line-height: 1.3333333;

  tr {
    td, th {
      border-bottom: 1px solid $gray-10;
      overflow: hidden;
      padding: 10px 16px;
      text-overflow: ellipsis;
      white-space: nowrap;

      .icon-ecfr, .icon-fr2 {
        color: $gray-20;
        font-size: 26px;
      }
    }


    td:first-child { border-left: 1px solid $gray-20; }
    td:last-child { border-right: 1px solid $gray-20; }

    &:last-child td {
      border-bottom: 1px solid $gray-20;

      &:first-child { border-bottom-left-radius: 10px; }
      &:last-child { border-bottom-right-radius: 10px; }
    }

    &.reserved {
      td {
        color: $reserved-gray;
        font-weight: normal;
        font-style: italic;
      }
    }

    &.kind {
      color: $suggestion-result-kind-color;
      font-size: modular-scale(1);
      font-variant: small-caps;

      td {
        background: $suggestion-result-kind-bg-color;
        padding: 2px 0 1px 0.8em;
      }

      &.full-text {
        td { padding-top: 4px; }
      }
    }

    .search-group-label-frame {
      float: left;
      position: relative;
    }

    .search-group-label, th {
      color: $green;
      font-size: 0.6em;
      left: -10px;
      position: absolute;
      top: -11px;
    }

    .highlight {
      height: 46px;
      max-width: 10px;
      white-space: nowrap;
      width: 100%;
    }

    .toc {
      font-size: modular-scale(0);

      .icon-ecfr, .icon-fr2 {
        color: inherit;
      }
    }

  }

  .suggestion {
    background-color: $white;
    border: 1px solid $gray-30;
    cursor: pointer;
    margin-bottom: -1px;
    padding: 8px 16px;

    .no-results {
      font-style: italic;
    }

    &:hover {
      background-color: $suggestion-item-active-bg-color;
      color: $suggestion-item-active-color
    }
  }

  // REMOVE: unused
  // .dual-suggestion {
  //   background: $white;
  //   margin: 0;
  //   padding: 0;

  //   td {
  //     padding-top: 0;
  //     padding-bottom: 0;
  //   }
  // }

  .suggestion.removed {
    td.citation, td.highlight {
      text-decoration: line-through;
      color: lighten($reserved-gray, 15);
      font-weight: normal;
      font-style: italic;
      span {
        color: $reserved-gray;
      }
    }
  }

  // REMOVE: unused
  // .supplemental-suggestion {
  //   background-color: $white;
  //   border-radius: 3px;
  //   border: 1px solid $gray-10;
  //   display: inline-block;
  //   // float: right;
  //   // position: relative;
  //   margin: 0;
  //   margin: 0;
  //   padding: 0;
  //   padding: 4px 1em;
  //   top: -6px;
  // }

  // .suggestion-delimiter {
  //   color: $gray-20;
  //   font-size: modular-scale(-1);
  //   // font-weight: bold;
  //   margin: 0 0.5em;
  // }

  .suggestion.active {
    background-color: $suggestion-item-active-bg-color;
    color: $suggestion-item-active-color;
  }

  mark {
    background-color: $suggestion-item-active-bg-color;
    border-radius: 4px;
    border: dotted 2px lighten($suggestion-item-active-color, 25);
    color: $suggestion-item-active-color;
    padding-left: 0;
    padding-right: 0;
  }

}
