/******************************

DESCRIPTION AREA

******************************/
.page-summary {
  background-color: $gray-5;
  border-radius: 5px;
  margin-bottom: 3em;
  padding: 10px 20px 2px;

  &.row { margin-bottom: 40px !important; }

  &.reader-aid { background-color: $color-reader-aid-light; }

  h1 {
    border-bottom: 2px solid $gray-20;
    margin: 0.25em 0 .25em !important;
  }

  .search-actions {
    overflow: hidden;

    p { margin-bottom: 0; }

    .subscribe-wrapper {
      position: relative;
      top: -4px;
    }
  }
}


/******************************

SEARCH RESULTS

******************************/
.search-results-wrapper {
  .row { margin-bottom: 0 !important; }
}
