.tender_interstitial_modal {
  line-height: 20px;
  font-size: modular-scale(0);

  .title_bar {
    text-align: center;
    border-bottom: 2px solid $fr_dark_blue;
  }

  .info {
    text-align: left;
    font-size: modular-scale(0);
    line-height: 20px;
    border-bottom: 1px solid $fr-gray-20;
    margin-bottom: 10px;
    padding-bottom: 20px;
  }

  .site_feedback,
  .document_feedback {
    width: 45%;
    float: left;
    height: 265px;
    padding-top: 10px;
    line-height: 20px;

    p { height: 110px; }
  }

  .site_feedback {
    border-right: 1px solid $fr-gray-20;
    padding-right: 20px;
    margin-left: 10px;
  }

  .document_feedback { padding-left: 25px; }

  .agency_question {
    padding-top: 20px;
    text-align: center;
    font-size: 12px;
    clear: both;
  }

  .button {
    color: $white;
    background-color: $fr-blue;
    width: 70%;
    height: 130px;
    text-align: center;
    margin-left: 20px;
    margin-top: 10px;
    border-radius: 12px;
    padding-top: 5px;

    &:hover {
      background-color: $fr_bright_orange;
      cursor: pointer;
    }

    &.disabled {
      background-color: $fr-gray-10;
      cursor: default;
    }

    .icon-fr2 {
      font-size: 100px;
    }
    .button_title {
      position: relative;
    }
  }

  .site_feedback .button { margin-left: 27px; }
  .document_feedback .button { margin-left: 35px; }
}
