.user-account {
  h2.title .icon-fr2 { top: 6px; }

  p {
    margin: 15px 10px 15px 10px;
  }

  form.formtastic.user-email-change {
    margin: 30px 15px 15px 5px;

    fieldset {
      display: inline-block;
      margin: 0;
      position: relative;

      &.inputs {
        label { display: none; }

        li.input { padding-left: 0; }
      }
    }

    input[type=text] {
      border-radius: 6px;
      border: 1px solid $gray-60;
      font-size: 16px;
      height: 25px;
      margin-top: 10px;
      padding: 0 5px;
      width: 250px;
    }

    .link { color: $link; }

    .fr_button {
      border-radius: 6px;
      border: 1px solid;
      font-size: modular-scale(0);
      padding: 5px 0 5px;
      position: relative;
      top: 13px;

      &.disabled { background-color: $med-gray; }
    }

    .email_invalid,
    .email_suggestion {
      left: 0;
      position: absolute;
      top: -15px;
    }
  }
}
