.user-account {

  p {
    margin: 15px 10px 15px 10px;
  }

  form {
    margin: 5px 15px 15px 5px;
  }

  #user_email {
    height: 20px;
    width: 250px;
  }

  .link {
    color: $fr-blue;
  }

  .fr_button {
    margin-left: 10px;
    padding: 5px;
  }
}
