.user-account {
  p {
    margin: 15px 10px 15px 10px;
  }

  form.formtastic.user-email-change {
    margin: 5px 15px 15px 5px;

    fieldset {
      display: inline-block;
      margin: 0;
      position: relative;
    }

    input[type=text] {
      height: 25px;
      width: 250px;
      border: 1px solid #666;
      border-radius: 6px;
      font-size: 16px;
      padding: 0 5px;
      margin-top: 25px;
    }

    .link {
      color: $fr-blue;
    }

    .fr_button {
      border-radius: 6px;
      border: 1px solid;
      padding: 5px 0 5px;
      position: relative;
      top: -1px;
      font-size: 14px;
    }

    .email_invalid,
    .email_suggestion {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}
