<div class="search_info search-info filterable-list-container">
  <div class="row filterable-list-info">
    <div class="<%= bootstrap_col(xs: 12, md: 12) %>">
      <h2 class="pull-left">
        <span class="small-stack">
          Documents <span>Found</span>
        </span>
        <span id="item-count" class="item-count">
          <%= number_with_delimiter search.result_count %>
        </span>
      </h2>

      <% if search.results.present? %>
        <ul class="actions">
          <% supported_orders.each do |order| %>
            <li class="<%= 'on' if search.order == order.downcase %>">
              <%= link_to order,
                params.
                  merge(order: order.downcase, action: :show).
                  except(:page),
                class: '' %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>
