


  <%= render partial: 'search_info', locals: {
    supported_orders: @presenter.supported_orders,
    search: @search
  } %>

  <% if @search.results.present? %>
    <div>
      <%= will_paginate @search.results, params: {action: :show},
        renderer: BootstrapPagination::Rails %>
    </div>

    <%= render partial: 'search/results',
      locals: {
        type: :official,
        documents: @search.results,
        search: @search,
        track_search_result_click_throughs: true
      }
    %>

    <div>
      <%= will_paginate @search.results, params: {action: :show},
        renderer: BootstrapPagination::Rails %>
    </div>

  <% else %>
    <div class="errors">
      <p class="errors_header">No documents were found.</p>
    </div>
  <% end %>
