<div class="notice message">
  <p>
    You do not currently have any subscriptions. <br /> You can subscribe to the results of any search, to public inspection documents, via any agency page, 
    and on many other pages of FederalRegister.gov
  </p> 
  <p>
    Look for the envelope icon with the words 'Subscribe' (on the right hand side of many pages) to get started.
  </p>
</div>

