<div class="warning message">
  <p>
    Your email address has not been confirmed. <br />Because we value your privacy we do not
    allow subscription management until your email address has been confirmed.
  </p>
  <p>
    To confirm your email address you should click the link in the email that was sent to you.
    <br />If you no longer have your confirmation email you can
    <%= link_to 'click here to resend', resend_confirmation_path %> it.
  </p>
</div>
