.site-footer {
  background: $fr-gray-5;
  border-top: 4px solid $fr-nav-orange;
  clear: both;
  font-size: modular-scale(0);
  overflow: hidden;

  > .wrapper {
    padding-top: 2em;
  }

  h2 {
    font-size: modular-scale(1);
    text-transform: uppercase;
  }

  ul.bullets {
    margin-left: 0;
  }
}
