.site-footer {
  background: $gray-5;
  border-top: 4px solid $nav-orange;
  clear: both;
  font-size: modular-scale(0);
  overflow: hidden;

  > .wrapper {
    padding-top: 2em;
  }

  h2 {
    font-size: modular-scale(1);
    text-transform: uppercase;
  }

  ul.bullets {
    margin-left: 0;

    li { padding: 4px 0 4px 15px; }
  }
}
