.header {
  .announcement-inner,
  .site-notification-text {
    width: auto;
  }

  .logo {
    margin: 0px auto;
    padding-left: 5px;
    position: relative;
    width: 955px;

    .hgroup {
      height: 120px;
      margin-bottom: 10px;
      margin-top: 10px;
      width: 700px;

      a {
        display: block;
        height: 100px;
        padding-top: 10px;
        width: 700px;

        svg {
          height: inherit;
          overflow: hidden;
          width: inherit;
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .header {
    // reduce logo size at smaller screen sizes
    .logo {
      width: 360px;

      .hgroup {
        width: auto;
        height: 63px !important;
        top: 0px !important;

        a {
          height: 52px;
          width: 360px;
        }
      }
    }
  }
}
