%header_logo {
  margin: -10px auto 10px;
  padding-left: 5px;
  position: relative;
  width: 955px;

  .hgroup {
    text-indent: -9999em;
    overflow: hidden;
    text-align: left;
    background-repeat: no-repeat;
    background-position: 0 0;

    a { display: block; }
  }
}

@mixin masthead_png($name) {
  background-image: image-url('header/#{$name}_masthead.png');
  width: image-width('header/#{$name}_masthead.png');
  height: image-height('header/#{$name}_masthead.png');

  a {
    height: image-height('header/#{$name}_masthead.png');
    width: image-width('header/#{$name}_masthead.png');
  }
}

@mixin masthead_svg($name) {
  background-image: image-url('header/#{$name}_masthead.svg');
  background-position: 0 0;
  background-clip: content-box;

  a { height: 100px; }
}

.mdrnzr-svg .logo {
  @extend %header_logo;

  .hgroup {
    width: 482px;
    height: 100px;
    margin-bottom: 10px;

    &.official { @include masthead_svg('official'); }
    &.public-inspection { @include masthead_svg('public_inspection'); }
    &.reader-aids { @include masthead_svg('reader_aids'); }
  }
}

.mdrnzr-no-svg .logo {
  @extend %header_logo;

  .hgroup {
    &.official { @include masthead_png('official'); }
    &.public-inspection { @include masthead_png('public_inspection'); }
    &.reader-aids { @include masthead_png('reader_aids'); }
  }
}
