@mixin title_bar($color, $background-image) {
  color: #fff;
  clear: both;
  line-height: .9;
  font-size: 2.2em;
  font-weight: 700;
  height: 25px;
  letter-spacing: 0px;
  margin-bottom: 1em;

  margin-left: -999px;
  padding-left: 999px;
  text-align: right;

  background: image-url($background-image) repeat-x scroll left top;

  span {
    background: #fff;
    color: $color;
    padding: 0 10px;
    margin: 0 25px 0 0;

    top: -1px;
    position: relative;
  }
}

div.title {
  @include title_bar($color-official, "blue_title_bar.png");

  &.public-inspection {
    @include title_bar($color-public-inspection, "red_title_bar.png");
  }
  &.reader-aids {
    @include title_bar($color-reader-aid, "purple_title_bar.png");
  }
}
