@mixin title_bar($color, $background-image) {
  color: #fff;
  clear: both;
  line-height: .9;
  font-size: 2.2em;
  font-weight: 700;
  height: 21px;
  letter-spacing: 0px;
  margin-bottom: 1em;

  margin-left: -999px;
  padding-left: 999px;
  text-align: right;

  background: image-url($background-image) repeat-x scroll left top;

  span {
    background: #fff;
    color: $color;
    padding: 0 10px;
    margin: 0 25px 0 0;

    top: -3px;
    position: relative;
  }
}

div.title {
  @include title_bar($fr-blue, "blue_header_bg.png");

  &.public-inspection {
    @include title_bar($fr-red, "red_header_bg.png");
  }
}
