@mixin title_bar($color, $background-image) {
  clear: both;
  text-align: right;

  .bar {
    height: 25px;
    background: image-url($background-image) repeat-x scroll left top;

    &.left-extender {
      position: absolute;
      width: 5000px;
      right: 100%;
    }

    &.left {flex-grow: 0.97;}
    &.right {flex-grow: 0.03;}
  }

  h1 {
    margin-left: auto;
    color: $color;
    font-size: modular-scale(4);
    font-weight: 500;
    @include sans_serif;

    display: inline-block;
    position: relative;
    top: -4px;
    min-height: 25px;
    padding: 0 10px 1em 10px;
    margin: 0 !important;

    .icon-fr2 {
      color: $color;
      font-size: modular-scale(5);
      top: 4px;
      position: relative;
    }
  }
}

.main-title-bar {
  display: flex;
  max-width: 970px;
  margin: auto;
  position: relative;

  @include title_bar($color-official, "blue_title_bar.png");

  &.public-inspection {
    @include title_bar($color-public-inspection, "red_title_bar.png");
  }
  &.reader-aids {
    @include title_bar($color-reader-aid, "purple_title_bar.png");
    span {
      vertical-align: top;
      .icon-fr2 {
        margin-right: 0;
        padding: 0;
      }
    }
  }
}

@media only screen and (max-width: 501px) {
  %multiline-title-bar {
    h1 { padding-bottom:.5em; }

    .bar.right {
      position: relative;
      top: 32px;
    }
  }

  .controller-path-public_inspection_document_issues {
    .main-title-bar.public-inspection {
      @extend %multiline-title-bar;

      h1 { width: 63%; }
    }
  }

  .controller-path-indexes,
  .controller-path-reader_aids {
    .main-title-bar.reader-aids {
      @extend %multiline-title-bar;

      h1 {
        max-width: 75%;
        width: 75%;
      }

      .bar.right { flex-grow: 0.05; }
    }
  }
}
