@mixin title_bar($color, $background-image) {
  clear: both;
  text-align: right;
  margin-bottom: 2em;

  .bar {
    height: 25px;
    background: image-url($background-image) repeat-x scroll left top;

    &.left {flex-grow: 0.9;}
    &.right {flex-grow: 0.1;}
  }

  h1 {
    margin-left: auto;
    color: $color;
    font-size: modular-scale(4);
    font-weight: 500;
    @include sans_serif;

    display: inline-block;
    position: relative;
    top: -4px;
    height: 25px;
    padding: 0 10px;
    margin: 0 !important;

    .icon-fr2 {
      color: $color;
      font-size: modular-scale(5);
      top: 4px;
      position: relative;
    }
  }
}

.main-title-bar {
  display: flex;
  max-width: 970px;
  margin: auto;

  @include title_bar($color-official, "blue_title_bar.png");

  &.public-inspection {
    @include title_bar($color-public-inspection, "red_title_bar.png");
  }
  &.reader-aids {
    @include title_bar($color-reader-aid, "purple_title_bar.png");
    span {
      vertical-align: top;
      .icon-fr2 {
        margin-right: 0;
        padding: 0;
      }
    }
  }
}
