<% add_css_file_to_mailer 'subscription_mailer.css' %>

<div class="content-wrapper">
  <p>Hello, you have been unsubscribed from "<strong><%= @subscription.mailing_list.title %></strong>".</p>

  <p>If this was done in error you may manage your subscriptions online at <%= link_to subscriptions_url, subscriptions_url %></p>
</div>
