---
http_interactions:
- request:
    method: get
    uri: http://api.data.gov/regulations/v3/lookup.json?field=country&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '42'
      x-ratelimit-remaining:
      - '41'
    body:
      encoding: UTF-8
      string: '{"list":[{"default":true,"label":"United States","value":"United States"},{"default":false,"label":"United
        Kingdom","value":"United Kingdom"},{"default":false,"label":"Canada","value":"Canada"},{"default":false,"label":"Australia","value":"Australia"},{"default":false,"label":"----------","value":"XX"},{"default":false,"label":"Afghanistan","value":"Afghanistan"},{"default":false,"label":"Albania","value":"Albania"},{"default":false,"label":"Algeria","value":"Algeria"},{"default":false,"label":"American
        Samoa","value":"American Samoa"}[...]
