<% topics.each do |topic| %>
  <tr>
    <td class="topic_name">
      <%= link_to topic.name, topic.url %>
    </td>
    <td class="count_7_days">
      <%= link_to_unless topic.document_count == 0,
            topic.document_count,
            documents_search_path(
              topic.document_count_search_conditions
            ),
            :utm_source => source,
            :utm_medium => medium,
            :utm_content => 'topics_with_entries_last_7_days' %>
    </td>
    <td class="comments_recently_opened">
      <%= link_to_unless topic.comment_count == 0,
            topic.comment_count,
            documents_search_path(
              topic.comment_count_search_conditions
            ),
            :utm_source => source,
            :utm_medium => medium,
            :utm_content => 'topics_with_comments_closing_soon' %>
    </td>
  </tr>
<% end %>