.documents-by-date {
  h3.with-icon {
    .icon-fr2 {
      top: 4px;
      margin-left: -31px;
      font-size: 30px;
    }
  }

  .fr-list.day-nav {
    color: $white;
    font-weight: 500;
    text-align: center;

    li {
      background-color: $fr-gray-30;
      margin-bottom: 10px;
      padding: 10px;
      border-radius: 2px;

      &.active,
      &:hover { background-color: $fr-bright-orange; }

      &:visited,
      &:focus { text-decoration: none; }

      a { color: inherit; }
    }
  }

  .document-date-wrapper {
    display: none;
    &.active { display: block; }
  }

  h6 {
    margin-top: 0 !important;
    padding-top: 5px;

    &.with-document-separator {
      @extend %document-separator;
    }

    .icon-fr2 {
      font-size: 25px !important;
      float: left;
      display: inline-block;
      color: $color-official;
      width: 11%;
      top: -1px;
    }

    a {
      display: inline-block;
      width: 88%;
    }
  }

  .agencies {
    font-size: modular-scale(-1);
    width: 88%;
    float: right;
  }
}
