<div class="expand-table-positioning-wrapper hidden-print">
  <span class='text bootstrap-tooltip expand-table-link ui sticky' data-tooltip='Click to expand table view' original-title=''>
    <span class='icon-fr2 icon-fr2-fullscreen'></span>
    <span class='text'>Expand Table</span>
  </span>
</div>
