<%= fr_tooltip_box(
  FrBox.build(
    :enhanced_content,
    title: "Enhanced Content - For Further Information Contact"
  )
) do %>
  <p>
     The FOR FURTHER INFORMATION CONTACT section includes the name and
     telephone number of a person within your agency who can answer questions
     about the document. It may list two or more persons to contact concerning
     different aspects of a document.
  </p>

  <p>
    For more information please see the
    <a href='http://www.archives.gov/federal-register/write/handbook/ddh.pdf'>
    Document Drafting Handbook
    </a> sections on the use of For Further Information Contact in Federal Register documents.
  </p>
<% end %>
