<%= fr_tooltip_box(
  FrBox.build(
    :enhanced_content,
    title: "Enhanced Content - Preamble"
  )
) do %>
  <p>
    The preamble arranges basic information on the "who, what, where,
    when, and why" of a document for the reader's convenience. For
    Rules and Proposed Rules it explains the basis and purpose of the
    regulatory text, but contains no regulatory text.
  </p>

  <p>
    For more information please see the
    <a href='http://www.archives.gov/federal-register/write/handbook/ddh.pdf'>
    Document Drafting Handbook
    </a> sections on the use of Preamble in Federal Register documents.
  </p>
<% end %>
