<%= fr_tooltip_box(
  FrBox.build(
    :inherit,
    title: "Printed Page"
  )
) do %>
  <p>
    The text following this element occured on page {{page}} of the
    print and PDF versions of this document.
  </p>
<% end %>
