function add_textarea_expander(field) {
  $(field).TextAreaExpander(100, 1000);
}


$(function () {
  var initializeCommentForm = function() {
    var renderCommentSummary = function(fields) {
      var source   = $("#comment-summary-template").html();
      var template = Handlebars.compile(source);
      template(fields);
    };

    var parseFields = function() {
      var fields = [];
      $('#new_comment .inputs > ol > li').each(function(i,elem) {

        var list_item = $(elem);
        var key = list_item.find('label').text().replace('*','');
        var field = {'label' : key};

        if(list_item.hasClass('stringish')) {
          field.values = [list_item.find('input').val()];
        } else if(list_item.hasClass('text')) {
          field.values = [list_item.find('textarea').val()];
        } else if (list_item.hasClass('select')) {
          var input = $(list_item.find('select').first());
          field.values = [input.find('option[value="' + input.val() + '"]').first().text()];
        } else if (list_item.hasClass('file')) {
          field.values = list_item.find('.attachments tr').map(function (i,elem) {return $(elem).data('name')});
        }

        fields.push(field);
      });
      return fields;
    };

    $('.comment_preview').bind('click', function() {
      var fields = parseFields();
      var html   = renderCommentSummary(fields);

      Handlebars.registerPartial('comment_summary', $('#comment-summary-template').html());
      var source   = $("#comment-preview-template").html();
      var template = Handlebars.compile(source);

      var modal = $(template({"fields":fields}));
      $('body').append(modal);
      modal.find(".jqmClose").bind('click', function (event) {
        modal.remove();
      });

      modal.jqm({
          modal: true,
          toTop: true
      });
      modal.jqmShow().centerScreen();
    });

    $('#new_comment li.combo').each(function() {
      var li = $(this);
      var dependencies = li.data('dependencies');
      var input = li.find('input');

      $('#new_comment select[name="comment[' + li.data('dependent-on') + ']"]').change(function() {
        var parent_select = $(this);
        var parent_value = parent_select.val();

        li.find('select').remove();

        if (dependencies[parent_value]) {
          var current_value = input.val();
          var select = $('<select name="' + input.attr('name') + '"><option></option></select>');
          $.map(dependencies[parent_value], function(options) {
            var option = $('<option>').first();
            option.attr('value', options[0]);
            option.text(options[1]);
            select.append(option);
          });
          select.val(current_value);

          input.attr('disabled', 'disabled').hide().val('').after(select);
        } else {
          input.removeAttr('disabled').show();
        }
      }).change();
    });

    if ($('#comment_secret').val() == '') {
      $('#comment_secret').val(Math.random().toString(36).substring(2,16));
    }

    var attachedCommentMessage = 'See attached file(s)';
    var commentField = $('#comment_general_comment');
    add_textarea_expander(commentField);

    var container = $('.attachments tbody');
    var existing_attachments = $.parseJSON($('.attachments').data("existing"));
    var clearoutCommentPlaceholder = function (e, data) {
      if(commentField.val() === attachedCommentMessage && container.children('tr:not(.error)').size() === 0) {
        commentField.val('');
      }
    };

    var uploader = $('#fileupload').fileupload({
      url: '/my/comment_attachments',
      autoUpload: true,
      maxNumberOfFiles: <%= Comment::MAX_ATTACHMENTS %>,
      maxFileSize: <%= CommentAttachment::MAX_FILE_SIZE %>,
      acceptFileTypes: /(\.|\/)(<%= CommentAttachment::ALLOWED_EXTENSIONS.join('|')%>)$/i,
      formData: {
        'comment_attachment[secret]': $('#comment_secret').val()
      },
      filesContainer: container,
      prependFiles: true,
      uploadTemplateId: null,
      downloadTemplateId: null,
      uploadTemplate: function (o) {
        var source   = $("#comment-attachment-upload-template").html();
        var template = Handlebars.compile(source);
        return template(o);
      },
      downloadTemplate: function (o) {
        var source   = $("#comment-attachment-complete-template").html();
        var template = Handlebars.compile(source);
        return template(o);
      }
    }).
      bind('fileuploaddestroyed', clearoutCommentPlaceholder).
      bind('fileuploadcompleted', function (e, data) {
        if(commentField.val() === '') {
          commentField.val(attachedCommentMessage);
        }
      }).
      data('fileupload');

    if(uploader) {
      uploader._renderDownload(existing_attachments).appendTo(container);

      clearoutCommentPlaceholder();

      var priorValidations = uploader._hasError;
      uploader._hasError = function(file) {
        console.log(file);
        container.find('tr').each(function(i,elem){
          if($(elem).data('name') == file.name) {
            file.error = 'A file with the same name has already been attached.'
          }
        });
        return priorValidations.call(this, file);
      };
    }

    /* add public icons where appropriate */
    $('#flash_message .formtastic.comment .inputs li').each(function() {
      var $li = $(this);
      if( $li.hasClass('public') ) {
        $li.find(' > input').last().after( $('<span>').addClass('public') );
      }
    });

    /* add tipsy for public (world) icon */
    $('.formtastic.comment .inputs span.public').tipsy( {gravity: 's', fallback: "This field will be publically viewable.", fade: true, offset: 4});

    
    /* make the file upload button pretty */
    var add_file_button = $('<div>').addClass('add_file button').text('Add a file');
    $('#fileupload').after( add_file_button );
    $('#flash_message.comment').delegate('.add_file', 'click', function() {
      $('#fileupload').trigger('click');
    });
    $('#fileupload').hide();


    /* add events for max characters in a text field */
    $('#flash_message.comment').delegate('li.input[data-max-size]', 'change', function() {
      enfore_characters_remaining(this);
    });
    $('#flash_message.comment').delegate('li.input[data-max-size]', 'keyup', function() {
      enfore_characters_remaining(this);
    });

    /* add events to clear validation errors */
    $('#flash_message.comment').delegate('li.error.input', 'keyup', function() {
      validate_field(this);
    });
    $('#flash_message.comment').delegate('li.error.input', 'change', function() {
      validate_field(this);
    });


    $('#flash_message').delegate('.formtastic.comment .button.commit:not(.disabled)', 'click', function() {
      $(this).closest('form').submit();
    });
    $('#flash_message .formtastic.comment').live('submit', function(event) {
      event.preventDefault();
      var $form = $(this),
          $submit_button = $form.find('.commit.button');

      $submit_button.addClass('disabled');
      $submit_button.find('input').disable().attr('value', 'Submitting Comment');

      $.ajax({
        url: $form.attr('action'),
        type: 'POST',
        dataType: 'html',
        data: $form.serialize(),
        success: function(response) {
          $('#comment_wrapper').replaceWith(response);
        },
        error: function(response) {
          $('#comment_wrapper').replaceWith(response.responseText);
          initializeCommentForm();

          $('#comment_wrapper .instructions').scrollintoview({duration: 200});
        }
      });
    });

  };

  $('#flash_message.comment a.button').click(function(event) {
    var link = $(this);
    var comment_div = link.closest('div');
    var loading_div = $('<div>').addClass('loading').append(
                          $('<span>').addClass('loader').html('Loading Comment Form')
                      );

    loading_div.hide();
    loading_div.insertAfter( comment_div );
    loading_div.slideDown(800);


    var document_number = $('.doc_number').text();
    var url = "/my/articles/" + document_number + "/comments/new";

    $.ajax(url, {
      dataType: 'html',
      success: function(data) {
        var comment_form = $('<div>').html(data);
        comment_form.hide();
        comment_div.append( comment_form );

        loading_div.slideUp(800, function() {
          $('#flash_message.comment p .button').fadeOut(400);
          comment_form.slideDown(800);
        });

        initializeCommentForm();
      },
      error: function() {
        alert('error!');
      }
    });

    event.preventDefault();
  });

});

