---
http_interactions:
- request:
    method: get
    uri: http://api.data.gov/TEST/regulations/v2/docket.json?api_key=DEMO_KEY&D=CFPB_FRDOC_0001
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '992'
    body:
      encoding: US-ASCII
      string: ! '{"title":"Recently Posted CFPB Rules and Notices.","docketId":"CFPB_FRDOC_0001","agency":"Consumer
        Financial Protection Bureau","agencyAcronym":"CFPB","rin":"","parentAgency":"","parentAgencyAcronym":"","type":"Rulemaking","docketAbstract":"","docketMetadata":[{"Type":"Rulemaking"}],"cfrCitation":"","priority":"","docketType":"","impactsAndEffects":"","rplanEntry":"","numberOfComments":4,"relatedRins":[],"relatedDockets":[]}'
  recorded_at: Wed, 30 Oct 2013 21:00:14 GMT
recorded_with: VCR 2.6.0
