---
http_interactions:
- request:
    method: get
    uri: http://api.data.gov/TEST/regulations/v3/docket.json?docketId=CFPB_FRDOC_0001&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-ratelimit-limit:
      - '10000'
      x-ratelimit-remaining:
      - '9538'
    body:
      encoding: US-ASCII
      string: ! '{"agency":"Consumer Financial Protection Bureau","agencyAcronym":"CFPB","docketId":"CFPB_FRDOC_0001","numberOfComments":0,"rin":"Not
        Assigned","title":"Recently Posted CFPB Rules and Notices.","type":"Rulemaking","type":{"label":"Type","value":"Rulemaking"}}'
  recorded_at: Fri, 03 Apr 2015 21:14:32 GMT
- request:
    method: get
    uri: http://example.com/api/v1/docket.json?docketId=CFPB_FRDOC_0001&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<!doctype html>\n<html>\n<head>\n    <title>Example Domain</title>\n\n
        \   <meta charset=\"utf-8\" />\n    <meta http-equiv=\"Content-type\" content=\"text/html;
        charset=utf-8\" />\n    <meta name=\"viewport\" content=\"width=device-width,
        initial-scale=1\" />\n    <style type=\"text/css\">\n    body {\n        background-color:
        #f0f0f2;\n        margin: 0;\n        padding: 0;\n        font-family: \"Open
        Sans\", \"Helvetica Neue\", Helvetica, Arial, sans-serif;\n        \n    }\n
        \   div {\n        width: 600px;\n        margin: 5em auto;\n        padding:
        50px;\n        background-color: #fff;\n        border-radius: 1em;\n    }\n
        \   a:link, a:visited {\n        color: #38488f;\n        text-decoration:
        none;\n    }\n    @media (max-width: 700px) {\n        body {\n            background-color:
        #fff;\n        }\n        div {\n            width: auto;\n            margin:
        0 auto;\n            border-radius: 0;\n            padding: 1em;\n        }\n
        \   }\n    </style>    \n</head>\n\n<body>\n<div>\n    <h1>Example Domain</h1>\n
        \   <p>This domain is established to be used for illustrative examples in
        documents. You may use this\n    domain in examples without prior coordination
        or asking for permission.</p>\n    <p><a href=\"http://www.iana.org/domains/example\">More
        information...</a></p>\n</div>\n</body>\n</html>\n"
  recorded_at: Tue, 12 Jun 2018 22:08:57 GMT
- request:
    method: get
    uri: https://api.data.gov/TEST/regulations/v3/docket.json?docketId=CFPB_FRDOC_0001&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      content-type:
      - text/html;charset=utf-8
      x-ratelimit-limit:
      - '15'
      x-ratelimit-remaining:
      - '10'
    body:
      encoding: US-ASCII
      string: ! "<html><head><title>JBoss Web/7.0.17.Final - Error report</title><style><!--H1
        {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:22px;}
        H2 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:16px;}
        H3 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:14px;}
        BODY {font-family:Tahoma,Arial,sans-serif;color:black;background-color:white;}
        B {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;}
        P {font-family:Tahoma,Arial,sans-serif;background:white;color:black;font-size:12px;}A
        {color : black;}A.name {color : black;}HR {color : #525D76;}--></style> </head><body><h1>HTTP
        Status 500 - </h1><HR size=\"1\" noshade=\"noshade\"><p><b>type</b> Exception
        report</p><p><b>message</b> <u></u></p><p><b>description</b> <u>The server
        encountered an internal error () that prevented it from fulfilling this request.</u></p><p><b>exception</b>
        <pre>org.jboss.resteasy.spi.UnhandledException: gov.egov.erule.regs.server.dao.common.AppDAOException:
        Unable to get Agency Config for docketId={0}  docketId=CFPB_FRDOC_0001\n\torg.jboss.resteasy.core.SynchronousDispatcher.handleApplicationException(SynchronousDispatcher.java:340)\n\torg.jboss.resteasy.core.SynchronousDispatcher.handleException(SynchronousDispatcher.java:214)\n\torg.jboss.resteasy.core.SynchronousDispatcher.handleInvokerException(SynchronousDispatcher.java:190)\n\torg.jboss.r[...]
[...]
- request:
    method: get
    uri: http://api.data.gov/regulations/v3/docket.json?docketId=CFPB_FRDOC_0001&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '15'
      x-ratelimit-remaining:
      - '9'
    body:
      encoding: US-ASCII
      string: ! '{"agency":"Consumer Financial Protection Bureau","agencyAcronym":"CFPB","docketId":"CFPB_FRDOC_0001","numberOfComments":0,"rin":"Not
        Assigned","title":"Recently Posted CFPB Rules and Notices.","type":"Rulemaking","type":{"label":"Type","value":"Rulemaking"}}'
  recorded_at: Tue, 12 Jun 2018 22:13:13 GMT
- request:
    method: get
    uri: http://api.data.gov/regulations/v3/docket.json?docketId=CFPB_FRDOC_0001&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '15'
      x-ratelimit-remaining:
      - '8'
    body:
      encoding: US-ASCII
      string: ! '{"agency":"Consumer Financial Protection Bureau","agencyAcronym":"CFPB","docketId":"CFPB_FRDOC_0001","numberOfComments":0,"rin":"Not
        Assigned","title":"Recently Posted CFPB Rules and Notices.","type":"Rulemaking","type":{"label":"Type","value":"Rulemaking"}}'
  recorded_at: Tue, 12 Jun 2018 22:13:18 GMT
recorded_with: VCR 2.6.0
