  <% agencies.each do |agency| %>
    <tr>
      <td class="agency_name"><%= link_to agency.name, agency.url %></td>
      <td class="count_7_days">
        <%= link_to_unless agency.document_count == 0,
            agency.document_count,
            documents_search_path(
              agency.document_count_search_conditions
            ),
            :utm_source => source,
            :utm_medium => medium,
            :utm_content => 'agencies_last_7' %>
      </td>
      <td class="comments_recently_opened">
        <%= link_to_unless  agency.comment_count == 0,
            agency.comment_count,
            documents_search_path(
              agency.comment_count_search_conditions
            ),
            :utm_source => source,
            :utm_medium => medium,
            :utm_content => 'agencies_closing_soon' %>
      </td>
      <% end %>
    </tr>