.wf-active .fr_button,
.fr_button {
  font-weight: normal;
  margin: 0;
  padding: 0;
  text-align: center;
  cursor: pointer;

  &.primary {
    background: $fr-green;
    color: $white;

    &:hover,
    &.hover {
      background: darken($fr-green, 5);
    }
  }
  &.optional {
    background: $fr-gray-15;
    color: $black;

    &:hover,
    &.hover {
      background: $fr-bright-orange;
      color: $white;
    }
  }
  &.disabled {
    color: $white;

    &:hover,
    .hover {
      background: $fr-gray-15;
    }
  }

  &.large  { min-width: 200px; }
  &.medium {
    min-width: 150px;
    padding: 5px;

    font-size: 12px;
    input {
      font-size: 12px;
    }
  }
  &.small  { min-width: 100px; }

  .browser_reset {
    background: none;
    color: inherit;
    border: none;
    cursor: inherit;
  }
}
