.wf-active .fr_button,
.fr_button {
  cursor: pointer;
  font-size: modular-scale(0);
  font-weight: normal;
  margin: 0;
  padding: 0;
  text-align: center;

  input,
  button {
    font-size: modular-scale(0);
  }

  input:focus { outline: 0; }

  &.primary {
    background: $fr-green;
    color: $white;

    &:hover,
    &.hover {
      background: darken($fr-green, 5);
    }
  }

  &.secondary {
    background: $fr-blue;
    color: $white;

    &:hover,
    &.hover {
      background: darken($fr-blue, 5);
    }
  }

  &.optional {
    background: $fr-gray-15;
    color: $black;

    &:hover,
    &.hover {
      background: $fr-bright-orange;
      color: $white;
    }
  }

  &.danger {
    background: $fr-red;
    color: $white;

    &:hover,
    &.hover {
      background: darken($fr-red, 10);
    }
  }

  &.disabled {
    color: $white;

    &:hover,
    .hover {
      background: $fr-gray-15;
    }
  }

  &.large  { min-width: 200px; }
  &.medium {
    min-width: 150px;
    padding: 5px;
  }
  &.small  { min-width: 100px; }

  .browser_reset {
    background: none;
    color: inherit;
    border: none;
    cursor: inherit;
  }
}
