.fr_button {
  cursor: pointer;
  font-size: modular-scale(0);
  font-weight: normal;
  margin: 0;
  padding: 0;
  text-align: center;

  input,
  button {
    font-size: modular-scale(0);
  }

  input:focus { outline: 0; }

  &.primary {
    background: $green;
    color: $white;

    &:hover,
    &.hover {
      background: darken($green, 5);
    }
  }

  &.secondary {
    background: $blue;
    color: $white;

    &:hover,
    &.hover {
      background: darken($blue, 5);
    }
  }

  &.tertiary {
    background: $white;
    border-color: $gray-20;
    color: $link-dark;

    &:hover,
    &.hover {
      background: $gray-5;
    }
  }

  &.optional {
    background: $gray-15;
    color: $black;

    &:hover,
    &.hover {
      background: $bright-orange;
      color: $white;
    }
  }

  &.danger {
    background: $red;
    color: $white;

    &:hover,
    &.hover {
      background: darken($red, 10);
    }
  }

  &.disabled {
    color: $white;

    &:hover,
    .hover {
      background: $gray-15;
    }
  }

  &.large  { min-width: 200px; }
  &.medium {
    min-width: 150px;
    padding: 5px;
  }
  &.small  { min-width: 100px; }

  .browser_reset {
    background: none;
    color: inherit;
    border: none;
    cursor: inherit;
  }
}
