@mixin carousel($width, $aspect_ratio, $item_count, $embed_width, $embed_height: undefined) {
  $height: $width / $aspect_ratio;

  .carousel-wrapper {
    width: unquote($width + 'px');
    height: if($embed_height == undefined, unquote($height + 'px'), unquote($embed_height + 'px'));
    position: relative;  /* On older OS versions "position" and "z-index" must be defined, */
    z-index: 1;          /* it seems that recent webkit is less picky and works anyway. */
    overflow: hidden;

    background: $white;

    .carousel-scroller {
      width: unquote( ($item_count * $embed_width) + 'px');
      height: 100%;
      float: left;
      padding: 0;

      ul {
        list-style: none;
        display: block;
        float: left;
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        text-align: left;
      }

      li {
        box-sizing: border-box;
        display: block;
        float: left;
        width: unquote($width + 'px');
        height: if($embed_height == undefined, unquote($height + 'px'), unquote($embed_height + 'px'));
        position:relative;
      }
    }

    .carousel-rounded-box {
      width: unquote($width + 'px');
      height: unquote($height + 'px');
      background: $white;
      border-radius: 9px;
      overflow: hidden;
      position: relative;

      img {
        width: unquote($width + 'px');
        height: unquote($height + 'px');
      }

      .text-wrapper {
        position: absolute;
        width: 60%;
        z-index: 1000;
        padding: 10px;

        h2 {
          font-size: modular-scale(2);
          font-weight: normal;
          line-height: 1.3;
          padding: 0;
          margin: 0;

          .icon-fr2 {
            font-size: 40px !important;
            float: left;
            display: inline-block;
            margin-right: 10px;
            height: 100%;
            color: #5797CE;
          }

          a {
            display: inline-block;
            width: 85%;

            color: $white;
            &:hover { color: $fr-nav-orange; }
          }
        }

        p {
          color: white;
          padding: 0;
          margin: 0;

          &.metadata {
            font-size: modular-scale(-1);
            line-height: 1.3;
            margin: 10px 0 10px 50px;

            a {
              color: $white;
              line-height: inherit !important;
              &:hover { color: $fr-nav-orange; }
            }
          }

          &.summary {
            font-size: modular-scale(0);
            margin-bottom: 15px;
          }

          &.comments_close {
            top: 285px;
            padding: 0;
            margin: 0;
            font-size: modular-scale(0);
            padding-left: 25px;
            margin-top: 5px;
          }
        }
      }

      .text-wrapper-bg {
        position: absolute;
        background: $black;
        opacity: 0.6;
        width: 100px;
        height: 100px;
        border-bottom-right-radius: 3px;
      }
    }
  }

  .carousel-nav {
    position: absolute;
    width: 125px;
    z-index: 1000;
    top: 264px;
    left: 164px;

    .prev,
    .next {
      font-weight: bold;
      font-size: modular-scale(0);
      padding: 0;
      width: 25px;
      position: relative;
      cursor: pointer;
      color: $fr-gray-40;
      background: none;

      &:hover { color: $fr-nav-orange; }
    }

    .prev {
      float: left;
      transform: rotate(90deg);
      top: -1px;
    }

    .next {
      float: right;
      transform: rotate(-90deg);
      top: -10px;
    }

    .indicator,
    .indicator > li {
      display: block;
      float: left;
      list-style: none;
      padding: 0;
      margin: 0;
    }

    .indicator > li {
      width: 9px;
      height: 9px;
      border-radius: 0px;
      background: $fr-gray-40;
      overflow: hidden;
      margin-right: 4px;
      cursor: pointer;

      &:hover,
      &.active {
        background: $fr-nav-orange;
      }

      &:last-child { margin: 0; }
    }
  }

  .carousel-nav-bg {
    position: absolute;
    background: $black;
    opacity: 0.6;
    z-index: 999;
    top: 332px;
    height: 18px;
    width: 250px;
    left: 275px;
    border-radius: 9px 9px 0 0;
  }
}



.carousel-large {
  @include carousel(800, 1.77, 6, 960, 480);

  .carousel-wrapper {
    margin: 0 65px;
    margin-bottom: 20px;

    .text-wrapper { overflow: hidden; }

    .summary {
      padding-top: 30px !important;
      padding-bottom: 10px !important;
      position: relative;
      margin: 0 !important;
    }
  }

  .carousel-nav {
    position: relative;
    top: -20px;
    left: 0;
    width: 142px;
    margin: 0 auto;
    overflow: hidden;

    .prev,
    .next {
      top: -2px;
      font-size: 18px;
    }
    .prev { top: -2px; }
    .next { top: -9px; }

    .indicator > li {
      width: 12px;
      height: 12px;
    }
  }
  .carousel-scroller {
    .attribution-bg {
      height: 18px;
    }
  }
}

.carousel-home {
@include carousel(450, 1.77, 6, 500, 360);

  .carousel-wrapper {
    margin: 10px 35px 20px;
    background: $fr-gray-5;

    .carousel-scroller .text-wrapper {
      width: 90%;

      h2 { font-size: modular-scale(2); }
    }

    p.summary {
      background-color: $fr-gray-5;
      font-size: modular-scale(-1);
      margin: 25px 0 0 0;
      padding: 0 5px;
      line-height: 1.4;
    }
  }
}

.carousel-nav {
  @include carousel(393, 1.77, 1, 470);

  .carousel-wrapper {
    margin: 5px 0 0 8px;

    .carousel-scroller .text-wrapper {
      width: 90%;

      h2 {
        font-size: modular-scale(1);

        a {
          display: inline-block !important;
          width: 83%;
          line-height: 1.3 !important;
        }
      }
    }

    .carousel-scroller .text-wrapper,
    .carousel-scroller .attribution {
      a {
        padding-left: 0 !important;
        display: initial !important;
        font-weight: normal !important;
        font-size: inherit !important;
      }
    }

    .carousel-scroller .text-wrapper {
      a {
        color: $white !important;

        &:hover { color: $fr-nav-orange !important; }
      }
    }

    .carousel-scroller .attribution {
      a {
        color: $fr-gray-30 !important;
        font-size: modular-scale(-2);

        &:hover { color: $white !important; }
      }
    }
  }
}


.carousel-scroller {
  div.summary_bg {
    top: 200px;
    height: 132px;
    width: 60%;
  }

  .attribution {
    position: absolute;
    right: 0px;
    bottom: 10px;
    z-index: 1000;
    padding-left: 10px;
    font-size: modular-scale(-1);
    color: $fr-gray-30;

    a {
      color: $fr-gray-30;
      z-index: 1000;
      padding-right: 5px;

      &:hover {
        color: white;
        text-decoration: underline;
      }
    }
  }

  .attribution-bg {
    position: absolute;
    background: $black;
    opacity: 0.6;
    width: 170px;
    height: 10px;
    right: 0px;
    bottom: 10px;
    z-index: 25;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
}
