.count-pill {
  border: 1px solid;
  border-radius: 5px;
  font-size: modular-scale(-2);
  font-weight: 500;
  height: 18px;
  padding: 2px;
  text-align: center;

  &.official {
    background-color: $color-official-light-alt;
    border-color: $color-official;
    color: $color-official;
  }

  &.public-inspection {
    background-color: $color-public-inspection-light-alt;
    border-color: lighten($color-public-inspection, 40);
    color: $color-public-inspection;
  }

  &.reader-aid {
    background-color: $color-reader-aid-med;
    border-color: lighten($color-reader-aid, 20);
    color: $color-reader-aid-dark;
  }
}
