$doc-icon-inactive:       #888888;
$doc-icon-notice:         #FAB827;
$doc-icon-prorule:        #D081B6;
$doc-icon-rule:           #5898CE;
$doc-icon-presdoc:        #73BD44;
$doc-icon-correction:     #82D0D4;
$doc-icon-uncategorized:  #999999;
$doc-icon-disabled:       #E6E6E6;
