form.formtastic,
form.formtastic .string {
  .email_suggestion,
  .email_invalid {
    @include gesta;
    font-size: modular-scale(0);
    font-style: italic;
    font-weight: 400;
    margin-left: 5px;
  }

  .email_suggestion .link {
      color: $fr-link;
      cursor: pointer;
      font-weight: bold;
      margin: 0;
      text-decoration: underline;
  }

  .email_invalid {
    color: $fr-red;
  }
}

#modal form.subscription {
  .email_suggestion,
  .email_invalid {
    display: block;
    padding-right: 5px;
    text-align: right;
  }
}
