.facet-explorer {
  form { position: relative; }

  .ui-autocomplete-input + .loader {
    right: 3px;
    top: 5px;
  }

  @media only screen and (max-width: $small-viewport-width) {
    .fr-table {
      margin: 15px 0;
    }
  }

}
