.jqmWindow {
  background-color: $fr-gray-10;
  border: 1px solid $black;
  color: $fr-gray-80;
  display: none;
  left: 50%;
  padding: 12px;
  position: fixed;
  top: 17%;
  width: 600px;
}

.jqmOverlay { background-color: $black; }

.fr-modal {
  background-color: $white;
  border: 5px solid $fr-dark-blue;
  display: none;
  max-height: 550px;
  overflow: auto;
  padding: 1em;
  position: fixed;
  top: 5em;
  width: 500px;

  &.wide { width: 650px; }
  &.extra-wide { width: 900px; }

  .horizontal {
    display: inline-block;
    margin-bottom: 2em;
  }

  .external_link {
    background: $fr-gray-10;
    display: block;
    margin: 0.5em 0 1em;
    padding: 1em;
    text-align: center;
  }

  .jqmClose {
    color: $fr-dark-blue;
    font-size: 26px;
    position: absolute;
    right: 0.25em;
    top: 0.15em;
  }

  h3 {
    border-bottom: 2px solid $fr-gray-80;
    border-top: 0;
    font-size: 1.8em;
    margin-bottom: 0.5em;
    margin-top: 0;
    text-transform: uppercase;
  }

  .title_bar {
    border-top: 0;
    color: $fr-dark-blue;
    margin-bottom: 0.5em;
    margin-top: 0;

    .icon-fr2 {
      float: left;
      font-size: 30px;
      margin-right: 5px;
      position: relative;
      top: -5px;

      &.icon-fr2-nav_male_female_user {
        font-size: 37px;
        top: -1px;
      }

      &.icon-fr2-folder {
        font-size: 35px;
        top: 0;
      }
    }
  }

  p { margin-bottom: 10px; }
  .bullets {
    @include custom-bullets($fr-dark-blue);
  }

  form {
    textarea,
    input[type=text] {
      border: 1px solid $fr-gray-15;
      padding: 1px 5px;
    }

    input[type=text] {
      height: 20px;
      margin-right: 0;
      width: 215px;
    }
  }

  .modal_content {
    dl {
      dt,
      dd {
        float: left;
      }

      dt {
        clear: both;
        padding-right: 10px;
      }

      dd { font-weight: 500; }
    }
  }
}


.interstitial_tender_modal {
  .title_bar { margin-top: 0; }
}

.subscription-modal {
  h3 {
    border-color: $fr-dark-blue;
    color: $fr-dark-blue;
    font-size: modular-scale(2);
    margin-top: 0 !important;
  }

  h4 { color: $fr-dark-blue; }

  li.error { color: $fr-red; }

  input.error {
    border-color: $fr-red;
    outline-color: $fr-red;
  }

  .subscription-list {
    border-bottom: 1px solid $fr-gray-20;

    &:last-child { border-bottom: 0; }

    > li { clear: both; }
  }

  .subscription-item {
    margin-left: 20px;
    overflow: auto;
    padding-bottom: 15px;

    > li {
      margin-bottom: 10px;
      overflow: auto;

      h5 {
        clear: both;
        float: left;
        margin: 0 10px 0 0;
      }

      h5 + div,
      h5 + form {
        float: left;
      }

      &.rss h5 { margin-right: 19px; }

      &.email {
        margin-top: -25px;
        padding-top: 25px;

        h5 { margin-top: 5px; }
      }
    }

    form {
      fieldset.inputs {
        margin-bottom: 10px;
        position: relative;

        li {
          margin-bottom: 5px;

          input[type=text] {
            @include placeholder {
              color: $fr-gray-70;
              font-style: italic;
            }

            font-size: modular-scale(-1);
            height: 25px;
            width: 400px;

            &+ .email_invalid,
            &+ .email_suggestion {
              font-size: modular-scale(-1);
              position:absolute;
              right: 5px;
              top: -20px;
            }
          }
        }
      }

      .label {
        float: left;
        font-weight: bold;
        margin-right: 10px;

        &+ ol {
          float: left;

          li {
            display: inline-block;
            margin-right: 10px;

            &.disabled {
              color: $fr-gray-40;
            }

            label {
              position: relative;
              top: 2px;
            }

            input {
              position: relative;
              top: -2px;
            }
          }
        }
      }

      fieldset.buttons .fr_button {
        position: relative;

        input { font-size: modular-scale(0); }

        .loader {
          background: image-url('fr_orange_loader.svg') 0 0 no-repeat;
          display: none;
          height: 28px;
          position: absolute;
          top: 3px;
          width: 28px;
          z-index: 1000;
        }

        &.submitting {
          background-color: $fr-gray-15;
          //input { background-color: $fr-gray-15; }
          .loader { display: inline-block; }
        }
      }
    }
  }
}

.new-folder-modal {
  .folder_create,
  .folder_success {
    display: none;
    margin-top: 20px;
    text-align: center;
  }

  .folder_success {
    .icon-fr2-badge_check_mark {
      color: $fr-green;
      font-size: 20px;
      left: 10px;
      top: 4px;
    }
  }

  .button.saving {
    background-color: $fr-gray-20;
    position: relative;

    &:hover { background-color: $fr-gray-20; }

    .loader {
      background: image-url('fr_orange_loader.svg') 0 0 no-repeat;
      height: 28px;
      position: absolute;
      right: 80px;
      top: 3px;
      width: 28px;
    }
  }

  .folder_error {
    display: none;

    p {
      color: $fr-red;
      height: 25px;
      padding: 0;
    }

    .icon-fr2 {
      font-size: 22px;
      top: 4px;
    }
  }

  form {
    margin-top: 10px;

    fieldset.inputs {
      float: left;
      margin-bottom: 0;
      position: relative;

      .icon-fr2 {
        color: $fr-gray-40;
        font-size: 23px;
        left: 105px;
        position: absolute;
        top: 2px;
        z-index: 2;
      }

      // input wrapper
      .input { margin-bottom: 20px; }

      label {
        color: $fr-gray-70;
        font-size: modular-scale(0);
        font-weight: 700;
        margin-right: 5px;
      }

      input[type=text] {
        font-size: modular-scale(0);
        height: 25px;
        padding: 1px 5px 1px 30px;
        width: 360px;
      }
    }

    fieldset.buttons {
      margin: 0;

      .commit.button {
        input { font-size: modular-scale(0); }
      }
    }
  }
}

.launch-modal {
  .nav-tabs { margin-top: 40px; }

  .tab-content {
    padding: 10px;

    .fr-box {
      margin-bottom: 10px;

      .content-block {
        min-height: 160px !important;

        .example {
          @include gesta;

          font-size: 80px;
          font-weight: 700;
          opacity: 0.15;
          position: relative;
          top: -45px;
          transform: rotate(-10deg);
        }
      }
    }
  }
}

.external-link-warning-modal {
  form {
    input[type=checkbox] {
      margin-bottom: 6px;
      margin-left: 4px;
    }

    input[type=submit] {
      display: inherit;
      margin-top: 10px;
    }
  }

  .external_link {
    background: none;
    display: block;
    padding: 0.5em;
    text-align: center;
  }
}

@media only screen and (min-width : 768px) and (max-width:910px) {
  $max-modal-width: 750px;
  .fr-modal {
    width: $max-modal-width;

    &.wide { width: $max-modal-width; }
    &.extra-wide { width: $max-modal-width; }
  }
}

@media only screen and (min-width : 510px) and (max-width:768px) {
  $max-modal-width: 500px;
  .fr-modal {
    width: $max-modal-width;

    &.wide { width: $max-modal-width; }
    &.extra-wide { width: $max-modal-width; }
  }
}

@media only screen and (max-width:768px) {
  $max-modal-width: 300px;
  .fr-modal {
    width: $max-modal-width;

    &.wide { width: $max-modal-width; }
    &.extra-wide { width: $max-modal-width; }
  }
}
