.fr_modal {
  background-color: $white;
  border: 5px solid $fr-dark-blue;
  display: none;
  padding: 1em;
  position: fixed;
  top: 5em;
  width: 500px;

  &.wide { width: 650px; }

  .jqmClose {
    position: absolute;
    right: 1em;
    top: 1em;
  }

  .title_bar {
    border-top: 0;
    margin-bottom: 0.5em;
  }
}


.interstitial_tender_modal {
  .title_bar { margin-top: 0; }
}
