.fr-subscribe-box {
  background-color: $color-enhanced-light;
  border-bottom: 1px solid $color-enhanced;
  border-top: 1px solid $color-enhanced;
  padding: 7px 13px 11px;

  a {
    color: $text !important;
    display: block;
    font-size: modular-scale(0);
    height: 23px;
    margin: 0 auto;
    text-decoration: none;
    width: 130px;

    &.subscription:hover {
      background: none;
      color: $color-enhanced-dark !important;
      text-decoration: none;
    }

    .icon-fr2 {
      position: relative;

      &.icon-fr2-message {
        font-size: 22px;
        margin-right: 1px;
        top: -1px;
      }

      &.icon-fr2-rss {
        font-size: 15.5px;
        top: -4px;
      }
    }
  }
}

.subscription.subscription_action {
  color: $fr-link-dark;
  font-weight: 500;
  text-transform: none;

  &:visited { color: $fr-link-dark; }
  &:hover { color: $fr-orange; }

  .icon-fr2 {
    position: relative;

    &.icon-fr2-message {
      font-size: 22px;
      margin-right: 1px;
      top: 3px;
    }

    &.icon-fr2-rss {
      font-size: 15.5px;
      top: 0px;
    }
  }
}
