
.embedded_search.search-bar {
  background-color: $gray-10;
  border-radius: 0;
  border: 0;
  display: block;
  float: none;
  margin-bottom: 0;
  margin-left: 0;
  padding: 1em .6em;
  width: 100%;

  #conditions_term {
    width: 185px;
    padding: 6px 8px;

    @include border-radius(0);
    @include rounded-left(4);
    border-right: 0;
  }

  #conditions_submit {
    background: none;
    background-color: $gray-5;
    border: 1px solid #CCC;
    border-left: none;
    @include rounded-right(4);

    height: 40px;
    width: 42px;
    padding: 0;

    /* for reference: background png/svg is $gray-50 */
    &:hover {
      background-color: $gray-15;
    }
  }

  #conditions_type_input { display: none; }

  ul, ol {
    list-style: none;
  }


  #expected_result_count {
    width: 180px;
  }

  h3 {
    margin: 8px 0 0 0;
  }

  hr {
    border-top: 1px solid black;
    margin-top: 2px;
  }


}

@media only screen and (max-width: $small-viewport-width) {
  #embedded-search-header h3 {
    font-size: $metadata-bar-font-size;

    .icon-fr2-Search {
      font-size: 23px;
    }
  }

  #expected_result_count {
    justify-self: end;
    margin-top: 4px;
  }

}

@media only screen and (min-width: $small-viewport-width) {

}
