$doc_icon_mini_width: 20;
$doc_icon_mini_height: 20;

$filter-bg-color: #FFFFFF;
$filter-border-color: #CCCCCC;
$filter-hover-bg-color: #F5F8F9;
$filter-disabled-bg-color: #FFFFFF;

.embedded_search.search-bar {
  background-color: $fr-gray-10;
  display: block;
  float: none;
  margin-left: 0;
  padding: 1em .6em;
  width: 580px;

  #conditions_term { width: 225px; }

  .formtastic {
    .simple ul { float: left; }
    li.hidden { position: absolute; }
    #conditions_type_input { display: none; }
  }

  #doc-type-filter {
    padding-top: 5px;
    clear: both;
    position: relative;
    left: 335px;
  }
}

#doc-type-filter {
  overflow: hidden;
  height: 28px;

  li {
    display: inline-block;
    float: left;
    width: 24px;
    height: 21px;
    padding: 1px;
    border: 1px solid $filter-border-color;
    background-color: $filter-bg-color;
    border-right: 0px;
    overflow: hidden;
    position: relative;

    .icon-fr2 {
      color: $doc-icon-inactive;
      text-align: center;
      font-size: 19px;
      top: 1px;
      position: relative;
    }
  }

  li.hover,
  li.on {
    background-color: $filter-hover-bg-color;

    .icon-fr2-notice { color: $doc-icon-notice; }
    .icon-fr2-presidential_document { color: $doc-icon-presidential_document; }
    .icon-fr2-uncategorized { color: $doc-icon-uncategorized; }
    .icon-fr2-rule { color: $doc-icon-rule; }
    .icon-fr2-proposed_rule { color: $doc-icon-proposed_rule; }
    .icon-fr2-correction { color: $doc-icon-correction; }
  }

  li.disabled {
    background-color: $filter-disabled-bg-color;

    .icon-fr2-notice,
    .icon-fr2-presidential_document,
    .icon-fr2-uncategorized,
    .icon-fr2-rule,
    .icon-fr2-proposed_rule,
    .icon-fr2-correction { color: $doc-icon-disabled; }
  }

  li.first { @include rounded-left(6); }
  li.last {
    @include rounded-right(6);
    border-right: 1px solid $filter-border-color;
  }
}


/* this is for ie7lte - a span gets added by the js font shim */
.icon-fr2 span {
  position: relative;
  top: -3px;
  }


/* RW: For FR Web-new additions */
.embedded_search {
  #conditions_type_input {
    display: none;
  }
  ul, ol {
    position: absolute;
    list-style: none;
  }
  .simple span#expected_result_count {
    display: none;
  }
}
