$doc_icon_mini_width: 20;
$doc_icon_mini_height: 20;

$filter-bg-color: #FFFFFF;
$filter-border-color: #CCCCCC;
$filter-hover-bg-color: #F5F8F9;
$filter-disabled-bg-color: #FFFFFF;

.doc-type-filter {
  overflow: hidden;
  height: 28px;

  li {
    display: inline-block;
    float: left;
    width: 24px;
    height: 21px;
    padding: 1px;
    border: 1px solid $filter-border-color;
    background-color: $filter-bg-color;
    border-right: 0px;
    overflow: hidden;
    position: relative;

    .icon-fr2 {
      color: $doc-icon-inactive;
      text-align: center;
      font-size: 19px;
      top: 1px;
      position: relative;
    }
  }

  li.hover,
  li.on {
    background-color: $filter-hover-bg-color;

    .icon-fr2-notice { color: $doc-icon-notice; }
    .icon-fr2-presidential_document { color: $doc-icon-presidential_document; }
    .icon-fr2-uncategorized { color: $doc-icon-uncategorized; }
    .icon-fr2-rule { color: $doc-icon-rule; }
    .icon-fr2-proposed_rule { color: $doc-icon-proposed_rule; }
    .icon-fr2-correction { color: $doc-icon-correction; }
  }

  li.disabled {
    background-color: $filter-disabled-bg-color;

    .icon-fr2-notice,
    .icon-fr2-presidential_document,
    .icon-fr2-uncategorized,
    .icon-fr2-rule,
    .icon-fr2-proposed_rule,
    .icon-fr2-correction { color: $doc-icon-disabled; }
  }

  li:first-child { @include rounded-left(6); }
  li:last-child {
    @include rounded-right(6);
    border-right: 1px solid $filter-border-color;
  }
}

.embedded_search.search-bar {
  background-color: $fr-gray-10;
  border-radius: 0;
  border: 0;
  display: block;
  float: none;
  margin-bottom: 0;
  margin-left: 0;
  padding: 1em .6em;
  width: 580px;

  #conditions_term {
    width: 185px;
    padding: 6px 8px;

    @include border-radius(0);
    @include rounded-left(4);
    border-right: 0;
  }

  #conditions_submit {
    background: none;
    background-color: $fr-gray-5;
    border: 1px solid #CCC;
    border-left: none;
    @include rounded-right(4);

    height: 40px;
    width: 42px;
    padding: 0;

    /* for reference: background png/svg is $fr-gray-50 */
    &:hover {
      background-color: $fr-gray-15;
    }
  }

  #conditions_type_input { display: none; }

  ul, ol {
    list-style: none;
  }

  .doc-type-filter {
    clear: both;
    height: 45px;
    left: 0px;
    padding-top: 5px;

    ul {
      overflow: hidden;
      width: 110px;
    }

    li {
      width: 35px;
      height: 35px;

      &:hover,
      &.hover,
      &.on {
        .icon-fr2 { color: $fr-blue; }
      }

      .icon-fr2 {
        font-size: 23px;
        left: -1px;
        top: 4px;
      }
    }
  }

  #expected_result_count {
    width: 180px;
  }
}
