<div class="logo">
<%# ie center the header %>
  <%# <div class="hgroup official" style="display: grid; justify-content: center;"> %>
  <div class="hgroup official">
    <hgroup>
      <h1><a href="/" title="Federal Register Home">The Federal Register</a></h1>
      <h2>The Daily Journal of the United States Government</h2>
    </hgroup>
  </div>
</div>
