<div class="logo">
  <div class="hgroup public-inspection">
    <hgroup>
      <h1><a href="/" title="Federal Register Home">The Federal Register</a></h1>
      <h2>Public Inspection :: Tomorrow's Documents, Today</h2>
    </hgroup>
  </div>
</div>
