<div class="logo">
  <div class="hgroup reader-aids">
    <hgroup>
      <h1><a href="/" title="Federal Register Home">The Federal Register</a></h1>
      <h2>Reader Aids :: Insight Into the FR Ecosystem</h2>
    </hgroup>
  </div>
</div>

