---
http_interactions:
- request:
    method: get
    uri: https://www.federalregister.gov/api/v1/documents/search-details/?conditions%5Bterm%5D=82+FR+60602
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - ! '"31b8d023560aa12cb0ef7704988b1770"'
      status:
      - 200 OK
    body:
      encoding: US-ASCII
      string: ! '{"suggestions":{"citation":{"document_numbers":["2017-27513","2017-27451"],"volume":82,"page":60602}},"filters":{}}'
  recorded_at: Fri, 22 Dec 2017 18:19:36 GMT
- request:
    method: get
    uri: https://www.federalregister.gov/api/v1/documents/2017-27513,2017-27451.json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - ! '"ab1d41c26df6c703eeda58f4a8d0c62b"'
      status:
      - 200 OK
    body:
      encoding: US-ASCII
      string: ! '{"count":2,"results":[{"abstract":"The Board of Governors of the
        Federal Reserve System (Board) is adopting a proposal to extend for three
        years, without revision, the Reporting, Recordkeeping, and Disclosure Requirements
        Associated with Proprietary Trading and Certain Interests in and Relationships
        with Covered Funds (Regulation VV) (FR VV; OMB No. 7100-0360).","action":"On
        August 2, 2017, the Board published a notice in the Federal Register (82 FR
        35947) requesting public comment for 60 days on the extension, without revision,
        of the FR VV. The comment period for this notice expired on October 2, 2017.
        The Board did not receive any comments. The information collection will be
        extended as proposed.","agencies":[{"raw_name":"FEDERAL RESERVE SYSTEM","name":"Federal
        Reserve System","id":188,"url":"https://www.federalregister.gov/agencies/federal-reserve-system","json_url":"https://www.federalregister.gov/api/v1/agencies/188.json","parent_id":null,"slug":"federal-reserve-system"}],"body_html_url":"https://www.federalregister.gov/documents/full_text/html/2017/12/21/2017-27451.html","cfr_references":[],"citation":"82
        FR 60602","comment_url":null,"comments_close_on":null,"correction_of":null,"corrections":[],"dates":null,"docket_ids":[],"document_number":"2017-27451","effective_on":null,"end_page":60607,"executive_order_notes":null,"executive_order_number":null,"full_text_xml_url":"https://www.federalregister.gov/documents/full_text/xml/2017/12/21/2017-27451.xml","html_url":"https://www.federalregister.gov/documents/2017/12/21/2017-27451/agency-information-collection-activities-announcement-of-board-approval-under-delegated-authority","images":{},"json_url":"https://www.federalregister.gov/api/v1/documents/2017-27451.json","mods_url":"https://www.gpo.gov/fdsys/granule/FR-2017-12-21/2017-27451/mods.xml","page_length":6,"pdf_url":"https://www.gpo.gov/fdsys/pkg/FR-2017-12-21/pdf/2017-27451.pdf","public_inspection_pdf_url":"https://s3.amazonaws.com/public-inspection.federalregister.gov/2017-27451.pdf?1513777528","publication_date":"2017-12-21","raw_text_url":"https://www.federalregister.gov/documents/full_text/text/2017/12/21/2017-27451.txt","regulation_id_number_info":{},"regulation_id_numbers":[],"regulations_dot_gov_info":{},"regulations_dot_gov_url":null,"significant":false,"signing_date":null,"start_page":60602,"subtype":null,"title":"Agency
        Information Collection Activities: Announcement of Board Approval Under Delegated
        Authority and Submission to OMB","toc_doc":"Agency Information Collection
        Activities; Proposals, Submissions, and Approvals","toc_subject":null,"topics":[],"type":"Notice","volume":82},{"abstract":"The
        Appraisal Subcommittee (ASC) of the Federal Financial Institutions Examination
        Council is amending section 3.06(e) of the ASC Rules of Operation, which addresses
        the scheduling of regular Meetings of the ASC. As amended, the ASC will meet
        at least quarterly instead of every two months (bi-monthly).","action":"Notice
        of amendment to ASC Rules of Operation governing frequency of regular Meetings
        of the Appraisal Subcommittee.","agencies":[{"raw_name":"FEDERAL FINANCIAL
        INSTITUTIONS EXAMINATION COUNCIL","name":"Federal Financial Institutions Examination
        Council","id":168,"url":"https://www.federalregister.gov/agencies/federal-financial-institutions-examination-council","json_url":"https://www.federalregister.gov/api/v1/agencies/168.json","parent_id":null,"slug":"federal-financial-institutions-examination-council"}],"body_html_url":"https://www.federalregister.gov/documents/full_text/html/2017/12/21/2017-27513.html","cfr_references":[],"citation":"82
        FR 60602","comment_url":null,"comments_close_on":null,"correction_of":null,"corrections":[],"dates":"Applicable
        Date: Immediately.","docket_ids":["Docket No. AS17-09"],"document_number":"2017-27513","effective_on":null,"end_page":60602,"executive_order_notes":null,"executive_order_number":null,"full_text_xml_url":"https://www.federalregister.gov/documents/full_text/xml/2017/12/21/2017-27513.xml","html_url":"https://www.federalregister.gov/documents/2017/12/21/2017-27513/notice-of-amendment-to-asc-rules-of-operation-governing-frequency-of-regular-meetings-of-the","images":{},"json_url":"https://www.federalregister.gov/api/v1/documents/2017-27513.json","mods_url":"https://www.gpo.gov/fdsys/granule/FR-2017-12-21/2017-27513/mods.xml","page_length":1,"pdf_url":"https://www.gpo.gov/fdsys/pkg/FR-2017-12-21/pdf/2017-27513.pdf","public_inspection_pdf_url":"https://s3.amazonaws.com/public-inspection.federalregister.gov/2017-27513.pdf?1513777557","publication_date":"2017-12-21","raw_text_url":"https://www.federalregister.gov/documents/full_text/text/2017/12/21/2017-27513.txt","regulation_id_number_info":{},"regulation_id_numbers":[],"regulations_dot_gov_info":{"docket_id":"ASC-2017-0008","regulation_id_number":null,"title":"ASC
        Rules of Operation - Amended 12.21.17","comments_count":0,"comments_url":"https://www.regulations.gov/docketBrowser?rpp=50&so=DESC&sb=postedDate&po=0&dct=PS&D=ASC-2017-0008","supporting_documents_count":0,"supporting_documents":[],"metadata":{}},"regulations_dot_gov_url":null,"significant":false,"signing_date":null,"start_page":60602,"subtype":null,"title":"Notice
        of Amendment to ASC Rules of Operation Governing Frequency of Regular Meetings
        of the Appraisal Subcommittee","toc_doc":"Frequency of Regular Meetings; Amendments","toc_subject":"Appraisal
        Subcommittee Rules of Operation:","topics":[],"type":"Notice","volume":82}]}'
  recorded_at: Fri, 22 Dec 2017 18:19:37 GMT
recorded_with: VCR 2.6.0
