---
http_interactions:
- request:
    method: get
    uri: https://www.federalregister.gov/api/v1/documents/search-details/?conditions%5Bterm%5D=35+FR+118
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - ! '"9c5d3e13a0ba8137a20dd071233407e1"'
      status:
      - 200 OK
    body:
      encoding: US-ASCII
      string: ! '{"suggestions":{"citation":{"document_numbers":[],"volume":35,"page":118}},"filters":{}}'
  recorded_at: Thu, 21 Dec 2017 23:52:12 GMT
- request:
    method: get
    uri: https://www.federalregister.gov/api/v1/documents/.json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - text/html; charset=utf-8
      status:
      - 404 Not Found
    body:
      encoding: US-ASCII
      string: ! "\n<div class=\"title\"><span>404 Not Found</span></div>\n\n<h2>The
        page you were looking for doesn't exist.</h2>\n\n<p>You may have mistyped
        the address or the page may have moved.</p>\n\n\n\n<script type=\"text/javascript\">\n
        \ _gaq.push(['_trackEvent', 'errors', '404', document.location.pathname +
        document.location.search + \"&from=\" + document.referrer]);\n</script>"
  recorded_at: Thu, 21 Dec 2017 23:52:12 GMT
- request:
    method: get
    uri: http://localhost:3020/api/archives/v1/citation.json?volume=35&page=118
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"a0af87bfe9c7bee484fc8505c2469e94"
    body:
      encoding: US-ASCII
      string: ! '{"publication_date":"1970-01-03","pdf_url":"https://archives.fr2.criticaljuncture.org.s3.amazonaws.com/issue_slice/1970/1/3/116-119.pdf","page_offset":2,"gpo_url":"https://www.gpo.gov/fdsys/pkg/FR-1970-01-03/pdf/FR-1970-01-03.pdf","original_file_size":30895643,"slice_file_size":1277805}'
  recorded_at: Thu, 21 Dec 2017 23:52:12 GMT
recorded_with: VCR 2.6.0
