---
http_interactions:
- request:
    method: get
    uri: https://www.federalregister.gov/api/v1/documents/search-details/?conditions%5Bterm%5D=35+FR+118
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - ! '"8ee095cf497fc49c58450780ad282d54"'
      status:
      - 200 OK
    body:
      encoding: US-ASCII
      string: ! '{"suggestions":{"public_inspection":{"count":1},"citation":{"document_numbers":[],"volume":35,"page":118}},"filters":{}}'
  recorded_at: Fri, 22 Dec 2017 18:19:25 GMT
- request:
    method: get
    uri: https://www.federalregister.gov/api/v1/documents/.json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - text/html; charset=utf-8
      status:
      - 404 Not Found
    body:
      encoding: US-ASCII
      string: ! "\n<div class=\"title\"><span>404 Not Found</span></div>\n\n<h2>The
        page you were looking for doesn't exist.</h2>\n\n<p>You may have mistyped
        the address or the page may have moved.</p>\n\n\n\n<script type=\"text/javascript\">\n
        \ _gaq.push(['_trackEvent', 'errors', '404', document.location.pathname +
        document.location.search + \"&from=\" + document.referrer]);\n</script>"
  recorded_at: Fri, 22 Dec 2017 18:19:26 GMT
recorded_with: VCR 2.6.0
