<div class="section">
  <h4 class="with-icon lowercase">
    <span class="icon-fr2 icon-fr2-quote"></span>
    Office of the Federal Register Blog
    <a href="" class="more-details">view all</a>
  </h4>

  <div class="section-block">
    <h5><a href="">First PKI Conference!</a></h5>
    <p>
      The National Archives and Records Administration (NARA) and the Office
      of the Federal Register (OFR) hosted its first PKI (Public Key
      Infrastructure) Conference on March 6, 2014. The conference was an
      opportunity for federal agencies to gather and discuss the...
      <span class="byline">
        <span class="authorship">
          <a href="">Aaron Woo</a> - <a href="">March 12, 2014</a>
        </span>
      </span>
    </p>
  </div>

  <div class="section-block">
    <h5><a href="">2013 PKI vs Non-PKI Submission Statistics</a></h5>
    <p>
      We just updated the
      <a href="">Tutorials, History, and Statistics page</a> on this site
      to include some simple statistics on 2013 Federal agency submission to the
      OFR! The Office of the Federal Register is equipped to accept digital
      submission of Federal Register documents...
      <span class="byline">
        <span class="authorship">
          <a href="">Aaron Woo</a> - <a href="">February 28, 2014</a>
        </span>
      </span>
    </p>
  </div>

  <div class="section-block">
    <h5><a href="">Federal Register Workshop, Online!</a></h5>
    <p>
      The Office of the Federal Register(OFR) regularly offers a workshop
      entitled "Federal Register, What is it and How to Use it". The workshop
      provides an overview of the regulatory process and the OFR’s role in that
      process. Specifically, it discusses...
      <span class="byline">
        <span class="comments">10 comments</span>
        <span class="authorship">
          <a href="">Aaron Woo</a> - <a href="">December 9, 2013</a>
        </span>
      </span>
    </p>
  </div>
</div>
