<div class="section">
  <h4 class="with-icon lowercase">
    <span class="icon-fr2 icon-fr2-tools"></span>
    Developer Tools
    <a href="" class="more-details">view all</a>
  </h4>

  <div class="row">
    <div class="col-xs-12 col-md-12">
      <ul class="fr-list">
        <li>
          <h5><a href="">REST API</a></h5>
          <p>
            Make use of the work done on FederalRegister.gov to organize and normalize our data by using our REST API (CSV/JSON).
          </p>
        </li>

        <li>
          <h5><a href="">Interactive Documentation</a></h5>
          <p>
            Explore our API or generate complex queries easily using our interactive documentation.
          </p>
        </li>

        <li>
          <h5><a href="">Ruby Client Gem</a></h5>
          <p>
            Access our API programatically via our open source Ruby gem - available on <a href="">Github</a> and <a href="">RubyGems</a>.
          </p>
        </li>

        <li>
          <h5><a href="">FederalRegister.gov is Open Source</a></h5>
          <p>
            Curious how we accomplished something? As part of our commitment to openness, the entire FederalRegister.gov code base is open source and available on  <a href="">Github</a>.
          </p>
        </li>

        <li>
          <h5><a href="">Bulk Data</a></h5>
          <p>
            Want it all? Bulk data of the Federal Register in XML is available from <a href="">FDsys</a>.
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
