<div class="row reader-aids-index-nav">
  <div class="col-xs-2 col-md-2">
    <h4>On This Page</h4>
  </div>

  <div class="col-xs-10 col-md-10">
    <ul class="fr-list with-bullets reader-aids">
      <% items.each do |section_identifier, section_data| %>
        <li><%= link_to section_data[:title], reader_aids_section_path(section_identifier) %></li>
      <% end %>
    </ul>
  </div>
</div>
