<div class="section">
  <h4 class="with-icon lowercase">
    <span class="icon-fr2 icon-fr2-pc"></span>
    Recent Site Updates
    <a href="" class="more-details">view all</a>
  </h4>

  <div class="row">
    <div class="col-xs-12 col-md-12">
      <ul class="fr-list">
        <li>
          <h5><a href="">New Federal Register Index</a></h5>
          <p>
            The Office of the Federal Register is proud to introduce a completely re-engineered Federal Register Index.  It is available as a traditional printed product, but also as a currently updated online service...
          </p>
        </li>

        <li>
          <h5><a href="">Improved Display of Proposed Rule Amendments</a></h5>
          <p>
            A few months ago we made some changes to the way we display Federal Register documents in HTML on FederalRegister.gov. In particular, we wanted to improve the display of regulatory text by adding...
          </p>
        </li>

        <li>
          <h5><a href="">Improved Display of Regulatory Text</a></h5>
          <p>
            Recently we made some changes to the way we display Federal Register documents in HTML on FederalRegister.gov. In particular, we wanted to improve the display of regulatory text by adding a variety icons...
          </p>
        </li>

        <li>
          <h5><a href="">MyFR, Agency, and Document Page Updates</a></h5>
          <p>
            In our latest release we’ve made improvements to the clipping section of MyFR, added an agency specific search to individual agency pages and updated various parts of our Document pages...
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
