<div class="search-box reader-aids">
  <h3 class="with-icon">
    <span class="icon-fr2-Search"></span>
    Search Our Reader Aids
  </h3>

  <p>
    Need help with something specific? Our reader aids cover many aspects of
    FederalRegister.gov
  </p>

  <%= semantic_form_for :conditions,
    url: reader_aids_search_path,
    html: { method: :get } do |f| %>
    <div id="search-input">
      <%= f.text_field :term,
        class: 'search-term',
        placeholder: "Search term or phrase" %>

      <%= f.button fr_icon('Search').html_safe,
        class: 'search-submit',
        id: 'conditions_submit',
        "aria-label" => 'Search' %>
    </div>
  <% end %>
</div>
