<div class="search-box reader-aids">
  <h3 class="with-icon">
    <span class="icon-fr2-Search"></span>
    Search Our Reader Aids
  </h3>

  <p>
    Need help with something specific? Our reader aids cover many aspects of FederalRegister.gov</p>

  <form action="/articles/search" class="formtastic conditions" id="entry_search_form" method="get">
    <input id="conditions_term" class="form-control" name="conditions[term]" placeholder="Search term or phrase" size="30" type="text">

    <input id="conditions_submit" name="commit" type="submit" value="Search">
    <span id="expected_result_count"></span>
  </form>
</div>
