<div class="section">
  <h4 class="with-icon lowercase">
    <span class="icon-fr2 icon-fr2-lightbulb-active"></span>
    Understanding the Federal Register
    <a href="" class="more-details">view all</a>
  </h4>

  <div class="row">
    <div class="col-md-6 alpha">
      <ul class="fr-list">
        <li>
          <h5><a href="">The History of the Federal Register</a></h5>
          <p>
            The Federal Register is one of our countries original Open Government initiatives. Mandated with ensuring that regulatory rulemaking is created in an open and publically accessible way is in our DNA. Learn more in this article...
          </p>
        </li>

        <li>
          <h5><a href="">How Federal Register Documents affect the Code of Federal Regulations</a></h5>
          <p>
            The Federal Register and the Code of Federal Regulations (CFR) are intimately linked to one another. Learn how Federal Register Documents modify the Code of Federal Regulations and how those changes finally make their way into the CFR.
          </p>
        </li>
      </ul>
    </div>

    <div class="col-md-6 omega">
      <ul class="fr-list">
        <li>
          <h5><a href="">Finding Older Federal Register Documents</a></h5>
          <p>
            The Federal Register has been published daily (except weekends and holidays) since 1936, but documents have only been digitalized since 1994. This article provides some suggestions on where to find these older articles should you need to do so.
          </p>
        </li>

        <li>
          <h5><a href="">What’s In the Federal Register?</a></h5>
          <p>
            Not sure what the Federal Register encompasses? Here we explain the various document types that are published in the Federal Register and help explain where to get started in understanding how these documents affect you or your business.
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
