<div class="section">
  <h4 class="with-icon lowercase">
    <span class="icon-fr2 icon-fr2-help"></span>
    Using FederalRegister.Gov
    <a href="" class="more-details">view all</a>
  </h4>

  <div class="row">
    <div class="col-xs-6 col-md-6 alpha">
      <ul class="fr-list">
        <li>
          <h5><a href="">Advanced Search Tips and Techniques</a></h5>
          <p>
            We support numerous ways for you to customize your search. Some search options are available in the advanced search tool, and others are inherently available in the basic search entry box. The examples and search strategies in this help document describe search options you can use in the basic search entry box.
          </p>
        </li>

        <li>
          <h5><a href="">The Public Commenting Process</a></h5>
          <p>
            The public commenting process is an integral part of the rulemaking process. One of the goals for FederalRegister.gov is to make this process as accessible as possible everyone. This article explains more about how this process works and provides some tips on submitting great comments.
          </p>
        </li>

        <li>
          <h5><a href="">Finding Public Meetings and Workshops</a></h5>
          <p>
            Public meetings and workshops are routinely published by agencies in the Federal Register. Learn how to create proper searches for these types of documents so you don’t miss out on what interests you.
          </p>
        </li>
      </ul>
    </div>

    <div class="col-xs-6 col-md-6 omega">
      <ul class="fr-list">
        <li>
          <h5><a href="">Understanding Public Inspection Documents</a></h5>
          <p>
            The Public Inspection web page on FederalRegister.gov offers a preview of documents scheduled to appear in the next day’s Federal Register issue. The Public Inspection page may also include documents scheduled for later issues, at the request of the issuing agency. This gives the public access to important or complex documents before they publish in the Federal Register.
          </p>
        </li>

        <li>
          <h5><a href="">Subscription Options and Managing Your Subscriptions</a></h5>
          <p>
            FederalRegister.gov offers many ways to subscribe to regulatory content. This article covers how to subscribe to custom searches, daily table of contents, documents from a particular agency and more. It also covers how to manage your subscriptions via your MyFR account.
          </p>
        </li>

        <li>
          <h5><a href="">The Completeness of Coverage Since 1994 on FederalRegister.gov</a></h5>
          <p>
            This article covers what content is available on FederalRegister.gov and the various forms that it is available in.
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
