<div class="section">
  <h4 class="with-icon lowercase">
    <span class="icon-fr2 icon-fr2-movie"></span>
    Videos & Tutorials
    <a href="" class="more-details">view all</a>
  </h4>

  <div class="row">
    <div class="col-md-12 alpha omega">
      <ul class="fr-list">
        <li>
          <h5><a href="">Presidential Document Search</a></h5>
          <p>
            In this video learn how to make the most of our advanced search features for finding and subscribing to Presidential Documents.
          </p>
        </li>

        <li>
          <h5><a href="">Utilizing Complex Search Terms</a></h5>
          <p>
            This interactive document introduces you to advanced options for searching and allows you to explore them as you learn.
          </p>
        </li>

        <li>
          <h5><a href="">Saving Documents for Later</a></h5>
          <p>
            In this video learn how you can use the ‘clipping’ feature of MyFR to organize and store documents for later.
          </p>
        </li>

        <li>
          <h5><a href="">Using Search to Create Custom Subscriptions</a></h5>
          <p>
            FederalRegister.gov features a robust search engine that allows you to quickly and easily create complex searches of Federal Register documents. This tutorial will show you how to use these searches to create custom, targeted subscriptions to new content.
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
