<% header_type 'reader-aids' %>

<div class="title reader-aids">
  <span>Reader Aids</span>
</div>

<%= bootstrap_context_wrapper do %>
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <%= render partial: 'search_box' %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-12">
      <%= fr_box "Reader Aids", :reader_aid, content_block_html: {class: 'simple'} do %>
        <p>
          Use these helpful, unofficial educational articles, tutorials and videos
          increase your understanding of the Federal Register ecosystem and
          improve your FederalRegister.gov skills.
        </p>

        <%= render partial: 'index_nav' %>

        <div class="row">
          <div class="col-xs-8 col-md-8 section">
            <esi:include src="/esi/reader_aids/blog_highlights" />
            <esi:include src="/esi/reader_aids/using_fr" />
            <esi:include src="/esi/reader_aids/understanding_fr" />
          </div>

          <div class="col-xs-4 col-md-4 section">
            <esi:include src="/esi/reader_aids/recent_updates" />
            <esi:include src="/esi/reader_aids/videos_and_tutorials" />
            <esi:include src="/esi/reader_aids/developer_tools" />
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
