<li class="dropdown nav_reader_aids">
  <a class="top_nav">
    <span class="icon-fr2 icon-fr2-Directions"></span>
    Reader Aids
    <%= fr_icon('menu_arrow', class: "arrow") %>
  </a>

  <ul class="subnav reader-aids-list">
    <li>
      <%= link_to 'Reader Aids Home', reader_aids_path %>
    </li>
    <% @reader_aids_sections.each do |section_slug, section_content| %>
      <li>
        <%= link_to section_content[:title],
          reader_aids_section_path(section_slug) %>
      </li>
    <% end %>
  </ul>
</li>
