<li class="dropdown nav_reader_aids">
  <a class="top_nav">
    <span class="icon-fr2 icon-fr2-Directions"></span>
    Reader Aids
    <span class="arrow"></span>
  </a>

  <ul class="subnav reader-aids-list">
    <% @reader_aids_sections.each do |section_slug, section_content| %>
      <li><%= link_to section_content[:title], reader_aids_section_path(section_slug) %></li>
    <% end %>
  </ul>
</li>
