---
http_interactions:
- request:
    method: get
    uri: https://fr-official.criticaljuncture.org/api/v1/documents/2016-04047,.json?fields[]=document_number&fields[]=agencies
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      etag:
      - ! '"25ed913de23bcce747e995e2a121e574" abgroup=1'
    body:
      encoding: US-ASCII
      string: ! '{"count":1,"results":[{"document_number":"2016-04047","agencies":[{"raw_name":"DEPARTMENT
        OF AGRICULTURE","name":"Agriculture Department","id":12,"url":"https://fr-official.criticaljuncture.org/agencies/agriculture-department","json_url":"https://fr-official.criticaljuncture.org/api/v1/agencies/12.json","parent_id":null,"slug":"agriculture-department"},{"raw_name":"Agricultural
        Marketing Service","name":"Agricultural Marketing Service","id":9,"url":"https://fr-official.criticaljuncture.org/agencies/agricultural-marketing-service","json_url":"https://fr-official.criticaljuncture.org/api/v1/agencies/9.json","parent_id":12,"slug":"agricultural-marketing-service"}]}]}'
  recorded_at: Fri, 22 Jul 2016 18:46:23 GMT
- request:
    method: get
    uri: https://fr-official.criticaljuncture.org/api/v1/documents/2016-04047,.json?fields[]=agencies&fields[]=citation&fields[]=document_number&fields[]=end_page&fields[]=html_url&fields[]=pdf_url&fields[]=publication_date&fields[]=start_page&fields[]=title
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      etag:
      - ! '"8d0acc5d40293e2dd5a9862c8dd58a66" abgroup=1'
    body:
      encoding: US-ASCII
      string: ! '{"count":1,"results":[{"agencies":[{"raw_name":"DEPARTMENT OF AGRICULTURE","name":"Agriculture
        Department","id":12,"url":"https://fr-official.criticaljuncture.org/agencies/agriculture-department","json_url":"https://fr-official.criticaljuncture.org/api/v1/agencies/12.json","parent_id":null,"slug":"agriculture-department"},{"raw_name":"Agricultural
        Marketing Service","name":"Agricultural Marketing Service","id":9,"url":"https://fr-official.criticaljuncture.org/agencies/agricultural-marketing-service","json_url":"https://fr-official.criticaljuncture.org/api/v1/agencies/9.json","parent_id":12,"slug":"agricultural-marketing-service"}],"citation":"81
        FR 10057","document_number":"2016-04047","end_page":10063,"html_url":"https://fr-official.criticaljuncture.org/documents/2016/02/29/2016-04047/livestock-mandatory-reporting-revision-of-lamb-reporting-requirements","pdf_url":"https://www.gpo.gov/fdsys/pkg/FR-2016-02-29/pdf/2016-04047.pdf","publication_date":"2016-02-29","start_page":10057,"title":"Livestock
        Mandatory Reporting: Revision of Lamb Reporting Requirements"}]}'
  recorded_at: Fri, 22 Jul 2016 18:46:24 GMT
- request:
    method: get
    uri: https://fr-official.criticaljuncture.org/api/v1/documents.json?conditions[publication_date][is]=2016-02-29&per_page=1000&fields[]=agencies&fields[]=citation&fields[]=document_number&fields[]=end_page&fields[]=html_url&fields[]=pdf_url&fields[]=publication_date&fields[]=start_page&fields[]=title
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      etag:
      - ! '"09b935d3b20ae0cb8d67dea8b883a6da" abgroup=1'
    body:
      encoding: US-ASCII
      string: ! '{"count":129,"description":"Documents published on 02/29/2016","total_pages":1,"results":[{"agencies":[{"raw_name":"OFFICE
        OF PERSONNEL MANAGEMENT","name":"Personnel Management Office","id":406,"url":"https://fr-official.criticaljuncture.org/agencies/personnel-management-office","json_url":"https://fr-official.criticaljuncture.org/api/v1/agencies/406.json","parent_id":null,"slug":"personnel-management-office"}],"citation":"81
        FR 10057","document_number":"2016-04322","end_page":10057,"html_url":"https://fr-official.criticaljuncture.org/documents/2016/02/29[...]
- request:
    method: get
    uri: https://www.federalregister.gov/api/v1/documents/2016-04047,.json?fields[]=document_number&fields[]=agencies
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      etag:
      - ! '"64b8a42687a756a7548aa3b904909820" abgroup=1'
    body:
      encoding: US-ASCII
      string: ! '{"count":1,"results":[{"document_number":"2016-04047","agencies":[{"raw_name":"DEPARTMENT
        OF AGRICULTURE","name":"Agriculture Department","id":12,"url":"https://www.federalregister.gov/agencies/agriculture-department","json_url":"https://www.federalregister.gov/api/v1/agencies/12.json","parent_id":null,"slug":"agriculture-department"},{"raw_name":"Agricultural
        Marketing Service","name":"Agricultural Marketing Service","id":9,"url":"https://www.federalregister.gov/agencies/agricultural-marketing-service","json_url":"https://www.federalregister.gov/api/v1/agencies/9.json","parent_id":12,"slug":"agricultural-marketing-service"}]}]}'
  recorded_at: Fri, 16 Sep 2016 19:43:42 GMT
- request:
    method: get
    uri: https://www.federalregister.gov/api/v1/documents.json?conditions[publication_date][is]=2016-02-29&per_page=1000&fields[]=agencies&fields[]=citation&fields[]=document_number&fields[]=end_page&fields[]=html_url&fields[]=pdf_url&fields[]=publication_date&fields[]=start_page&fields[]=title
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - applicatio[...]
