---
http_interactions:
- request:
    method: get
    uri: http://api.data.gov/regulations/v3/documents.json?dktid=EPA-HQ-SFUND-2005-0011&dct=SR&so=DESC&sb=docId&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-ratelimit-limit:
      - '10000'
      x-ratelimit-remaining:
      - '9523'
    body:
      encoding: US-ASCII
      string: ! '{"documents":[{"agencyAcronym":"EPA","allowLateComment":false,"attachmentCount":0,"commentDueDate":null,"commentStartDate":null,"docketId":"EPA-HQ-SFUND-2005-0011","docketTitle":"Amendment
        to National Oil and Hazardous Substance Contingency Plan; National Priorities
        List","docketType":"Rulemaking","documentId":"EPA-HQ-SFUND-2005-0011-0033","documentStatus":"Posted","documentType":"Supporting
        & Related Material","numberOfCommentReceived":0,"openForComment":false,"postedDate":"2014-04-02T00:00:00-04:00","rin":"Not
        Assigned","title":"Eau Claire Municipal Well Field Deletion Docket"},{"agencyAcronym":"EPA","allowLateComment":false,"attachmentCount":0,"commentDueDate":null,"commentStartDate":null,"docketId":"EPA-HQ-SFUND-2005-0011","docketTitle":"Amendment
        to National Oil and Hazardous Substance Contingency Plan; National Priorities
        List","docketType":"Rulemaking","documentId":"EPA-HQ-SFUND-2005-0011-0030","documentStatus":"Posted","documentType":"Supporting
        & Related Material","numberOfCommentReceived[...]
