.doc .doc-nav-wrapper .doc-nav > li .dropdown-menu.fr-box .content-block {
  ul.table-of-contents {
    @include custom-bullets($color-enhanced, "19px");

    max-height: 300px;
    overflow: auto;

    li {
      &::before { padding-right: 10px; }

      &.level-2 { margin-left: 15px; }
      &.level-3 { margin-left: 30px; }
      &.level-4 { margin-left: 45px; }
    }
  }
}
