.doc .doc-nav-wrapper .doc-nav > li .dropdown-menu.fr-box .content-block {
  ul.table-of-contents li {
    &:before {
      @include square_bullets($color-enhanced);
    }

    &.level-2 { margin-left: 15px; }
    &.level-3 { margin-left: 30px; }
    &.level-4 { margin-left: 45px; }
  }
}
