<div id="account-needed-modal" class="modal account-needed-modal">
  <h3 class="title_bar">
    <span class="icon-fr2 icon-fr2-nav_male_female_user"></span>
    Account Required
  </h3>
  <p>
    Please <a href={{redirectUrl}}>sign in</a> or <a href={{redirectUrl}}>create an account</a> to use this functionality.
  </p>
</div>
