<p>
  Once you have filled in the required fields below you can preview
  and/or submit your comment to the {{ agencyName }} for review.
  All comments are considered public and will be posted online once the
  {{ agencyName }} has reviewed them.
</p>

<p>
  You can view
  <a class="alternative_ways_to_comment addresses" href="#addresses">alternative ways to comment</a>
  or you may also comment via Regulations.gov at
  <a href="https://www.regulations.gov/commenton/{{regsDotGovDocumentId}}">https://www.regulations.gov/commenton/{{regsDotGovDocumentId}}</a>
</p>

{{#if regsDotGovCommentClose}}
  <p>
    Comments are due {{regsDotGovCommentClose}}.
  </p>
{{/if}}
