<p>
  <%= ApplicationController.helpers.fr_icon('Chat') %>
  {{#if commentPeriodOpen }}
    This document has a comment period that ends {{commentDaysRemaining}}.
    ({{commentsCloseOn}})
  {{else}}
    Comments on this document are being accepted at Regulations.gov.
  {{/if}}

  <a href="{{commentUrl}}" class="button formal_comment" data-comment="1" id="start_comment" target="_blank">
    Submit a public comment
  </a>
</p>
