<div class="modal_content">
  <dl>
    {{#each fields}}
      <dt>{{label}}</dt>
      {{#each values}}
        <dd>{{insertLineBreakForNewlines this}}</dd>
      {{/each}}
    {{/each}}
  </dl>
</div>
