<div class="comment-preview-modal" id="fr_modal">
  <a href="#" class="jqmClose">Close</a>

  <h3 class="title_bar">Comment Preview</h3>

  <div class="modal_content">
    {{>comment_summary}}
  </div>
</div>
