<p>
  The 1936-1994 official print volumes of the Federal Register have been
  digitalized and are available online in PDF format.
    We found the following published on {{locale_date publication_date}}.
</p> 

<ul class="fr-list">
  <li>
    <h6>
      <a href="{{pdf_url}}"> FR  :: Document View ({{human_size this.slice_file_size}})</a>
    </h6>
  </li>
  <li>
    <h6>
      <a href="{{gpo_url}}"> FR  :: Full Archival Issue ({{human_size this.original_file_size}})</a>
    </h6>
  </li>
</ul>
