
  <h3 class="title_bar">
    <%= ApplicationController.helpers.fr_icon 'folder' %>
    Create New Folder
  </h3>

  <p class='instructions'>
    Creating folders will help you organize your clipped documents.<br />
    <span id="fyi">When this folder is created the current document will be added to that folder.</span>
  </p>

  <div class="folder_error">
    <p>
      <%= ApplicationController.helpers.fr_icon 'alert_alt' %>
      <span class="message"></span>
    </p>
  </div>

  <%= ApplicationController.helpers.semantic_form_for :folder, :authenticity_token => false, :url => Rails.application.routes.url_helpers.folders_path() do |f|
    '<fieldset class="inputs">
        <ol>
          <span class="icon-fr2 icon-fr2-folder"></span>
          <li class="string input optional stringish" id="folder_name_input"><label for="folder_name" class="label">Folder Name</label><input id="folder_name" type="text" value="My Clipboard" name="folder[name]">
          </li>
        </ol>
      </fieldset>
      <fieldset class="actions">
        <ol>
          <li class="action button_action commit fr_button medium primary" id="folder_submit_action">
            <button name="button" type="submit" class="browser_reset">
              Create Folder
            </button>
          </li>
        </ol>
      </fieldset>'.html_safe
  end %>

  <div class="folder_create">
    <p>
      Creating folder and saving clipping...
      <span class="icon loader"></span>
    </p>
  </div>

  <div class="folder_success">
    <p><%= ApplicationController.helpers.fr_icon 'check_mark' %></p>
  </div>
