<p>
  You may attach up to <strong>{{maxAttachments}} files</strong>.
  The maximum allowable size for any file is <strong>{{maxSize}}</strong>.
</p>

<p>
  The following file types are permitted:
</p>

<ul class="file-type-list bullets">
  {{#inColumns fileTypes count=2}}
    {{#each this}}
      <li>{{this}}</li>
    {{/each}}
  {{/inColumns}}
</ul>
