<p>
  You may attach up to <strong>{{maxAttachments}} files</strong>.
  The maximum allowable size for any file is <strong>{{maxSize}}</strong>.
</p>

<p>
  The following file types are permitted:
</p>

<ul class="file-type-list bullets">
  <%
    left, right = Comment::ALLOWED_EXTENSIONS.sort.in_groups(2)
    file_types = left.zip(right).flatten
    file_types.each do |file_type|
  %>
    <li><%= file_type %></li>
  <% end %>
</ul>
