#clipping-actions div.menu li#new-folder {
  padding-left: 25px;
  }

.embedded_search.search_bar #doc-type-search-filter li {
  height: 23px;
  padding-top: 0;
  }

#clipping-actions {
  .action_menu {
    .icon-fr2-folder,
    .icon-fr2-open_folder { top: -1px; }

    .icon-fr2-menu_arrow { top: -1px; }
  }
}

.doc-type-filter {
  li .icon-fr2 { top: 2px; }
}

#clippings div.rule_type .icon-doctype.icon-fr2 {
  position: relative;
  top: 2px;
}

/********
HOME
********/
.nav-home-carousel { height: 393px; }
.pres-doc-preview table.fr-table.fr-monthly-overview.alpha {
  width: 129px;
  margin-right: 5px;
}

/********
FOOTER
********/
.site-footer { margin-top: 1em; }
