.clip_for_later #clipping-actions.fr2 #add-to-folder.hover { top: -6px; }

#folder_clippings #clipping-actions div.menu li#new-folder { padding-left: 35px; }
#clipping-actions div.menu li#new-folder { padding-left: 30px; }

#clipping-actions #add-to-folder .button { width: 140px; }

#clipping-actions #add-to-folder.hover, 
#clipping-actions #jump-to-folder.hover {
  margin-top: 6px;
  }

#clippings dl#col-1 dt.pages { width: auto; }

#clippings dl#col-2 dd, 
#clippings dl#col-3 dd { 
  margin-top: 4px; 
  }
