.wrapper .row {
  margin-bottom: 20px !important;
}

.fr-seal-content {
  h6 { margin-top: 0 !important;}
}

/* reinstating original design
 * overriding the bootstrap that
 * overrode the original :/
 */
.bootstrap-scope {
  a.subscription {
    padding: 0;
  }
}
