/* this needs to be in every wrapper file that needs the mixins */
@import "mixins";
@import "components/doc_type_icon_colors";

@import "formtastic_changes.css.scss";
@import "design/app.css.scss";
@import "design/user_utils.css.scss";
@import "design/clippings.css.scss";
@import "design/clipping_menus.css.scss";

@import "design/comments.css.scss";
