/* compass sprite -c config/compass.rb "icons/my_fr2/*.png" --force */
$my_fr2-spacing: 50px !default;
@import "sprites/_my_fr2.scss";
@import "icons/my_fr2/*.png";

/* compass sprite -c config/compass.rb "icons/my_fr2/user_utils/*.png" --force */
$user_utils-spacing: 50px !default;
@import "sprites/_user_utils.scss";
@import "icons/my_fr2/user_utils/*.png";

@import "mixins.css.scss";

@import "design/patterns.css.scss";

@import "formtastic_changes.css.scss";
@import "design/app.css.scss";
@import "design/user_utils.css.scss";
@import "design/clippings.css.scss";
@import "design/clipping_menus.css.scss";
@import "design/clipping_filters.css.scss";

@import "design/comments/creation.css.scss";
@import "design/progress_bar.css.scss";

@import "design/comments/list.css.scss";
@import "design/subscriptions.css.scss";
