/* this needs to be in every wrapper file that needs the mixins */
@import "mixins";

@import "components/doc_type_icon_colors";

@import "design/patterns.css.scss";

@import "formtastic_changes.css.scss";
@import "design/app.css.scss";

@import "design/user_utils.css.scss";
@import "design/clippings.css.scss";
@import "design/clipping_menus.css.scss";

@import "design/comments/creation.css.scss";
@import "design/progress_bar.css.scss";
@import "design/comments/list.css.scss";
@import "design/subscriptions.css.scss";
@import "design/subscription_confirmation.css.scss";
