/*
-----------------------------------------------
Typesetting for FederalRegister.gov
16px @ 1:1.125 (major-second)
----------------------------------------------- */
$modular-scale-ratio: $major-second; //1.125;
$modular-scale-base: 16px;

body {
  font-size: 16px; /* Scale origin */
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

.wf-active body {
  @include gesta;

  h1, h2, h3, h4, h5 {
    line-height: 1.3em;
    margin: 1em 0 0.5em;
  }
}

.wf-active .metadata-content-area {
  @include apertura-condensed;

  h1 {
    color: $fr-gray-80;
    font-size: modular-scale(6);
    font-family: inherit;
  }

  .metadata_share_bar {
    font-size: modular-scale(1);
  }
}

.wf-active .bootstrap-scope {
  .fr-box-official,
  .fr-box-public-inspection {
    .content-block {
      @include calluna;

      h1, h2, h3, h4, h5 {
        @include apertura-condensed;
        font-weight: bold;
        word-wrap: break-word;
        text-align: left;
      }

      p {
        font-family: inherit;
        margin: 0 0 1.5em;
        line-height: 1.7em;
        padding: 0;
      }

      h1 { font-size: modular-scale(3); }
      h2 { font-size: modular-scale(2); }
      h3 { font-size: modular-scale(1); }
      h4 { font-size: modular-scale(0); }
      p { font-size: modular-scale(0); }
    }
  }
}
