/* compass sprite -c config/compass.rb "icons/my_fr2/*.png" --force */
$my_fr2-spacing: 50px;
@import "sprites/_my_fr2.scss";

/* compass sprite -c config/compass.rb "icons/my_fr2/user_utils/*.png" --force */
$user_utils-spacing: 50px;
@import "sprites/_user_utils.scss";

/* this needs to be in every wrapper file that needs the mixins */
@import "mixins/_rounded.scss";

@import "formtastic_changes.css.scss";
@import "design/app.css.scss";
@import "design/user_utils.css.scss";
@import "design/clippings.css.scss";
@import "design/clipping_menus.css.scss";
@import "design/clipping_filters.css.scss";

