// mixins/colors/other library items
@import "essential";

// scope bootstrap style changes
.bootstrap-scope {
  @import "bootstrap-changes";
}

// override old, clashing fr2 styles
@import "officialness_override";

@import "design/navigation";
@import "design/modals/subscriptions";
@import "design/tender_interstitial_modal";

@import "design/layout";
@import "layout";

@import "layout/grids/embedded_search_grid";
@import "layout/grids/footer_grid";
@import "layout/grids/homepage_grid";
@import "layout/grids/home_aid_grid";
@import "layout/grids/metadata_bar_grid";
@import "layout/grids/metadata_bar_public_inspection_grid";
@import "layout/grids/monthly_document_counts_grid";
@import "layout/grids/popular_and_presdoc_container_grid";
@import "layout/grids/nav_item_grid";
@import "layout/grids/site_grid";

@import "components/buttons";
@import "components/carousel";
@import "components/count_pill";
@import "components/doc_type_icon_colors";
@import "components/document_clipper";
@import "components/email_a_friend";
@import "components/email_helpers";
@import "components/embedded_search";
@import "components/facet_explorer";
@import "components/filterable_lists";
@import "components/frequency_sparklines";
@import "components/modals";

@import "components/officialness/fr_box";
@import "components/officialness/fr_info_box";
@import "components/officialness/fr_editorial_note_box";
@import "components/officialness/fr_metadata_bar";
@import "components/officialness/fr_search_box";

@import "components/subscribe_box";


@import "design/patterns";

@import "design/app";
@import "design/agencies";
@import "design/autocompleter";

@import "design/presidential_documents";

@import "design/clipping_menus";

@import "design/user_account";
@import "design/comments/creation";
@import "design/progress_bar";

@import "design/sections";
@import "design/suggested_searches";
@import "design/my_fr";

@import "design/custom_tooltips";
@import "design/citations";

@import "design/announcements";

.bootstrap-scope .doc {
  @import "design/documents/end_matter";
  @import "design/documents/footnotes";
  @import "design/documents/headers_paragraphs";
  @import "design/documents/images";
  @import "design/documents/lists";
  @import "design/documents/note";
  @import "design/documents/paragraph_citation";
  @import "design/documents/regtext";
  @import "design/documents/section";
  @import "design/documents/signature";
  @import "design/documents/stars";
  @import "design/documents/tables";
  @import "design/documents/unprinted_elements";
}

.document-table {
  @import "design/documents/tables";
}

@import "design/documents";
@import "design/public_inspection";

@import "design/issues/table_of_contents";
@import "design/search";
@import "design/topics";

@import "design/utility_bar";
@import "design/issues/document_issue";
@import "design/calendar";
@import "design/indexes";
@import "design/tender";
@import "design/popular_documents";
@import "design/reader_aids";
@import "design/mobile_transition";
