/*
-----------------------------------------------
Typesetting for FederalRegister.gov
16px @ 1:1.125 (major-second)
----------------------------------------------- */
$modular-scale-ratio: $major-second; //1.125;
$modular-scale-base: 16px;

body {
  font-size: 16px; /* Scale origin */
  font-family: sans-serif;
  font-weight: 400;
}

body {
  @include sans_serif;

  line-height: 1.3;

  h1, h2, h3, h4, h5, h6, h7 {
    line-height: 1.3;
    margin: 1em 0 0.5em;
  }

  h7 { display: block; } /* h7 not defined by most browsers */
}

.bootstrap-scope {
  h1, h2, h3, h4, h5, h6, h7, p {
    @include sans_serif;
    line-height: 1.3;
  }

  h1 { font-size: modular-scale(5); }
  h2 { font-size: modular-scale(4); }
  h3 { font-size: modular-scale(3); }
  h4 { font-size: modular-scale(2); }
  h5 { font-size: modular-scale(1); }
  h6 {
    font-size: modular-scale(0);
    font-weight: bold;
  }

  p {
    font-size: modular-scale(0);
    padding: 0;
  }
}

.metadata-content-area {
  @include sans_serif;

  h1 {
    color: $gray-80;
    font-size: modular-scale(6);
    font-family: inherit;
    margin-top: 0;

    &.large-title { font-size: modular-scale(5); }
    &.extra-large-title { font-size: modular-scale(4); }
    &.jumbo-title { font-size: modular-scale(3); }
  }

  .metadata_share_bar {
    font-size: modular-scale(1);
  }
}

.bootstrap-scope, .modal-document-table-wrapper {
  .fr-box-official,
  .fr-box-public-inspection,
  .fr-box-published {
    .content-block {
      @include sans_serif;

      h1, h2, h3, h4 {
        @include sans_serif;
        font-weight: bold;
        word-wrap: break-word;
        text-align: left;
      }

      h4 {
        text-transform: uppercase;
      }

      p {
        font-family: inherit;
        margin: 0 0 1.5em;
        line-height: 1.7em;
        padding: 0;
      }

      h1 { font-size: modular-scale(3); }
      h2 { font-size: modular-scale(2); }
      h3 { font-size: modular-scale(1); }
      h4 { font-size: modular-scale(0); }
      p { font-size: modular-scale(0); }
    }
  }
}

.bootstrap-scope .doc-toc {
  .fr-box-official,
  .fr-box-public-inspection,
  .fr-box-published {
    h1, h2, h3, h4, h5, h6, h7 {
      @include sans_serif;
      font-weight: bold;
      word-wrap: break-word;
      margin-left: 0;
      line-height: 1.5;
      margin: 0.5em 0 0.5em;
      color: $text;
    }

    h1 { font-size: modular-scale(4); }
    h2 { font-size: modular-scale(3); }
    h3 { font-size: modular-scale(2); }
    h4 { font-size: modular-scale(1); }
    h5 { font-size: modular-scale(1); }
    h6 { font-size: modular-scale(0); }
    h7 { font-size: modular-scale(0); }

    h4 { line-height: 1.3; }
    h5, h6, h7 { line-height: 1.2; }
    h5, h6 { margin-top: 0; }

    dl, dt, dd { font-size: modular-scale(0); }
  }
}

.bootstrap-scope .tooltip {
  font-size: modular-scale(-1);
}
