// Core bootstrap variables and mixins
@import "bootstrap/variables";
@import "bootstrap/mixins";

// vendor
@import "jquery.tipsy";

// mixins/colors/other library items
@import "essential";


// scope bootstrap styles
.bootstrap-scope {
  @import "bootstrap-custom";
  @import "bootstrap-changes";
}


/* override old, clashing fr2 styles */
@import "officialness_override";

@import "design/navigation";
@import "design/modals/subscriptions";
@import "design/tender_interstitial_modal";

@import "design/layout";
@import "layout";

@import "fonts.scss";
@import "components/**/*";

@import "design/patterns.css.scss";

@import "formtastic_changes.css.scss";


@import "design/app.css.scss";

@import "design/user_utils.css.scss";
@import "design/clippings.css.scss";
@import "design/clipping_menus.css.scss";

@import "design/user_account.css.scss";
@import "design/comments/creation.css.scss";
@import "design/progress_bar.css.scss";
@import "design/comments/list.css.scss";
@import "design/section_show_page.css.scss";
@import "design/subscriptions.css.scss";
@import "design/subscription_confirmation.css.scss";

@import "design/custom_tooltips";

.bootstrap-scope {
  @import "design/documents/*";
}

@import "design/public_inspection";
@import "design/issues/table_of_contents";
@import "design/search";
@import "design/topics";

@import "design/utility_bar";
@import "design/issues/document_issue";
@import "design/calendar";
@import "old/**";
