// our original reset file
@import "reset";
$small-viewport-width: 501px;

@import "mixins/bullets";
@import "mixins/css3_utils";
@import "mixins/fonts";
@import "mixins/placeholders";
@import "mixins/progress";
@import "mixins/rounded";

@import "library/colors";

// Font sizes based on ratios
$em-base: 16px;
@import 'bourbon/modular-scale';
@import 'application_fonts';
@import "mixins/mobile_font_hierarchy"; // Needs to be defined after modular-scale

@import 'application_colors';

@import "library/flash_messages";
@import "library/headers";
@import "library/layout";
@import "library/lists";
@import "library/tables";
@import "library/typeface";
@import "library/utils";
$metadata-bar-font-size: 18px;
