<div class="row" id="date_chooser">
  <div id="calendar_wrapper" class="public_inspection">
    <table  class="calendar"
      data-calendar-year="2014"
      data-calendar-month="3"
      data-year-start="2011"
      data-year-end="2014"
      border="0" cellspacing="0" cellpadding="0">

      <thead>
        <tr>
          <th colspan="7" class="monthName year_2014">March</th>
        </tr>
        <tr class="calendar_nav">
          <th colspan="2" class="cal_prev">
            <a href="/public-inspection/2014/02" class="nav">&laquo; Prev</a>
          </th>
          <th colspan="3"></th>
          <th colspan="2" class="cal_next">Next &raquo;</th>
        </tr>
        <tr class="dayName">
          <th scope="col"><abbr title="Sunday">S</abbr></th>
          <th scope="col"><abbr title="Monday">M</abbr></th>
          <th scope="col"><abbr title="Tuesday">T</abbr></th>
          <th scope="col"><abbr title="Wednesday">W</abbr></th>
          <th scope="col"><abbr title="Thursday">T</abbr></th>
          <th scope="col"><abbr title="Friday">F</abbr></th>
          <th scope="col"><abbr title="Saturday">S</abbr></th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td class="otherMonth weekendDay">23</td>
          <td class="otherMonth">24</td>
          <td class="otherMonth">25</td>
          <td class="otherMonth">26</td>
          <td class="otherMonth">27</td>
          <td class="otherMonth">28</td>
          <td class="weekend weekendDay">1</td>
        </tr>
        <tr>
          <td class="weekend weekendDay">2</td>
          <td class="published"><a href="/public-inspection/2014/03/03">3</a></td>
          <td class="published"><a href="/public-inspection/2014/03/04">4</a></td>
          <td class="published"><a href="/public-inspection/2014/03/05">5</a></td>
          <td class="published"><a href="/public-inspection/2014/03/06">6</a></td>
          <td class="published"><a href="/public-inspection/2014/03/07">7</a></td>
          <td class="weekend weekendDay">8</td>
        </tr>
        <tr>
          <td class="weekend weekendDay">9</td>
          <td class="current today"><a href="/public-inspection/2014/03/10">10</a></td>
          <td class="day">11</td>
          <td class="day">12</td>
          <td class="day">13</td>
          <td class="day">14</td>
          <td class="weekend weekendDay">15</td>
        </tr>
        <tr>
          <td class="weekend weekendDay">16</td>
          <td class="day">17</td>
          <td class="day">18</td>
          <td class="day">19</td>
          <td class="day">20</td>
          <td class="day">21</td>
          <td class="weekend weekendDay">22</td>
        </tr>
        <tr>
          <td class="weekend weekendDay">23</td>
          <td class="day">24</td>
          <td class="day">25</td>
          <td class="day">26</td>
          <td class="day">27</td>
          <td class="day">28</td>
          <td class="weekend weekendDay">29</td>
        </tr>
        <tr>
          <td class="weekend weekendDay">30</td>
          <td class="day">31</td>
          <td class="otherMonth">1</td>
          <td class="otherMonth">2</td>
          <td class="otherMonth">3</td>
          <td class="otherMonth">4</td>
          <td class="otherMonth weekendDay">5</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
