<div class="row">
  <div class="fr-head-metadata-bar fr-head-metadata-bar-public-inspection">

    <div class="col-xs-3 col-md-3 fr-head-meta-label-holder">
      <div class="fr-head-meta-label">
        <i class="icon-fr2-clipboard"></i>
        <h4>Public Inspection</h4>
      </div>
    </div>

    <div class="col-xs-9 col-md-9 fr-head-meta-counts">
      <div class="col-xs-6 col-md-6">
        <ul class="fr-list fr-list-inline with-stats">
          <li>
            <h5>Special Filing:</h5> 
            <div class="public-inspection-list-stats">
              <div class="block-content">
                <a href="#" class="link">13 documents</a> from 14 agencies
              </div>
              <div class="block-content">
                <a href="#"><i class="icon-fr2 icon-fr2-notice rule_type with-tooltip-s" data-tooltip="Notices"></i>10</a>
                <a href="#"><i class="icon-fr2 icon-fr2-proposed_rule rule_type with-tooltip-s" data-tooltip="Proposed Rules"></i>2</a>
                <a href="#"><i class="icon-fr2 icon-fr2-rule rule_type with-tooltip-s" data-tooltip="Rules"></i>1</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-xs-6 col-md-6">
        <ul class="fr-list fr-list-inline with-stats">
          <li>
            <h5>Regular Filing:</h5>
            <div class="public-inspection-list-stats">
              <div class="block-content">
                <a href="" class="link">106 documents</a> from 50 agencies
              </div>
              <div class="block-content">
                <a href="#"><i class="icon-fr2 icon-fr2-notice rule_type with-tooltip-s" data-tooltip="Notices"></i>82</a>
                <a href="#"><i class="icon-fr2 icon-fr2-proposed_rule rule_type with-tooltip-s" data-tooltip="Proposed Rules"></i>9</a>
                <a href="#"><i class="icon-fr2 icon-fr2-rule rule_type with-tooltip-s" data-tooltip="Rules"></i>15</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>
