<div id="current_issue" class="public_inspection">
  <span class="issue">Public Inspection</span>
  <ul class='statistics'>
    <li><strong>Special Filing:</strong> <a href="#special-filing">16 documents</a>/ 13 agencies</li>
    <li><strong>Regular Filing:</strong> <a href="#regular-filing">127 documents</a>/ 53 agencies</li>
  </ul>
</div>
