<% if type == 'special' %>
  <ul>
    <li>
      <a href="#special-filing-agriculture-department">Agriculture Department</a>
      <span class="count_pill">1</span>
    </li>

    <li>
      <a href="#special-filing-centers-for-medicare-medicaid-services">Centers for Medicare &amp; Medicaid Services</a>
      <span class="count_pill">3</span>
    </li>

    <li>
      <a href="#special-filing-commerce-department">Commerce Department</a>
      <span class="count_pill">2</span>
    </li>

    <li>
      <a href="#special-filing-employee-benefits-security-administration">Employee Benefits Security Administration</a>
      <span class="count_pill">1</span>
    </li>

    <li>
      <a href="#special-filing-farm-credit-administration">Farm Credit Administration</a>
      <span class="count_pill">1</span>
    </li>

    <li>
      <a href="#special-filing-federal-aviation-administration">Federal Aviation Administration</a>
      <span class="count_pill">1</span>
    </li>

    <li>
      <a href="#special-filing-federal-election-commission">Federal Election Commission</a>
      <span class="count_pill">1</span>
    </li>

    <li>
      <a href="#special-filing-food-safety-and-inspection-service">Food Safety and Inspection Service</a>
      <span class="count_pill">1</span>
    </li>

    <li>
      <a href="#special-filing-health-and-human-services-department">Health and Human Services Department</a>
      <span class="count_pill">5</span>
    </li>

    <li>
      <a href="#special-filing-internal-revenue-service">Internal Revenue Service</a>
      <span class="count_pill">1</span>
    </li>

    <li>
      <a href="#special-filing-international-trade-commission">International Trade Commission</a>
      <span class="count_pill">1</span>
    </li>

    <li>
      <a href="#special-filing-labor-department">Labor Department</a>
      <span class="count_pill">1</span>
    </li>

    <li>
      <a href="#special-filing-national-council-on-disability">National Council on Disability</a>
      <span class="count_pill">1</span>
    </li>

    <li>
      <a href="#special-filing-national-labor-relations-board">National Labor Relations Board</a>
      <span class="count_pill">1</span>
    </li>

    <li>
      <a href="#special-filing-national-oceanic-and-atmospheric-administration">National Oceanic and Atmospheric Administration</a>
      <span class="count_pill">2</span>
    </li>

    <li>
      <a href="#special-filing-overseas-private-investment-corporation">Overseas Private Investment Corporation</a>
      <span class="count_pill">1</span>
    </li>

    <li>
      <a href="#special-filing-securities-and-exchange-commission">Securities and Exchange Commission</a>
      <span class="count_pill">4</span>
    </li>

    <li>
      <a href="#special-filing-transportation-department">Transportation Department</a>
      <span class="count_pill">1</span>
    </li>

    <li>
      <a href="#special-filing-treasury-department">Treasury Department</a>
      <span class="count_pill">1</span>
    </li>
  </ul>
<% elsif type == "regular" %>
  <ul>
    <li>
      <a href="#regular-filing-agriculture-department">Agriculture Department</a>
      <span class="count_pill">2</span>
    </li>

    <li>
      <a href="#regular-filing-army-department">Army Department</a>
      <span class="count_pill">1</span>
    </li>

    <li>
      <a href="#regular-filing-centers-for-disease-control-and-prevention">Centers for Disease Control and Prevention</a>
      <span class="count_pill">3</span>
    </li>

    <li>
      <a href="#regular-filing-children-and-families-administration">Children and Families Administration</a>
      <span class="count_pill">1</span>
    </li>

    <li>
      <a href="#regular-filing-coast-guard">Coast Guard</a>
      <span class="count_pill">2</span>
    </li>

    <li>
      <a href="#regular-filing-commerce-department">Commerce Department</a>
      <span class="count_pill">18</span>
    </li>

    <li>
      <a href="#regular-filing-defense-acquisition-regulations-system">Defense Acquisition Regulations System</a>
      <span class="count_pill">1</span>
    </li>

    <li>
      <a href="#regular-filing-defense-department">Defense Department</a>
      <span class="count_pill">4</span>
    </li>

    <li>
      <a href="#regular-filing-economic-development-administration">Economic Development Administration</a>
      <span class="count_pill">1</span>
    </li>

    <li>
      <a href="#regular-filing-education-department">Education Department</a>
      <span class="count_pill">1</span>
    </li>

    <li>
      <a href="#regular-filing-engineers-corps">Engineers Corps</a>
      <span class="count_pill">1</span>
    </li>

    <li>
      <a href="#regular-filing-environmental-protection-agency">Environmental Protection Agency</a>
      <span class="count_pill">7</span>
    </li>

    <li>
      <a href="#regular-filing-equal-employment-opportunity-commission">Equal Employment Opportunity Commission</a>
      <span class="count_pill">1</span>
    </li>

    <li>
      <a href="#regular-filing-federal-aviation-administration">Federal Aviation Administration</a>
      <span class="count_pill">11</span>
    </li>

    <li>
      <a href="#regular-filing-federal-communications-commission">Federal Communications Commission</a>
      <span class="count_pill">1</span>
    </li>

    <li>
      <a href="#regular-filing-federal-deposit-insurance-corporation">Federal Deposit Insurance Corporation</a>
      <span class="count_pill">1</span>
    </li>

    <li>
      <a href="#regular-filing-federal-highway-administration">Federal Highway Administration</a>
      <span class="count_pill">1</span>
    </li>

    <li>
      <a href="#regular-filing-federal-reserve-system">Federal Reserve System</a>
      <span class="count_pill">1</span>
    </li>

    <li>
      <a href="#regular-filing-federal-trade-commission">Federal Trade Commission</a>
      <span class="count_pill">2</span>
    </li>

    <li>
      <a href="#regular-filing-fish-and-wildlife-service">Fish and Wildlife Service</a>
      <span class="count_pill">2</span>
    </li>

    <li>
      <a href="#regular-filing-food-and-drug-administration">Food and Drug Administration</a>
      <span class="count_pill">5</span>
    </li>

    <li>
      <a href="#regular-filing-food-and-nutrition-service">Food and Nutrition Service</a>
      <span class="count_pill">1</span>
    </li>

    <li>
      <a href="#regular-filing-foreign-assets-control-office">Foreign Assets Control Office</a>
      <span class="count_pill">1</span>
    </li>

    <li>
      <a href="#regular-filing-foreign-trade-zones-board">Foreign-Trade Zones Board</a>
      <span class="count_pill">1</span>
    </li>

    <li>
      <a href="#regular-filing-health-and-human-services-department">Health and Human Services Department</a>
      <span class="count_pill">24</span>
    </li>

    <li>
      <a href="#regular-filing-homeland-security-department">Homeland Security Department</a>
      <span class="count_pill">4</span>
    </li>

    <li>
      <a href="#regular-filing-industry-and-security-bureau">Industry and Security Bureau</a>
      <span class="count_pill">1</span>
    </li>

    <li>
      <a href="#regular-filing-interior-department">Interior Department</a>
      <span class="count_pill">9</span>
    </li>

    <li>
      <a href="#regular-filing-internal-revenue-service">Internal Revenue Service</a>
      <span class="count_pill">4</span>
    </li>

    <li>
      <a href="#regular-filing-international-trade-administration">International Trade Administration</a>
      <span class="count_pill">7</span>
    </li>

    <li>
      <a href="#regular-filing-justice-department">Justice Department</a>
      <span class="count_pill">3</span>
    </li>

    <li>
      <a href="#regular-filing-labor-department">Labor Department</a>
      <span class="count_pill">1</span>
    </li>

    <li>
      <a href="#regular-filing-land-management-bureau">Land Management Bureau</a>
      <span class="count_pill">2</span>
    </li>

    <li>
      <a href="#regular-filing-national-archives-and-records-administration">National Archives and Records Administration</a>
      <span class="count_pill">2</span>
    </li>

    <li>
      <a href="#regular-filing-national-foundation-on-the-arts-and-the-humanities">National Foundation on the Arts and the Humanities</a>
      <span class="count_pill">1</span>
    </li>

    <li>
      <a href="#regular-filing-national-highway-traffic-safety-administration">National Highway Traffic Safety Administration</a>
      <span class="count_pill">2</span>
    </li>

    <li>
      <a href="#regular-filing-national-institute-of-standards-and-technology">National Institute of Standards and Technology</a>
      <span class="count_pill">1</span>
    </li>

    <li>
      <a href="#regular-filing-national-institutes-of-health">National Institutes of Health</a>
      <span class="count_pill">14</span>
    </li>

    <li>
      <a href="#regular-filing-national-oceanic-and-atmospheric-administration">National Oceanic and Atmospheric Administration</a>
      <span class="count_pill">5</span>
    </li>

    <li>
      <a href="#regular-filing-national-park-service">National Park Service</a>
      <span class="count_pill">4</span>
    </li>

    <li>
      <a href="#regular-filing-national-science-foundation">National Science Foundation</a>
      <span class="count_pill">1</span>
    </li>

    <li>
      <a href="#regular-filing-national-telecommunications-and-information-administration">National Telecommunications and Information Administration</a>
      <span class="count_pill">1</span>
    </li>

    <li>
      <a href="#regular-filing-national-transportation-safety-board">National Transportation Safety Board</a>
      <span class="count_pill">1</span>
    </li>

    <li>
      <a href="#regular-filing-nuclear-regulatory-commission">Nuclear Regulatory Commission</a>
      <span class="count_pill">7</span>
    </li>

    <li>
      <a href="#regular-filing-patent-and-trademark-office">Patent and Trademark Office</a>
      <span class="count_pill">1</span>
    </li>

    <li>
      <a href="#regular-filing-pension-benefit-guaranty-corporation">Pension Benefit Guaranty Corporation</a>
      <span class="count_pill">1</span>
    </li>

    <li>
      <a href="#regular-filing-personnel-management-office">Personnel Management Office</a>
      <span class="count_pill">3</span>
    </li>

    <li>
      <a href="#regular-filing-securities-and-exchange-commission">Securities and Exchange Commission</a>
      <span class="count_pill">5</span>
    </li>

    <li>
      <a href="#regular-filing-small-business-administration">Small Business Administration</a>
      <span class="count_pill">1</span>
    </li>

    <li>
      <a href="#regular-filing-state-department">State Department</a>
      <span class="count_pill">3</span>
    </li>

    <li>
      <a href="#regular-filing-trade-representative-office-of-united-states">Trade Representative, Office of United States</a>
      <span class="count_pill">1</span>
    </li>

    <li>
      <a href="#regular-filing-transportation-department">Transportation Department</a>
      <span class="count_pill">15</span>
    </li>

    <li>
      <a href="#regular-filing-treasury-department">Treasury Department</a>
      <span class="count_pill">6</span>
    </li>

    <li>
      <a href="#regular-filing-u-s-customs-and-border-protection">U.S. Customs and Border Protection</a>
      <span class="count_pill">2</span>
    </li>

    <li>
      <a href="#regular-filing-veterans-affairs-department">Veterans Affairs Department</a>
      <span class="count_pill">1</span>
    </li>
  </ul>
<% end %>
