<div class="col-md-9 doc-content doc-toc">
  <%= fr_box "Public Inspection Document", :public_inspection, header: {seal: true} do %>
    <span class="icon-fr2 icon-fr2-stop-hand doc-background"></span>
    <%= render partial: 'public_inspection/table_of_contents_documents', locals: {type: 'special'} %>
  <% end %>
  <%= fr_box "Public Inspection Document", :public_inspection, header: {seal: true} do %>
    <span class="icon-fr2 icon-fr2-stop-hand doc-background"></span>
    <%= render partial: 'public_inspection/table_of_contents_documents', locals: {type: 'regular'} %>
  <% end %>
</div>
