<div class="col-md-3 doc-toc-nav">
  <%= fr_box "Special Filing", :public_inspection, header: {hover: false} do %>
    <%= render partial: 'public_inspection/table_of_contents_nav', locals: {type: 'special'} %>
  <% end %>

  <%= fr_box "Regular Filing", :public_inspection, header: {hover: false} do %>
    <%= render partial: 'public_inspection/table_of_contents_nav', locals: {type: 'regular'} %>
  <% end %>
</div>
