<thead>
  <tr>
    <th colspan="2"> <%= date.to_s(:month_year) %> </th>
  </tr>
</thead>

<tbody>
  <tr>
    <td class="count"> No</td>
    <td> Documents</td>
  </tr>
  <tr>
    <td class="count"> </td>
    <td> Published</td>
  </tr>
</tbody>

