<thead>
  <tr>
    <th colspan="2"> <%= date.to_s(:month_year) %> </th>
  </tr>
</thead>

<tbody>
  <% if facets.results.empty? %>
    <tr><td>No documents</td></tr>
  <% else %>
    <% subtypes.each do |subtype| %>
      <% facet = facets.find{|f| f.slug == subtype.identifier} %>
      <tr>
        <% if facet.present? %>
          <td class="count">
            <%= link_to facet.count,
               documents_search_path(facet.search_conditions) %>
          </td>
          <td>
            <%= link_to subtype.name.pluralize(facet.count),
              documents_search_path(facet.search_conditions) %>
          </td>
        <% else %>
          <td class="count">0</td>
          <td>
            <%= subtype.name.pluralize(0) %>
          </td>
        <% end %>
      </tr>
    <% end %>
  <% end %>
</tbody>
