<% subtypes.each do |identifier, subtype| %>
  <% document = documents[identifier] %>

  <li>
    <span class="fr-doc-title">
      <%= "#{document.subtype} #{document.executive_order_number}" %>
    </span>
    <%= link_to document.title, document.html_url, :class => "fr-link" %>
    <span class="fr-doc-date">
      <%= document.publication_date.to_s(:formal) %>
    </span>
  </li>
<% end %>
