<div class="col-xs-4 col-md-4 section with-icon-header pres-doc-preview">
  <h4 class="with-icon">
    <span class="icon-fr2 icon-fr2-stars"></span>
    Presidential Documents
  </h4>

  <ul class="fr-list">
    <%= render partial: 'presidential_document',
      locals: {
        documents: @presenter.latest_document_by_type,
        subtypes: @presenter.subtypes_for_homepage
      } %>
  </ul>

  <% [Date.today - 1.month, Date.today].each_with_index do |date, index| %>
    <table class="fr-table fr-monthly-overview <%= "alpha" if index == 0 %> ">
      <%= render partial: 'monthly_document_counts',
        locals: {
          date: date,
          facets: @presenter.document_facets_for_month(date),
          subtypes: @presenter.subtypes
        } %>
    </table>
  <% end %>

</div>
