---
http_interactions:
- request:
    method: get
    uri: http://api.data.gov/TEST/regulations/v3/comment.json?federalRegisterNumber=2014-11486&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-ratelimit-limit:
      - '10000'
      x-ratelimit-remaining:
      - '9528'
    body:
      encoding: US-ASCII
      string: ! '{"code":404,"message":"You are trying to submit a comment on the
        document, (2014-11486), which does not exist. We apologize for any inconvenience.
        Please use our search to find another document open for comment.","status":404}'
  recorded_at: Fri, 03 Apr 2015 21:14:38 GMT
[...]
- request:
    method: get
    uri: http://api.data.gov/TEST/regulations/v3/comment.json?federalRegisterNumber=2015-03236&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-ratelimit-limit:
      - '10000'
      x-ratelimit-remaining:
      - '9515'
    body:
      encoding: US-ASCII
      string: ! '{"agencyName":"International Trade Commission","document":{"agencyAcronym":"ITC","alternateWaysToComment":"ADDRESSES:
        All Commission offices, including the Commission''s hearing rooms, are located
        in the United States International Trade Commission Building, 500 E Street
        SW., Washington, DC. All written submissions should be addressed to the Secretary,
        United States International Trade Commission, 500 E Street SW., Washington,
        DC 20436. The public record for this investigation may be viewed on the Commission''s
        electronic docket (EDIS) at http://www.usitc.gov/secretary/edis.htm.","commentDueDate":"2015-04-20T23:59:59-04:00","commentStartDate":"2015-02-18T00:00:00-05:00","docketType":"RULEMAKING","documentId":"ITC-2015-0032-0001","documentType":"NOTICES","openForComment":true,"title":"Proposed
        Recommendations: Recommended Modifications in the Harmonized Tariff Schedule
        to Conform With Amendments to the Harmonized System Recommended by the World
        Customs Organization, etc."},"fieldList":[{"attributeLabel":"First Name","attributeName":"first_name","maxLength":25,"publicViewable":false,"required":true,"submitterInfo":true,"tooltip":"Submitter''s
        first name","uiControl":"text"},{"attributeLabel":"Last Name","attributeName":"last_name","maxLength":25,"publicViewable":false,"required":true,"submitterInfo":true,"tooltip":"Submitter''s
        last name","uiControl":"text"},{"attributeLabel":"Mailing Address","attributeName":"address1","maxLength":150,"publicViewable":false,"required":false,"submitterInfo":true,"tooltip":"Submitter''s
        mailing address line 1","uiControl":"text"},{"attributeLabel":"City","attributeName":"city","maxLength":50,"publicViewable":false,"required":false,"submitterInfo":true,"tooltip":"Submitter''s
        city","uiControl":"text"},{"attributeLabel":"Country","attributeName":"country","lookupUrl":"https://api.data.gov/TEST/regulations/v3/lookup?field=country","maxLength":50,"publicViewable":false,"required":false,"submitterInfo":true,"tooltip":"Submitter''s
        country","uiControl":"picklist"},{"attributeLabel":"State or Province","attributeName":"us_state","dependsOn":"country","lookupUrl":"https://api.data.gov/TEST/regulations/v3/lookup?field=us_state&dependentOnValue=","maxLength":50,"publicViewable":false,"required":false,"submitterInfo":true,"tooltip":"Submitter''s
        state","uiControl":"combo"},{"attributeLabel":"ZIP/Postal Code","attributeName":"zip","maxLength":10,"publicViewable":false,"required":false,"submitterInfo":true,"tooltip":"Submitter''s
        ZIP/Postal Code","uiControl":"text"},{"attributeLabel":"Email Address","attributeName":"email","maxLength":100,"publicViewable":false,"required":true,"submitterInfo":true,"tooltip":"Submitter''s
        email address","uiControl":"text"},{"attributeLabel":"Organization Name","attributeName":"organization","maxLength":120,"publicViewable":false,"required":false,"submitterInfo":true,"tooltip":"Submitter''s
        organization","uiControl":"text"},{"attributeLabel":"Comment","attributeName":"general_comment","maxLength":5000,"publicViewable":true,"required":true,"submitterInfo":true,"tooltip":"Text
        of comment from submitter","uiControl":"text"}],"participating":false}'
  recorded_at: Fri, 03 Apr 2015 21:27:10 GMT
- request:
    method: get
    uri: http://api.data.gov/TEST/regulations/v3/comment.json?D=2015-03236&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '10000'
      x-ratelimit-remaining:
      - '9961'
    body:
      encoding: US-ASCII
      string: ! '{"code":400,"message":"The parameter value for ID (2015-03236) is
        not in a valid format.","status":400}'
  recorded_at: Tue, 29 Mar 2016 23:02:35 GMT
- request:
    method: get
    uri: http://api.data.gov/TEST/regulations/v3/comment.json?D=CMS_FRDOC_0001-1845&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '10000'
      x-ratelimit-remaining:
      - '9957'
    body:
      encoding: US-ASCII
      string: ! '{"agencyName":"Centers for Medicare Medicaid Services[...]
