<% if DocumentIssue.pdf_download_available?(date) %>
  <div class="download-wrapper">
    <%= link_to  issue_pdf_url(date) do %>
      <%= fr_icon('doc-pdf') %> Download PDF
    <% end %>
  </div>
<% end %>
<ul>
  <% agencies.each do |slug, agency| %>
    <li>
      <%= link_to agency.name, anchor: agency.slug  %>
      <span class="count_pill"><%= agency.document_count_with_child_agencies %></span>
    </li>
  <% end %>
</ul>
