<div class="TOC aside_box">
  <% if date > Date.parse('1995-01-01') %>
    <div class="download_separator">
    <%= link_to 'Download PDF', issue_pdf_url(date), :class => 'button format list pdf' %>
    </div>
  <% end %>
  <ul>
  <% agencies.each do |slug, agency| %>
    <li>
      <%= link_to agency.name, anchor: agency.slug  %>
      <span class="count_pill"><%= agency.document_count %></span>
    </li>
  <% end %>
  </ul>
</div>