<!-- issue document metadata -->
<div id="reg-metadata-bar" class="metadata-explicit-grid">
  <div class="fr-head-metadata-bar fr-head-metadata-bar-official">
    <div class="fr-head-meta-label-holder">
      <div class="fr-head-meta-label">
        <h4>
          <%= link_to current_document_issue_path do %>
            <%= fr_icon("calendar-alt") %>
            <span>Current Issue</span>
          <% end %>
        </h4>
      </div>
    </div>

    <div class="fr-head-meta-counts">
      <p>
        Today's issue is currently unavailable on FederalRegister.gov.
        It may be available on
        <%= link_to "GovInfo", "https://www.govinfo.gov/app/frtoc/today" %>.
      </p>
    </div>
  </div>
</div>
