<!-- issue document metadata -->
<div id="reg-metadata-bar" class="metadata-explicit-grid">
<div class="fr-head-metadata-bar fr-head-metadata-bar-official">
  <div class="<%#= bootstrap_col xs: 3, md: 3 %> fr-head-meta-label-holder">
    <div class="fr-head-meta-label">
      <h4>
        <%
          link_text = home ? "Current Issue" : presenter.date
          link_path = home ? current_document_issue_path : document_issue_path(presenter.date)
        %>
        <%= link_to(
          "<i class=\"icon-fr2-calendar-alt\"></i>#{link_text}".html_safe,
          link_path
        ) %>
      </h4>
    </div>
  </div>

  <div class="fr-head-meta-counts">
    <%= render partial: 'document_issues/summary_document_counts', locals: {
      presenter: presenter
    } %>
  </div>
</div>
</div>
