%required_abbr {
  color: $fr-orange;
  font-size: 20px;
  margin-left: 2px;
  position: absolute;
}

.form-tooltip {
  width: 200px;
}

.document-notice-bar.comment {
  &.open {
    height: 60px;

    .icon-fr2-Chat { top: -1px; }

    img.reg_gov_logo { top: 15px; }

    a.close-comment-form {
      float: right;
      font-size: 16px;
      font-style: italic;
      position: relative;
      top: -5px;
    }
  }

  p .byline { line-height: 23px; }

  img.reg_gov_logo {
    float: right;
    position: absolute;
    right: 20px;
    top: 8px;
  }
}

#metadata_content_area .loading {
  @include rounded-bottom(6);
  background-color: $fr-gray-20;
  border: 1px solid $fr-gray-20;
  height: 23px;
  padding: 10px;
  padding-top: 13px;

  position: relative;
  z-index: 600;

  .loader {
    display: block;
    font-weight: bold;
    margin: 0 auto;
    width: 220px;

    .spinner {
      background: image-url('fr_orange_loader.svg') no-repeat;
      float: right;
      height: 30px;
      position: relative;
      top: -5px;
      width: 30px;
    }
  }
}

.ajax-comment-data {
  @include rounded-bottom(6);
  background-color: $fr-gray-15;
  margin-bottom: 23px;
  min-height: 48px;
  position: relative;
  top: -23px;

  p { font-family: gesta-1, gesta-2, 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; }
}

.comment_form_wrapper {
  @include rounded-bottom(6);
  background-color: $fr-gray-15;
  padding: 20px;
  padding-top: 10px;
}

.formtastic.comment {
  background-color: $fr-gray-10;
  border-radius: 5px;
  padding: 15px;

  li.input {
    clear: both;
    margin-bottom: 25px;
    position: relative;
    width: 830px;

    &.boolean {
      margin-left: 210px;
      width: 400px;

      label {
        color: $fr-gray-60;
        font-size: 15px;

        abbr { @extend %required_abbr; }
      }

      .inline-errors {
        left: 350px;
        top: 2px;
        width: 170px;
      }
    }
  }

  li.error {
    background: none;
    padding: inherit;
  }

  li {
    span.public {
      color: $fr-gray-40;
      display: inline-block;
      font-size: 23px;
      height: 25px;
      left: 7px;
      margin: 0;
      position: relative;
      vertical-align: middle;
      width: 25px;
    }

    select + span.public {
      left: 8px;
      top: 1px;
    }

    textarea + span.public,
    input[type='file'] + span.public {
      left: 220px;
      top: 0px;
      vertical-align: top;
    }
  }

  li#comment_us_state_input select + span.public { left: 2px; }
}

.formtastic.comment fieldset {
  .label {
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    position: relative;
    vertical-align: middle;
    width: 210px;

    abbr {
      @extend %required_abbr;
    }
  }

  .text {
    .label {
      position: relative;
      top: 16px;
    }

    textarea {
      left: 210px;
      position: relative;
    }
  }
}

.formtastic.comment {
  input[type='text'],
  select,
  textarea {
    @include input-box-shadow($fr-gray-20, $fr-gray-10, $white);
    border-radius: 3px;
    font-size: 13px;
    height: 30px;
    vertical-align: middle;
    width: 375px;
  }

  textarea {
    height: auto;
    width: 634px;
  }

  select { width: 380px; }

  input[type='text']:focus,
  select:focus,
  textarea:focus {
    @include input-focus-box-shadow($fr-green);
  }

  p.inline-hints {
    background: none;
    font-style: italic;
    margin-left: 325px;
    padding: 0;
  }
}

.comment_form_wrapper .instructions p {
  background: none;
  line-height: 1.2em;
  padding: 10px;
}

.comment_wrapper .notice.comment_reloaded {
  margin-bottom: 20px;
}

.formtastic.comment {
  .actions {
    margin-bottom: 30px;
    margin-left: 210px;
    margin-top: 0;

    li { display: inline-block; }

    .commit.button {
      background-color: $fr-green;
      position: relative;

      &:hover { background-color: $fr-orange; }

      &.disabled {
        background-color: $fr-gray-15;
        cursor: default;

        input { cursor: default; }

        &:hover { background-color: $fr-gray-15; }
      }
    }

    .submitting.commit.button {
      background-color: $fr-gray-20;

      &:hover { background-color: $fr-gray-20; }

      input {
        background: image-url('fr_orange_loader.svg') 210px 0 no-repeat;
        padding-right: 25px;
      }
    }
  }

  .button {
    cursor: pointer;
    padding: 10px;
    position: relative;
    width: 230px;

    input {
      background: none;
      border: 0;
      box-shadow: none;
      color: $white;
      cursor: pointer;
      font-size: 1em;
      font-weight: bold;
      text-transform: uppercase;
      vertical-align: middle;
      width: 230px;
    }
  }
}

.formtastic.comment .comment_preview {
  font-size: modular-scale(0);
  font-weight: 500;
  margin-left: 10px;
  position: relative;
  top: 2px;
}

.formtastic.comment {
  .errors {
    background: $fr-light-red;
    border: 1px solid $fr-red;
    border-radius: 6px;
    color: $fr-red;
    margin-bottom: 10px;
    padding: 0.5em 0.5em 0.25em;
    text-align: center;
  }

  .error {
    .label { color: $fr-red; }

    input[type='text'],
    select,
    textarea { @include input-focus-box-shadow($fr-red); }
  }
}

.formtastic.comment {
  p.inline-errors {
    background: none;
    color: $fr-red;
    font-size: 15px;
    font-weight: normal;
    left: 212px;
    line-height: 1.4em;
    position: relative;
    top: 5px;

    &.warning { color: $fr-green; }
  }

  #comment_general_comment_input p.inline-errors { top: inherit; }
}

#fr_modal ul.file-type-list {
  margin-left: 20px;
  overflow: hidden;

  li {
    float: left;
    margin-left: 20px;
    width: 130px;
  }
}

.formtastic .file.input .label {
  margin-top: 2px;
  vertical-align: top;
}

.formtastic.comment .file {
  .label { float: left; }

  span.public {
    left: 284px;
    top: -4px;
  }

  // in order for the upload button to both have a custom styled button
  // and to work in IE8 & 9 we have to position the input button above
  // our custom button and make it transparent. Triggering the fileupload
  // dialog box with javascript isn't allowed in those browsers.
  .fileupload-button {
    float: left;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;

    #fileupload {
      cursor: pointer;
      font-size: 200px;
      line-height: 23px;
      margin-left: 0;
      opacity: 0;
      position: absolute;
      width: 88px;
      z-index: 2;
    }

    .add_file {
      background-color: $fr-green;
      color: $white;
      font-weight: bold;
      height: 23px;
      min-width: inherit;
      padding: 0;
      padding-left: 5px;
      padding-top: 3px;
      text-transform: none;
      width: 102px;

      .icon-fr2 {
        padding-right: 5px;
        top: 1px;
      }

      &:hover,
      &.hover {
        background-color: lighten($fr-green, 10);
      }
    }
  }

  td.cancel,
  td.delete {
    padding-top: 2px;
    vertical-align: middle;
  }

  button.cancel,
  button.delete {
    background-color: $fr-red;
    border: 0;
    color: $white;
    font-size: 0.8em;
    font-weight: bold;
    height: 22px;
    left: 20px;
    min-width: 75px;
    padding: 0;
    padding-top: 1px;
    position: relative;
    text-transform: none;
    top: 1px;
    width: 75px;

    &:hover { background-color: lighten($fr-red, 10); }

    span {
      display: block;
      float: left;
      position: relative;
      top: -1px;

      &.icon-fr2 {
        margin: 0 5px 0 7px;
        padding-top: 1px;
        top: 0px;
      }
    }
  }

  tr.upload-error {
    button.cancel { top: 0; }

    td.file-error {
      color: $fr-red;
      font-weight: bold;
    }
  }
}

table.attachments {
  clear: both;
  margin-left: 210px;
  margin-top: 10px;
  width: 638px;

  tr {
    border-top: 1px solid $fr-gray-20;
    margin-top: 5px;

    &.error {
      background: none; // remove unwanted cascade
      color: $fr-red;
      display: table-row; // remove unwanted cascade
      font-weight: bold;
    }
  }

  tr,
  td.name {
    padding: 2px 0 3px 0;
  }

  td.size {
    text-align: right;
    width: 75px;
  }
}

// PROGRESS BARS
table.attachments {
  .progress {
    margin-bottom: 0;
    position: relative;
    top: 5px;
    width: 250px;
  }

  td.progress-bar { padding-left: 0; }

  .progress-striped .bar { background-color: $fr-orange; }

  .progress-success .bar {
    @include striped-progress-background(lighten($fr-green, 20), $fr-green, lighten($fr-green, 10));
    padding-top: 1px;
  }
}

.formtastic.comment {
  .regulations_dot_gov_notices {
    color: $fr-gray-60;
    font-size: modular-scale(-1);
    font-style: italic;
    margin: 10px auto 0;
    width: 460px;
  }

  hr { clear: both; }
}

div.comment-preview-modal {
  background-color: $white;
  border: 5px solid $fr-dark-blue;
  display: none;
  padding: 1em;
  position: fixed;
  top: 5em;
  width: 500px;
}

div.comment-preview-modal,
div.alternative-comment-modal {
  margin-left: 0px;
}

#fr_modal.comment-preview-modal,
#fr_modal.print_modal {
  @extend %fr_modal;
  width: 700px;

  .modal_content { overflow: auto; }

  dl {
    dt { width: 200px; }

    &.comment_details dt { width: 190px; }

    dd {
      width: 450px;

      &+ dd { margin-left: 221px;}
    }
  }


  .print_button {
    color: $fr-blue;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: bold;
    padding-left: 27px;
    position: absolute;
    right: 14px;
    top: 60px;
  }

  .document_title {
    font-size: 1.5em;
    line-height: 1.6;
  }

  .agency {
    border-bottom: 1px solid $fr-gray-20;
    border-top: 1px solid $fr-gray-20;
    margin: 0.5em 0;
    overflow: hidden;
    padding: 0.5em 0;
  }

  .comment_details {
    background-color: $fr-gray-10;
    border: 1px $fr-gray-20 solid;
    border-radius: 6px;
    margin-bottom: 1.5em;
    padding: 10px;
    padding-top: 15px;

    dd.tracking_number {
      background-color: $white;
      border: 1px $fr-gray-20 solid;
      border-radius: 6px;
      font-family: courier;
      padding: 0px 5px;
      width: auto;
    }
  }
}

// COMMENT FORM SUBMIT SUCCESS
.tracking_number {
  @include input-box-shadow($fr-gray-20, $fr-gray-10, $white);
  background-color: $white;
  border-radius: 3px;
  font-family: courier;
  padding: 2px 5px;
}

.comment_wrapper {
  .notice,
  .comment_next_steps {
    margin: 0 auto;
    width: 90%;

    p {
      background: none;
      line-height: 1.3em;
      margin-left: 0;
      padding: 3px 10px;
    }
  }

  .notice {
    border-radius: 6px;
    margin-top: 13px;
    padding: 15px;

    p.info { text-align: left; }
  }
}

.comment_wrapper .comment_next_steps {
  @include input-box-shadow($fr-gray-20, $fr-gray-10, $white);
  background-color: $fr-gray-5;
  border-radius: 5px;
  margin-top: 20px;
  padding: 15px;

  h2 { font-size: 1.8em; }

  p { padding-left: 60px; }

  ul {
    font-size: 1.1em;
    margin-left: 110px;
    margin-top: 10px;
  }

  form {
    padding-left: 90px;

    .inputs {
      font-size: 1.1em;
      margin-bottom: 0;
    }

    .actions {
      margin-left: 0;
      margin-top: 0;

      .button {
        background-color: $fr-green;
        color: $white;
        font-weight: bold;
        height: 20px;
        margin: 10px 0;
        padding: 5px;
        width: 200px;

        &:hover { background-color: $fr-orange; }
      }

      .button input {
        background: none;
        border: 0;
        box-shadow: none;
        color: $white;
        cursor: pointer;
        font-size: 1em;
        font-weight: bold;
        text-transform: uppercase;
        vertical-align: middle;
        width: 100px;
      }
    }
  }
}

.comment_wrapper .social_media .media_buttons { margin-left: 90px; }

.comment_wrapper .comment_next_steps {
  .icon-fr2 {
    color: $fr-gray-60;
    float: left;
    font-size: 28px;
    left: 20px;
  }

  .my_fr {
    .icon-fr2-nav_male_female_user { font-size: 29px; }

    p { margin-bottom: 10px; }

    .formtastic.comment_notifications ol { margin-bottom: 0; }

    li {
      clear: both;
      overflow: hidden;
      position: relative;
      width: 600px;

      &.first {
        border-bottom: 1px solid $fr-gray-20;
        margin-bottom: 5px;
        padding-bottom: 5px;
      }

      .description {
        display: block;
        padding-left: 10px;
        width: 450px;
      }

      a.notifications {
        background-color: $fr-green;
        border-radius: 5px;
        color: $white;
        float: right;
        position: absolute;
        right: 10px;
        text-align: center;
        top: 10px;
        width: 75px;

        &:hover { background-color: $fr-orange; }

        &.remove {
          background-color: $fr-red;

          &:hover { background-color: $fr-dark-red; }
        }
      }
    }
  }

  .print {
    margin-top: 20px;

    .icon-fr2-print { left: 19px; }
  }

  .retrieval {
    font-size: 0.9em;
    font-style: italic;
    margin-top: 35px;
    padding: 0;
    text-align: center;

    p { padding: 0; }
  }

  .social_media {
    margin-top: 15px;

    .media_buttons {
      .icon-fr2 { left: 0; }

      li {
        display: inline-block;
        margin: 5px 0;
        overflow: hidden;
        width: 600px;
      }

      .left {
        clear: both;
        float: left;
        width: 32px;
      }

      a.button {
        min-width: initial;
        padding: 0;
        position: relative;
        width: 32px;
      }

      .right {
        float: left;
        width: 500px;
      }

      p {
        background: none;
        padding: 0 10px;
      }
    }
  }
}
