%required_abbr {
  color: $fr-orange;
  margin-left: 2px;
  font-size: 20px;
  position: absolute;
}

body#entries .form-tooltip {
  width: 200px;
}

#flash_message.comment {
  z-index: 1000;
  height: 46px;
  &.open { height: 60px; }

  p .byline {
    line-height: 23px;
    padding-top: 10px;
  }

  img.reg_gov_logo {
    float: right;
    right: 20px;
    top: -37px;
    position: relative;
  }
  &.open img.reg_gov_logo { top: -42px; }
}

#metadata_content_area .loading {
  height: 23px;
  padding: 10px;
  padding-top: 13px;
  background-color: #CCC;
  border: 1px solid #CCC;
  @include rounded-bottom(6);

  position: relative;
  z-index: 600;

  .loader {
    font-weight: bold;
    margin: 0 auto;
    width: 180px;
    display: block;
    background: url(/my/assets/orange_loader_CCC.gif) 159px 0 no-repeat;
  }
}

.ajax-comment-data {
  background-color: #D7D7D7;
  @include rounded-bottom(6);
  min-height: 48px;
  top: -23px;
  margin-bottom: 23px;
  position: relative;

  p { font-family: gesta-1, gesta-2, 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; }
  }

.comment_form_wrapper {
  background-color: #D7D7D7;
  padding: 20px;
  padding-top: 10px;
  @include rounded-bottom(6);
  }

.formtastic.comment {
  background-color: #EFEFEF;
  padding: 15px;
  @include border-radius(5);

  li.input {
    clear: both;
    margin-bottom: 25px;
    width: 830px;
    position: relative;

    &.boolean {
      margin-left: 240px;
      width: 400px;

      label {
        color: $fr-gray-60;
        font-size: 15px;

        abbr { @extend %required_abbr; }
      }

      .inline-errors {
        top: 2px;
        left: 350px;
        width: 170px;
      }
    }
  }
  li.error {
    background: none;
    padding: inherit;
  }

  li {
    span.public {
      height: 25px;
      width: 25px;

      position: relative;
      left: 7px;
      margin: 0;

      display: inline-block;
      vertical-align: middle;

      font-size: 23px;
      color: $fr-gray-40;
    }

    select + span.public {
      top: 1px;
      left: 5px;
    }
    textarea + span.public,
    input[type='file'] + span.public {
      top: 0px;
      vertical-align: top;
    }
  }

  li#comment_us_state_input select + span.public { left: 2px; }
}

.formtastic.comment fieldset {
  .label {
    display: inline-block;
    position: relative;
    width: 150px;
    vertical-align: middle;
    font-weight: bold;
    font-size: 15px;
  }

  .text .label {
    vertical-align: top;
    position: relative;
    top: 5px;
  }

  .label abbr {
    @extend %required_abbr;
  }
}

.formtastic.comment {
  input[type='text'],
  select,
  textarea {
    height: 30px;
    width: 375px;
    font-size: 13px;
    vertical-align: middle;
    @include input-box-shadow('#CCC', '#EEE', '#FFF');
    @include border-radius(3);
  }

  textarea {
    height: auto;
    width: 634px;
  }

  select { width: 380px; }

  input[type='text']:focus,
  select:focus,
  textarea:focus {
    @include input-focus-box-shadow($fr-green);
  }

  p.inline-hints {
    background: none;
    font-style: italic;
    padding: 0;
    margin-left: 59px;
  }
}

.comment_form_wrapper .instructions p {
  padding: 10px;
  background: none;
  line-height: 1.2em;
  }
.comment_wrapper .notice.comment_reloaded {
  font-size: 1.2em;
  margin-bottom: 20px;
  }

.formtastic.comment {
  .buttons {
    margin-top: 0;
    margin-bottom: 30px;
    margin-left: 240px;

    .commit.button {
      background-color: $fr-green;

      &:hover { background-color: $fr-orange; }

      &.disabled {
        background-color: $fr-gray-15;
        cursor: default;

        input { cursor: default; }

        &:hover { background-color: $fr-gray-15; }
      }
    }

    .submitting.commit.button {
      background-color: #CCC;

      &:hover { background-color: #CCC; }

      input {
        padding-right: 25px;
        background: url(/my/assets/orange_loader_CCC.gif) 180px 2px no-repeat;
      }
    }
  }

  .button {
    position: relative;
    padding: 10px;
    cursor: pointer;

    input {
      width: 200px;
      box-shadow: none;
      font-weight: bold;
      color: white;
      border: none;
      background: none;
      cursor: pointer;
      text-transform: uppercase;
      font-size: 1em;
      vertical-align: middle;
    }
  }
}

.formtastic.comment .comment_preview {
  line-height: 1.2em;
  font-size: 1.1em;
  font-weight: bold;
  margin-left: 10px;
  position: relative;
  top: 2px;
  }

.formtastic.comment {
  .errors {
    background: $fr-light-red;
    border: 1px solid $fr-red;
    padding: .5em .5em .25em;
    @include border-radius(6);
    text-align: center;
    font-size: 1.2em;
    color: $fr-red;
  }

 .error {
    .label { color: $fr-red; }

    input[type='text'],
    select,
    textarea { @include input-focus-box-shadow($fr-red); }
  }
}

.formtastic.comment {
  p.inline-errors {
    background: none;
    font-size: 15px;
    font-weight: normal;
    line-height: 1.4em;
    color: #8A3737;
    position: absolute;
    top: 5px;
    right: 25px;
  }
  p.inline-errors.warning { color: $fr-green; }

  #comment_general_comment_input p.inline-errors { top: inherit; }
}

#fr_modal ul.file-type-list {
  margin-left: 20px;

  li {
    float: left;
    width: 150px;
  }
}

.formtastic .file.input .label {
  margin-right: 0.8em;
  margin-top: 2px;
  vertical-align: top;
  }

.formtastic.comment .file {
  span.public {
    left: 284px;
    top: -4px;
  }

  #fileupload {
    margin-left: 0;
    width: 381px;
    }

  .add_file {
    color: #FFF;
    height: 23px;
    padding: 0;
    padding-top: 3px;
    padding-left: 5px;
    min-width: inherit;
    width: 83px;
    margin-right: 275px;
    margin-bottom: 10px;
    font-weight: bold;
    background-color: $fr-green;
    text-transform: none;

    .icon-fr2 {
      padding-right: 5px;
      top: 1px;
    }
  }
  .add_file:hover { background-color: lighten($fr-green, 10); }

  td.cancel,
  td.delete { vertical-align: middle; }

  button.cancel,
  button.delete {
    height: 20px;
    min-width: 60px;
    width: 60px;

    padding: 0;
    padding-top: 1px;
    border: 0;

    position: relative;
    top: 1px;
    left: 20px;

    text-transform: none;
    font-size: 0.8em;
    font-weight: bold;

    color: #FFF;
    background-color: $fr-red;

    &:hover { background-color: lighten($fr-red, 10); }

    span {
      display: block;
      float: left;
      top: -1px;
      position: relative;

      &.icon-fr2 {
        top: 0px;
        margin: 0 3px 0 7px;
        padding-top: 1px;
      }
    }

  }

  tr.upload-error button.cancel { top: 0; }
  tr.upload-error td.file-error {
    color: $fr-red;
    font-weight: bold;
  }
}

table.attachments {
  width: 638px;
  margin-left: 165px;

  tr {
    margin-top: 5px;
    border-top: 1px solid #CCC;

    &.error {
      color: $fr-red;
      font-weight: bold;

      // remove unwanted cascade
      display: table-row;
      background: none;
    }
  }

  tr,
  td.name {
    padding-left: 0;
    padding-bottom: 3px;
  }
  td.size {
    text-align: right;
    width: 75px;
  }
}

/* PROGRESS BARS */
table.attachments {
  .progress {
    margin-bottom: 0;
    position: relative;
    top: 5px;
    width: 250px;
  }

  td.progress-bar { padding-left: 0; }
  .progress-striped .bar { background-color: $fr-orange; }
  .progress-success .bar {
    @include striped-progress-background(lighten($fr-green, 20), $fr-green, lighten($fr-green, 10));
    padding-top: 1px;
  }
}

.formtastic.comment .regulations_dot_gov_notices {
  margin: 0 auto;
  width: 400px;
  font-style: italic;
  color: $fr-gray-60;
}

div.comment-preview-modal {
  display: none;

  background-color: white;
  border: 5px solid #3F5B75;
  display: none;
  padding: 1em;
  position: fixed;
  top: 5em;
  width: 500px;
  }
div.comment-preview-modal,
div.alternative-comment-modal { margin-left: 0px; }

#fr_modal.comment-preview-modal,
#fr_modal.print_modal {
  @extend %fr_modal;
  width: 700px;

  dl dt { width: 200px; }
  dl.comment_details dt { width: 190px; }
  dl dd { width: 450px; }
  dl dd + dd { margin-left: 221px;}

  .print_button {
    color: #5697CF;
    font-weight: bold;
    font-size: 1.2em;
    position: absolute;
    right: 14px;
    top: 60px;

    cursor: pointer;
    padding-left: 27px;
    /*@include my_fr2-sprite(icon_print_blue, $my_fr2-sprite-dimensions, 0, 0)*/
    }

  .document_title {
    font-size: 1.5em;
    line-height: 1.6;
    }

  .agency {
    border-bottom: 1px solid #CCC;
    border-top: 1px solid #CCC;
    margin: 0.5em 0;
    overflow: hidden;
    padding: 0.5em 0;
    }

  .comment_details {
    border: 1px #CCC solid;
    background-color: #EFEFEF;
    border-radius: 6px;
    padding: 10px;
    padding-top: 15px;
    margin-bottom: 1.5em;

    dd.tracking_number {
      border: 1px #CCC solid;
      border-radius: 6px;
      padding: 0px 5px;
      width: auto;
      background-color: white;
      font-family: courier;
    }
  }
}

/* COMMENT FORM SUBMIT SUCCESS */
.tracking_number {
  background-color: #EFEFEF;
  font-family: courier;
  padding: 2px 5px;
  @include input-box-shadow('#CCC', '#EEE', '#EFEFEF');
  @include border-radius(3);
  }

.comment_wrapper {
  .notice,
  .comment_next_steps {
    width: 90%;
    margin: 0 auto;
  }

  .notice {
    padding: 15px;
    margin-top: 13px;
    @include border-radius(6);

    p.info { text-align: left; }
  }

  .notice p,
  .comment_next_steps p {
    padding: 3px 10px;
    line-height: 1.3em;
    background: none;
    margin-left: 0;
  }
}

.comment_wrapper .comment_next_steps {
  margin-top: 20px;
  background-color: #EFEFEF;
  padding: 15px;
  @include input-box-shadow('#CCC', '#EEE', '#FFF');
  @include border-radius(5);

  h2 { font-size: 1.8em }

  p { padding-left: 60px; }
  ul {
    font-size: 1.1em;
    margin-left: 110px;
    margin-top: 10px;
  }
  form {
    padding-left: 90px;

    .inputs { font-size: 1.1em; }
    .buttons {
      margin-top: 0;
      margin-left: 0;

      .button {
        padding: 5px;
        color: #FFF;
        height: 20px;
        font-weight: bold;
        background-color: $fr-green;
      }
      .button:hover { background-color: $fr-orange; }
      .button input {
        width: 100px;
        box-shadow: none;
        font-weight: bold;
        color: white;
        border: none;
        background: none;
        cursor: pointer;
        text-transform: uppercase;
        font-size: 1em;
        vertical-align: middle;
      }
    }
  }
}

.comment_wrapper .social_media .media_buttons { margin-left: 90px; }
.comment_wrapper .comment_next_steps {
  .icon-fr2 {
    float: left;
    font-size: 28px;
    left: 20px;
    color: $fr-gray-60;
  }

  .my_fr {
    .icon-fr2-nav_male_female_user { font-size: 29px; }

    p { margin-botton: 10px; }

    .formtastic.comment_notifications ol { margin-bottom: 0; }
  }

  .print {
    margin-top: 20px;

    .icon-fr2-print { left: 19px; }
  }

  .retrieval {
    padding: 0;
    text-align: center;
    margin-top: 35px;
    font-size: 0.9em;
    font-style: italic;

    p { padding: 0 }
  }

  .social_media {
    margin-top: 15px;

    .media_buttons {
      li {
        display: inline-block;
        margin: 5px 0;
        overflow: hidden;
        width: 600px;
      }
      .left {
        float: left;
        clear: both;
        width: 32px;
      }
      a.button {
        width: 32px;
        min-width: initial;
        position: relative;
        padding: 0;
      }
      .right {
        float: left;
        width: 500px;
      }
      p {
        font-size: 1.1em;
        background: none;
        padding: 0 10px;
      }
    }
  }
}
