#flash_message.comment { z-index: 1000; }

#metadata_content_area .loading {
  height: 23px;
  padding: 10px;
  padding-top: 13px;
  background-color: #CCC;
  border: 1px solid #CCC;
  @include rounded-bottom(6);

  position: relative;
  z-index: 600;
  
  .loader {
    font-weight: bold;
    margin: 0 auto;
    width: 180px;
    display: block;
    background: url(/my/assets/orange_loader_CCC.gif) 159px 0 no-repeat;
  }
}

.ajax-comment-data { 
  background-color: #D7D7D7;
  @include rounded-bottom(6);
  min-height: 48px;
  top: -23px;
  margin-bottom: 23px;
  position: relative;

  p { font-family: gesta-1, gesta-2, 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; }
  }

.comment_form_wrapper {
  background-color: #D7D7D7;
  padding: 20px;
  padding-top: 10px;
  @include rounded-bottom(6);
  }

.formtastic.comment {
  background-color: #EFEFEF;
  padding: 15px;
  @include input-box-shadow('#CCC', '#EEE', '#FFF');
  @include border-radius(5);
}

.formtastic.comment {
  li.input { 
    margin-bottom: 25px;
    width: 630px;
  }
  li.error {
    background: none;
    margin: inherit;
    padding: inherit;
  }
  
  li {
    span.public {
      /*@include my_fr2-sprite(icon_world, $my_fr2-sprite-dimensions, 0, 0);*/
      height: 25px;
      width: 25px;
      display: inline-block;
      vertical-align: top;
      position: relative;
      top: 4px;
    }
    select + span.public { 
      top: 2px;
      left: 2px;
    }
    textarea + span.public,
    input[type='file'] + span.public { 
      top: 0px;
    }
  }
}

.formtastic.comment fieldset {
  .label {
    display: inline-block;
    position: relative;
    width: 200px;
    vertical-align: center;
    font-weight: bold;
    font-size: 15px;
  }

  .text .label { 
    vertical-align: top;
    position: relative;
    top: 5px;
  }

  .label abbr { 
    color: $fr-orange;
    margin-left: 2px;
    font-size: 20px;
    position: absolute;
  }
}

.formtastic.comment {
  input[type='text'],
  select,
  textarea {
    height: 25px;
    width: 375px;
    font-size: 13px;
    @include input-box-shadow('#CCC', '#EEE', '#FFF');
    @include border-radius(3);
  }

  textarea { 
    height: auto;
    width: 373px;
  }

  select { width: 380px; }

  input[type='text']:focus,
  select:focus,
  textarea:focus {
    @include input-focus-box-shadow($fr-green);
  }
}

.comment_form_wrapper .instructions p {
  padding: 10px;
  background: none;
  line-height: 1.2em;
  }
.comment_wrapper .notice.comment_reloaded {
  font-size: 1.2em;
  margin-bottom: 20px;
  }

.formtastic.comment {
  .buttons { 
    margin-top: 6em;

    .commit.button { background-color: $fr-green; }
    .commit.button:hover { background-color: $fr-orange; }

    .disabled.commit.button,
    .disabled.commit.button:hover { background-color: #CCC; }
    .disabled.commit.button input {
      padding-right: 25px;
      background: url(/my/assets/orange_loader_CCC.gif) 180px 2px no-repeat;
    }
  }

  .button {
    position: relative;
    padding: 10px;
    cursor: pointer;
    
    input {
      width: 200px;
      box-shadow: none;
      font-weight: bold;
      color: white;
      border: none;
      background: none;
      cursor: pointer;
      text-transform: uppercase;
      font-size: 1em;
      vertical-align: middle;
    }
  }
}

.formtastic.comment .comment_preview {
  line-height: 1.2em;
  font-size: 1.1em;
  font-weight: bold;
  margin-left: 10px;
  position: relative;
  top: 2px;
  }

.formtastic.comment {
  .errors {
    background: $fr-light-red;
    border: 1px solid $fr-red;
    padding: .5em .5em .25em;
    @include border-radius(6);
    text-align: center;
    font-size: 1.2em;
    color: $fr-red;
  }

 .error {
    .label { color: $fr-red; }

    input[type='text'],
    select,
    textarea { @include input-focus-box-shadow($fr-red); }
  }
}

.formtastic.comment {
  p.inline-errors {
    background: none;
    font-size: 1em;
    line-height: 1.4em;
    color: $fr-red;
    text-align: right;
    padding-right: 40px;
    padding-top: 5px;
    }
  p.inline-errors.warning { color: $fr-green; }
}

div.comment-preview-modal {
  display: none;

  background-color: white;
  border: 5px solid #3F5B75;
  display: none;
  padding: 1em;
  position: fixed;
  top: 5em;
  width: 500px;
  }
div.comment-preview-modal,
div.alternative-comment-modal { margin-left: 0px; }


.formtastic .file.input .label { 
  margin-right: 0.8em;
  margin-top: 2px;
  vertical-align: top;
  }

.formtastic.comment .file {
  #fileupload { 
    margin-left: 0;
    width: 381px;
    }
  
  .add_file {
    color: #FFF;
    height: 20px;
    padding: 0;
    padding-top: 2px;
    padding-left: 27px;
    min-width: inherit;
    width: 75px;
    margin-right: 275px;
    margin-bottom: 10px;
    font-weight: bold;
    background-color: $fr-green;
    /*@include my_fr2-sprite(icon_upload_add, $my_fr2-sprite-dimensions, 8px, 5px);*/
    }
  .add_file:hover { background-color: lighten($fr-green, 10); }

  td.cancel,
  td.delete { vertical-align: middle; }

  button.cancel, 
  button.delete {
    color: #FFF;
    height: 20px;
    padding: 0;
    padding-top: 1px;
    min-width: 60px;
    width: 60px;
    font-weight: bold;
    background-color: $fr-red;
    top: 1px;
    position: relative;
    text-transform: none;
    border: 0;
    font-size: 0.8em;
    }
  button.cancel:hover, 
  button.delete:hover { background-color: lighten($fr-red, 10); }

  button.cancel {
    /*@include my_fr2-sprite(icon_upload_cancel, $my_fr2-sprite-dimensions, 4px, 4px);*/
    }
  button.delete {
    /*@include my_fr2-sprite(icon_upload_remove, $my_fr2-sprite-dimensions, 4px, 4px);*/
    }
  
  button.cancel span,
  button.delete span { 
    padding-left: 10px;
    top: -1px;
    position: relative;
  }

  tr.upload-error button.cancel { top: 0; }
  tr.upload-error td.file-error { 
    color: $fr-red;
    font-weight: bold;
  }
}

table.attachments { 
  width: 640px;
  margin-left: 215px;
  
  tr {
    margin-top: 5px;
    border-top: 1px solid #CCC;
  }
  tr.upload-error {
    td { vertical-align: middle; }
    td.file-error {
      padding: 0;
      display: inline-block;
      width: 215px;
    }
  }

  tr,
  td.name { 
    padding-left: 0;
    padding-bottom: 3px;
  }
  td.size span {
    text-align: right;
    width: 75px;
    display: inline-block;
  }
}

/* PROGRESS BARS */
table.attachments {
  .progress {
    margin-bottom: 0;
    position: relative;
    top: 5px;
    width: 200px;
  }

  td.progress-bar { padding-left: 0; }
  .progress-striped .bar { background-color: $fr-orange; }
  .progress-success .bar {
    @include striped-progress-background(lighten($fr-green, 20), $fr-green, lighten($fr-green, 10));
    padding-top: 1px;
  }
}

#fr_modal.comment-preview-modal,
#fr_modal.print_modal { 
  @extend %fr_modal;
  width: 700px;

  dl dt { width: 200px; }
  dl.comment_details dt { width: 190px; }
  dl dd { width: 450px; }
  dl dd + dd { margin-left: 221px;}

  .print_button {
    color: #5697CF;
    font-weight: bold;
    font-size: 1.2em;
    position: absolute;
    right: 14px;
    top: 60px;

    cursor: pointer;
    padding-left: 27px;
    /*@include my_fr2-sprite(icon_print_blue, $my_fr2-sprite-dimensions, 0, 0)*/
    }

  .document_title { 
    font-size: 1.5em;
    line-height: 1.6;
    }

  .agency {
    border-bottom: 1px solid #CCC;
    border-top: 1px solid #CCC;
    margin: 0.5em 0;
    overflow: hidden;
    padding: 0.5em 0;
    }

  .comment_details {
    border: 1px #CCC solid;
    background-color: #EFEFEF;
    border-radius: 6px;
    padding: 10px;
    padding-top: 15px;
    margin-bottom: 1.5em;
    
    dd.tracking_number {
      border: 1px #CCC solid;
      border-radius: 6px;
      padding: 0px 5px;
      width: auto;
      background-color: white;
      font-family: courier;
    }
  }
}
/* jqm seems to be having a hardtime position this so we update the default margin left */
#fr_modal.print_modal { margin-left: -350px; }

/* COMMENT FORM SUBMIT SUCCESS */
.tracking_number {
  background-color: #EFEFEF;
  font-family: courier;
  padding: 2px 5px;
  @include input-box-shadow('#CCC', '#EEE', '#EFEFEF');
  @include border-radius(3);
  }

.comment_wrapper {
  .notice,
  .comment_next_steps {
    width: 90%;
    margin: 0 auto;
  }

  .notice {
    padding: 15px;
    margin-top: 13px;
    @include border-radius(6);
    
    p.info { text-align: left; }
  }

  .notice p,
  .comment_next_steps p {
    padding: 3px 10px;
    line-height: 1.3em;
    background: none;
    margin-left: 0;
  }
}

.comment_wrapper .comment_next_steps { 
  margin-top: 20px;
  background-color: #EFEFEF;
  padding: 15px;
  @include input-box-shadow('#CCC', '#EEE', '#FFF');
  @include border-radius(5);

  h2 { font-size: 1.8em }

  p { padding-left: 60px; }
  ul {
    font-size: 1.1em;
    margin-left: 110px;
    margin-top: 10px;
  }
  form { 
    padding-left: 90px;

    .inputs { font-size: 1.1em; }
    .buttons {
      margin-top: 0;
      margin-left: 0;

      .button { 
        padding: 5px;
        color: #FFF;
        height: 20px;
        font-weight: bold;
        background-color: $fr-green;
      }
      .button:hover { background-color: $fr-orange; }
      .button input { 
        width: 100px;
        box-shadow: none;
        font-weight: bold;
        color: white;
        border: none;
        background: none;
        cursor: pointer;
        text-transform: uppercase;
        font-size: 1em;
        vertical-align: middle;
      }
    }
  }
}

.comment_wrapper .social_media .media_buttons { margin-left: 90px; }
.comment_wrapper .comment_next_steps {
  .my_fr p {
    /*@include my_fr2-sprite(icon_myfr, $my_fr2-sprite-dimensions, 25px, 3px);*/
    margin-botton: 10px;
  }
  .my_fr .formtastic.comment_notifications ol { margin-bottom: 0; }
  
  .print { margin-top: 20px; }
  .print p {
    /*@include my_fr2-sprite(icon_print, $my_fr2-sprite-dimensions, 26px, 2px);*/
  }

  .retrieval {
    padding: 0;
    text-align: center;
    margin-top: 35px;
    font-size: 0.9em;
    font-style: italic;
  }
  .retrieval p { padding: 0 }

  .social_media { margin-top: 15px; }
  .social_media p {
    /*@include my_fr2-sprite(icon_radio_tower, $my_fr2-sprite-dimensions, 25px, -2px);*/
  }

  .social_media .media_buttons {
    li {
      display: inline-block;
      margin: 5px 0;
      overflow: hidden;
      width: 600px;
    }
    .left {
      float: left;
      clear: both;
      width: 32px;
    }
    a.button {
      width: 32px;
      min-width: initial;
      position: relative;
      padding: 0;
    }
    .right {
      float: left;
      width: 500px;
    }
    p {
      font-size: 1.1em;
      background: none;
      padding: 0 10px;
    }
  }
}
