body .tipsy.agency-not-participating { width: 250px; }

h2.title {
  @extend %list_page_title;
  .icon-fr2.icon-fr2-comment { top: 5px; }
}
div#comment_metadata_bar { @extend %list_page_title_metadata_bar; }

ul#comments > li {
  @extend %rounded_capsule;
  width: 938px;
}

ul#comments {
  div.rule_type { @extend %large_document_icon_frame; }

  .comment_count {
    left: 15px;
    display: inline-block;
    bottom: 10px;
    position: absolute;
    width: 53px;
    height: 25px;

    .icon-fr2.icon-fr2-conversation-alt {
      font-size: 20px;
      float: left;
      color: $fr-green;
    }

    a.count {
      width: auto;
      min-width: 8px;
      min-height: 8px;

      padding: 0 3px;
      padding-bottom: 1px;

      font-size: 11px;
      font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
      font-weight: bold;
      text-align: center;
      line-height: 13px;

      @include border-radius(12);
      margin: 0;
      margin-left: 5px;

      color: #FFF;
      background-color: $fr-green;
      border: 2px solid #FFF;
      }

    &:hover {
      .icon-fr2 { color: $fr-orange; }
      a.count { background-color: $fr-orange; }
    }
  }

  .title { @extend %capsule_title; }
  .comment_data {
    @extend %capsule_metadata_dash_separated;
    width: 178px;

    dl.metadata {
      dt {
        height: auto;
        line-height: 12px;
        margin: 10px 0 5px 0;

        &:first-child { margin-top: 0; }
      }
    }
  }
}
