<% header_type 'public-inspection' %>
<% page_title "Public Inspection: #{@document.title}" %>
<% meta_description truncate_words(strip_tags(@document.abstract), :length => 300) %>

<div class="title public-inspection">
  <span>Public Inspection :: <%= @document.type %></span>
</div>

<%= render partial: 'public_inspection/metadata_content_area', locals: {document: @document} %>

<!-- BOOTSTRAP SCOPE START -->
<div class="bootstrap-scope">
<!-- BOOTSTRAP SCOPE START -->

<div class="wrapper">
  <div class="container fixed">
    <div class="clearfix"></div>

    <div class="row doc doc-public-inspection">
      <%= render partial: 'public_inspection/page_content', locals: {document: @document} %>
      <%= render partial: 'public_inspection/document_side_bar', locals: {document: @document} %>
    </div>

    <div class="clearfix" style="height: 100px;"></div>
  </div>
</div>
<!-- BOOTSTRAP SCOPE END -->
</div>
<!-- BOOTSTRAP SCOPE END -->
