---
http_interactions:
- request:
    method: get
    uri: http://api.data.gov/TEST/regulations/v3/documents.json?s=ITC-2013-0207-0001&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-ratelimit-limit:
      - '10000'
      x-ratelimit-remaining:
      - '9537'
    body:
      encoding: US-ASCII
      string: ! '{"totalNumRecords":0}'
  recorded_at: Fri, 03 Apr 2015 21:14:33 GMT
- request:
    method: get
    uri: http://api.data.gov/TEST/regulations/v3/documents.json?s=ITC-2015-0074-0001&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-ratelimit-limit:
      - '10000'
      x-ratelimit-remaining:
      - '9520'
    body:
      encoding: US-ASCII
      string: ! '{"documents":[{"agencyAcronym":"ITC","allowLateComment":false,"attachmentCount":0,"commentDueDate":null,"commentStartDate":"2015-04-03T00:00:00-04:00","docketId":"ITC-2015-0074","docketTitle":"Investigations;
        Determinations, Modifications, and Rulings, etc.: Certain Wireless Standard
        Compliant Electronic Devices,  Including Communication Devices and Tablet
        Computers","docketType":"Rulemaking","documentId":"ITC-2015-0074-0001","documentStatus":"Posted","documentType":"Notice","numberOfCommentReceived":0,"openForComment":false,"postedDate":"2015-04-03T00:00:00-04:00","title":"Investigations;
        Determinations, Modifications, and Rulings, etc.: Certain Wireless Standard
        Compliant Electronic Devices,  Including Communication Devices and Tablet
        Computers"}],"totalNumRecords":1}'
  recorded_at: Fri, 03 Apr 2015 21:25:50 GMT
recorded_with: VCR 2.6.0
