---
http_interactions:
- request:
    method: get
    uri: http://api.data.gov/regulations/beta/documents.json?s=ITC-2013-0207-0001&api_key=DEMO_KEY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '930'
    body:
      encoding: US-ASCII
      string: ! '{"documents":[{"agencyAcronym":"ITC","allowLateComment":false,"attachmentCount":0,"commentDueDate":null,"commentStartDate":"2013-07-25T00:00:00-04:00","docketId":"ITC-2013-0207","docketTitle":"Complaints:
        Certain Sleep-Disordered Breathing Treatment Systems and Components Thereof","docketType":"Rulemaking","documentId":"ITC-2013-0207-0001","documentStatus":"Posted","documentType":"Notice","numberOfCommentReceived":0,"openForComment":false,"postedDate":"2013-07-25T00:00:00-04:00","title":"Complaints:
        Certain Sleep-Disordered Breathing Treatment Systems and Components Thereof"}],"totalNumRecords":1}'
  recorded_at: Thu, 27 Mar 2014 23:16:30 GMT
recorded_with: VCR 2.6.0
