---
http_interactions:
- request:
    method: get
    uri: http://api.data.gov/TEST/regulations/v3/documents.json?s=ITC-2013-0207-0001&api_key=DEMO_KEY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      content-type:
      - text/html;charset=utf-8
      x-ratelimit-limit:
      - '10000'
      x-ratelimit-remaining:
      - '9809'
    body:
      encoding: US-ASCII
      string: ! '<html><head><title>JBoss Web/7.0.17.Final - Error report</title><style><!--H1
        {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:22px;}
        H2 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:16px;}
        H3 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:14px;}
        BODY {font-family:Tahoma,Arial,sans-serif;color:black;background-color:white;}
        B {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;}
        P {font-family:Tahoma,Arial,sans-serif;background:white;color:black;font-size:12px;}A
        {color : black;}A.name {color : black;}HR {color : #525D76;}--></style> </head><body><h1>HTTP
        Status 500 - org.codehaus.jackson.map.JsonMappingException: Failed to instantiate
        standard serializer (of type org.codehaus.jackson.map.ser.std.NullSerializer):
        Class org.codehaus.jackson.map.ser.BasicSerializerFactory can not access a
        member of class org.codehaus.jackson.map.ser.std.NullSerializer with modifiers
        &quot;private&quot; (through reference chain: gov.regulations.common.models.SearchResultModel[&quot;documents&quot;]-&gt;java.util.ArrayList[...]
