<%= ApplicationController.helpers.fr_tooltip_box(
  FrBox.build(
    :enhanced_content,
    title: "Enhanced Content - List of Subjects"
  )
) do
  "<p>
    The List of Subjects contains a list of index terms (List of Subjects) for
    each CFR part number cited in the document's heading. The terms provide a
    common vocabulary for indexing the rulemaking documents of all agencies and
    are the basis of the 'CFR Index' prepared by the OFR.
  </p>

  <p>
    For more information please see the
    <a href='http://www.archives.gov/federal-register/write/handbook/ddh.pdf'>
    Document Drafting Handbook
    </a> sections on the use of List of Subjects in Federal Register documents.
  </p>"
end %>
