<%= ApplicationController.helpers.fr_tooltip_box(
  FrBox.build(
    :enhanced_content,
    title: "Enhanced Content - Amendment Part"
  )
) do 
  "<p>
    Agencies provide a heading for each part, subpart, section, and appendix that
    they are proposing to amend.

    The Part section contains the CFR part that the document adds or revises.
  </p>

  <p>
    For more information please see the
    <a href='http://www.archives.gov/federal-register/write/handbook/ddh.pdf'>
      Document Drafting Handbook
    </a> sections on the use of the Part section in Federal Register documents.
  </p>".html_safe
end %>
