<%= ApplicationController.helpers.fr_tooltip_box(
  FrBox.build(
    :enhanced_content,
    title: "Enhanced Content - Appendix"
  )
) do
  "<p>
    Agencies provide a heading for each part, subpart, section, and appendix that
    they are proposing to amend.

    An appendix may appear at the section, subpart, or part level.
  </p>

  <p>
    For more information please see the
    <a href='http://www.archives.gov/federal-register/write/handbook/ddh.pdf'>
    Document Draft
  </a> sections on the use of Appendix in Federal Register documents.
  </p>".html_safe
end %>
