<%= ApplicationController.helpers.fr_tooltip_box(
  FrBox.build(
    :enhanced_content,
    title: "Enhanced Content - Authority"
  )
) do
  "<p>
    The Authority section cites the authority that authorizes the agency to
    change the CFR. The authority citation is given in the shortest form.
    Placement of the authority citation depends on what unit of the CFR
    the agency is amending.
  </p>

  <p>
    For more information please see the
    <a href='http://www.archives.gov/federal-register/write/handbook/ddh.pdf'>
      Document Drafting Handbook
    </a> sections on the use of the Authority section in Federal Register documents.
  </p>"
end %>
