<%= ApplicationController.helpers.fr_tooltip_box(
  FrBox.build(
    :enhanced_content,
    title: "Enhanced Content - Amendment Part"
  )
) do 
  "<p>
    Agencies provide a heading for each part, subpart, section, and appendix that
    they are proposing to amend.

    The Amendment Part section identifies changes or additions to the CFR. The
    regulatory text of a document must fit into the current text of the CFR. It
    should precisely identify and describe the changes made to the CFR. The
    amendatory language uses standard terms to give specific instructions on
    how to change the CFR. It does not include a discussion of why the changes
    are made.

    If a document amends only certain sections within
    a CFR part, the authority citation for the part will set out as the first
    numbered item in the list of amendments for the part.
  </p>

  <p>
    For more information please see the
    <a href='http://www.archives.gov/federal-register/write/handbook/ddh.pdf'>
      Document Drafting Handbook
    </a> sections on the use of the Amendment Part section in Federal Register documents.
  </p>".html_safe
end %>
