<%= ApplicationController.helpers.fr_tooltip_box(
  FrBox.build(
    :enhanced_content,
    title: "Enhanced Content - Supplementary Information"
  )
) do 
  "<p>
    The Supplementary Information section may include the regulatory history of
    this rulemaking proceeding. It will present the background information and
    detail necessary to give adequate notice of the issues to be commented on
    as required by the Administrative Procedure Act. It may also be used to provide
    additional information that is required by law, agency policy, or
    Executive order.
  </p>

  <p>
    For more information please see the
    <a href='http://www.archives.gov/federal-register/write/handbook/ddh.pdf'>
    Document Drafting Handbook
    </a> sections on the use of Supplementary Information in Federal Register documents.
  </p>".html_safe
end %>
