<div class="logo">
  <div class="hgroup <%= header_type %>">
    <hgroup>
      <% alt_text =
          case header_type
          when "official"
            "The Daily Journal of the United States Government"
          when "public-inspection"
            "Public Inspection :: Tomorrow's Documents, Today"
          when "reader-aids"
            "Reader Aids :: Insight Into the FR Ecosystem"
          end
      %>
      <a href="/" title="Federal Register Home">
        <img
          src="<%= asset_path("header/#{header_type.gsub('-','_')}_masthead.svg") %>"
          alt="<%= alt_text %>" />
      </a>
    </hgroup>
  </div>
</div>
