<div id="user_utils">
  <ul>
  <% if user_signed_in? %>
    <li><%= current_user.display_name %></li>
  <% else %>
    <li><%= link_to "Sign in", new_user_session_path %></li>
    <li><%= link_to "Sign up", new_user_registration_path %></li>
  <% end %>
  </ul>
</div>
