---
http_interactions:
- request:
    method: get
    uri: http://api.data.gov/TEST/regulations/v3/document.json?federalRegisterNumber=2014-01832&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-ratelimit-limit:
      - '10000'
      x-ratelimit-remaining:
      - '9535'
    body:
      encoding: US-ASCII
      string: ! '{"code":404,"message":"The ID (2014-01832) requested was not found
        or does not exist.","status":404}'
  recorded_at: Fri, 03 Apr 2015 21:14:34 GMT
- request:
    method: get
    uri: http://api.data.gov/TEST/regulations/v3/document.json?federalRegisterNumber=2015-07647&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-ratelimit-limit:
      - '10000'
      x-ratelimit-remaining:
      - '9519'
    body:
      encoding: US-ASCII
      string: ! '{"allowLateComment":false,"commentDueDate":null,"commentStartDate":"2015-04-03T00:00:00-04:00","fileFormats":["https://api.data.gov/TEST/regulations/v3/download?documentId=ITC-2015-0074-0001&contentType=pdf","https://api.data.gov/TEST/regulations/v3/download?documentId=ITC-2015-0074-0001&contentType=html"],"openForComment":false,"postedDate":"2015-04-03T00:00:00-04:00","receivedDate":"2015-04-03T00:00:00-04:00","status":"Posted","docketTitle":{"label":"Docket
        Title","value":"Investigations; Determinations, Modifications, and Rulings,
        etc.: Certain Wireless Standard Compliant Electronic Devices,  Including Communication
        Devices and Tablet Computers"},"title":{"label":"Document Title","value":"Investigations;
        Determinations, Modifications, and Rulings, etc.: Certain Wireless Standard
        Compliant Electronic Devices,  Including Communication Devices and Tablet
        Computers"},"documentType":{"label":"Document Type","value":"Notice"},"docketType":{"label":"Docket
        Type","value":"Rulemaking"},"docketId":{"label":"Docket ID","value":"ITC-2015-0074"},"federalRegisterNumber":{"label":"Federal
        Register Number","value":"2015-07647"},"attachmentCount":{"label":"Attachment
        Count","value":"0"},"agencyName":{"label":"Agency Name","value":"International
        Trade Commission"},"documentId":{"label":"Document ID","value":"ITC-2015-0074-0001"},"agencyAcronym":{"label":"Agency","value":"ITC"},"numItemsRecieved":{"label":"Number
        of Comments Received","value":"0"}}'
  recorded_at: Fri, 03 Apr 2015 21:25:51 GMT
- request:
    method: get
    uri: http://example.com/api/v1/document.json?federalRegisterNumber=2015-07647&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<!doctype html>\n<html>\n<head>\n    <title>Example Domain</title>\n\n
        \   <meta charset=\"utf-8\" />\n    <meta http-equiv=\"Content-type\" content=\"text/html;
        charset=utf-8\" />\n    <meta name=\"viewport\" content=\"width=device-width,
        initial-scale=1\" />\n    <style type=\"text/css\">\n    body {\n        background-color:
        #f0f0f2;\n        margin: 0;\n        padding: 0;\n        font-family: \"Open
        Sans\", \"Helvetica Neue\", Helvetica, Arial, sans-serif;\n        \n    }\n
        \   div {\n        width: 600px;\n        margin: 5em auto;\n        padding:
        50px;\n        background-color: #fff;\n        border-radius: 1em;\n    }\n
        \   a:link, a:visited {\n        color: #38488f;\n        text-decoration:
        none;\n    }\n    @media (max-width: 700px) {\n        body {\n            background-color:
        #fff;\n        }\n        div {\n            width: auto;\n            margin:
        0 auto;\n            border-radius: 0;\n            padding: 1em;\n        }\n
        \   }\n    </style>    \n</head>\n\n<body>\n<div>\n    <h1>Example Domain</h1>\n
        \   <p>This domain is established to be used for illustrative examples in
        documents. You may use this\n    domain in examples without prior coordination
        or asking for permission.</p>\n    <p><a href=\"http://www.iana.org/domains/example\">More
        information...</a></p>\n</div>\n</body>\n</html>\n"
  recorded_at: Tue, 12 Jun 2018 22:08:57 GMT
- request:
    method: get
    uri: http://api.data.gov/regulations/v3/document.json?federalRegisterNumber=2015-07647&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '15'
      x-ratelimit-remaining:
      - '5'
    body:
      encoding: US-ASCII
      string: ! '{"allowLateComment":false,"commentDueDate":null,"com[...]
