#agencies-grid {
  display: grid;
  row-gap: 1rem;
  padding: 0px 15px 0px 15px;

  .agencies-sidebar {
    grid-area:  agencies-sidebar;
  }

  .agencies-list {
    grid-area:  agencies-list;
  }

}

@media only screen and (max-width: $small-viewport-width) {
  #agencies-grid {
    grid-template-areas: "agencies-sidebar"
                         "agencies-list"
  }
}

@media only screen and (min-width: $small-viewport-width) {
  #agencies-grid {
    column-gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "agencies-sidebar agencies-list agencies-list agencies-list"
  }
}

