$row-gap: 20px;

#document-issue-grid {
  display: grid;

  .doc-toc { grid-area: doc-toc }

  #subscribe-cal-nav-wrapper {grid-area: subscribe-cal-nav-wrapper}

  @media only screen and (max-width: $small-viewport-width) {
    grid-row-gap: $row-gap;
    grid-template-areas: "reg-metadata-bar"
    "doc-subscribe"
    "subscribe-cal-nav-wrapper"
    "doc-toc";

    .doc-toc {

      // TODO: Refactor into a common Sass variable
      .fr-box-official,
      .fr-box-public-inspection,
      .fr-box-published {
        h1 { font-size: modular-scale(2); }
        h2 { font-size: modular-scale(1); }
        h3 { font-size: modular-scale(0); }
        h4 { font-size: modular-scale(-1); }
        h5 { font-size: modular-scale(-2); }
        h6 { font-size: modular-scale(-3); }
        h7 { font-size: modular-scale(-4); }

        dl, dt, dd, dd a, dt a { font-size: modular-scale(-2); }
      }

    }

  }

  @media only screen and (min-width: $small-viewport-width) {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    grid-template-areas: "reg-metadata-bar reg-metadata-bar reg-metadata-bar reg-metadata-bar"
    "doc-toc doc-toc doc-toc subscribe-cal-nav-wrapper";
  }

}
