$row-gap: 10px;

#document-issue-grid {
  display: grid;

  .doc-toc { grid-area: doc-toc }

  #subscribe-cal-nav-wrapper {grid-area: subscribe-cal-nav-wrapper}

  @media only screen and (max-width: $small-viewport-width) {
    grid-row-gap: $row-gap;
    grid-template-areas: "reg-metadata-bar"
    "doc-subscribe"
    "subscribe-cal-nav-wrapper"
    "doc-toc";

    .doc-toc {

      // TODO: Refactor into a common Sass variable
      .fr-box-official,
      .fr-box-public-inspection,
      .fr-box-published {
        @include mobile-font-hierarchy;
      }

    }

    .calendar-wrapper {
      display: none;
    }

    
  }

  @media only screen and (min-width: $small-viewport-width) {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    grid-template-areas: "reg-metadata-bar reg-metadata-bar reg-metadata-bar reg-metadata-bar"
    "doc-toc doc-toc doc-toc subscribe-cal-nav-wrapper";
  }

}


