
#search-input {
  grid-area: search-input;
}

#expected_result_count {
  grid-area: expected_result_count;
}

#doc-type-filter {
  grid-area: doc-type-filter;
  justify-self: end;
}

#embedded_entry_search_form {
  display: grid;
}

@media only screen and (max-width: $small-viewport-width) {
  #embedded_entry_search_form {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
      "search-input search-input search-input search-input"
      ". . doc-type-filter expected_result_count"
  }

  #expected_result_count {
    justify-self: end;
    margin-top: 4px;
  }
}

@media only screen and (min-width: $small-viewport-width) {
  #embedded_entry_search_form {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
      "search-input search-input search-input expected_result_count"
      "doc-type-filter doc-type-filter doc-type-filter ."
  }

}

// Add separate grid for aligning embedded search header
#embedded-search-header {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  h3 {
    grid-column: span 3;
  }
}

// Add separate grid for aligning label, term field, and icon
#embedded-search-area #search-input {
  display: grid;
  grid-template-columns: repeat(12,1fr);

  label: {
    justify-self: end;
  }

  #conditions_term {
    width: 100%;
    grid-column: span 11;
  }

  #conditions_submit {
    justify-self: start;
    grid-column: span 1;
  }
}
