#reg-metadata-bar {
  grid-area: reg-metadata-bar
}

#pi-metadata-bar {
  grid-area: pi-metadata-bar
}

#embedded-search-area {
  grid-area: embedded-search-area;
}

#carousel-elements {
  grid-area: carousel-elements;
}

.home-aid-box {
  grid-area: home-aid-box;
}

#explore-agencies {
  grid-area: explore-agencies;
}

#explore-topics {
  grid-area: explore-topics;
}

#popular-and-presdoc-container {
  grid-area: popular-and-presdoc-container;
}

.homepage-grid {
  display: grid;
  column-gap: 1rem;
  row-gap: 1rem;
}

@media only screen and (max-width: $small-viewport-width) {
  .homepage-grid {
    grid-template-areas: 
      "embedded-search-area"
      "reg-metadata-bar"
      "pi-metadata-bar"
      "popular-and-presdoc-container"
      "popular-documents"
      "pres-doc-preview"
      "home-aid-box"
      "explore-agencies"
      "explore-topics";
  }
}

@media only screen and (min-width: $small-viewport-width) {
  .homepage-grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "reg-metadata-bar reg-metadata-bar reg-metadata-bar reg-metadata-bar"
      "pi-metadata-bar pi-metadata-bar pi-metadata-bar pi-metadata-bar"
      "embedded-search-area embedded-search-area embedded-search-area embedded-search-area"
      "popular-and-presdoc-container popular-and-presdoc-container popular-and-presdoc-container popular-and-presdoc-container"
      "home-aid-box home-aid-box home-aid-box home-aid-box"
      "explore-agencies explore-agencies explore-topics explore-topics";
  }
}
