.pi-metadata-bar.metadata-explicit-grid {

  // Grid-layout for regular-filing/special filing areas
  .fr-head-meta-counts {
    grid-area: fr-head-meta-counts;
    display: grid;
    gap: 0rem;
  }

  .special-filing-counts {
    grid-area: special-filing-counts;
  }

  .regular-filing-counts {
    grid-area: regular-filing-counts;
  }
}

@media only screen and (max-width: $small-viewport-width) {
  .fr-head-meta-counts {
    grid-template-areas: "special-filing"
                         "regular-filing";
  }
}

@media only screen and (min-width: $small-viewport-width) {
  .fr-head-meta-counts {
    grid-template-areas: "special-filing regular-filing";
  }
}
