.document-search, .public-inspection-document-search {
  display: grid;
  column-gap: 2rem;
}

#search-result-header {
  grid-area: search-result-header;
}

#search-facets {
  grid-area: search-facets;
}

#search-results {
  grid-area: search-results;
}

@media only screen and (max-width: $small-viewport-width) {
  .document-search, .public-inspection-document-search {
    grid-template-areas: "search-result-header"
                         "search-results"
                         "search-facets"
  }

  .suggestions .suggestion .suggestion-content {
    width: auto !important;
  }

  .search-bar .search-options {
    width: auto !important;
  }

  // Ensure adequate top space for outline browser focus on search field
  #search-input {margin-top: 2px;}

  #conditions_term, #document-agency-search {
    // Remove fixed width text input sizes
    width: auto;
  }

  .search .advanced fieldset.actions {
    // Re-align search button to middle
    margin-left: 0px !important;
  }

  .search-info ul.actions {
    // Re-align 'Relevant', 'Newest', 'Oldest' Sort buttons
    top: auto !important;
    margin-bottom: 7px !important;
  }


  // Experimental advanced search form adjustments
  // =====================================

  //Search bar changes

  #expected_result_count {
    float: right;
  }

  .simple div.actions {
    clear: both;
  }

  .search .advanced {
    // JS Radio buttons
    fieldset.date_options legend,  fieldset.cfr legend, fieldset.zip legend{
      float: none !important;
      text-align: left;
    }

    // Ensure "On or before" range field is aligned properly
    li.date.range.range_end {
      margin-left: 9px !important;
    }

    // Reduce size of date range input fields
    li.date.range.range_start input, li.date.range.range_end input {
      width: 90px;
    }

    // Text Input Fields
    li.agency label, li.docket label, li.reg_id label{
      text-align: left !important;
      float: none;
      padding-left: 0px;
    }

    li.docket, li.reg_id {
      height: auto;
    }

    // Checkboxes
    #conditions_type_input legend, #conditions_small_entity_ids_input legend {
      float: none;
      padding: 0px;
      margin-bottom: 0px;

      label {
        float: none; 
      }
    }

    // Reset labels/legend alignment to the left side of the form
    fieldset.choices legend {
      width: auto !important;
      margin-left: 0px;
      padding-left: 0px;
      margin-bottom: 0px;

      label, span {
        width: auto !important;
      }
    }

    // Experimental
    $left-checkbox-margin: 15px;
    #conditions_significant_input {
      margin-left: $left-checkbox-margin;
    }
    ol.choices-group {
      li {
        margin-left: $left-checkbox-margin;
        display: block !important;
      }

      li:last-child {
        margin-bottom: 35px;
      }
    }

    // Initially-hidden Presidential Document Checkbox Fields
    fieldset.choices ol li {
      clear: both;
    }

    // Input Wrapper Padding
    .input-wrapper {
      padding: 0 1em 0 !important;
    }

    // Agency Pill Selection
    .bsmList {
      margin-left: 0.5em !important;

      .bsmListItem {
        width: 100% !important;
      }
    }

  }




}

@media only screen and (min-width: $small-viewport-width) {
  .document-search {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "search-result-header search-result-header search-result-header search-result-header"
                          "search-facets search-results search-results search-results "
  }
}

