// Add separate grid for aligning label, term field, and icon
#entry_search_form #search-input {
  margin-top: 2px; // Ensure top border of text input isn't cut off when focused
}

#search-input {
  display: grid;
  grid-template-columns: repeat(12,1fr);

  label: {
    justify-self: end;
  }

  #conditions_term {
    width: 100%;
    grid-column: span 11;
  }

  #conditions_submit {
    justify-self: start;
    grid-column: span 1;
  }


  @media only screen and (max-width: $small-viewport-width) {
    #toggle_advanced {
      margin: 10px 0px;
    }
  }
}
