div.search-bar .search-form-grid {

    .action-buttons {
      grid-column: span 12;

      .actions {
        max-width: 50%;

        &.left {
          float: left;
        }

        &.right {
          float: right;
          right: 0;
          position: relative;

          ol { grid-template-columns: 150px 150px; }
        }
      }

      ol {
        display: grid;
        grid-template-columns: 170px 1fr;
        grid-gap: 10px;

        li {
          align-self: center;

          :nth-child(1) {
            justify-self: start;
          }
        }
      }
    }

  .actions {
    $action_font_size: modular-scale(0);
    min-width: 133px;

    .other-formats {
      font-size: $action_font_size;
    }

    a, other-formats a {
      font-size: $action_font_size;
      font-weight: normal;
    }

    .btn { font-size: $action_font_size; }
  }

  #expected_result_count {
    margin-left: 0px;
    width: 180px;
  }

  .search-options {
    margin-top: 10px;
  }

  #toggle_advanced {
    margin: 0px 10px;
  }

  .btn {
    min-width: 150px;
  }

  @media only screen and (max-width: $small-viewport-width) {
    display: grid;
    grid-template-areas:
      "auxillary-links"
      "search-form-inputs"
      "action-buttons";

    .advanced {
      margin-top: 0px;
    }

    .search-form-inputs {
      grid-area: search-form-inputs;
    }

    .auxillary-links {
      grid-area: auxillary-links;
      justify-self: end;
      height: auto !important;
    }

    #conditions_term { margin-bottom: 5px; }

    .action-buttons {
      grid-area: action-buttons;

      .actions {
        &.right ol { grid-gap: 0; }

        ol {
          grid-template-columns: 1fr !important;

          li { text-align: center; }
        }
      }
    }

    #expected_result_count {
      margin: 0px;
    }

    .clear_form {
      margin-top: 16px;
      display: none;
    }

  }

  @media only screen and (min-width: $small-viewport-width) {
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    .search-form-inputs {
      grid-column: span 11;
      padding-bottom: 10px;
    }

    .auxillary-links {
      grid-column:  span 1;
    }

    #expected_result_count {
      position: absolute;
      top: 32px;
      left: 619px;
    }

  }

}
