div.search-bar .search-form-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);



    .action-buttons {
      grid-column: span 12;

      ol {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        li:nth-child(1) {
          // margin: 0px 14px;
          justify-self: start;
        }
      }
    }

  .actions {
    $action_font_size: 14px;
    min-width: 133px;

    .other-formats {
      font-size: $action_font_size;
    }

    a, other-formats a {
      font-size: $action_font_size;
      font-weight: normal;
    }
  }

  #expected_result_count {
    margin-left: 0px;
    width: 180px;
  }

  .search-options {
    margin-top: 10px;
    // grid-area: search-options;
  }

  @media only screen and (max-width: $small-viewport-width) {
    .search-form-inputs {
      grid-column: span 12;
    }

    .auxillary-links {
      grid-column:  span 12;
      margin: 10px 0px;
      justify-self: start;
    }

    #expected_result_count {
      margin: 0px;
    }

    .actions {
      height: 43px;
    }

    .btn {
      min-width: 127px;
    }
  }

  @media only screen and (min-width: $small-viewport-width) {
    .search-form-inputs {
      grid-column: span 11;
    }

    .auxillary-links {
      grid-column:  span 1;
    }

    #expected_result_count {
      position: absolute;
      top: 32px;
      left: 500px;
    }

    .btn {
      min-width: 150px;
    }

  }

}
