.document-search, .public-inspection-document-search {
  display: grid;
  column-gap: 2rem;
}

#search-result-header {
  grid-area: search-result-header;
}

#search-results {
  grid-area: search-results;
}

@media only screen and (max-width: $small-viewport-width) {
  .document-search, .public-inspection-document-search {
    grid-template-areas: "search-result-header"
                         "search-results"
  }

  .suggestions .suggestion .suggestion-content {
    width: auto !important;
  }

  .search-bar {
    li {
      height: auto;
      margin-bottom: 0px !important;
    }

    .search-options {
    width: auto !important;
    }
  }

  // Ensure adequate top space for outline browser focus on search field
  #search-input {margin-top: 2px;}

  #conditions_term, #document-agency-search {
    // Remove fixed width text input sizes
    width: auto;
    min-width: 283px;
  }

  .search .advanced fieldset.actions {
    // Re-align search button to middle
    margin-left: 0px !important;
  }

  .search-info ul.actions {
    // Re-align 'Relevant', 'Newest', 'Oldest' Sort buttons
    top: auto !important;
    margin-bottom: 7px !important;
  }


  .simple div.actions {
    clear: both;
  }

  // Advanced search form adjustments
  .search .advanced {
    $advanced-search-fieldset-vertical-spacing: 20px; // The intent of this setting is to provide a setting that can be used to globally affect the spacing between the various kinds of fieldsets on the advanced search form 

    fieldset:not(.show_labels), fieldset.show_labels ol.choices-group, fieldset.show_labels li.string input {
      margin-bottom: $advanced-search-fieldset-vertical-spacing;
    }

    label {
      padding-bottom: 0px;
      margin-bottom: 0px;
    }

    // JS Radio buttons
    fieldset.date_options legend,  fieldset.cfr legend, fieldset.zip legend{
      margin-bottom: 3px;
      float: none !important;
      text-align: left;
    }

    .row_of_options {
      // Prevent wrapping of radio options onto second line in very small width devices (sub 385px)
      min-width: 321px;
    }

    #conditions_special_filing_input label {
      padding-left: 0px;
    }

    // Ensure "On or before" range field is aligned properly
    li.date.range.range_end {
      margin-left: 9px !important;
    }

    // Reduce size of date range input fields
    li.date.range.range_start input, li.date.range.range_end input {
      width: 90px;
    }

    // Text Input Fields
    li.agency label, li.docket label, li.reg_id label{
      text-align: left !important;
      float: none;
      padding-left: 0px;
    }

    li.agency input {
      margin-left: 0px !important;
    }

    li.docket, li.reg_id {
      height: auto;
    }

    // Checkboxes
    #conditions_type_input legend, #conditions_small_entity_ids_input legend {
      float: left;
      padding: 0px;
      margin-bottom: 0px;

      label {
        float: none; 
      }
    }

    // Reset labels/legend alignment to the left side of the form
    fieldset.choices legend {
      width: auto !important;
      margin-left: 0px;
      padding-left: 0px;
      margin-bottom: 0px;

      label, span {
        width: auto !important;
      }
    }

    #conditions_regulation_id_number_input {
      padding-top: 1px;

      label {
        width: auto;
      }
    }

    $left-checkbox-margin: 15px;
    #conditions_significant_input {
      margin-left: $left-checkbox-margin;
    }
    fieldset.choices ol.choices-group {
      top: 0;

      li {
        margin-left: $left-checkbox-margin;
        display: block !important;
      }

      li:last-child {
        margin-bottom: 35px;
      }
    }

    // Initially-hidden Presidential Document Checkbox Fields
    fieldset.choices ol li {
      clear: both;
    }

    // Input Wrapper Padding
    .input-wrapper {
      padding: 0 1em 0 !important;
    }

    // Agency Pill Selection
    .bsmList {
      margin-left: 0.5em !important;

      .bsmListItem {
        width: 100% !important;
      }
    }

  }

}

@media only screen and (min-width: $small-viewport-width) {
  .document-search, .public-inspection-document-search {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "search-result-header search-result-header search-result-header search-result-header"
                          "search-results search-results search-results search-results "
  }

  fieldset.choices ol.choices-group { // Ensures checkboxes are displayed as block items instead of inline 
    top: 0;

    li {
      margin-left: 215px;
      display: block !important;
    }

    li:last-child {
      margin-bottom: 35px;
    }
  }

}

