div.search-bar {

  .search-form-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    #expected_result_count {
      position: absolute;
      top: 32px;
      left: 500px;
    }

    .search-form-inputs {
      grid-column: span 11;
    }

    .auxillary-links {
      grid-column:  span 1;
    }

    .action-buttons {
      grid-column: span 12;

      ol {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        li:nth-child(1) {
          margin: 0px 14px;
          justify-self: start;
        }
      }
    }


  }

  .actions {
    $action_font_size: 14px;
    min-width: 133px;

    .other-formats {
      font-size: $action_font_size;
    }

    a, other-formats a {
      font-size: $action_font_size;
      font-weight: normal;
    }
  }

  #expected_result_count {
    margin-left: 0px;
    width: 180px;
  }

  .search-options {
    margin-top: 10px;
    // grid-area: search-options;
  }

  @media only screen and (max-width: $small-viewport-width) {
    .simple {
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas: 
        "search-input search-input search-input search-input"
        "expected_result_count . . actions"
        "search-options search-options search-options search-options"
    }
  }

  @media only screen and (min-width: $small-viewport-width) {
    .simple {
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas: 
        "search-input search-input expected_result_count actions"
        "search-options search-options search-options search-options"
    }
  }

}
