.tender_interstitial_modal {

  @media only screen and (max-width: $small-viewport-width) {
    display: grid;
    grid-template-columns: 1fr;

    .site_feedback, .document_feedback {
      width: auto;
      border: none;
      padding: 0px;
      margin-left: 0px;

      .button {
        margin: 0 auto;
      }
    }
  }

}
