<div id="account-needed-modal" class="modal account-needed-modal">
  <h3 class="title_bar">
    <span class="icon-fr2 icon-fr2-nav_male_female_user"></span>
    Account Required
  </h3>
  <p>
    Please <%= link_to 'sign in', new_user_session_path %> or
    <%= link_to 'create an account', new_user_registration_path %> to
    use this functionality.
  </p>
</div>
