<div id="add-to-folder" class="action_menu">
  <div class="button">
    <span class="icon-fr2 icon-fr2-open_folder"></span>
    Move to folder
    <span class="icon-fr2 icon-fr2-menu_arrow"></span>
  </div>
  <div class="menu">
    <ul>
      <li id="new-folder">
        <span class="icon-fr2 icon-fr2-badge_plus"></span>
        New folder
      </li>
      {{#each folders}}
        <%#{{#unlessMyClipboard}}%>
        <li data-slug="{{this.slug}}">
          <a href="">
            <span class="name">{{this.name}}</span>
            <span class="document_count">
              (<span class="document_count_inner">{{this.doc_count}}</span>)
            </span>
            <span class="loader"></span>
          </a>
        </li>
        <%#{{/unlessMyClipboard}}%>
      {{/each}}
    </ul>
  </div>
</div>
