{{#with folder}}
  <li class="in_folder" data-slug="{{slug}}">
    <a href="">
      <span class="name">{{name}}</span>
      <span class="checked icon icon-fr2 icon-fr2-badge_check_mark"></span>
      <span class="loader"></span>
    </a>
  </li>
{{/with}}
