{{#with folder}}
  <li class="in_folder" data-slug="{{slug}}">
    <a href="">
      <span class="name">{{name}}</span>
      <span class="checked icon"></span>
      <span class="goto icon"></span>
      <span class="delete icon"></span>
      <span class="loader"></span>
    </a>
  </li>
{{/with}}
