<div id="add-to-folder" class="add_to_folder">
  <div class="button tip_over" title="Clip item for later">
    <span class="icon"></span>
  </div>
  <div class="menu">
    <ul>
      <li id="new-folder"><a href="">New folder</a></li>
      {{#each folders}}
        {{#ifInFolder ../current_document_number}}
          <li class="in_folder" data-slug="{{this.slug}}">
        {{else}}
          <li class="not_in_folder" data-slug="{{this.slug}}">
        {{/ifInFolder}}
            <a href="">
              <span class="name">{{this.name}}</span>
              <span class="checked icon"></span>
              <span class="goto icon"></span>
              <span class="delete icon"></span>
              <span class="loader"></span>
            </a>
          </li>
      {{/each}}
    </ul>
  </div>
</div>

