{{#each files}}
  <tr class="template-download fade{{#if this.error}} error{{/if}}" data-name="{{this.name}}">
    <td class="name">
      <span>{{this.name}}</span>
      <input type="hidden" name="comment[attachment_tokens][]" value="{{this.token}}" />
    </td>
    <td class="size"><span>{{human_size this.size}}</span></td>
    {{#if this.error}}
      <td class="error" colspan="2"><span class="label label-important">Error:</span> {{this.error}}</td>
    {{else}}
      <td></td>
    {{/if}}
    <td class="delete">
      <button class="btn btn-danger" data-type="DELETE" data-url="/my/comment_attachments/{{this.token}}">
        <i class="icon-trash icon-white"></i>
        <span>Delete</span>
      </button>
    </td>
  </tr>
{{/each}}
