<div class="print_button">Print</div>

<div class="modal_content">
  {{#with document_details}}
    <div class="document_title">{{title}}</div>
    <div class="agency">A {{type}} by {{agency}}</div>

    <dl class="document_details">
        <dt>Document URL</dt>
        <dd>{{url}}</dd>
        <dt>Published On</dt>
        <dd>{{published}}</dd>
    </dl>
  {{/with}}

  {{#with comment_details}}
    <dl class="comment_details">
      {{#if agency_participating}}
        <dt>Comment Tracking Number</dt>
        <dd class="tracking_number">{{tracking_number}}</dd>
      {{/if}}
      <dt>Comment Submission Date</dt>
      <dd>{{submission_date}}</dd>
    </dl>
  {{/with}}

  <dl class="comment_contents">
    {{#each fields}}
      <dt>{{label}}</dt>
      {{#each values}}
        {{createDd this}}
      {{/each}}
    {{/each}}
  </dl>

  {{#unless agency_participating}}
    {{#with document_details}}
    <p>
      {{agency}} does not publish comments on Regulations.gov.
      To check the status of your comment or obtain further information, please
      follow-up directly with the agency contact listed in the document
      you submitted a comment for.
    </p>
    {{/with}}
  {{/unless}}
</div>
