{{#each files}}
  <tr class="template-download fade{{#if this.error}} error{{/if}}" data-name="{{this.name}}">
    <td class="name">
      <span>{{this.name}}</span>
      <input type="hidden" name="comment[attachment_tokens][]" value="{{this.token}}" />
    </td>
    {{#if this.error}}
      <td class="error" colspan="2"><span class="label label-important">Error:</span> {{this.error}}</td>
    {{else}}
      <td class="progress-bar">
        <div class="progress progress-success" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="bar" style="width:100%;">Upload Complete</div></div>
      </td>
    {{/if}}
    <td class="size"><span>{{human_size this.size}}</span></td>
    <td class="delete">
      <button class="button delete" data-type="DELETE" data-url="/my/comment_attachments/{{this.token}}">
        <span class="icon-fr2 icon-fr2-delete"></span>
        <span>Delete</span>
      </button>
    </td>
  </tr>
{{/each}}
