<h3 class="title_bar">
  <%= fr_icon 'trash_can' %>
  Delete Folder
</h3>

{{#if numClippings}}
  <p>
    A folder can only be deleted if it is empty. There are currently
    clippings in this folder.
  </p>
{{else}}
  <p>Are you sure you would like to delete this folder?</p>

  <%= semantic_form_for :folder,
    authenticity_token: false,
    url: "/my/folders/{{folderSlug}}",
    method: :delete do |f| %>

    <%= f.actions do %>
      <%= f.actions :submit, as: :button,
        label: 'Yes, Delete',
        wrapper_html: {class: "fr_button medium danger delete-folder-modal-button"},
        button_html: {class: "browser_reset"} %>
    <% end %>
  <% end %>
{{/if}}
