<h3 class="title_bar">
  <%= fr_icon 'trash_can' %>
  Delete Folder
</h3>

{{#if numClippings}}
  <p>
    A folder can only be deleted if it is empty. There are currently
    clippings in this folder.
  </p>
{{else}}
  <p>Are you sure you would like to delete this folder?</p>

  <%= semantic_form_for :folder,
    authenticity_token: false,
    url: "/my/folders/{{folderSlug}}",
    method: :delete do |f| %>

    <%# NOTE: Post-upgrade to Rails 5, using formtastic's 'f.buttons do f.button end' API fails to properly render the correct layout in staging (it works in development).  Formtastic has since deprecated the f.buttons API in favor fo 'f.actions' and this may be at play.  It was necessary to fall back to raw HTML to ensure the modal button (and associated JS classes were rendered properly) %>
    <fieldset class="buttons"><ol>
      <li class="commit button fr_button medium danger delete-folder-modal-button">
        <input class="browser_reset submit" name="commit" type="submit" value="Yes, Delete">
      </li>
    </ol></fieldset>
  <% end %>
{{/if}}
