<div id="confirm-folder-delete-modal" class="modal">
  <a href="#" class="jqmClose">Close</a>
  <h3 class="title_bar"><span class="icon-fr2 icon-fr2-trash_can"></span>Delete Folder</h3>
  {{#if numClippings}}
    A folder can only be deleted if it is empty.  There are currently clippings in this folder.
  {{else}}
    Are you sure you would like to delete this folder?
    <%= form_tag "/my/folders/{{folderSlug}}", :method => 'delete' do %>
      <%= submit_tag "Confirm", :class =>"fr_button medium delete-folder-modal-button" %>
    <% end %>
  {{/if}}
</div>
  
