<div class='tender_interstitial_modal'>
  <h3 class="title_bar">Site Feedback</h3>

  <div class='site_feedback'>
    <p>
      If you have comments or suggestions regarding how to improve the 
      FederalRegister.gov website or have questions about using FederalRegister.gov, 
      please choose the 'Website Feedback' button below.
    </p>

    <div class='button'>
      <span class='icon-fr2 icon-fr2-pc'></span>
      <div class='button_title'>Website Feedback</div>
    </div>
  </div>
  
  <div class='document_feedback'>
    <p>
      If you would like to comment on the document you are currently viewing, 
      please choose the 'Document Feedback' button below.
    </p>

    <div class='button'>
      <span class='icon-fr2 icon-fr2-document_open'></span>
      <div class='button_title'>Document Feedback</div>
    </div>
  </div>

  <div class='agency_question'>
    <p>
      If you have questions for the Agency that issued the current document 
      please see the <a href="#furinf">‘FOR FURTHER INFORMATION CONTACT’</a> 
      section of the document, or <a href="#furinf">click here.</a>
    </p>
  </div>
</div>
