<span class="icon-fr2 icon-fr2-Chat"></span>

<div class="byline">
  You are submitting an official comment to Regulations.gov.
  <br>
  Comments are due {{commentDueDate}}.
</div>

<img alt="Regulations.gov Logo"
  src="<%= asset_path('regulations_dot_gov_logo.png') %>"
  class="reg_gov_logo">

<a href="" class="close-comment-form" id="close-comment-form">
  close comment form
</a>
