<%= fr_box "Enhanced Content - Stars",
  :enhanced,
  box_html: {
    class: "fr-box-full",
    role: "menu"
  },
  header: {hover: false} do %>

  <p>
    When an agency is adding or revising only
    certain units of a section, the amendatory language must
    state exactly which units are added or revised, and only
    those units are printed. Asterisks are used to represent
    text which is not changed.
  </p>

  <p>
    5 stars are used to show that a whole paragraph, including
    its subordinate paragraphs, is unchanged.
  </p>

  <p>
    For more information please see the
    <a href='http://www.archives.gov/federal-register/write/handbook/ddh.pdf'>
    Document Drafting Handbook
    </a>
    section '1.14 Asterisks'.
  </p>

<% end %>
