ul.bullets,
ul.subject-list {
  @include custom-bullets($color-published);

  margin-bottom: 10px;

  a {
    color: $link;

    &:hover {
      color: $orange;
      text-decoration: none;
    }
  }
}
