%large_document_icon_frame {
  display: inline-block;
  height: 49px;
  margin-left: 4px;
  margin-right: 10px;
  overflow: hidden;
  vertical-align: top;
  width: 49px;
  z-index: 500;

  .icon-fr2.icon-doctype { font-size: 49px;}
}

.comments {
  .icon-fr2.icon-doctype { font-size: 16px;}
}
