// PAGE TITLES
%page-title {
  @include sans_serif;

  border-bottom: 1px solid $fr-gray-30;
  color: $fr-blue;
  font-size: modular-scale(4);
  font-weight: 500;
  line-height: 1.1;
  margin: 0;
  padding-top: 5px;
  width: 100%;

  .icon-fr2 {
    color: $fr-blue;
    font-size: 34px;
    top: 4px;
  }
}

%list_page_title_metadata_bar {
  margin-bottom: 2em;

  ul {
    font-weight: 700;
    color: #666;
    list-style: none;
    font-size: 13px;

    li {
      display: inline-block;
      margin-right: 20px;
      }
    li.download {
      position: relative;
      left: 15px;
      float: right;
      }
    }
  }

/* show/hide/move list items */
%list_item_action_bar {
  position: relative;
  height: 30px;
  margin-bottom: 10px;
  z-index: 1001;

  background-color: #EEE;
  border: #CCC 1px solid;

  @include rounded-top(6);
}

%fr_modal {
  height: 500px;

  .modal_content {
    height: 400px;
    overflow-y: auto;
    }
  dl { overflow: hidden; }
  dl dt {
    margin-bottom: 5px;
    text-align: right;
    width: 150px;
    float: left;
    clear: both;
    }
  dl dd {
    float: left;
    clear: none;
    width: 300px;
    }
  dl dd + dd {
    clear: left;
    margin-left: 171px;
    }
}
