@font-face {
	font-family: 'fr2_icons';
	src:asset-url('fr2_icons/fr2_icons.eot', 'fonts');
	src:asset-url('fr2_icons/fr2_icons.eot?#iefix', 'fonts') format('embedded-opentype'),
		asset-url('fr2_icons/fr2_icons.woff', 'fonts') format('woff'),
		asset-url('fr2_icons/fr2_icons.ttf', 'fonts') format('truetype'),
		asset-url('fr2_icons/fr2_icons.svg#fr2_icons', 'fonts') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'fr2_icons';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-fr2-"] {
*/
.icon-fr2-flag, .icon-fr2-folder, .icon-fr2-download, .icon-fr2-open_folder, .icon-fr2-correction, .icon-fr2-notice, .icon-fr2-presidential_document, .icon-fr2-proposed_rule, .icon-fr2-rule, .icon-fr2-uncategorized, .icon-fr2-menu_arrow, .icon-fr2-trash_can, .icon-fr2-nav_male_female_user, .icon-fr2-badge_check_mark, .icon-fr2-badge_forward_arrow, .icon-fr2-badge_plus, .icon-fr2-badge_x, .icon-fr2-alert, .icon-fr2-alert_alt, .icon-fr2-document_subscription, .icon-fr2-pi_subscription, .icon-fr2-message_open, .icon-fr2-message, .icon-fr2-rss {
	font-family: 'fr2_icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-fr2-flag:before {
	content: "\e000";
}
.icon-fr2-folder:before {
	content: "\e001";
}
.icon-fr2-download:before {
	content: "\e002";
}
.icon-fr2-open_folder:before {
	content: "\e005";
}
.icon-fr2-correction:before {
	content: "\e007";
}
.icon-fr2-notice:before {
	content: "\e008";
}
.icon-fr2-presidential_document:before {
	content: "\e009";
}
.icon-fr2-proposed_rule:before {
	content: "\e00a";
}
.icon-fr2-rule:before {
	content: "\e00b";
}
.icon-fr2-uncategorized:before {
	content: "\e00c";
}
.icon-fr2-menu_arrow:before {
	content: "\e00d";
}
.icon-fr2-trash_can:before {
	content: "\e006";
}
.icon-fr2-nav_male_female_user:before {
	content: "\e00e";
}
.icon-fr2-badge_check_mark:before {
	content: "\e00f";
}
.icon-fr2-badge_forward_arrow:before {
	content: "\e010";
}
.icon-fr2-badge_plus:before {
	content: "\e011";
}
.icon-fr2-badge_x:before {
	content: "\e012";
}
.icon-fr2-alert:before {
	content: "\e013";
}
.icon-fr2-alert_alt:before {
	content: "\e014";
}
.icon-fr2-document_subscription:before {
	content: "\e016";
}
.icon-fr2-pi_subscription:before {
	content: "\e003";
}
.icon-fr2-message_open:before {
	content: "\e004";
}
.icon-fr2-message:before {
	content: "\e015";
}
.icon-fr2-rss:before {
	content: "\e017";
}

